.escom-image-grid {
    list-style: none;
    margin: $esds-space-stack-2-x;
    padding: 0;

    @media screen and (min-width: $esds-breakpoints-width-500) {
        display: flex;
        flex-wrap: wrap;

        @supports (grid-column-gap: 0) {  
            display: grid;
            grid-auto-rows: 1fr;
            grid-gap: $esds-space-generic-2-x;
            grid-template-columns: 1fr 1fr;
        }
    }
}

.escom-image-grid__item {
    margin: $esds-space-stack-1-x;
    padding: 0;
    
    @media screen and (min-width: $esds-breakpoints-width-768) {
        margin: 0;
        width: calc(50% - #{$esds-space-generic-1-x}) !important; // sass-lint:disable-line no-important

        @supports (grid-column-gap: 0) {
            width: auto !important; // sass-lint:disable-line no-important
        }
    }
}

.escom-image-grid__image {
    border: $esds-border-control-on-white;
    border-radius: $esds-border-radius-default;
    width: 100%;
}

.escom-image-grid__caption {
    @include esds-body-text-s();
    @include esds-text-color('secondary');
}
