.escom-tabs {
    height: 56px; // fixed height to hide horizontal scrollbar
    margin: $esds-space-stack-1-x;
    overflow: hidden;

    // On small screens within a row, stretch the tabs to go full width
    .esds-row__inner & {
        margin-left: -($esds-space-generic-2-x);
        margin-right: -($esds-space-generic-2-x);
    }

    @media screen and (min-width: 600px) {
        margin-left: 0;
        margin-right: 0;    
    }
}

.escom-tabs__tabs {
    align-items: flex-end;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    padding: $esds-space-stack-2-x;
    padding-bottom: 40px; // push scroll bar down

    @media screen and (min-width: 600px) {
        justify-content: center;
    }
}

.escom-tabs__tab {
    padding: 0 $esds-space-generic-half-x;
    white-space: nowrap;

    &:first-child {
        padding-left: $esds-space-generic-2-x;
    }

    &:last-child {
        padding-right: $esds-space-generic-2-x;
    }

    @media screen and (min-width: 600px) {
        &,
        &:first-child,
        &:last-child {
            padding: 0 $esds-space-generic-1-and-half-x;
        }
    }
}

.escom-tabs__button {
    @include esds-font-reset;
    background: none;
    border: 0;
    border-bottom: 5px solid transparent;
    border-radius: 0;
    color: $esds-text-color-link-on-white;
    cursor: pointer;
    display: block;
    font-size: $esds-font-size-body-m-default;
    font-weight: $esds-font-weight-bold;
    margin: 0;
    outline: 0;
    overflow: visible;
    padding: 0 0 $esds-space-generic-1-x;
    text-align: center;
    text-transform: uppercase;

    &:hover {
        border-bottom-color: $esds-color-teal-30;
    }
}

.escom-tabs__button--is-active {
    border-bottom-color: $esds-color-neutral-42;
    color: $esds-color-neutral-42;
    pointer-events: none;
}

.escom-tabs__content {
    display: none;

    .escom-page-type--marketing & {
        margin: 0 auto;
        max-width: $esds-font-line-length-long-form;
    }
}

.escom-tabs__content--is-active {
    display: block;
}
