.escom-hero-profile {
    margin: 0 auto $esds-space-generic-2-x;
    max-width: 1000px;
    position: relative;
}

.escom-hero-profile__image-wrap {
    position: relative;
}

.escom-hero-profile__image {
    border-radius: $esds-border-radius-default;
    display: block;
    margin: $esds-space-stack-2-x;
    max-width: 100%;
    position: relative;
    width: 100%;
}

.hero-profile__body {
    display: block;

    @media screen and (min-width: 768px) {
        left: 50%;
        padding-right: $esds-space-generic-1-x;
        position: absolute;
        top: 35%;
        width: 50%;
        z-index: 10;
    }

    @media screen and (min-width: 1000px) {
        top: 40%;
    }
}

.escom-hero-profile__heading {
    @include esds-heading-reset;
    @include esds-text-crop();
    @include esds-responsive-font-size($type: 'heading-level-1');
    color: $esds-text-color-primary-on-dark;
    font-weight: $esds-font-weight-bold;
    margin: $esds-space-stack-half-x;

    @media screen and (min-width: 768px) {
        color: $esds-text-color-primary-on-white;
        margin: $esds-space-stack-1-x;
    }
}

.escom-hero-profile__subhead {
    @include esds-heading-reset;
    @include esds-level-4-heading();
    color: $esds-text-color-secondary-on-white;
    font-weight: $esds-font-weight-bold;
    margin: $esds-space-stack-quarter-x;
    text-transform: uppercase;
}

.escom-hero-profile__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;

    &:hover {
        background: $esds-text-color-link-on-white;
        border-radius: 0 $esds-border-radius-default $esds-border-radius-default 0;
    }

    @media screen and (min-width: $esds-breakpoints-width-768) {
        padding: $esds-space-inset-1-x;
    }
}

.escom-hero-profile__nav--next {
    right: 0;

    &:hover {
        border-radius: $esds-border-radius-default 0 0 $esds-border-radius-default;
    }
}

.escom-hero-profile__nav-icon {
    fill: $esds-text-color-link-on-white;

    .escom-hero-profile__nav:hover & {
        fill: $esds-color-white;
    }

    @media screen and (min-width: $esds-breakpoints-width-500) {
        height: 30px;
        width: 30px;
    }
}
