{% macro hero_profile(
    class=false,
    profile_index=0,
    prev_href="#",
    next_href="#"
  ) %}
    {% set bio = profiles[profile_index] %}
    {% set next_index = profile_index + 1 %}
    {# Wrap around if the next index is larger than the number of profiles #}
    {% if next_index > profiles.length - 1 %}
        {% set next_index = 0 %}
    {% endif %}

    {# Wrap around if the previous index is less than 0 #}
    {% set prev_index = profile_index - 1 %}
    {% if prev_index < 0 %}
        {% set prev_index = profiles.length - 1 %}
    {% endif %}

    {% set prev_href = profiles[prev_index].href %}
    {% set next_href = profiles[next_index].href %}

    <div class="escom-hero-profile">
        <div class="escom-hero-profile__image-wrap">
            <a href="{{ prev_href }}" class="escom-hero-profile__nav escom-hero-profile__nav--previous">
                {{ esds.icon(name="angle-left", class="escom-hero-profile__nav-icon") }}
            </a>
            <img alt="{{ bio.name }}" class="escom-hero-profile__image" src="{{ bio.image }}" />
            <a href="{{ next_href }}" class="escom-hero-profile__nav escom-hero-profile__nav--next">
                {{ esds.icon(name="angle-right", class="escom-hero-profile__nav-icon") }}
            </a>
        </div>
        <div class="hero-profile__body">
            <h1 class="escom-hero-profile__heading">{{ bio.name }}</h1>
            <div class="escom-hero-profile__subhead">{{ bio.title }}</div>
            <div class="escom-hero-profile__subhead">Eightshapes since {{ bio.start_year }}</div>
        </div>
    </div>

{% endmacro %}
