.escom-article {
    h2 {
        @include esds-level-3-heading();
        font-weight: $esds-font-weight-bold;
    }

    h3 {
        @include esds-level-4-heading();
        font-weight: $esds-font-weight-bold;
    }

    ul,
    ol,
    p {
        @include esds-body-text-m();
        color: $esds-color-neutral-25;
        font-family: 'Lustria', serif;
        line-height: 1.75;
        margin: $esds-space-stack-2-x;
    }

    :not(pre) code {
        background-color: $esds-color-neutral-95;
        border-radius: 4px;
        color: $esds-color-neutral-42;
        font-size: 90%;
        padding: 6px;
    }

    hr {
        background-color: $esds-color-neutral-90;
        border-color: transparent;
        height: 2px;
        margin: $esds-space-generic-3-x auto;
        width: 25%;
    }
}

.escom-article__title {
    @include esds-level-2-heading();
    font-weight: $esds-font-weight-bold;
    line-height: 1.1;
    margin: $esds-space-stack-quarter-x;
}

.escom-article__deck {
    @include esds-level-4-heading();
    @include esds-text-color('secondary');
    font-weight: $esds-font-weight-light;
    margin: 0;
}

.escom-article__author-row {
    position: relative;
}

.escom-article__author-avatar {
    background-color: $esds-color-neutral-90;
    background-position: center center;
    background-size: cover;
    border-radius: 40px;
    display: block;
    height: 80px;
    position: absolute;
    width: 80px;
}

.escom-article__author-text {
    padding: 0 0 0 96px;
}

.escom-article__author {
    @include esds-text-color('secondary');
    @include esds-body-text-m();
    margin: 0;
}

.escom-article__author-role {
    @include esds-text-color('secondary');
    @include esds-body-text-s();
    margin: 0;
    padding: 0;

    + * {
        margin: $esds-space-stack-2-x;
        padding: 0;
    }
}

.escom-article__published-date {
    @include esds-text-color('secondary');
    @include esds-body-text-s();
}

.escom-article__read-duration {
    @include esds-text-color('secondary');
    @include esds-body-text-s();
}
