html {
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 300;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #ffffff;
  color: #0d0d0d;
  font-size: 22.6px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: #005663;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h2 {
  font-size: 32px;
  margin: 48px 0 16px;
}
h2:first-child {
  margin-top: 0;
}
@media screen and (min-width: 767px) {
  h2 {
    font-size: 32px;
  }
}
@media screen and (min-width: 1023px) {
  h2 {
    font-size: 45px;
  }
}

h3 {
  font-size: 24px;
  margin: 0 0 16px;
}
@media screen and (min-width: 767px) {
  h3 {
    font-size: 24px;
  }
}
@media screen and (min-width: 1023px) {
  h3 {
    font-size: 32px;
  }
}

h4 {
  font-size: 19.2px;
  margin: 0 0 8px;
}
@media screen and (min-width: 767px) {
  h4 {
    font-size: 19.2px;
  }
}
@media screen and (min-width: 1023px) {
  h4 {
    font-size: 24px;
  }
}

p,
li {
  font-size: 19.2px;
}
@media screen and (min-width: 767px) {
  p,
li {
    font-size: 19.2px;
  }
}
@media screen and (min-width: 1023px) {
  p,
li {
    font-size: 22.6px;
  }
}

p {
  margin: 0 0 16px;
}

.button {
  background: transparent;
  border: solid 1px #ffffff;
  border-radius: 8px;
  color: #ffffff;
  display: inline-block;
  font-size: 28.8px;
  font-weight: 300;
  padding: 8px 24px;
  position: relative;
  transition: background 0.3s, color 0.3s, border-color 0.3s;
}
.button:hover {
  background: #ffffff;
  color: #e85200;
  text-decoration: none;
}
.button:active {
  opacity: 1;
}
.button:focus {
  background: #ffffff;
  color: #e85200;
  opacity: 1;
  outline: none;
}
.button:focus::after {
  border: dashed 1px #ffffff;
  border-radius: 10px;
  bottom: -3px;
  content: "";
  left: -3px;
  position: absolute;
  right: -3px;
  top: -3px;
}

.site-header {
  background: #262626;
}
@media screen and (min-width: 1023px) {
  .site-header {
    display: flex;
    overflow: hidden;
    width: 100vw;
  }
}

.services-carousel h2,
.services-carousel p {
  color: #ffffff;
}
@media screen and (min-width: 1023px) {
  .services-carousel {
    display: flex;
    margin: 0 auto;
    width: 776px;
  }
}

.services-carousel-controls {
  padding: 64px 32px;
}
@media screen and (min-width: 767px) {
  .services-carousel-controls {
    padding: 96px 64px;
  }
}
@media screen and (min-width: 1023px) {
  .services-carousel-controls {
    flex: 0 0 434px;
    padding: 130px 84px;
    padding-left: 0;
  }
}
.services-carousel-controls button {
  background: none;
  border: 0;
  color: #8c8c8c;
  cursor: pointer;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 33px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left;
  transition: color 0.3s;
}
.services-carousel-controls button:hover {
  color: #ffffff;
}
.services-carousel-controls button:focus {
  outline: none;
}
.services-carousel-controls button:focus::after {
  border: dashed 1px #8c8c8c;
  border-radius: 4px;
  bottom: -3px;
  content: "";
  left: -3px;
  position: absolute;
  right: -3px;
  top: -3px;
}
.services-carousel-controls button.selected {
  color: #ffffff;
}

.services-carousel-selected-icon {
  left: -24px;
  position: absolute;
  top: 2px;
  visibility: hidden;
}
.services-carousel-selected-icon svg {
  fill: #ffffff;
}
.selected .services-carousel-selected-icon {
  visibility: visible;
}

.services-carousel-logo {
  margin: 0 0 32px;
  text-align: center;
}
.services-carousel-logo svg {
  fill: #ffffff;
  width: 246px;
}
@media screen and (min-width: 1023px) {
  .services-carousel-logo {
    margin-bottom: 48px;
    text-align: left;
  }
}

.services-carousel-services-list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.services-carousel-services-list li {
  margin: 0 0 24px;
}
@media screen and (min-width: 1023px) {
  .services-carousel-services-list {
    display: block;
  }
}

.services-carousel-card {
  align-items: center;
  aspect-ratio: 1/1;
  background: #ffffff;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  max-width: 400px;
  padding: 32px;
  position: relative;
  width: 100%;
  z-index: 10;
}
.services-carousel-card:hover {
  text-decoration: none;
}
.services-carousel-card h2,
.services-carousel-card .services-carousel-card-link-text,
.services-carousel-card p {
  color: #ffffff;
}
.services-carousel-card h2 {
  font-size: 15px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.services-carousel-card p {
  font-size: 19.2px;
}
@media screen and (min-width: 767px) {
  .services-carousel-card h2 {
    font-size: 20px;
  }
  .services-carousel-card p {
    font-size: 22.6px;
  }
}
@media screen and (min-width: 1023px) {
  .services-carousel-card {
    margin-left: 0;
    margin-right: 5vw;
  }
}
@media screen and (min-width: 1200px) {
  .services-carousel-card {
    margin-left: 80px;
    margin-right: auto;
  }
}

.services-carousel-card-link-text {
  font-size: 19.2px;
}
.services-carousel-card:hover .services-carousel-card-link-text {
  text-decoration: underline;
}

.services-carousel-tagline {
  font-size: 19.2px;
}
@media screen and (min-width: 767px) {
  .services-carousel-tagline {
    font-size: 28.8px;
  }
}
@media screen and (min-width: 1023px) {
  .services-carousel-tagline {
    font-size: 22.6px;
    margin-bottom: 48px;
  }
}

.services-carousel-slides {
  position: relative;
}
@media screen and (min-width: 1023px) {
  .services-carousel-slides {
    flex: 0 0 50vw;
    max-width: 700px;
    width: 50vw;
  }
}

.services-carousel-slide {
  align-items: center;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  padding: 48px;
  position: relative;
}
@media screen and (min-width: 1023px) {
  .services-carousel-slide {
    align-items: center;
    aspect-ratio: initial;
    bottom: 0;
    left: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.3s, visibility 0.3s 0s;
    visibility: hidden;
  }
}

.services-carousel-slide.selected {
  opacity: 1;
  visibility: visible;
}

.services-carousel-image-wrap {
  bottom: 0;
  left: 0;
  max-width: none;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.services-carousel-image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
@media screen and (min-width: 1023px) {
  #information-architecture .services-carousel-image {
    filter: blur(20px);
  }
  #user-experience-design .services-carousel-image {
    filter: blur(8px);
  }
  #design-systems .services-carousel-image {
    filter: blur(4px);
  }
}

.services-carousel-card.teal {
  background-color: rgba(0, 122, 141, 0.95);
}

.services-carousel-card.brand {
  background-color: rgba(232, 82, 0, 0.95);
}

.services-carousel-card.secondary {
  background-color: rgba(243, 241, 241, 0.95);
}
.services-carousel-card.secondary h2,
.services-carousel-card.secondary p,
.services-carousel-card.secondary .services-carousel-card-link-text {
  color: #0d0d0d;
}

.services-carousel-card.reverse {
  background-color: #262626;
}

.header {
  align-items: center;
  background: #e85200;
  display: flex;
  height: 100px;
  justify-content: center;
}

.header-logo svg {
  fill: #ffffff;
  height: 30px;
}

.footer-cta {
  background: #e85200;
  color: #ffffff;
  padding: 32px;
  width: 100vw;
}
.footer-cta h2 {
  font-size: 32px;
  font-weight: 600;
  margin: 0 0 16px;
}
.footer-cta p {
  font-size: 19.2px;
  margin: 0 0 32px;
}
.footer-cta .footer-cta-inner {
  margin: 0 auto;
  max-width: 776px;
  width: 100%;
}
@media screen and (min-width: 767px) {
  .footer-cta {
    padding: 64px;
  }
  .footer-cta p {
    font-size: 22.6px;
  }
}
@media screen and (min-width: 1023px) {
  .footer-cta {
    padding: 96px;
  }
}

.footer {
  background: #262626;
  color: #ffffff;
  padding: 32px;
  width: 100vw;
}
.footer .footer-inner {
  margin: 0 auto;
  max-width: 776px;
  width: 100%;
}
.footer p {
  font-size: 19.2px;
  margin: 0 0 16px;
}
.footer a {
  color: #43aab5;
  font-size: 19.2px;
}
.footer h5 {
  color: #8c8c8c;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.2em;
  margin: 0 0 16px;
  text-transform: uppercase;
}
.footer .footer-flex-wrap > * {
  margin-bottom: 32px;
}
.footer .footer-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer .footer-social-section {
  margin: 0 0 16px;
}
.footer .footer-social-section:last-child {
  margin-bottom: 0;
}
.footer .footer-address {
  margin-bottom: 0;
  order: 3;
}
.footer .footer-social {
  margin-right: 32px;
}
.footer .footer-tools {
  width: 100%;
}
@media screen and (min-width: 767px) {
  .footer {
    padding: 64px;
  }
  .footer .footer-flex-wrap {
    justify-content: flex-start;
  }
  .footer .footer-logo {
    margin-bottom: 32px;
  }
  .footer .footer-tool-links {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
  }
  .footer .tool-link {
    margin-bottom: 0;
    width: 49%;
  }
  .footer .footer-address,
.footer .footer-social {
    flex: 1 1 40%;
    margin-bottom: 0;
  }
  .footer .footer-address {
    margin-right: 16px;
    order: 2;
  }
  .footer .footer-social {
    margin-right: 0;
    order: 3;
  }
  .footer .footer-tools {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media screen and (min-width: 1023px) {
  .footer .footer-flex-wrap > * {
    flex: 1 1 26%;
    justify-content: space-between;
  }
  .footer .footer-social {
    order: 2;
  }
  .footer .footer-address {
    margin-right: 32px;
  }
  .footer .footer-tools {
    flex: 1 1 40%;
    order: 3;
    width: auto;
  }
  .footer .footer-tool-links {
    display: block;
  }
  .footer .tool-link {
    margin-bottom: 16px;
    width: 100%;
  }
}

.footer-logo {
  margin-bottom: 16px;
}
.footer-logo svg {
  fill: #ffffff;
  height: 30px;
}

.tool-link {
  background: #0d0d0d;
  border-radius: 8px;
  display: block;
  margin: 0 0 16px;
  padding: 16px;
  text-decoration: none;
  transition: background 0.3s;
}
.tool-link:last-child {
  margin-bottom: 0;
}
.tool-link:hover {
  background: #006170;
  text-decoration: none;
}
.tool-link:hover p {
  color: #ffffff;
}
.tool-link h3 {
  color: #ffffff;
  font-size: 19.2px;
  font-weight: 300;
  margin: 0 0 2px;
}
.tool-link p {
  color: #8c8c8c;
  font-size: 16px;
  margin: 0;
  transition: color 0.3s;
}

.page-header {
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 64px 32px;
  width: 100vw;
}
.page-header h1 {
  font-size: 32px;
  margin: 0 0 8px;
}
.page-header p {
  font-size: 16px;
  margin: 0 0 16px;
}
@media screen and (min-width: 767px) {
  .page-header {
    padding: 64px 64px;
  }
  .page-header h1 {
    font-size: 45px;
  }
  .page-header p {
    font-size: 22.6px;
  }
}
@media screen and (min-width: 1023px) {
  .page-header h1 {
    font-size: 64px;
  }
  .page-header p {
    font-size: 32px;
  }
}

.page-header-inner {
  margin: 0 auto;
  max-width: 776px;
  width: 100%;
}

.page-content {
  padding: 32px;
}
@media screen and (min-width: 767px) {
  .page-content {
    padding: 64px;
  }
}

.page-content-inner {
  margin: 0 auto;
  max-width: 776px;
}

.design-systems-page-header {
  background-image: url("/images/systems/systems-hero.png");
}

.client-list {
  -moz-column-count: 2;
       column-count: 2;
  padding: 0;
}
.client-list li {
  display: inline-block;
  font-size: 19.2px;
  list-style: none;
  margin-bottom: 16px;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 767px) {
  .client-list {
    -moz-column-count: 3;
         column-count: 3;
  }
  .client-list.bio-client-list {
    -moz-column-count: 4;
         column-count: 4;
  }
  .client-list li {
    font-size: 19.2px;
  }
}
@media screen and (min-width: 1023px) {
  .client-list li {
    font-size: 22.6px;
  }
}

@media screen and (min-width: 1023px) {
  .client-list.homepage li {
    font-size: 19.2px;
  }
}

.client-list-intro {
  font-size: 19.2px;
}
@media screen and (min-width: 767px) {
  .client-list-intro {
    font-size: 22.6px;
  }
}

.bio-thumbnail-spacer {
  flex: 1 1 30%;
  height: 0;
  margin: 0 0 48px;
}

.bio-thumbnail {
  display: block;
  flex: 1 1 48%;
  margin: 0 0 48px;
}
.bio-thumbnail:last-child {
  margin-right: 0;
}
.bio-thumbnail:hover {
  text-decoration: none;
}
.bio-thumbnail img {
  display: block;
  margin: 0;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bio-thumbnail .bio-thumbnail-image-wrap {
  background: white;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  max-width: 375px;
  overflow: hidden;
}
.bio-thumbnail h4 {
  color: #005663;
  font-size: 28.8px;
  margin: 0 0 4px;
}
.bio-thumbnail p,
.bio-thumbnail .metadata {
  color: #0d0d0d;
  font-size: 22.6px;
  margin: 0 0 4px;
}
.bio-thumbnail .metadata {
  color: #6b6b6b;
}
@media screen and (min-width: 375px) {
  .bio-thumbnail {
    flex: 1 1 30%;
    margin: 0 36px 48px 0;
  }
  .bio-thumbnail:nth-child(even) {
    margin-right: 0;
  }
}
@media screen and (min-width: 767px) {
  .bio-thumbnail {
    margin: 0 36px 0 0;
  }
  .bio-thumbnail:nth-child(even) {
    margin-right: 36px;
  }
  .bio-thumbnail:nth-child(3n) {
    margin-right: 0;
  }
  .bio-thumbnail .bio-thumbnail-image-wrap {
    height: 190px;
    max-width: none;
  }
}

.bio-thumbnails {
  margin-top: 32px;
}
@media screen and (min-width: 375px) {
  .bio-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.bio-header {
  padding: 28px 32px 0;
}
.bio-header h1 {
  margin: 0;
}
.bio-header h2 {
  color: #8c8c8c;
  font-size: 15px;
  letter-spacing: 2px;
  margin: 0;
  max-width: 120px;
  text-transform: uppercase;
}
.bio-header img {
  display: block;
  margin: 0;
  margin-left: auto;
}
.bio-header .bio-header-inner {
  min-height: 300px;
  position: relative;
}
.bio-header .bio-header-text {
  position: relative;
  z-index: 10;
}
@media screen and (min-width: 620px) {
  .bio-header {
    padding-top: 0;
  }
  .bio-header img {
    bottom: 0;
    position: absolute;
    right: 0;
  }
  .bio-header .bio-header-inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 776px;
  }
  .bio-header h2 {
    max-width: none;
  }
}
@media screen and (min-width: 767px) {
  .bio-header {
    padding-left: 64px;
    padding-right: 64px;
  }
}

.bio-anchor-nav {
  margin-top: 16px;
}
@media screen and (min-width: 1023px) {
  .bio-anchor-nav {
    display: none;
  }
}

.row {
  padding: 32px;
}
@media screen and (min-width: 767px) {
  .row {
    padding: 64px;
  }
}
@media screen and (min-width: 1023px) {
  .row {
    padding: 96px;
  }
}

.row-inner {
  margin: 0 auto;
  max-width: 776px;
}

.row.reverse {
  background: #262626;
  color: #ffffff;
}
.row.reverse a {
  color: #43aab5;
}

.row.reverse-secondary {
  background: #0d0d0d;
  color: #ffffff;
}
.row.reverse-secondary a {
  color: #43aab5;
}

.row.feature p:last-of-type {
  margin-bottom: 0;
}
@media screen and (min-width: 767px) {
  .row.feature p {
    font-size: 22.6px;
  }
}

.row.secondary {
  background: #f3f1f1;
}

.secondary-text {
  color: #6b6b6b;
}

.dot-divider {
  align-items: center;
  display: flex;
  height: 16px;
  justify-content: center;
  margin: 0 0 16px;
  width: 100%;
}
@media screen and (min-width: 767px) {
  .dot-divider {
    margin: 16px 0 32px;
  }
}

.dot-divider-inner {
  align-items: center;
  display: flex;
  height: 4px;
  justify-content: space-between;
  width: 44px;
}
.dot-divider-inner b {
  background: #b3b1b1;
  border-radius: 4px;
  display: block;
  height: 4px;
  width: 4px;
}

.unstyled {
  margin: 0 0 24px;
  padding: 0;
}
.unstyled li {
  font-size: 19.2px;
  list-style: none;
  margin: 0 0 8px;
}
@media screen and (min-width: 1023px) {
  .unstyled li {
    font-size: 22.6px;
  }
}

@media screen and (min-width: 767px) {
  .bio-section-row {
    display: flex;
  }
  .bio-section-row .bio-section {
    flex: 1 1 50%;
  }
  .bio-section-row .bio-section .dot-divider {
    display: none;
  }
}

@media screen and (min-width: 400px) {
  .media-flex-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .media-flex-wrap .media-thumbnail-spacer {
    flex: 1 1 calc(50% - 16px);
    height: 0;
  }
  .media-flex-wrap .media-thumbnail {
    display: flex;
    flex: 1 1 calc(50% - 16px);
    flex-direction: column;
    margin-right: 16px;
  }
  .media-flex-wrap .media-thumbnail:last-child, .media-flex-wrap .media-thumbnail:nth-child(even) {
    margin-right: 0;
  }
  .media-flex-wrap .media-thumbnail img {
    flex: 0 0 130px;
    height: 130px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (min-width: 640px) {
  .media-flex-wrap .media-thumbnail {
    flex: 1 1 calc(33% - 16px);
  }
  .media-flex-wrap .media-thumbnail:nth-child(even) {
    margin-right: 16px;
  }
  .media-flex-wrap .media-thumbnail:last-child, .media-flex-wrap .media-thumbnail:nth-child(3n) {
    margin-right: 0;
  }
  .media-flex-wrap .media-thumbnail img {
    flex: 0 0 150px;
    height: 150px;
  }
}
@media screen and (min-width: 767px) {
  .media-flex-wrap.stack-tablet {
    display: block;
  }
  .media-flex-wrap.stack-tablet .media-thumbnail,
.media-flex-wrap.stack-tablet .media-thumbnail:last-child {
    margin-right: 32px;
  }
  .media-flex-wrap.stack-tablet .media-thumbnail img,
.media-flex-wrap.stack-tablet .media-thumbnail:last-child img {
    max-width: 200px;
  }
  .media-flex-wrap .media-thumbnail {
    flex: 1 1 calc(33% - 32px);
    margin-right: 32px;
  }
  .media-flex-wrap .media-thumbnail:nth-child(even) {
    margin-right: 32px;
  }
  .media-flex-wrap .media-thumbnail:last-child {
    margin-right: 0;
  }
}

.media-thumbnail {
  color: #005663;
  display: block;
  margin: 0 0 16px;
}
.media-thumbnail:hover {
  text-decoration: none;
}
.media-thumbnail img {
  border-radius: 9.25px;
  display: block;
  margin: 0 0 8px;
  max-height: 200px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.media-thumbnail .secondary-text {
  display: block;
  font-size: 19.2px;
}

.two-up-flex-wrap > * {
  margin-bottom: 32px;
}
@media screen and (min-width: 400px) {
  .two-up-flex-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .two-up-flex-wrap > * {
    flex: 1 1 calc(50% - 16px);
    margin: 0 16px 0 0;
  }
  .two-up-flex-wrap > *:last-child, .two-up-flex-wrap > *:nth-child(even) {
    margin-right: 0;
  }
}
@media screen and (min-width: 767px) {
  .two-up-flex-wrap > * {
    flex: 1 1 calc(50% - 32px);
    margin: 0 32px 0 0;
  }
}