html {
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #ffffff;
  color: #0d0d0d;
  font-size: 22.6px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: #005663;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h2 {
  font-size: 32px;
  margin: 48px 0 16px;
}
h2:first-child {
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 32px;
  }
}
@media screen and (min-width: 1400px) {
  h2 {
    font-size: 45px;
  }
}

p,
li {
  font-size: 22.6px;
}
@media screen and (min-width: 768px) {
  p,
li {
    font-size: 22.6px;
  }
}
@media screen and (min-width: 1400px) {
  p,
li {
    font-size: 32px;
  }
}

.button {
  background: #ffffff;
  border-radius: 8px;
  color: #e85200;
  font-size: 28.8px;
  font-weight: 400;
  padding: 8px 24px;
}

.header {
  align-items: center;
  background: #e85200;
  display: flex;
  height: 100px;
  justify-content: center;
}

.header-logo svg {
  fill: #ffffff;
  height: 30px;
}

.footer-cta {
  background: #e85200;
  color: #ffffff;
  padding: 48px 32px;
  width: 100vw;
}
.footer-cta h2 {
  font-size: 32px;
  font-weight: 600;
  margin: 0 0 16px;
}
.footer-cta p {
  font-size: 19.2px;
  margin: 0 0 48px;
}
.footer-cta .footer-cta-inner {
  margin: 0 auto;
  max-width: 770px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer-cta {
    padding: 80px 60px;
  }
  .footer-cta p {
    font-size: 22.6px;
  }
}
@media screen and (min-width: 1400px) {
  .footer-cta {
    padding: 120px 48px;
  }
  .footer-cta h2 {
    font-size: 45px;
  }
  .footer-cta p {
    font-size: 32px;
  }
}

.footer {
  background: #262626;
  color: #ffffff;
  padding: 80px 48px;
  width: 100vw;
}
.footer p {
  font-size: 19.2px;
  margin: 0 0 0 0 16px;
}
.footer a {
  color: #43aab5;
  font-size: 19.2px;
}
.footer .footer-inner {
  margin: 0 auto;
  max-width: 770px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer .footer-inner {
    display: flex;
    justify-content: space-between;
  }
  .footer .footer-right {
    text-align: right;
  }
}
@media screen and (min-width: 1400px) {
  .footer {
    padding: 120px 48px;
  }
}

.footer-logo svg {
  fill: #ffffff;
  height: 30px;
}

.page-header {
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 64px 32px;
  width: 100vw;
}
.page-header h1 {
  font-size: 32px;
  margin: 0 0 8px;
}
.page-header p {
  font-size: 16px;
  margin: 0 0 16px;
}
@media screen and (min-width: 768px) {
  .page-header h1 {
    font-size: 45px;
  }
  .page-header p {
    font-size: 22.6px;
  }
}
@media screen and (min-width: 1400px) {
  .page-header h1 {
    font-size: 64px;
  }
  .page-header p {
    font-size: 32px;
  }
}

.page-header-inner {
  margin: 0 auto;
  max-width: 770px;
  width: 100%;
}

.page-content {
  padding: 48px 32px;
}

.page-content-inner {
  margin: 0 auto;
  max-width: 770px;
}

.design-systems-page-header {
  background-image: url("/images/systems/systems-hero.png");
}

.client-list {
  -moz-column-count: 2;
       column-count: 2;
  padding: 0;
}
.client-list li {
  font-size: 19.2px;
  list-style: none;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .client-list {
    -moz-column-count: 3;
         column-count: 3;
  }
  .client-list li {
    font-size: 22.6px;
  }
}

.client-list-intro {
  font-size: 19.2px;
}
@media screen and (min-width: 768px) {
  .client-list-intro {
    font-size: 22.6px;
  }
}

.bio-thumbnail {
  display: block;
  margin: 0 0 48px;
}
.bio-thumbnail img {
  max-width: 200px;
}
.bio-thumbnail h3 {
  color: #005663;
  font-size: 28.8px;
  margin: 0 0 4px;
}
.bio-thumbnail p,
.bio-thumbnail .metadata {
  color: #0d0d0d;
  font-size: 22.6px;
  margin: 0 0 4px;
}
.bio-thumbnail .metadata {
  color: #6b6b6b;
}
@media screen and (min-width: 1400px) {
  .bio-thumbnail img {
    max-width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .bio-thumbnails {
    display: flex;
    justify-content: space-between;
  }
}