html {
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #ffffff;
  color: #0d0d0d;
  font-size: 22.6px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: #005663;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h2 {
  font-size: 32px;
  margin: 48px 0 16px;
}
h2:first-child {
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 32px;
  }
}
@media screen and (min-width: 1400px) {
  h2 {
    font-size: 45px;
  }
}

h3 {
  font-size: 24px;
  margin: 0 0 16px;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 24px;
  }
}
@media screen and (min-width: 1400px) {
  h3 {
    font-size: 32px;
  }
}

h4 {
  font-size: 19.2px;
  margin: 0 0 16px;
}
@media screen and (min-width: 768px) {
  h4 {
    font-size: 19.2px;
  }
}
@media screen and (min-width: 1400px) {
  h4 {
    font-size: 24px;
  }
}

p,
li {
  font-size: 22.6px;
}
@media screen and (min-width: 768px) {
  p,
li {
    font-size: 22.6px;
  }
}
@media screen and (min-width: 1400px) {
  p,
li {
    font-size: 22.6px;
  }
}

.button {
  background: #ffffff;
  border-radius: 8px;
  color: #e85200;
  font-size: 28.8px;
  font-weight: 400;
  padding: 8px 24px;
}

.header {
  align-items: center;
  background: #e85200;
  display: flex;
  height: 100px;
  justify-content: center;
}

.header-logo svg {
  fill: #ffffff;
  height: 30px;
}

.footer-cta {
  background: #e85200;
  color: #ffffff;
  padding: 48px 32px;
  width: 100vw;
}
.footer-cta h2 {
  font-size: 32px;
  font-weight: 600;
  margin: 0 0 16px;
}
.footer-cta p {
  font-size: 19.2px;
  margin: 0 0 48px;
}
.footer-cta .footer-cta-inner {
  margin: 0 auto;
  max-width: 770px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer-cta {
    padding: 80px 60px;
  }
  .footer-cta p {
    font-size: 22.6px;
  }
}
@media screen and (min-width: 1400px) {
  .footer-cta {
    padding: 120px 48px;
  }
  .footer-cta h2 {
    font-size: 45px;
  }
  .footer-cta p {
    font-size: 32px;
  }
}

.footer {
  background: #262626;
  color: #ffffff;
  padding: 80px 48px;
  width: 100vw;
}
.footer p {
  font-size: 19.2px;
  margin: 0 0 0 0 16px;
}
.footer a {
  color: #43aab5;
  font-size: 19.2px;
}
.footer .footer-inner {
  margin: 0 auto;
  max-width: 770px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer .footer-inner {
    display: flex;
    justify-content: space-between;
  }
  .footer .footer-right {
    text-align: right;
  }
}
@media screen and (min-width: 1400px) {
  .footer {
    padding: 120px 48px;
  }
}

.footer-logo svg {
  fill: #ffffff;
  height: 30px;
}

.page-header {
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 64px 32px;
  width: 100vw;
}
.page-header h1 {
  font-size: 32px;
  margin: 0 0 8px;
}
.page-header p {
  font-size: 16px;
  margin: 0 0 16px;
}
@media screen and (min-width: 768px) {
  .page-header h1 {
    font-size: 45px;
  }
  .page-header p {
    font-size: 22.6px;
  }
}
@media screen and (min-width: 1400px) {
  .page-header h1 {
    font-size: 64px;
  }
  .page-header p {
    font-size: 32px;
  }
}

.page-header-inner {
  margin: 0 auto;
  max-width: 770px;
  width: 100%;
}

.page-content {
  padding: 48px 32px;
}

.page-content-inner {
  margin: 0 auto;
  max-width: 770px;
}

.design-systems-page-header {
  background-image: url("/images/systems/systems-hero.png");
}

.client-list {
  -moz-column-count: 2;
       column-count: 2;
  padding: 0;
}
.client-list li {
  font-size: 19.2px;
  list-style: none;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .client-list {
    -moz-column-count: 3;
         column-count: 3;
  }
  .client-list.bio-client-list {
    -moz-column-count: 4;
         column-count: 4;
  }
  .client-list li {
    font-size: 22.6px;
  }
}

.client-list-intro {
  font-size: 19.2px;
}
@media screen and (min-width: 768px) {
  .client-list-intro {
    font-size: 22.6px;
  }
}

.bio-thumbnail {
  display: block;
  margin: 0 0 48px;
}
.bio-thumbnail img {
  max-width: 200px;
}
.bio-thumbnail h3 {
  color: #005663;
  font-size: 28.8px;
  margin: 0 0 4px;
}
.bio-thumbnail p,
.bio-thumbnail .metadata {
  color: #0d0d0d;
  font-size: 22.6px;
  margin: 0 0 4px;
}
.bio-thumbnail .metadata {
  color: #6b6b6b;
}
@media screen and (min-width: 1400px) {
  .bio-thumbnail img {
    max-width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .bio-thumbnails {
    display: flex;
    justify-content: space-between;
  }
}

.bio-header {
  padding: 28px 32px 0;
}
.bio-header h1 {
  margin: 0;
}
.bio-header h2 {
  color: #8c8c8c;
  font-size: 15px;
  letter-spacing: 2px;
  margin: 0;
  max-width: 120px;
  text-transform: uppercase;
}
.bio-header img {
  display: block;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .bio-header .bio-header-inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 770px;
  }
  .bio-header h2 {
    max-width: none;
  }
}

.row {
  padding: 32px;
}

.row-inner {
  margin: 0 auto;
  max-width: 770px;
}

.row.reverse {
  background: #262626;
  color: #ffffff;
}
.row.reverse a {
  color: #43aab5;
}

.row.secondary {
  background: #f3f1f1;
}

.secondary-text {
  color: #6b6b6b;
}

.media-thumbnail {
  color: #0d0d0d;
  display: block;
  margin: 0 0 16px;
}
.media-thumbnail img {
  border-radius: 9.25px;
  display: block;
  margin: 0 0 8px;
  max-width: 200px;
}
.media-thumbnail .secondary-text {
  display: block;
  font-size: 19.2px;
}

.dot-divider {
  align-items: center;
  display: flex;
  height: 16px;
  justify-content: center;
  margin: 0 0 16px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .dot-divider {
    margin: 16px 0 32px;
  }
}

.dot-divider-inner {
  align-items: center;
  display: flex;
  height: 4px;
  justify-content: space-between;
  width: 44px;
}
.dot-divider-inner b {
  background: #b3b1b1;
  border-radius: 4px;
  display: block;
  height: 4px;
  width: 4px;
}

.unstyled {
  margin: 0 0 24px;
  padding: 0;
}
.unstyled li {
  font-size: 19.2px;
  list-style: none;
  margin: 0 0 16px;
}

@media screen and (min-width: 768px) {
  .bio-section-row {
    display: flex;
  }
  .bio-section-row .bio-section {
    flex: 1 1 50%;
  }
  .bio-section-row .bio-section .dot-divider {
    display: none;
  }
}