{% extends 'templates/base.njk' %}
{% block body %}
    {{ escom.case_study_title(
            project="Marriott / Responsive", 
            deck="Responsive Reservations with a Splash of Innovation",
            image="/images/case_studies/cs-title--marriott.jpg"
    ) }}

    {% call esds.row(background="white", class="esds-row--tall-inset esds-row--narrow-inner") %}
        <div class="escom-layout__content--narrow">
            <div class="escom-long-form-text">
                <p class="escom-long-form-text__p--l">
                    In 2013, EightShapes partnered with Marriott.com Digital to transform their desktop-only room reservation process into a new, responsive design language. The project produced sophisticated, fluid displays across devices, setting the stage for billions of dollars in hotel reservations for years to come.
                </p>
            </div>
        </div>
    {% endcall %}
{% endblock body %}
