.escom-card-grid {

    &:not(:last-child) {
        margin: $esds-space-stack-4-x;
    }

    @media screen and (min-width: $esds-breakpoints-width-500) {
        display: flex;
        flex-wrap: wrap;

        @supports (grid-column-gap: 0) {  
            display: grid;
            grid-auto-rows: 1fr;
            grid-gap: $esds-space-generic-2-x;
            grid-template-columns: 1fr 1fr;
        }
    }

    @media screen and (min-width: $esds-breakpoints-width-768) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    &.escom-card-grid--four-columns {
        @media screen and (min-width: $esds-breakpoints-width-1200) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    .esds-card {

        @media screen and (min-width: $esds-breakpoints-width-500) {
            margin: 0 $esds-space-generic-half-x $esds-space-generic-1-x;
            width: calc(50% - #{$esds-space-generic-1-x}) !important; // sass-lint:disable-line no-important

            @supports (grid-column-gap: 0) {
                margin: 0;
                width: auto !important; // sass-lint:disable-line no-important
            }
        }

        @media screen and (min-width: $esds-breakpoints-width-768) {
            width: calc(33.333% - #{$esds-space-generic-1-x}) !important; // sass-lint:disable-line no-important

            @supports (grid-column-gap: 0) {
                width: auto !important; // sass-lint:disable-line no-important
            }
        }

        @media screen and (min-width: $esds-breakpoints-width-1200) {
            width: calc(25% - #{$esds-space-generic-1-x}) !important; // sass-lint:disable-line no-important

            @supports (grid-column-gap: 0) {
                width: auto !important; // sass-lint:disable-line no-important
            }
        }
    }
}
