{% macro card_grid() %}
  <div class="escom-card-grid">
    {{ caller() }}
    <div class="escom-card-grid__placeholder"></div>
    <div class="escom-card-grid__placeholder"></div>
  </div>
{% endmacro %}
