.escom-card-grid {
    

    @media screen and (min-width: $escom-breakpoints-width-500) {
        display: grid;
        grid-gap: $esds-space-generic-1-x;
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: $escom-breakpoints-width-1200) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .esds-card {

        @media screen and (min-width: $escom-breakpoints-width-500) {
            margin: 0;
        }
    }
}
