{% macro cta(
    class=false,
    heading="Ready?",
    deck=false,
    button_text=false,
    button_href=false
) %}
    <div class="escom-cta esds-row esds-row--tall-inset esds-row--narrow-inner esds-container--brand{{ ' ' + class if class }}">
        <div class="escom-promo-text escom-promo-text--center-all">
            <h2>{{heading}}</h2>
            {% if deck %}
            <p>{{ deck }}</p>
            {% endif %}
            {% if button_text %}
            {{ esds.button(text=button_text, class="esds-button--secondary esds-button--large", element="a", href=button_href) }}
            {% endif %}
        </div>
    </div>
{% endmacro %}
