.escom-cta {
    
    @media screen and (min-width: $escom-breakpoints-width-768) {
        padding-top: 100px;
    }
}

.escom-cta__inner {
    text-align: center;
}

.escom-cta__heading {
    @include esds-level-2-heading();
    margin: $esds-space-stack-1-x;
    text-align: center;
}

.escom-cta__deck {
    @include esds-body-text-l();
    margin: 0 auto $esds-space-generic-2-x;
    max-width: 700px;
    text-align: center;
}
