{% macro cta(
    class="",
    heading="Ready?",
    deck=false,
    button_text="Email Us",
    button_href=false
) %}

    {% set cta_class = "esds-row esds-row--tall-inset esds-container--brand escom-cta " + class %}

    {% call esds.row(class=cta_class) %}
        <div class="escom-promo-text">
            <h2>{{heading}}</h2>
            {% if deck %}
            <p>{{ deck }}</p>
            {% endif %}
        </div>
        {% if button_text %}
        <div class="escom-cta__action">
        {{ esds.button(text=button_text, class="esds-button--secondary esds-button--large escom-cta__action-button", element="a", href=button_href) }}
        </div>
        {% endif %}
    {% endcall %}
{% endmacro %}
