{% set post = systemsposts["design-system-leader-s-manager-s"] %}
{% extends 'templates/article_data.njk' %}

  {% block main_article %}
    {% filter markdown %}

As systems evolve from loosely managed side project to a more disciplined practice, contributors may form a [central team](/articles/team-models-for-scaling-a-design-system) that treats the [system as a product](/articles/a-design-system-isn-t-a-project-it-s-a-product-serving-products).

At this moment, questions of “Do we have a backlog?” (Yes) and “Shall we work in sprints?” (Yes) give way to more important questions like:

- Who owns design and technical strategy?
- Who prioritizes what to make next?
- Who sends meeting invites, runs stand-ups, and moderates sprint reviews?

Initially, system teams are staffed by designers, developers, or a mix of the two. These practitioners may be disinterested or ineffective in leading and managing a system as a product.

That’s an important reason teams hire me as a consultant and coach: I’ll serve in these capacities – system lead, product manager, and (untrained but good enough) scrum master – for system teams through a first release. I’ll spend from 8 to 12 hours per week to lead and manage a 5 to 7 person team, each ~1/2 time. For a system to thrive, it’s essential that in-house staff observe and eventually succeed me in each role, whether by adding team members and/or via me training them along the way.

In fact, a systems team I worked with in 2016 had me write up a job description. I love it! They were smart enough to recognize the need (“You know what, Nathan’s not just a designer/developer, is he?”) and serious enough to figure out how to fill the gap.

They were also kind enough to let me share the description with the community, which I’ve copied below. I hope that it helps your team identify who’ll take on varying responsibilities, even if not as a formal hire. Now get to making a system with discipline!

* * *

## Systems Lead Job Description

Drive the vision, product management, and/or project management of a design system of visual style, UI components, and other design concerns.

The ideal candidate will take a systems-mindset to build and integrate consistent, efficient components across the product portfolio. Emphasis will be on the complete systems life-cycle, from establishing a practice and vision that endures to design, build, document, and maintain a library used by many product teams.

* * *

### System Design and/or Dev Leadership

- Lead the **visual and technical direction** of the experience design, visual style, and technical tooling, with input from director-level peers of product design and development teams.
- Report **team and system progress** regularly to primary director leads and executive/VP-level sponsors.
- **Direct scope** of systems concerns and relevant products to adopt it.
- **Present the system’s mission**, library, and process to other groups, including product managers, content specialists, QA, and other design and development teams throughout the enterprise.
- Review library docs for **editorial quality**, consistency, and usefulness.
- Conduct **quarterly one-on-one reviews** with team members to identify successes, challenges, perspectives and preferences.
- Identify and nurture **team growth and culture**, identifying opportunities for team members to drive and lead system aspects.

* * *

### Product Management

- **Decisively resolve priorities**, timing, risks, task importance, and possible breaking changes.
- **Clarify scope** to balance delivering minimum useful functionality with properly scalable system design.
- Identify, monitor, and report on **system use across the enterprise**.
- Attend and coordinate with **product management release planning** activities to identify library needs.
- **Interview and foster discussions** with others using the system.
- Align **research activity** to assess efficacy of system concerns.
- Challenge the system team on what to automate vs manually perform.

* * *

### Project Management / Scrum Mastery

- Deliver **system releases** at a predictable cadence.
- Manage the **backlog and roadmap** of library features.
- Facilitate regular team **scrum and sprint planning** sessions.
- Identify, prioritize, and monitor **task progress** of design, development, and documentation across team members.
- Schedule **regular meetings** for critique, scrum, planning, and reviews.
- Negotiate and clarify **staff capacity** for system work relative to other commitments to deliver releases at a **predictable velocity**.

* * *

### Additional Skills: Design & Development?

The system lead need not necessarily perform daily design and development tasks. However, a Systems Lead should have experience in both competencies, contribute to lower-level decision making, direct broader strategy, and observe when narrower efforts conflict with or distract from broader goals.

* * *

### Behavioral Competencies

- Leadership
- Organized
- Assertiveness
- Meticulous
- Integrity & trust
- Managing & planning systems

* * *

### Work Experience

- 10+ years experience in one or more of: product management of web-based sites and/or applications, information architecture, interaction design, front end development, or business analysis.
- 5+ years managing design and/or front-end development team(s).
  {% endfilter %}
{% endblock %}