---
title_tag : EightShapes Article Directory
layout : base.njk
---
{% import '../../node_modules/esds-library/components/esds.njk' as esds %}


{% call esds.row(background="white", class="esds-row--tall-inset") %}
  <div class="escom-long-form-text">
    <h2 id="services">Articles</h2>
    <ul>
        {% for post in collections.alphabeticalPosts %}
          <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
        {% endfor %}
    </ul>
  </div>
{% endcall %}