{% set title_tag = "EightShapes Article Directory" %}
{% set body_classes = "escom-page-type--marketing" %}
{% extends 'templates/base.njk' %}

{% block body %}
  {% call esds.row(background="white", class="esds-row--tall-inset") %}
    <div class="escom-long-form-text">
      <h2 id="services">Articles</h2>
      <ul>
          {% for article in articles %}
            <li><a href="/articles/{{ article }}">{{ article | replace('-', ' ') | title }}</a></li>
          {% endfor %}
      </ul>
    </div>
  {% endcall %}
{% endblock %}
