{% macro case_study(
    class=false,
    summary=[
        {
            eyebrow: true,
            text: "Summary Item 1"
        },
        {
            text: "Summary Item 1"
        },
        {
            text: "Summary Item 1",
            href: "#"
        }
    ]
  ) %}
    <div class="escom-case-study esds-container--light{{ ' ' + class if class }}">
        <div class="escom-case-study__inner">
            <div class="escom-case-study__summary">
                <ul class="escom-case-study__list">
                    {% for item in summary %}
                    <li class="escom-case-study__list-item{{ ' escom-case-study__list-item-eyebrow' if item.eyebrow }}">
                        {% if item.href %}
                        <a class="escom-case-study__link" href="{{ item.href }}">
                        {% endif %}
                        {{ item.text }}
                        {% if item.href %}
                        </a>
                        {% endif %}
                    </li>
                    {% endfor %}
                    <li class="escom-case-study__list-item">
                        <!-- # twitter-button.html -->
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="eightshapes" data-size="large" data-count="none">Tweet</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                        <!-- / twitter-button.html -->
                    </li>
                </ul>
            </div>
            {{ caller() }}
        </div>
    </div>
{% endmacro %}
