# Logs
logs
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# Ignore concatenated .njk file that includes all components
src/_includes/escom.njk

# Webroot
_site

# Deploy build tmp directory
/tmp

# MacOS folder attributes
*.DS_Store

