.bio-hero {
  width: 100%;
}

.bio-hero__image {
  display: block;
  position: static;
  max-width: none;
  width: 500px;
  // background-position: 30% top;
  // background-size: cover;
  // background-repeat: no-repeat;
  // height: 200px;
}

.bio-hero__content {
  // color: $color-white;
  max-width: 1368px;
  margin: 0 auto;
  position: relative;
  z-index: 20;
  overflow: hidden;
  // padding: $spacing-row-vertical $spacing-default $spacing-default 200px;
}

.bio-hero__copy {
  color: $color-gray-12;
  padding: $spacing-default 16px;
}

.bio-hero__heading {
  margin-left: -3px;
}

.bio-hero__title,
.bio-hero__tenure {
  display: block;
}

.bio-hero__tenure {
  margin-bottom: $spacing-md;
}

.bio-hero__tenure-value {
  font-weight: $font-weight-bold;
}

.bio-hero__social {
  @extend %list-reset;
  font-size: 0;
  margin-left: 6px;
}

.bio-hero__social-item {
  display: inline-block;
  margin-right: $spacing-md;

  &:last-child {
    margin-right: 0;
  }
}

.bio-hero__social-link {
  font-size: $font-size-default;
}

.bio-hero__image-wrap {
  position: relative;
}

.bio-hero__navigation {
  bottom: 0;
  position: absolute;
  right: 0;
  z-index: 30;
}

.bio-hero__prev-bio,
.bio-hero__next-bio {
  background: rgba($color-black, .5);
  display: inline-block;
  height: 40px;
  text-align: center;
  width: 40px;
  transition: background .5s;

  &:hover {
    background: rgba($color-link, .5);
  }
}

.bio-hero__nav-icon {
  fill: $color-white;
  height: 25px;
  position: relative;
  top: 6px;
  width: 25px;
}

.bio-hero__social-link {
  background: rgba($color-black, .8);
  border-radius: $border-radius-default * 2;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  transition: background .5s;
  transform: rotate(45deg);

  &:hover {
    background: rgba($color-link, 0.5);
  }
}

.bio-hero__social-icon {
  height: 20px;
  position: relative;
  top: 9px;
  width: 20px;
  transform: rotate(-45deg);
  transition: fill .5s;

  .bio-hero__social-link:hover & {
    fill: $color-white;
  }
}

p.lead.bio__lead {
  margin-bottom: 64px;
}

@media screen and (min-width: 480px) {
  .bio-hero__copy {
    padding: $spacing-default;
  }
}

@media screen and (min-width: 500px) {
  .bio-hero__image {
    max-width: 100%;
    width: auto;
    margin: 0 auto;
  }
}

@media screen and (min-width: 560px) {
  .bio-hero {
    position: relative;
    z-index: 0;
    overflow: hidden;


    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: (560 / 1368) * 100%;
    }
  }

  .bio-hero__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }

  .bio-hero__image-wrap {
    position: absolute;
    width: 100%;
  }

  .bio-hero__image {
    width: 100%;
  }

  .bio-hero__copy {
    position: absolute;
    color: $color-white;
    z-index: 10;
    left: 43%;
  }

  .bio-hero__social-link {
    background: rgba($color-black, .5);
  }
}

@media screen and (min-width: 640px) {
  .bio-hero__copy {
    left: 50%;
    right: auto;
    top: $spacing-default;
  }
}

@media screen and (min-width: 768px) {

  .bio-hero {
    background-color: $color-gray-15;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;

    &:before {
      display: none;
    }
  }

  .bio-hero__content, .bio-hero__image-wrap {
    position: relative;
  }
}

@media screen and (min-width: 1000px) {
  .bio-hero {
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .bio-hero__copy {
    top: 20%;
  }

  .header--bio {
    background: $color-gray-15;
    padding-bottom: 26px;
    position: relative;
    width: 100%;
    z-index: 20;
  }

  .header--bio .header__back-link-icon {
    top: 36px;
  }

  .header--bio .eightshapes-logo {
    margin-top: 12px;
  }

  .bio-hero__heading {
    font-size: 48px;
    margin-left: -5px;
  }

  .bio-hero__title,
  .bio-hero__tenure {
    font-size: 24px;
  }

  .bio-hero__tenure {
    margin-bottom: 30px;
  }

  .bio-hero__social-link {
    height: 45px;
    width: 45px;
  }

  .bio-hero__social-icon {
    height: 25px;
    width: 25px;
  }
}

@media screen and (min-width: 1175px) {
  
  .bio-hero__heading {
    font-size: 66px;
    margin-left: -5px;
  }

  .bio-hero__title,
  .bio-hero__tenure {
    font-size: 28px;
  }

  .bio-hero__tenure {
    margin-bottom: 50px;
  }

}