.casestudies {
  background: $color-white;
  margin: 0 auto 70px;
  
  h2 {
    color: $color-orange;
    margin: 30px auto;
    text-align: center;
    
    @media screen and (min-width: $screen-md) {
      margin: 100px auto 70px;
    }
  }
}

.casestudy {
  background-color: $color-blue;
  display: block;
  background-image: url('../images/components/casestudies/cs-title--aact.jpg');
  background-position: center top;
  background-color: $color-white;
  background-repeat: no-repeat;
  background-size: cover;
  height: 128px;
  margin: 0;
  position: relative;
  
  &:before {
    content: "";
    background: $color-blue;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    position: absolute;
    opacity: .0;
    transition: opacity 0.5s;
  }
  &:hover:before {
    opacity: .5;
  }
    
  @media screen and (min-width: $screen-md) {
    height: 400px;
  }
  
  .title {
    display: block;
    padding: $spacing-default ($spacing-default - 12px);
    position: absolute;
    bottom: 0;
  }
  .title-carat {
    display: inline;
    fill: $color-white;
    height: 24px;
    width: 24px;
    position: relative;
    top: 2px;
  }

  a:hover {
    text-decoration: none;
  }
  h3, h4 {
    color: $color-white;
    margin: 0;
    font-size: $font-size-h3;
    font-weight: $font-weight-normal;
  }
  h4 {
    font-weight: $font-weight-light;
  }
}