$brand-max-width: 960px;

.client-brands {
  display: block;
  margin: 32px auto 0;
  max-width: $brand-max-width;
  width: 100%;
}

.client-brands__image {
  margin-bottom: $spacing-default;
}

@media screen and (min-width: $screen-sm) {
  .client-brands {
    padding: 0;
  }
}


@media screen and (min-width: $screen-md) {

  .client-brands {
    @include clearfix;
  }

  .client-brands__image {
    display: inline-block;
    float: left;
    margin-bottom: 0;
    vertical-align: middle;
    width: 48%;

    &:last-child {
      float: right;
    }
  }
}

@media screen and (min-width: 1200px) {
  .client-brands {
    padding: 0;
  }
}
