.content-tabs {
  @include clearfix;
  position: relative;
  z-index: 1;
  @media screen and (min-width: 768px) {
    text-align: center;
  }
}

.content-tabs__tab {
  display: inline;
}

.content-tabs__tab-label {
  border-bottom: 5px solid rgba(255,255,255,0);
  color: $color-blue;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 32px;
  padding-bottom: 10px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  vertical-align: bottom;

  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
  }
}

.content-tabs__tab-input {
  clip: rect(0 0 0 0);
  opacity: 0;
  position: fixed;
  z-index: -1;

  &:checked {
    @media screen and (min-width: 768px) {
      + label {
        border-bottom: 5px solid black;
        color: black;
      }
      ~ .content-tabs__panel {
        display: inline;
      }
    }
  }
}

.content-tabs__panel {
  display: block;
  margin-bottom: 64px;

  @media screen and (min-width: 768px) {
    display: inline-block;
    height: 0;
    overflow: hidden;
    position: relative;
    width: 0;
  }
}

.content-tabs__tab-content {
  h3 {
    color: $color-orange;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 16px;
    text-transform: none;
  }

  ul {
    list-style: none;
    margin: 0 0 32px;
    padding: 0;
  }

  li {
    margin-bottom: 16px;
  }

  .pre-heading {
    color: $color-gray-53;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 4px;
    text-transform: uppercase;
  }

  a .heading:hover {
    color: $color-blue;
    text-decoration: underline;
  }

  @media screen and (min-width: 768px) {
    float: left;
    width: 100%;
    text-align: left;

    ul {
      margin: 0 auto 32px;
      width: 80%;
    }

    h3 {
      margin: 0 auto 32px;
      width: 80%;
      font-size: 26px;
    }

    .pre-heading {
      font-size: 14px;
      margin-bottom: 8px;
    }

    .heading {
      font-size: 24px;
      margin-bottom: 32px;
    }
  }

}
