.eightshapes-logo {
  fill: $color-white;
  height: 30px;
  width: 200px;

  @media screen and (min-width: 768px) {
  	height: 40px;
  }
}

.header .eightshapes-logo {
  @media screen and (min-width: 1000px) {
  	height: 60px;
  	width: 250px;
  }
}