$footer-background-color: $color-gray-15;

.footer {
  background: $footer-background-color;
  box-shadow: 0 200px 0 $footer-background-color, 0 400px 0 $footer-background-color, 0 600px 0 $footer-background-color, 0 800px 0 $footer-background-color, 0 1000px 0 $footer-background-color, 0 1200px 0 $footer-background-color, 0 1400px 0 $footer-background-color;
  color: $color-white;
  font-size: $font-size-sm;
  font-weight: $font-weight-normal;
  line-height: $font-size-lg;
  // padding: $spacing-row-vertical 0;

  a {
    color: $color-white;
  }
}

.footer__inner {
  margin: 0 auto;
  max-width: $screen-lg;
  padding: 0 $spacing-default;
}

.footer__logo {
  display: block;
  fill: $color-white;
  height: 40px;
  margin-bottom: $spacing-md;
  width: 180px;
}

.footer__address {
  display: inline-block;
  margin-bottom: $spacing-default;
  margin-right: $spacing-lg;
  vertical-align: top;
}

.footer__social {
  display: inline-block;
  vertical-align: top;
}

.footer__social-list {
  @extend %list-reset;

  li {
    margin-bottom: 6px;
  }
}

.footer__social-icon {
  height: 20px;
  margin-bottom: -4px;
  width: 20px;
}

@media screen and (min-width: $screen-sm) {
  .footer__address {
    margin-bottom: 0;
  }
}

@media screen and (min-width: ($screen-lg + ($spacing-default * 2) )) {
  .footer__inner {
    padding: 0;
  }
}
