.header {
  background: $color-orange;
  color: $color-white;
  text-align: center;
}

.header__anchor-nav {
  @extend %list-reset;
  font-size: 0;
}

.header__anchor-nav-item {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.header__anchor-nav-link {
  color: $color-white;
  display: block;
  font-size: $font-size-default;
  font-weight: $font-weight-normal;
  margin-bottom: 32px;
  text-transform: uppercase;

  &:hover {
    color: white;
  }
}

.header .header__copy {
  color: $color-white;
  margin: 32px auto 32px;
  max-width: 800px;
  text-align: center;
}

.header--slim {
  background: $color-gray-15;
  text-align: center;
  padding: 20px 0 0;
  position: relative;

  + * {
    padding-top: $spacing-default;
  }

  @media screen and (min-width: 768px) {
    padding: 100px 0 0;
  }
}

.header__back-link-icon {
  fill: $color-white;
  height: 30px;
  position: absolute;
  left: $spacing-default;
  top: 20px;
  width: 20px;
}

@media screen and (min-width: 568px) {
  .header__anchor-nav-item {
    width: auto;
    margin-right: 32px;
    &:last-child {
      margin-right: 0;
    }
  }
  .header__anchor-nav-link {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .header .header__copy {
    max-width: 690px;
  }

  .header__anchor-nav-item {
    display: inline-block;
    margin-right: 50px;
  }
}
