[class^='icon-'] {
  fill: $color-orange;
  height: 40px;
  width: 40px;
}

.icon--large {
  height: 200px;
  width: 200px;
}

.icon--blue {
  fill: $color-blue;
}

.icon--gray {
  fill: $color-gray-20;
}

.icon-eightshapes-logo {
  height: 60px;
  width: 300px;
}

