.photo-text {


	h2 {
		text-align: center;
		margin-bottom: 16px;
		@media screen and (min-width: 1000px) {
			margin-bottom: 32px;
		}
	}

	.photo-text__half-photo {
		vertical-align: middle;
		height: 200px;
		background-position: center center;
		background-size: cover;
		@media screen and (min-width: 1000px) {
			display: inline-block;
			width: 50%;
			height: 500px;
		}
	}


	.photo-text__half-text {
		display: inline-block;
		vertical-align: middle;
		padding: 32px 16px;

		h3 {
			color: $color-orange;
			text-transform: uppercase;
			margin-bottom: 0px;
		}

		p.lead {
			text-align: left;
			margin-bottom: 16px;
			&:last-child {
				margin-bottom: 0;
			}
		}		

		@media screen and (min-width: 480px) {
			padding: 32px;
		}
		@media screen and (min-width: 768px) {
			padding: 40px 100px;
		}
		@media screen and (min-width: 1000px) {
			width: 49.5%;
			padding: 50px 32px;
			max-width: 700px;
			h2 {
				text-align: left;
			}
			p.lead {
				font-size: 22px;
				width: 100%;
			}
		}
		@media screen and (min-width: 1200px) {
			padding-left: 100px;
		}
	}

	&.photo-text__discovery {
		.photo-text__half-text {
			p {
				margin-bottom: 16px;
			}
			@media screen and (min-width: 768px) {
				h3, p {
					width: 80%;
					margin-left: auto;
					margin-right: auto; 
				}
			}
			@media screen and (min-width: 1000px) {
				h3, p {
					width: 100%;
				}
			}
		}
	}

}

.photo-text__systems .photo-text__half-photo {
	background-image: url("../images/modular-web-design-cover-photo.jpg");
}

.photo-text__discovery .photo-text__half-photo {
	background-image: url("../images/product-discovery-photo.jpg");
}
