.background-charcoal {
	background-color: $color-gray-15;
	h1, h2, p {
		color: white;
	}
	a {
		color: $color-orange;
	}
}

.background-orange {
	background-color: $color-orange;
	h1, h2, p {
		color: white;
	}
}

.strikethrough {
	text-decoration: line-through;
}

p.duration {
	color: $color-gray-53;
	font-weight: $font-weight-bold;
	margin-top: 8px;
}

.systems-cta {
	p {
		text-align: center;
	}
	.systems-button {
	  font-weight: 700;
	  text-transform: uppercase;
	  width: 250px;
	  display: inline-block;
	  color: $color-black;
	  background-color: $color-white;
	  padding: $spacing-default/2;
	  border-radius: 4px;
	  text-align: center;

	  &:hover {
	  	background-color: $color-gray-95;
	  	text-decoration: none;
	  }
	}
}

.system-introduction {
	max-width: 900px;
	margin: 0 auto;
	h1 {
		font-size: 30px;
		margin-bottom: 16px;
	}
	h2 {
		font-size: 20px;			
		margin-bottom: 16px;
	}
	p.lead {
		margin-bottom: 32px;
	}
	@media screen and (min-width: 767px) {
		h1 {
			font-size: 48px;
			margin-bottom: 32px;
		}
		h2 {
			font-size: 26px;
		}
	}
	@media screen and (min-width: 767px) {
		h1 {
			font-size: 72px;
			margin-bottom: 48px;
		}
		h2 {
			font-size: 32px;
		}
	}
}

.mwd-quote {
	display: none;

	@media screen and (min-width: 768px) {
		display: block;
		margin: 50px 0;
	}

	.half-photo {
		width: 49%;
		display: inline-block;
		vertical-align: middle;
		height: 200px;
		background-image: url("../images/modular-web-design-cover-photo.jpg");
		background-position: center center;
		background-size: cover;
		@media screen and (min-width: 1000px) {
			height: 300px;
		}
		@media screen and (min-width: 1000px) {
			height: 350px;
		}
	}

	.half-text {
		width: 49.5%;
		max-width: 600px;
		display: inline-block;
		vertical-align: middle;
		padding: 0 50px;

		p {
			margin-top: 12px;
		}
		
		@media screen and (min-width: 1000px) {
			p {
				margin-top: 24px;
				font-size: 22px;
			}
		}
	}
}
