.background-charcoal {
	background-color: $color-gray-15;
	h1, h2, p {
		color: white;
	}
	a {
		color: $color-orange;
	}
}

.background-orange {
	background-color: $color-orange;
	h1, h2, p {
		color: white;
	}
}

.strikethrough {
	text-decoration: line-through;
}

p.duration {
	color: $color-gray-53;
	font-weight: $font-weight-bold;
	margin-top: 8px;
}

.system-introduction {
	max-width: 900px;
	margin: 0 auto;
	h1 {
		font-size: 30px;
		margin-bottom: 16px;
	}
	h2 {
		font-size: 20px;			
		margin-bottom: 16px;
	}
	p.lead {
		margin-bottom: 32px;
	}
	@media screen and (min-width: 767px) {
		h1 {
			font-size: 48px;
			margin-bottom: 32px;
		}
		h2 {
			font-size: 26px;
		}
		p.lead {
			margin-bottom: 0;
		}
	}
	@media screen and (min-width: 767px) {
		h1 {
			font-size: 72px;
			margin-bottom: 48px;
		}
		h2 {
			font-size: 32px;
		}
	}
}

