.workshop__hero {

}

.workshop__content {
	> p {
		max-width: 700px;
	}
}

.workshops-display {

	background-image: url("../images/workshop-cutup.png");
	background-position: center center;
	background-size: cover;

	h2 {
		text-align: center;
		color: white;
	}

	p.lead {
		color: white;
	}

	.workshops {
		margin: 0 -16px;
	}

	.workshop-item-container {
		@media screen and (min-width: 768px) {
			width: 49%;
			padding: 0 16px 32px;
			display: inline-block;
			vertical-align: top;
		}
		@media screen and (min-width: 1200px) {
			width: 33%;
		}
	}

	.workshop-item {
		background-color: white;
		list-style: none;
		margin: 0;
		padding: 12px 16px 8px;

		h3 {
			color: $color-orange;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: $font-weight-normal;
		}

		p {
			display: none;
		}

		@media screen and (min-width: 768px) {
			min-height: 245px;
			padding: 32px;
			h3 {
				font-size: 20px;
				margin-bottom: 8px;
			}
			p {
				display: block;
			}
		}
		@media screen and (min-width: 850px) {
			min-height: 225px;
		}
		@media screen and (min-width: 900px) {
			min-height: 205px;
		}
		@media screen and (min-width: 1000px) {
			min-height: 180px;
		}
		@media screen and (min-width: 1200px) {
			min-height: 225px;
		}
		@media screen and (min-width: 1400px) {
			min-height: 185px;
		}
	}
}
