.xups {

	h3 {
		color: $color-orange;
		margin-bottom: 8px;
	}

	.ups {
		@media screen and (min-width: 768px) {
			margin: 0 -32px;
		}
	}

	.up {
		margin: 0 0 32px;

		@media screen and (min-width: 768px) {
			padding: 32px;
			min-height: 175px;
			h3 {
				margin-bottom: 8px;
			}
		}
	}

	.ups__color-blocks {

		.number {
			background-color: $color-orange;
			color: white;
			padding: 7px 13px;
			margin-right: 8px;
			border-radius: 25px;
			position: inline-block;
		}

		// 4 ups

		@media screen and (min-width: 768px) {
			margin: 0 -16px;

			&.numbers {
				padding-top: 20px;
			}

			.up-container {
				width: 49.7%;
				padding: 0 16px;
				display: inline-block;
				vertical-align: top;

			}
			.up {
				position: relative;
				min-height: 230px;
			}
			.number {
				position: absolute;
				top: -20px;
				left: 45%;
			}
		}
		@media screen and (min-width: 900px) {
			.up {
				min-height: 200px;
			}
		}
		@media screen and (min-width: 1000px) {
			.up {
				min-height: 180px;
			}
		}
		@media screen and (min-width: 1200px) {
			.up-container {
				width: 24.7%;
			}
			.up {
				min-height: 290px;
				margin-bottom: 0;
			}
		}
		@media screen and (min-width: 1300px) {
			.up {
				min-height: 270px;
			}
		}
		@media screen and (min-width: 1400px) {
			.up {
				min-height: 250px;
			}
		}

		// 3 ups

		&.ups__3-ups {
			@media screen and (min-width: 768px) {
				.up-container {
					width: 100%;
				}
				.up {
					min-height: auto;
				}
			}
			@media screen and (min-width: 1000px) {
				.up-container {
					width: 33%;
				}
				.up {
					min-height: 210px;
				}
			}
			@media screen and (min-width: 1200px) {
				.up {
					min-height: 180px;
				}
			}
		}
	}

	.ups__bio-photos {

		.up {
			position: relative;
			margin-bottom: 32px;
			padding-left: 90px;
		}
		
		h3 {
			padding-top: 12px;
			margin-bottom: 4px;
			font-weight: 700;
		}

		img {
			display: block;
			width: 75px;
			position: absolute;
			top: 0;
			left: 0;
		}

		a h3 {
			color: $color-blue;
		}

		a {
			cursor: pointer;
		}

		.up__image-wrap {
			position: relative;
		
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: rgba($color-link, 0);
				z-index: 10;
				transition: background .5s;
			}
		}

		a:hover {
			text-decoration: none;

			.up__image-wrap:before {
				background: rgba($color-link, .5);
			}
		}

		a:hover h3 {
			text-decoration: underline;
		}

		@media screen and (min-width: 480px) {
			.up {
				padding-left: 105px;
				min-height: 75px;
				width: 49%;
				display: inline-block;
			}
			img {
				width: 90px;
			}
		}
		@media screen and (min-width: 768px) {
			text-align: center;

			.up {
				width: 19%;
				text-align: center;
				padding: 0 8px;
				vertical-align: top;
				margin-bottom: 0;
			}
			h3 {
				font-size: 16px;
			}
			img {
				position: relative;
				width: auto;
			}
		}
		@media screen and (min-width: 1024px) {
			h3 {
				font-size: 20px;
			}
		}
	}

	// Coloring

	&.white-block-on-light-gray {
		background-color: $color-gray-95;
		h2 {
			color: $color-orange;
		}
		@media screen and (min-width: 768px) {
			.up {
				background-color: white;
			}
		}
	}

	&.light-gray-block-on-white {
		h2 {
			color: $color-orange;
		}
		@media screen and (min-width: 768px) {
			.up {
				background-color: $color-gray-95;
			}
		}
	}

	&.charcoal-block-on-light-gray {
		background-color: $color-gray-95;
		h2 {
			color: $color-orange;
		}
		@media screen and (min-width: 768px) {
			.up {
				background-color: $color-gray-15;
			}
			h3 {
				color: $color-orange;
			}
			p {
				color: white;
			}
		}
	}

	&.light-gray {
		background-color: $color-gray-95;
		h2 {
			color: $color-orange;
		}
	}
}
