.xups {

	&.background-gray {
		background-color: $color-gray-95;

		h2 {
			color: $color-orange;
		}
	}

	h2 {
		margin: 16px 0 32px;
		text-align: center;
		@media screen and (min-width: 768px) {
			margin: 0 0 32px;
		}
	}

	p.lead {
		margin: 0 auto 32px;
		text-align: center;
		@media screen and (min-width: 768px) {
			width: 70%;
		}
	}

	h3 {
		color: $color-orange;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: $font-weight-normal;
		margin-bottom: 8px;
	}

	.ups {
		@media screen and (min-width: 768px) {
			margin: 0 -32px 8px;
		}
	}

	.up {
		margin: 0 0 32px;

		@media screen and (min-width: 768px) {
			padding: 32px;
			min-height: 175px;
			h3 {
				font-size: 20px;
				margin-bottom: 8px;
			}
		}
	}

	.ups__systems-what-we-do {

		@media screen and (min-width: 768px) {
			.up-container {
				width: 49%;
				padding: 0 16px;
				display: inline-block;
				vertical-align: top;
			}
			.up {
				background-color: white;
			}
		}
		@media screen and (min-width: 1400px) {
			.up-container {
				width: 24.5%;
			}
			.up {
				min-height: 225px;
			}
		}
	}

	.ups__bio-photos {

		.up {
			position: relative;
			margin-bottom: 32px;
			padding-left: 90px;
		}
		
		h3 {
			padding-top: 12px;
			margin-bottom: 4px;
		}

		img {
			width: 75px;
			position: absolute;
			top: 0;
			left: 0;
		}

		@media screen and (min-width: 480px) {
			.up {
				padding-left: 105px;
				min-height: 75px;
				width: 49%;
				display: inline-block;
			}
			img {
				width: 90px;
			}
		}
		@media screen and (min-width: 768px) {
			text-align: center;

			.up {
				width: 19%;
				text-align: center;
				padding: 0 8px;
				vertical-align: top;
			}
			h3 {
				font-size: 16px;
			}
			img {
				position: relative;
				width: auto;
			}
		}
		@media screen and (min-width: 1024px) {
			h3 {
				font-size: 20px;
			}
		}
	}
}