{% extends 'default.layout.html' %}

{% block content %}


  <!-- Header -->
  {{ components.header_slim() }}
  <div class="container-fluid background-charcoal">
    <div class="container-fluid-inner line-of-business-introduction">

      <h1>Design Systems</h1>
      <p class="lead">Make your experience <strong>cohesive</strong> and your teams <strong>efficient</strong> with a design system of parts and practices to serve your product teams.</p>
      <p class="lead">It’s not <i>just</i> a living style guide. Modern organizations invest in systems so they can deliver innovative and beautiful products, together. <a href="mailto:nathan@eightshapes.com">We can guide you</a>.</p>
    </div>
  </div>
 
  <!-- Components Book -->
  <div class="photo-text photo-text__systems">
    <div class="photo-text__half-photo"></div>
    <div class="photo-text__half-text">
      <h2>Make It Modular</h2>
      <p class="lead">Designers are getting systematic with their work. They deliver systems as living, coded guides. Everyone’s thinking atomic and building modular.</p>
      <p class="lead">EightShapes has 10+ years experience designing components, sustaining client libraries, and sharing what we know with 2009’s <a href="www.amazon.com/Modular-Web-Design-Components-Documentation/dp/0321601351">Modular Web Design</a> and workshops worldwide.</p>
    </div>
  </div>

  <!-- What We Do -->
  <div class="container-fluid xups white-block-on-light-gray">
    <div class="container-fluid-inner">
      <h2>What We Do</h2>
      <div class="ups__color-blocks">
        <div class="up-container">
          <div class="up">
            <h3>Discover &amp; Plan</h3>
            <p>We assess opportunities, catalog your library, plan a formative period, and pair with you on the parts, products, and people.</p>
            <p class="duration">2–4 weeks</p>
          </div>
        </div>
        <div class="up-container">
          <div class="up">
            <h3>Design &amp; Build</h3>
            <p>We make the library with you or for you, from designing components &amp; page concepts to building the living style guide.</p>
            <p class="duration">2–3 months</p>
          </div>
        </div>
        <div class="up-container">
          <div class="up">
            <h3>Workshop</h3>
            <p>We kickoff efforts, sell the mission, teach concepts, and propel in-house teams forward with custom presentations and workshops.</p>
            <p class="duration">1–5 days</p>
          </div>
        </div>
        <div class="up-container">
          <div class="up">
            <h3>Coach</h3>
            <p>We ask hard questions, respond to your ideas, and offer straight advice to improve your efforts, with just you or your whole team.</p>
            <p class="duration">10 hr blocks</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Workshops -->
  <div class="container-fluid workshops-display">
    <div class="container-fluid-inner">
      <h2>Workshops</h2>
      <p class="lead">We can bring you in-house talks and hands-on activities customized to your needs.</p>
      <div class="workshops">
        <div class="workshop-item-container">
          <a href="workshop-planning-parts-products-people.html" class="workshop-item">
            <h3>Plan Parts, Products &amp; People {{ components.icon({icon_name: 'angle-right', class: 'workshop__details-arrow-icon'}) }}</h3>
            <p>Learn basic concepts and activities to start, spread and sustain a system for a single product or a large enterprise.</p>
            <p class="duration">¼ day</p>
          </a>
        </div>
        <div class="workshop-item-container">
          <a href="workshop-component-cutup.html" class="workshop-item">
            <h3>Component Cut-Up {{ components.icon({icon_name: 'angle-right', class: 'workshop__details-arrow-icon'}) }}</h3>
            <p>Dive into an immersive activity to visualize, slice up, group, label and prioritize your components.</p>
            <p class="duration">Up to ½ day</p>
          </a>
        </div>
        <div class="workshop-item-container">
          <a class="workshop-item" href="workshop-roadmapping.html">
            <h3>System Roadmapping {{ components.icon({icon_name: 'angle-right', class: 'workshop__details-arrow-icon'}) }}</h3>
            <p>Transition a system from project to product via roadmapping, a backlog, and aligning with product teams.</p>
            <p class="duration">Up to ½ day</p>
          </a>
        </div>
        <div class="workshop-item-container">
          <div class="workshop-item">
            <h3>Modular Web Design</h3>
            <p>Design modularly, organize a library, and code up components and page types via hands-on activities.</p>
            <p class="duration">Up to full day</p>
          </div>
        </div>
        <div class="workshop-item-container">
          <div class="workshop-item">
            <h3>Designing Living Guides</h3>
            <p>Plan, architect, and design effective web-based style guides for code, patterns, and custom topics.</p>
            <p class="duration">Up to ½ day</p>
          </div>
        </div>
        <div class="workshop-item-container">
          <div class="workshop-item">
            <h3><span class="strikethrough">Governing</span> Sharing</h3>
            <p>Shift your culture away from oversight towards sharing of, participation in, &amp; contribution to a system.</p>
            <p class="duration">¼ day</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Contributions -->
  <div class="container-fluid">
    <div class="container-fluid-inner">
      <h2 class="homepage__heading">Contributions</h2>
      <p class="lead homepage__lead">
        EightShapes contributes to the design community with writing, seminars, books, and toolkits to document UX and prototype in HTML &amp; CSS.
      </p>
      <div class="row content-card-wrap">
        {{ components.content_card({
          href: "https://medium.com/@nathanacurtis/color-in-design-systems-a1c80f65fa3#.l23xnagaz",
          pre_heading: "Medium • April 2016",
          class: "content-card--book",
          heading: "Color in Design Systems",
          copy: "Exploring palettes, theming, tints and shades, and accessibility",
          background_image: "images/components/content_card/color-in-design-systems.png"
        }) }}
        {{ components.content_card({
          href: "https://medium.com/eightshapes-llc/a-design-system-isn-t-a-project-it-s-a-product-serving-products-74dcfffef935#.saa08k6op",
          pre_heading: "Medium • February 2016",
          heading: "A Design System isn’t a Project. It’s a Product, Serving Products.",
          copy: "Shifting Focus from Design and Development to Managing and Marketing a System",
          cta: "Read More"
        }) }}
        {{ components.content_card({
          href: "https://medium.com/eightshapes-llc/right-sizing-the-rectangles-936894ca0f99",
          pre_heading: "Medium • March 2016",
          class: "content-card--book",
          heading: "Right-Sizing the Rectangles",
          copy: "Grappling with Hierarchy for a More Effective Design System",
          background_image: "images/components/content_card/right-sizing-rectangles.png"
        }) }}
        {{ components.content_card({
          href: "https://medium.com/eightshapes-llc/on-classification-in-design-systems-6b33b97f4a8f#.hffoe570s",
          pre_heading: "Medium • February 2016",
          heading: "On Classification in Design Systems",
          copy: "Recent Trends in Naming Things in Design Libraries",
          cta: "Read More"
        }) }}
        {{ components.content_card({
          href: "http://smashingconf.com/freiburg-2016/",
          class: "content-card--event",
          pre_heading: "SmashingConf",
          date: "September 12-13, 2016 • Freiburg, Germany",
          heading: "Scalable Design Systems",
          copy: "Enable a wide array of people—including non-designers—to scale design systems",
          cta: "Register"
        }) }}
        {{ components.content_card({
          href: "https://medium.com/eightshapes-llc/team-models-for-scaling-a-design-system-2cf9d03be6a0#.ajm21o3f1",
          class: "content-card--book",
          pre_heading: "Medium • September 2015",
          heading: "Team Models for Scaling a Design System",
          background_image: "images/components/content_card/medium_castle.jpg"
        }) }}
        {{ components.content_card({
          href: "https://medium.com/eightshapes-llc/tokens-in-design-systems-25dd82d58421#.d2ohowma6",
          class: "content-card--book",
          pre_heading: "Medium • June 2016",
          heading: "Tokens in Design System",
          copy: "Architect & Implement Design Decisions for Everyone",
          background_image: "images/components/content_card/tokens.jpeg"
        }) }}
        {{ components.content_card({
          href: "https://ui21.uie.com/workshops/building-scalable-design-systems-and-style-guides",
          class: "content-card--event",
          pre_heading: "UI21",
          date: "November 1-2, 2016 • Boston, MA",
          heading: "Building Scalable Design Systems and Style Guides",
          copy: "Enable a wide array of people—including non-designers—to scale design systems",
          cta: "Register"
        }) }}
        {{ components.content_card({
          href: "http://www.amazon.com/Modular-Web-Design-Components-Documentation/dp/0321601351",
          class: "content-card--book",
          pre_heading: "Book by Nathan Curtis",
          heading: "Modular Web Design",
          copy: "Creating Reusable Components for User Experience Design and Documentation",
          background_image: "images/components/content_card/modular_web_design.jpg"
        }) }}
        {{ components.content_card({
          href: "https://medium.com/eightshapes-llc/buttons-in-design-systems-eac3acf7e23#.ej345veis",
          class: "content-card--book",
          pre_heading: "Medium • April 2016",
          heading: "Buttons in Design System",
          copy: "12 Tips for Setting Up a System That Endures",
          background_image: "images/components/content_card/buttons.png"
        }) }}
        {{ components.content_card({
          href: "https://medium.com/eightshapes-llc/finding-platform-balance-in-a-design-system-47eaae48de98#.lo737xuvw",
          pre_heading: "Medium • October 2015",
          heading: "Finding Platform Balance in a Design System",
          copy: "Focusing on Fundamentals and Balancing Influence Across Platforms",
          cta: "Read More"
        }) }}
        {{ components.content_card({
          href: "https://medium.com/eightshapes-llc/the-component-cut-up-workshop-1378ae110517#.5hls51ylu",
          class: "content-card--book",
          pre_heading: "Medium • November 2015",
          heading: "The Component Cut-Up Workshop",
          background_image: "images/components/content_card/component-cut-up.png"
        }) }}
      </div>
    </div>
  </div>  

  <!-- Get Started -->
  {{ components.page_cta() }}

  <!-- Footer -->
  {{ components.footer() }}

{% endblock %}
