{% extends 'default.layout.html' %}

{% block content %}
  {{ components.header() }}

  <!-- Our Work -->
  <div id="our-work" class="container-fluid">
    <div class="fluid-inner">
        {{ components.casestudies() }}
        {{ components.client_brands() }}
    </div>
  </div>

  <!-- What We Do -->

  <div id="services" class="container-fluid color-charcoal">
    <div class="container-fluid-inner">
        {{ components.whatwedo() }}
    </div>
  </div>
  
  <!-- People -->
  {{ components.xups({
    "id": "who-we-are",
    "up_responsiveness": "",
    "type": "ups__bio-photos",
    "h2": "Who We Are",
    "lead": "We’re tenacious about solving business, customers and design challenges. We prioritize a friendly, collaborative environment. And we believe that successful projects depend on transparency, cooperation and Post-Its.",
    "ups" : [
       {
         "header": "Nathan Curtis",
         "paragraph": "Principal & Founder",  
         "thumbnail": "nathan"
       },
       {
         "header": "Dan Brown",
         "paragraph": "Principal & Founder",
         "thumbnail": "dan"
       },
       {
         "header": "Chris Detzi",
         "paragraph": "Sr. Director, UX",
         "thumbnail": "chris"
       },
       {
         "header": "James Melzer",
         "paragraph": "Director, UX",
         "thumbnail": "james"
       },
       {
         "header": "Kevin Powell",
         "paragraph": "Sr. Front End Developer",
         "thumbnail": "kevin"
       }
     ]
  }) }}

  <!-- Contributions -->
   <div class="container-fluid" id="contributions">
    <div class="container-fluid-inner">
      <h2 class="homepage__heading">How We've Contributed</h2>
      <p class="lead homepage__lead">EightShapes has contributed three books, a documentation templating system, and a prototyping framework, not to mention countless workshops and articles.</p>
     <div class="row content-card-wrap">
       {{ components.content_card_double({
         href: "https://medium.com/eightshapes-llc/team-models-for-scaling-a-design-system-2cf9d03be6a0#.ajm21o3f1",
         pre_heading: "Medium",
         heading: "Behind the Wheel with Product and UX",
         background_image: "images/components/content_card/behind-ther-wheel.jpg"
       }) }}
       {{ components.content_card({
         href: "https://medium.com/eightshapes-llc/13-principles-of-effective-design-teams-1d0815deefd6#.hm4e1wpw7",
         pre_heading: "Medium",
         heading: "13 Principles of Effective Design Teams",
         copy: "Roles, tools, objectives, and project plans are crucial to team effectiveness
",
         cta: "Read More"
       }) }}
       {{ components.content_card({
         href: "http://www.amazon.com/Communicating-Design-Developing-Documentation-Planning/dp/0321712463",
         class: "content-card--book",
         pre_heading: "Book",
         heading: "Communicating Design",
         copy: "Developing Website Documentation for Design and Planning",
         background_image: "images/components/content_card/communicating_design.jpg"
       }) }}
       {{ components.content_card({
         href: "http://www.oreilly.com/pub/e/3605",
         class: "content-card--event",
         pre_heading: "Webinar",
         heading: "Collaborative Design Discovery",
         copy: "Essential techniques for successful product definition",
         cta: "Register"
       }) }}
       {{ components.content_card({
         href: "https://medium.com/@detzi/from-design-vision-to-reality-in-5-steps-535124a0a96d#.m4j0w38zd",
         class: "content-card--book",
         pre_heading: "Medium",
         heading: "From Design Vision to Reality in 5 Steps",
         cta: "Read More",
         background_image: "images/components/content_card/five-steps.png"
         
       }) }}
       {{ components.content_card({
         href: "http://conferences.oreilly.com/design/ux-interaction-iot-us/public/schedule/detail/45380",
         class: "content-card--event",
         pre_heading: "Workshop",
         date: "Wednesday January 20",
         heading: "Crafting the Discovery Phase",
         copy: "How to put research in context and set direction for your product",
         cta: "Register"
       }) }}
       {{ components.content_card({
         href: "https://www.oreilly.com/ideas/dan-brown-on-mindsets-managing-designers-and-mastering-impostor-syndrome",
         pre_heading: "Podcast",
         heading: "O’Reilly Radar",
         copy: "Dan talks about the most important skills for designers",
         cta: "Read More"
       }) }}
     </div>
    </div>
  </div>
  
  <!-- Page CTA -->
  {{ components.page_cta({header:'Ready?', lead: 'Working on a UX design? Crafting a product strategy? Starting a design system?'}) }}

  <!-- Footer -->
  {{ components.footer() }}
{% endblock %}
