{% extends 'default.layout.html' %}

{% block content %}
  <h1>New Site Goes Here</h1>
  <h2>New Site Goes Here</h2>
  <h3>New Site Goes Here</h3>
  <h4>New Site Goes Here</h4>
  <h5>New Site Goes Here</h5>
  <h6>New Site Goes Here</h6>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus maxime dignissimos nam soluta, quo dolore nulla repellat similique dicta dolorem, amet eius. Recusandae beatae nulla doloremque, illum cupiditate earum cum!</p>

  <h1>Footer Goes Here</h1>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="grid-block"></div>
      </div>
      <div class="col-md-4">
        <div class="grid-block"></div>
      </div>
      <div class="col-md-4">
        <div class="grid-block"></div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-block"></div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-block"></div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-block"></div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="grid-block"></div>
      </div>
    </div>
  </div>
  
  
  <div class="container-fluid">
    <div class="fluid-inner">
        {{ components.casestudies() }}
    </div>
  </div>
  
  {{ components.xups({
    "up_responsiveness": "",
    "h2": "Who We Are",
    "lead": "We’re tenacious about solving business, customers and design challenges. We prioritize a friendly, collaborative environment. And we believe that successful projects depend on transparency, cooperation and Post-Its.",
    "ups" : [
       {
         "header": "Nathan Curtis",
         "paragraph": "Principal & Founder",  
         "thumbnail": "nathan"
       },
       {
         "header": "Dan Brown",
         "paragraph": "Principal & Founder",
         "thumbnail": "dan"
       },
       {
         "header": "Chris Detzi",
         "paragraph": "Sr. Director, UX",
         "thumbnail": "chris"
       },
       {
         "header": "James Melzer",
         "paragraph": "Director, UX",
         "thumbnail": "james"
       },
       {
         "header": "Kevin Powell",
         "paragraph": "Sr. Front End Developer",
         "thumbnail": "kevin"
       }
     ]
  }) }}
  {{ components.footer() }}
{% endblock %}
