{% extends 'default.layout.html' %}

{% block content %}
  {{ components.header() }}

  <!-- Our Work -->
  {{ components.casestudies() }}

  <!-- What We Do -->

  <div id="services" class="container-fluid color-charcoal">
    <div class="container-fluid-inner">
        {{ components.whatwedo() }}
    </div>
  </div>
  
  <!-- People -->
  {{ components.xups({
    "id": "who-we-are",
    "background": "light-gray",
    "up_responsiveness": "",
    "type": "ups__bio-photos",
    "h2": "Who We Are",
    "lead": "Though tenacious in solving complex experience design problems, we believe successful projects depend on transparency, cooperation, and Post-Its.",
    "ups" : [
       {
         "header": "Nathan Curtis",
         "paragraph": "Principal & Founder",  
         "thumbnail": "nathan-curtis"
       },
       {
         "header": "Dan Brown",
         "paragraph": "Principal & Founder",
         "thumbnail": "dan-brown"
       },
       {
         "header": "Chris Detzi",
         "paragraph": "Sr. Director, UX",
         "thumbnail": "chris-detzi"
       },
       {
         "header": "James Melzer",
         "paragraph": "Director, UX",
         "thumbnail": "james-melzer"
       },
       {
         "header": "Kevin Powell",
         "paragraph": "Sr. Front End Developer",
         "thumbnail": "kevin-powell"
       }
     ]
  }) }}

  <!-- Contributions -->
   <div class="container-fluid" id="contributions">
    <div class="container-fluid-inner">
      <h2 class="homepage__heading">How We've Contributed</h2>
      <p class="lead">EightShapes has contributed three books, a documentation templating system, and a prototyping framework, not to mention countless workshops and articles.</p>
      <div class="row content-card-wrap">
        {{ components.content_card_double({
          href: "https://medium.com/eightshapes-llc/team-models-for-scaling-a-design-system-2cf9d03be6a0#.ajm21o3f1",
          pre_heading: "Medium",
          heading: "Team Models for Scaling a Design System",
          background_image: "images/components/content_card/medium_castle.jpg"
        }) }}
        {{ components.content_card({
          href: "http://alistapart.com/event/responsive-style-guides",
          class: "content-card--event",
          pre_heading: "A List Apart Online Panel",
          date: "June 16, 2015",
          heading: "Pattern Language: Responsive Style Guides",
          cta: "Watch"
        }) }}
        {{ components.content_card({
          href: "http://www.amazon.com/Modular-Web-Design-Components-Documentation/dp/0321601351",
          class: "content-card--book",
          pre_heading: "Book by Nathan Curtis",
          heading: "Modular Web Design",
          copy: "Creating Reusable Components for User Experience Design and Documentation",
          background_image: "images/components/content_card/modular_web_design.jpg"
        }) }}
        {{ components.content_card({
          href: "http://www.amazon.com/Communicating-Design-Developing-Documentation-Planning/dp/0321712463",
          class: "content-card--book",
          pre_heading: "Book by Dan Brown",
          heading: "Communicating Design",
          copy: "Developing Website Documentation for Design and Planning",
          background_image: "images/components/content_card/communicating_design.jpg"
        }) }}
        {{ components.content_card({
          href: "https://medium.com/eightshapes-llc/behind-the-wheel-with-product-and-ux-287dba3e6d64#.hzx8jmnbq",
          pre_heading: "Medium",
          heading: "Behind The Wheel",
          copy: "My kids aren’t yet old enough to learn to drive. But I picture myself in the passenger seat, years from now, and imagine what it feels like to teach them. I’m sure it’s terrifying, but that’s not what I mean.",
          cta: "Read More"
        }) }}
        {{ components.content_card({
          href: "http://www.amazon.com/Designing-Together-collaboration-management-professionals/dp/0321918630",
          class: "content-card--book",
          pre_heading: "Book by Dan Brown",
          heading: "Designing Together",
          copy: "The Collaboration and Conflict Management Handbook for Creative Professionals",
          background_image: "images/components/content_card/designing_together.jpg"
        }) }}
        {{ components.content_card({
          href: "https://medium.com/eightshapes-llc/the-component-cut-up-workshop-1378ae110517#.5ibx9rqm8",
          pre_heading: "Medium",
          heading: "The Component Cut-Up Workshop",
          copy: "Nothing beats the energy of getting a team together to deconstruct an existing design system and arrive at a component library together.",
          cta: "Read More"
        }) }}
      </div>
    </div>
  </div>
  
  <!-- Page CTA -->
  {{ components.page_cta({header:'Ready?', lead: 'Working on a UX design? Crafting a product strategy? Starting a design system?'}) }}

  <!-- Footer -->
  {{ components.footer() }}
{% endblock %}
