{% extends 'bio.layout.html' %}

{% block bio_content %}
  {{ components.bio_hero({ index: 3}) }}
  <div class="container-fluid">
    <div class="container-fluid-inner content__long-form">
      <p class="lead">
        As a UX designer and team lead, James connects business leaders, designers and developers to design the best solutions. James’ expertise includes large-scale information architecture, search, responsive design, and living style guides for design teams. James earned a Master’s Degree in Library/Information Science from the University of Maryland.
      </p>
                    <div class="content-tabs__tab-content">
                      <h3>Writing</h3>
                      <ul>
                        <li>
                          <p class="pre-heading">Medium, October 2014</p>
                          <a href="https://medium.com/eightshapes-llc/working-vocabulary-responsive-grid-behaviors-984b3b5deaab">
                            <h4 class="heading">Responsive Behaviors, a Working Vocabulary</h4>
                          </a>
                        </li>
                      </ul>

                    </div>
                    <div class="content-tabs__tab-content">
                      <h3>Posters</h3>
                      <ul>
                        <li style=""><a href="http://jamesmelzer.com/iasummit.MentalModels.v3.pdf"><img src="images/components/content_card/poster-iasummit2010.jpg" class="illustration-thumb"></a>
                          <p class="pre-heading">2010 Information Architecture Summit</p>
                           <a href="http://jamesmelzer.com/iasummit.MentalModels.v3.pdf">
                            <h4 class="heading">Applying Mental Models Outside UX [PDF]</h4>
                           </a>                  
                        </li>
                         <li class="illustration-thumb__wrapper"><a href="http://jamesmelzer.com/poster.transforming-my-toolkit.ia-summit-2012.v2.pdf"><img src="images/components/content_card/poster-iasummit2012.jpg" class="illustration-thumb"></a>
                          <p class="pre-heading">2012 Information Architecture Summit</p>
                           <a href="http://jamesmelzer.com/poster.transforming-my-toolkit.ia-summit-2012.v2.pdf">
                             <h4 class="heading">Transforming My Toolkit: A One-Year Journey from Wireframes to HTML Prototypes [PDF]</h4>
                           </a>                  
                        </li><li class="illustration-thumb__wrapper"><a href="http://jamesmelzer.com/breakpoint-matrix.html"><img src="images/components/content_card/poster-iasummit2013.jpg" class="illustration-thumb">
                          <p class="pre-heading">2013 Information Architecture Summit</p>
                           <a href="http://jamesmelzer.com/breakpoint-matrix.html">
                            <h4 class="heading">Communicating Responsive Web Design: The Breakpoint Matrix</h4>
                           </a>                  
                        </li>
                  
                      </ul>
                    </div>

    </div>
  </div>
{% endblock %}
