{% extends 'bio.layout.html' %}

{% block bio_content %}
  {{ components.bio_hero({ index: 3}) }}
  <div class="container-fluid">
    <div class="container-fluid-inner content__long-form">
      <p class="lead">
        As a UX designer and team lead, James connects business leaders, designers and developers to design the best solutions. James’ expertise includes large-scale information architecture, search, responsive design, and living style guides for design teams. James earned a Master’s Degree in Library/Information Science from the University of Maryland.
      </p>
    </div>
  </div>
{% endblock %}
