{% extends 'bio.layout.html' %}

{% block bio_content %}
  {{ components.bio_hero({ index: 4}) }}
  <div class="container-fluid">
    <div class="container-fluid-inner content__long-form">
      <p class="lead">
        Kevin is an interaction designer with a passion for rendering modern designs through the latest production techniques. Kevin consults with in-house dev teams to implement design systems and fine-tune their prototyping and production environments. His presentations on User Experience and CSS precompilers garnered enough views in 2013 to place him in the top 5% of most-viewed presentations on slideshare.net.
      </p>
    </div>
  </div>
{% endblock %}
