{% extends 'bio.layout.html' %}

{% block bio_content %}
  {{ components.bio_hero({ index: 0}) }}
  <div class="container-fluid">
    <div class="container-fluid-inner">
      <p class="lead">
        Nathan co-founded EightShapes in 2006 and is passionate about interaction design, information architecture, and front-end development. He specializes in <a href="design-systems.html">design systems</a> consulting for teams large and small, regularly writing about and speaking at events worldwide. Nathan conceived of EightShapes Unify (for UX documentation) and EightShapes Blocks (for HTML/CSS prototyping), toolkits downloaded by over 50,000 designers worldwide.
      </p>
    </div>
  </div>
{% endblock %}
