{% extends 'bio.layout.html' %}

{% block bio_content %}
  {{ components.bio_hero({ index: 0}) }}
  <div class="container-fluid">
    <div class="container-fluid-inner">
      <p class="lead bio__lead">
        Nathan co-founded EightShapes in 2006 and is passionate about interaction design, information architecture, and front-end development. He specializes in <a href="design-systems.html">design systems</a> consulting for teams large and small, regularly writing about and speaking at events worldwide. Nathan conceived of EightShapes Unify (for UX documentation) and EightShapes Blocks (for HTML/CSS prototyping), toolkits downloaded by over 50,000 designers worldwide.
      </p>
        <form action="#">
          <div class="content-tabs">
            <div class="content-tabs__tab">
              <input class="content-tabs__tab-input" type="radio" id="appearances" name="tabcontent" checked="checked">
              <label class="content-tabs__tab-label" for="appearances">Appearances</label>
              <div class="content-tabs__panel">
                <div class="content-tabs__tab-content">
                  <h3>Upcoming</h3>
                  <ul>
                    <li>
                      <p class="pre-heading">June 8-10, 2016 / Enterprise UX, San Antonio, TX</p>
                      <a href="http://www.enterpriseux.net/">
                        <h4 class="heading">Designing Design Systems (Talk &amp; Workshop)</h4>
                      </a>
                    </li>
                    <li>
                      <p class="pre-heading">May 24-27, 2016 / UXLX, Lisbon, Portugal</p>
                      <a href="https://www.ux-lx.com/speakers/nathan_curtis.html">
                        <h4 class="heading">Scalable Design Systems (Workshop)</h4>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <p class="pre-heading">March 2016 / Clarity Conference, San Francisco, CA</p>
                        <h4 class="heading">Design Systems (Talk)</h4>
                      </a>
                    </li>
                  </ul>
                  <h3>Recent</h3>
                  <ul>
                    <li>
                      <p class="pre-heading">Dec 2015 / NOVAUX, McLean, VA</p>
                      <a href="http://www.meetup.com/nova-ux/events/225377048/">
                        <h4 class="heading">Design Systems: Parts, Products &amp; People</h4>
                      </a>
                    </li>
                    <li>
                      <p class="pre-heading">Nov 2015 / UI20, Boston, MA</p>
                      <a href="https://ui20.uie.com/workshops/building-scalable-design-systems-and-style-guides">
                        <h4 class="heading">Building Scalable Design Systems and Style Guides</h4>
                      </a>
                    </li>
                    <li>
                      <p class="pre-heading">Nov 2015 / UI20, Boston, MA</p>
                      <a href="https://ui20.uie.com/talks#ten-fifteen">
                        <h4 class="heading">A Tour of Today’s Online Style Guides</h4>
                      </a>
                    </li>
                    <li>
                      <p class="pre-heading">Oct 2015 / UXDC 15, Washington, DC</p>
                      <a href="http://uxdcconference.org/">
                        <h4 class="heading">The Good, Bad and (Rarely) Ugly Tour of Today’s Online Style Guides</h4>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>          
            <div class="content-tabs__tab">
              <input class="content-tabs__tab-input" type="radio" id="webinars" name="tabcontent">
              <label class="content-tabs__tab-label" for="webinars">Webinars</label>
              <div class="content-tabs__panel">
                <div class="content-tabs__tab-content">
                  <ul>
                    <li>
                      <p class="pre-heading">Dec 2015 / UIE</p>
                      <a href="https://aycl.uie.com/virtual_seminars/deeper_dive_design_systems">
                        <h4 class="heading">Design Systems: From Project Done to Product Sustained</h4>
                      </a>
                    </li>
                    <li>
                      <p class="pre-heading">Jun 2015 / A List Apart</p>
                      <a href="http://alistapart.com/event/responsive-style-guides">
                        <h4 class="heading">Pattern Language: Responsive Style Guides</h4>
                      </a>
                    </li>
                    <li>
                      <p class="pre-heading">Jan 2015 / UIE</p>
                      <a href="https://aycl.uie.com/virtual_seminars/design_systems">
                        <h4 class="heading">Cohesive Design Systems for Enterprise</h4>
                      </a>
                    </li>
                    <li>
                      <p class="pre-heading">2013 / UIE</p>
                      <a href="https://aycl.uie.com/virtual_seminars/vs96_sketching_understanding">
                        <h4 class="heading">Sketching for Understanding</h4>
                      </a>
                    </li>
                    <li>
                      <p class="pre-heading">2012 / UIE</p>
                      <a href="https://aycl.uie.com/virtual_seminars/fearless_prototyping_for_skeptics">
                        <h4 class="heading">Fearless Prototyping for Skeptics</h4>
                      </a>
                    </li>
                    <li>
                      <p class="pre-heading">2012 / UIE</p>
                      <a href="https://aycl.uie.com/virtual_seminars/start_full_screen">
                        <h4 class="heading">Start Full Screen: Organize, Communicate, &amp; Annotate HTML Prototypes</h4>
                      </a>
                    </li>
                    <li>
                      <p class="pre-heading">2011 / UIE</p>
                      <a href="https://aycl.uie.com/virtual_seminars/from_pdfs_to_html_prototypes">
                        <h4 class="heading">From PDFs to HTML Prototypes</h4>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="content-tabs__tab">
              <input class="content-tabs__tab-input" type="radio" id="podcasts" name="tabcontent">
              <label class="content-tabs__tab-label" for="podcasts">Podcasts</label>
              <div class="content-tabs__panel">
                <div class="content-tabs__tab-content">
                  <ul>
                    <li>
                      <p class="pre-heading">May 2015 / Style Guides with Brad Frost &amp; Anna Debenham</p>
                      <a href="http://styleguides.io/podcast/nathan-curtis/">
                        <h4 class="heading">On Style Guides</h4>
                      </a>
                    </li>
                    <li>
                      <p class="pre-heading">Sept 2015 / UIE</p>
                      <a href="https://www.uie.com/brainsparks/2015/09/09/nathan-curtis-building-scalable-design-systems-and-style-guides/">
                        <h4 class="heading">Building Scalable Design Systems and Style Guides</h4>
                      </a>
                    </li>
                    <li>
                      <p class="pre-heading">Apr 2013 / UIE</p>
                      <a href="https://www.uie.com/brainsparks/2013/04/09/nathan-curtis-sketching-for-understanding/">
                        <h4 class="heading">Sketching for Understanding</h4>
                      </a>
                    </li>
                    <li>
                      <p class="pre-heading">Aug 2012 / UIE</p>
                      <a href="https://www.uie.com/brainsparks/2012/08/30/nathan-curtis-prototyping-with-html-and-css/">
                        <h4 class="heading">Prototyping with HTML and CSS</h4>
                      </a>
                    </li>
                    <li>
                      <p class="pre-heading">Sept 2010 / UIE</p>
                      <a href="https://www.uie.com/brainsparks/2010/09/16/spoolcast-reusable-components-libraries-with-nathan-curtis/">
                        <h4 class="heading">Reusable Components and Libraries</h4>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="content-tabs__tab">
              <input class="content-tabs__tab-input" type="radio" id="posters" name="tabcontent">
              <label class="content-tabs__tab-label" for="posters">Posters</label>
              <div class="content-tabs__panel">
                <div class="content-tabs__tab-content">
                  <ul>
                    <li>
                      <p class="pre-heading">2010</p>
                      <a href="http://eightshapesunify.s3.amazonaws.com/CreatingAUXDesignLibrary.Final.pdf">
                        <h4 class="heading">Creating a UX Design Library</h4>
                      </a>
                    </li>
                    <li>
                      <p class="pre-heading">2009 / IA Summit</p>
                      <a href="http://unify.eightshapes.com/concepts/reduce-reuse-recycle/">
                        <h4 class="heading">Reduce,  Reuse, and Recycle</h4>
                      </a>
                    </li>
                    <li>
                      <p class="pre-heading">2008 / IA Summit</p>
                      <a href="http://www.nathancurtis.com/2008/04/02/instant-deliverable-mix-2008-ia-summit-poster/">
                        <h4 class="heading">Instant Deliverable Mix</h4>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </form>

    </div>
  </div>
{% endblock %}
