{% extends 'default.layout.html' %}

{% block content %}

  <!-- Introduction -->
  {{ components.header_slim() }}
  <div class="container-fluid background-charcoal">
    <div class="container-fluid-inner line-of-business-introduction">
      <h1>Product Discovery</h1>
      <p class="lead">We align your team around a shared product vision through design principles, customer insights, &amp; prototyped concepts.</p>
    </div>
  </div>
 
  <!-- What We Do -->
  <div class="photo-text photo-text__discovery">

      <div class="photo-text__half-photo"></div>
      <div class="photo-text__half-text">

        <h2>What We Deliver</h2>
        <p class="lead">In partnership with product managers, EightShapes defines an experience strategy grounded in audience insights and expressed through a prototype.</p>

        <h3>Experience Strategy</h3>
        <p>Communicate the big picture or future state of your product.</p>

        <h3>Audience Profiles</h3>
        <p>Capture user insights and prioritize their needs.</p>

        <h3>UI Prototypes</h3>
        <p>Envision how users interact with your product.</p>
      </div>
  </div>
  
  <!-- Project Progression -->
  <div class="container-fluid xups charcoal-block-on-light-gray">
    <div class="container-fluid-inner">
      <h2>Design Discovery Projects</h2>
      <p class="lead">Drawing on time-tested design techniques, EightShapes crafts a Discovery process that emphasizes exploration, iteration, and validation.</p>
      <div class="ups__color-blocks numbers">
        <div class="up-container">
          <div class="up">
            <h3><span class="number">1</span>Frame the Problem</h3>
            <p>Solutions depend on understanding the problem. We work together to understand the constraints, parameters, and objectives that define the problem space.</p>
          </div>   
        </div>
        <div class="up-container">
          <div class="up">
            <h3><span class="number">2</span>Develop Hypotheses</h3>
            <p>Design concepts propose solutions that might solve the problem. Converting a problem statement into testable hypotheses is a crucial step in driving design and research activities.</p>
          </div>
        </div>
        <div class="up-container">
          <div class="up">
            <h3><span class="number">3</span>Prototype Ideas</h3>
            <p>After brainstorming and iterating in low-fidelity sketches, we work together to develop a prototype that represents the concept and allows us to test our hypotheses.</p>
          </div>
        </div>
        <div class="up-container">
          <div class="up">
            <h3><span class="number">4</span>Test Solutions</h3>
            <p>Running the prototype in front of the target audience gives answers to the hypotheses but also provides insights about the users.</p>
          </div>     
        </div>
      </div>
    </div>
  </div>
  
  <!-- Research Alternatives -->
  <div class="container-fluid xups light-gray-block-on-white">
    <div class="container-fluid-inner">
      <h2>Baseline Research</h2>
      <p class="lead">Baseline research projects are quick studies to inject targeted user insights into your design and development processes.</p>
      <div class="ups__color-blocks ups__3-ups">
        <div class="up-container">
          <div class="up">
            <h3>Usability Testing</h3>
            <p>Testing your product prioritizes fixes to the UI and clarifies what's important to users.</p>
          </div>   
        </div>
        <div class="up-container">
          <div class="up">
            <h3>Navigation Testing</h3>
            <p>Card sorts and "treejack" tests provide insights about labeling, structure, and priorities.</p>
          </div>
        </div>
        <div class="up-container">
          <div class="up">
            <h3>User Research</h3>
            <p>With a broad toolbox of research techniques, EightShapes can provide audience insights to inform your product strategy.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Workshops -->
  <div class="container-fluid workshops-display">
    <div class="container-fluid-inner">
      <h2>Workshops</h2>
      <p class="lead">These half- or full-day workshops draw from design thinking best practices, and can be customized to fit anywhere in your development lifecycle.</p>
      <div class="workshops">
        <div class="workshop-item-container">
          <div class="workshop-item">
            <h3>Product Design Studio</h3>
            <p>Translate a product vision into concrete interface concepts.</p>
            <!-- <p class="duration">From 1 hr to full day</p> -->
          </div>
        </div>
        <div class="workshop-item-container">
          <div class="workshop-item">
            <h3>Experience Visioning</h3>
            <p>Align your team around design principles for the product experience.</p>
            <!-- <p class="duration">Up to full day</p> -->
          </div>
        </div>
        <div class="workshop-item-container">
          <div class="workshop-item">
            <h3>User Analysis</h3>
            <p>Extract insights from user research.</p>
            <!-- <p class="duration">Up to ½ day</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Contributions -->
   <div class="container-fluid" id="contributions">
    <div class="container-fluid-inner">
      <h2 class="homepage__heading">How We've Contributed</h2>
      <p class="lead homepage__lead">EightShapes has contributed three books, a documentation templating system, and a prototyping framework, not to mention countless workshops and articles.</p>
     <div class="row content-card-wrap">
       {{ components.content_card_double({
         href: "https://medium.com/eightshapes-llc/team-models-for-scaling-a-design-system-2cf9d03be6a0#.ajm21o3f1",
         pre_heading: "Medium",
         heading: "Behind the Wheel with Product and UX",
         background_image: "images/components/content_card/behind-ther-wheel.jpg"
       }) }}
       {{ components.content_card({
         href: "https://medium.com/eightshapes-llc/13-principles-of-effective-design-teams-1d0815deefd6#.hm4e1wpw7",
         pre_heading: "Medium",
         heading: "13 Principles of Effective Design Teams",
         copy: "Roles, tools, objectives, and project plans are crucial to team effectiveness
",
         cta: "Read More"
       }) }}
       {{ components.content_card({
         href: "http://www.amazon.com/Communicating-Design-Developing-Documentation-Planning/dp/0321712463",
         class: "content-card--book",
         pre_heading: "Book",
         heading: "Communicating Design",
         copy: "Developing Website Documentation for Design and Planning",
         background_image: "images/components/content_card/communicating_design.jpg"
       }) }}
       {{ components.content_card({
         href: "http://www.oreilly.com/pub/e/3605",
         class: "content-card--event",
         pre_heading: "Webinar",
         heading: "Collaborative Design Discovery",
         copy: "Essential techniques for successful product definition",
         cta: "Register"
       }) }}
       {{ components.content_card({
         href: "https://medium.com/@detzi/from-design-vision-to-reality-in-5-steps-535124a0a96d#.m4j0w38zd",
         class: "content-card--book",
         pre_heading: "Medium",
         heading: "From Design Vision to Reality in 5 Steps",
         cta: "Read More",
         background_image: "images/components/content_card/five-steps.png"
         
       }) }}
       {{ components.content_card({
         href: "http://conferences.oreilly.com/design/ux-interaction-iot-us/public/schedule/detail/45380",
         class: "content-card--event",
         pre_heading: "Workshop",
         date: "Wednesday January 20",
         heading: "Crafting the Discovery Phase",
         copy: "How to put research in context and set direction for your product",
         cta: "Register"
       }) }}
       {{ components.content_card({
         href: "https://www.oreilly.com/ideas/dan-brown-on-mindsets-managing-designers-and-mastering-impostor-syndrome",
         pre_heading: "Podcast",
         heading: "O’Reilly Radar",
         copy: "Dan talks about the most important skills for designers",
         cta: "Read More"
       }) }}
     </div>
    </div>
  </div>
  
  <!-- Page CTA -->
  {{ components.page_cta({header:'Ready?', lead: 'Does your product need a vision? Does your UX need a concept? Does your team need design direction?'}) }}

  <!-- Footer -->
  {{ components.footer() }}

{% endblock %}
