{% extends 'default.layout.html' %}

{% block content %}


  <!-- Header -->
  <div class="container-fluid background-charcoal">
    <div class="system-introduction">
      <h1>Design Systems</h1>
      <h2>Parts and people serving a portfolio of products, making your teams more efficient and experiences more cohesive.</h2>
      <p class="lead">It’s not just a style guide. Today's enterprises invest in systems so teams can sustain innovative, beautiful products together. <a href="mailto:nathan@eightshapes.com">EightShapes can guide you there</a>.</p>
    </div>
  </div>
 
  <!-- Components Book -->
  <div class="container-half-fluid mwd-quote">
    <div class="half-photo"></div>
    <div class="half-text">
      <h2>It’s components time.</h2>
      <p>Designers and devs now modularize their work. They deliver systems as living, coded style guides. Everyone’s thinking atomic.</p>
      <p>We've been designing in components, sustaining libraries for our clients, and sharing what we know with 2009’s <a href="www.amazon.com/Modular-Web-Design-Components-Documentation/dp/0321601351">Modular Web Design</a> book and workshops worldwide for 10+ years.</p>
    </div>
  </div>

  <!-- What We Do -->
  <div class="container-fluid xups background-gray">
    <div class="container-fluid-inner">
      <h2>What We Do</h2>
      <div class="ups__systems-what-we-do">
        <div class="up-container">
          <div class="up">
            <h3>Discovery &amp; Planning</h3>
            <p>Partner with EightShapes to assess your landscape, plan your formative period, and start on your parts, products, and people.</p>
          </div>
        </div>
        <div class="up-container">
          <div class="up">
            <h3>Design &amp; Builds</h3>
            <p>Hire us to build the library with your or for you as a project, and even maintain it as a managed product over months or years. </p>
          </div>
        </div>
        <div class="up-container">
          <div class="up">
            <h3>Coaching</h3>
            <p>Ask hard questions. Share your ideas. Present the plan. Get straight advice to make changes that matter with 1-on-1 and small team coaching.</p>
          </div>
        </div>
        <div class="up-container">
          <div class="up">
            <h3>Talks &amp; Workshops</h3>
            <p>Kickstart efforts, expose the benefits, and spur discussion in your org with prepared talks and customized workshops.</p>
          </div>
        </div>
        </ul>
      </div>
    </div>
  </div>

  <!-- Workshops -->
  <div class="container-fluid workshops-display">
    <div class="container-fluid-inner">
      <h2>Workshops</h2>
      <p class="lead">EightShapes presents to in-house teams often. While each can be presented as-is, we can customize material and activities so your group can get the most out of the events.</p>
      <div class="workshops">
        <div class="workshop-item-container">
          <div class="workshop-item">
            <h3>Intro to Design Systems</h3>
            <p>Learn basic concepts and activities to start, spread and sustain a system for a single product or a large enterprise.</p>
            <p class="duration">From 1 hr to full day</p>
          </div>
        </div>
        <div class="workshop-item-container">
          <div class="workshop-item">
            <h3>Modular Web Design</h3>
            <p>Learn how to design modularly and organize libraries of components and page types via hands-on activities.</p>
            <p class="duration">Up to ½ day</p>
          </div>
        </div>
        <div class="workshop-item-container">
          <div class="workshop-item">
            <h3>Designing Living Guides</h3>
            <p>Plan, architect, and design effective web-based style guides for code, patterns, and custom topics.</p>
            <p class="duration">Up to ½ day</p>
          </div>
        </div>
        <div class="workshop-item-container">
          <div class="workshop-item">
            <h3>Sustaining Design Systems</h3>
            <p>Transition to sustaining your system for the long haul via roadmapping, a backlog, and aligning with product teams.</p>
            <p class="duration">Up to ½ day</p>
          </div>
        </div>
        <div class="workshop-item-container">
          <div class="workshop-item">
            <h3>Component Cut Up</h3>
            <p>Dive into an immersive activity to visualize, slice up, group, label and prioritize your components.</p>
            <p class="duration">Up to ½ day</p>
          </div>
        </div>
        <div class="workshop-item-container">
          <div class="workshop-item">
            <h3>From Govern to Share</h3>
            <p>Shift your culture away from oversight towards sharing of, participation in, &amp; contribution to a system.</p>
            <p class="duration">¼ day</p>
          </div>
        </div>
      </div>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
