{% extends 'default.layout.html' %}

{% block content %}


  <!-- Header -->
  <div class="container-fluid background-charcoal">
    <div class="system-introduction">
      <h1>Design Systems</h1>
      <h2>Parts and people serving a portfolio of products, making your teams more efficient and experiences more cohesive.</h2>
      <p class="lead">It’s not just a style guide. Today's enterprises invest in systems so teams can sustain innovative, beautiful products together. <a href="mailto:nathan@eightshapes.com">EightShapes can guide you</a>.</p>
    </div>
  </div>
 
  <!-- Components Book -->
  <div class="container-half-fluid mwd-quote">
    <div class="half-photo"></div>
    <div class="half-text">
      <h2>It’s components time.</h2>
      <p>Designers and devs now modularize their work. They deliver systems as living, coded style guides. Everyone’s thinking atomic.</p>
      <p>We've spent over 10 years designing in components, sustaining libraries for our clients, and sharing what we know with 2009’s <a href="www.amazon.com/Modular-Web-Design-Components-Documentation/dp/0321601351">Modular Web Design</a> book and workshops worldwide.</p>
    </div>
  </div>

  <!-- What We Do -->
  <div class="container-fluid xups background-gray">
    <div class="container-fluid-inner">
      <h2>What We Do</h2>
      <div class="ups__systems-what-we-do">
        <div class="up-container">
          <div class="up">
            <h3>Discover &amp; Plan</h3>
            <p>We can assess opportunities, catalog your library, plan a formative period, and pair with you on the parts, products, and people.</p>
            <p class="duration">2–4 weeks</p>
          </div>
        </div>
        <div class="up-container">
          <div class="up">
            <h3>Design &amp; Build</h3>
            <p>Hire us to make the library with your or for you, from designing components &amp; page concepts to building the living style guide.</p>
            <p class="duration">2–3 months</p>
          </div>
        </div>
        <div class="up-container">
          <div class="up">
            <h3>Workshop</h3>
            <p>Kickoff efforts, deepen understanding, sell the ideas, and leap forward internally via prepared talks and custom workshops.</p>
            <p class="duration">1–5 days</p>
          </div>
        </div>
        <div class="up-container">
          <div class="up">
            <h3>Coach</h3>
            <p>Ask hard questions. Share your ideas. Get straight advice to make changes that matter whether 1-on-1 or with a small team.</p>
            <p class="duration">10 hr blocks</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Workshops -->
  <div class="container-fluid workshops-display">
    <div class="container-fluid-inner">
      <h2>Workshops</h2>
      <p class="lead">We present at conferences and to in-house teams, whether out-of-the-box or with tailored material and activities so your group can get the most out of the event.</p>
      <div class="workshops">
        <div class="workshop-item-container">
          <div class="workshop-item">
            <h3>Intro to Design Systems</h3>
            <p>Learn basic concepts and activities to start, spread and sustain a system for a single product or a large enterprise.</p>
            <p class="duration">From 1 hr to full day</p>
          </div>
        </div>
        <div class="workshop-item-container">
          <div class="workshop-item">
            <h3>Modular Web Design</h3>
            <p>Design modularly, organize a library, and code up components and page types via hands-on activities.</p>
            <p class="duration">Up to full day</p>
          </div>
        </div>
        <div class="workshop-item-container">
          <div class="workshop-item">
            <h3>Designing Living Guides</h3>
            <p>Plan, architect, and design effective web-based style guides for code, patterns, and custom topics.</p>
            <p class="duration">Up to ½ day</p>
          </div>
        </div>
        <div class="workshop-item-container">
          <div class="workshop-item">
            <h3>Sustaining Design Systems</h3>
            <p>Transition a system from project to product via roadmapping, a backlog, and aligning with product teams.</p>
            <p class="duration">Up to ½ day</p>
          </div>
        </div>
        <div class="workshop-item-container">
          <div class="workshop-item">
            <h3>Component Cut Up</h3>
            <p>Dive into an immersive activity to visualize, slice up, group, label and prioritize your components.</p>
            <p class="duration">Up to ½ day</p>
          </div>
        </div>
        <div class="workshop-item-container">
          <div class="workshop-item">
            <h3><span class="strikethrough">Governing</span> Sharing</h3>
            <p>Shift your culture away from oversight towards sharing of, participation in, &amp; contribution to a system.</p>
            <p class="duration">¼ day</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Contributions -->
  <div class="container-fluid">
    <div class="container-fluid-inner">
      <h2 class="homepage__heading">Contributions</h2>
      <p class="lead homepage__lead">
        EightShapes has a leading voice in the design systems domain and strongly values contributing to the field, whether by books, a documentation templating system and a prototyping framework, not to mention countless workshops, webinars and articles.
      </p>
      <div class="row content-card-wrap">
        {{ components.content_card_double({
          href: "https://medium.com/eightshapes-llc/team-models-for-scaling-a-design-system-2cf9d03be6a0#.ajm21o3f1",
          pre_heading: "Medium",
          heading: "Team Models for Scaling a Design System",
          background_image: "images/components/content_card/medium_castle.jpg"
        }) }}
        {{ components.content_card({
          href: "https://www.ux-lx.com/speakers/nathan_curtis.html",
          class: "content-card--event",
          pre_heading: "Conference",
          date: "May 25, 2016, Lisbon, Portugal",
          heading: "Scalable Design Systems Workshop",
          cta: "Register"
        }) }}
        {{ components.content_card({
          href: "http://www.amazon.com/Modular-Web-Design-Components-Documentation/dp/0321601351",
          class: "content-card--book",
          pre_heading: "Nathan Curtis",
          heading: "Modular Web Design",
          copy: "Creating Reusable Components for User Experience Design and Documentation",
          background_image: "images/components/content_card/modular_web_design.jpg"
        }) }}
        {{ components.content_card({
          href: "http://www.amazon.com/Communicating-Design-Developing-Documentation-Planning/dp/0321712463",
          class: "content-card--book",
          pre_heading: "Dan Brown",
          heading: "Communicating Design",
          copy: "Developing Website Documentation for Design and Planning",
          background_image: "images/components/content_card/communicating_design.jpg"
        }) }}
        {{ components.content_card({
          href: "https://medium.com/eightshapes-llc/behind-the-wheel-with-product-and-ux-287dba3e6d64#.hzx8jmnbq",
          pre_heading: "Medium",
          heading: "Behind The Wheel",
          copy: "My kids aren’t yet old enough to learn to drive. But I picture myself in the passenger seat, years from now, and imagine what it feels like to teach them. I’m sure it’s terrifying, but that’s not what I mean.",
          cta: "Read More"
        }) }}
        {{ components.content_card({
          href: "http://www.amazon.com/Designing-Together-collaboration-management-professionals/dp/0321918630",
          class: "content-card--book",
          pre_heading: "Dan Brown",
          heading: "Designing Together",
          copy: "The Collaboration and Conflict Management Handbook for Creative Professionals",
          background_image: "images/components/content_card/designing_together.jpg"
        }) }}
        {{ components.content_card({
          href: "https://medium.com/eightshapes-llc/the-component-cut-up-workshop-1378ae110517#.5ibx9rqm8",
          pre_heading: "Medium",
          heading: "The Component Cut-Up Workshop",
          copy: "Nothing beats the energy of getting a team together to deconstruct an existing design system and arrive at a component library together.",
          cta: "Read More"
        }) }}
      </div>
    </div>
  </div>  

  <!-- Get Started -->
  {{ components.page_cta() }}

  <!-- Footer -->
  {{ components.footer() }}

{% endblock %}
