{% extends 'default.layout.html' %}

{% block content %}

  <h1>Design Systemss</h1>

  <!-- Header -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <h2>All the parts and people serving a portfolio of products – make teams more efficient and experiences more cohesive. </h2>
        <p>It’s not just a style guide. Instead, modern enterprises invest in tools and practices so teams can make innovative, beautiful products together. <a href="mailto:nathan@eightshapes.com">EightShapes can guide you there</a>.</p>
      </div>
    </div>
  </div>
 
  <!-- Components Book -->
  <div class="container-half-fluid">
    <div class="photo"><img src="" alt=""></div>
    <div class="half-text">
      <h2>Design’s future is modular. It’s always been components.</h2>
      <p>Designers code more and are delivering their work as a toolkit of interdependent parts. Thinking modularly is now a key trait for today’s high performing teams. Everyone’s thinking atomic.</p>
      <p>EightShapes has been thinking in @components for years, helping clients start and sustain component libraries for nearly 10 years and sharing the practices with 2009’s Modular Web Design.</p>
    </div>
  </div>

  <!-- What We Do -->
  <div class="container what-we-do">
    <h2>What We Do</h2>
    <div class="3up">
      <ul>
        <li>
          <h4>Coaching</h4>
          <p>Ask hard questions. Share your ideas. Present the plan. Get straight advice to make changes that matter with 1-on-1 and small team coaching.</p>
        </li>
        <li>
          <h4>Talks &amp; Workshops</h4>
          <p>Expose the benefits and spur discussions in your organization to kickstart your efforts with prepared talks and customized workshops.</p>
        </li>
        <li>
          <h4>System Discovery</h4>
          <p>Partner with EightShapes to start and spread your system. We’ll guide you through your formative period so that you can maintain it yourself.</p>
        </li>
        <li>
          <h4>System Build</h4>
          <p>Hire us to build the library with your or for you as a project, and even maintain it as a managed product over months or years. </p>
        </li>
      </ul>
    </div>
  </div>

  <!-- Workshops -->
  

{% endblock %}
