$escom-pull-quote-tail-size: 30px;

.escom-pull-quote {
    margin: 0 auto;
    max-width: $esds-font-line-length-long-form;
}

.escom-pull-quote__the-quote {
    @include esds-body-text-l();
    background-color: $esds-background-color-white;
    border-radius: $esds-border-radius-default;
    margin: $esds-space-stack-2-x;
    padding: $esds-space-inset-2-x;
    position: relative;

    &:after {
        background-color: $esds-background-color-white;
        content: '';
        display: block;
        height: $escom-pull-quote-tail-size;
        left: $esds-border-radius-default * 3;
        position: absolute;
        top: calc(100% - #{($escom-pull-quote-tail-size / 2) + 1px});
        transform: rotate(45deg);
        width: $escom-pull-quote-tail-size;
    }

    .escom-pull-quote--light & {
        background-color: $esds-background-color-light;

        &:after {
            background-color: $esds-background-color-light;
        }
    }
}

.escom-pull-quote__source,
.escom-pull-quote__attribution {
    @include esds-body-text-s();
    @include esds-text-color($type: 'secondary');
    margin: $esds-space-stack-2-x;

    .escom-pull-quote--stacked & {
        margin: 0 auto $esds-space-generic-2-x;
    }
}

.escom-pull-quote__source a,
.escom-pull-quote__attribution a {
    @include esds-link();
}
