.escom-dark-header {

    @media screen and (min-width: $escom-breakpoints-width-768) {
        padding-top: 100px;
    }
}

.escom-dark-header__inner {
    text-align: center;
}

.escom-dark-header__icon {
    fill: $esds-color-white;
    height: 30px;
    margin: $esds-space-stack-2-x;
    width: 200px;

    @media screen and (min-width: $escom-breakpoints-width-768) {
        height: 40px;
    }
}

.escom-dark-header__heading {
    @include esds-level-1-heading();
    @include esds-text-crop();
    margin: $esds-space-stack-2-x;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: $escom-breakpoints-width-768) {
        margin: $esds-space-stack-4-x;
    }
}

.escom-dark-header__deck {
    @include esds-body-text-l();
    @include esds-text-crop();
    margin: $esds-space-stack-2-x;
    text-align: left;

    &:last-child {
        margin: 0;
    }

    a {
        color: $esds-color-orange-91;
        text-decoration: none;

        &:hover {
            color: $esds-color-orange-82;
            text-decoration: underline;
        }
    }
}
