{% macro dark_header(
    class=false,
    heading="Dark Header Heading",
    deck=false
) %}
    <div class="escom-dark-header esds-row esds-row--tall-inset esds-row--narrow-inner esds-container--dark{{ ' ' + class if class }}">
        <div class="esds-row__inner escom-dark-header__inner">
            {{ esds.icon(name="eightshapes-logo", class="escom-dark-header__icon") }}
            <h1 class="escom-dark-header__heading">{{heading}}</h1>
            {% if deck %}
            <p class="escom-dark-header__deck">{{ deck }}</p>
            {% endif %}
        </div>
    </div>
{% endmacro %}
