{% set title_tag = "EightShapes > Systems > Assessment" %}
{% set body_classes = "escom-page-type--marketing" %}
{% extends 'templates/base.njk' %}
{% block body %}

    {# Breadcrumb #}

    {{ esds.breadcrumb(section_href="/design-systems.html", section="Design Systems") }}

    {# Title #}

    {{ escom.title_row(
        class="esds-row--very-tall-inset",
        logo=false, 
        heading="Design System<br/>Assessments",
        decks=[
            "Could your system use a health check? EightShapes can assess your system using proven heuristics to identify your program's most critical challenges and a path forward."
        ]) }}

    {# Why #}

    {% call esds.row(background="light", class="esds-row--tall-inset") %}
        <div class="escom-long-form-text">
            <h2>Why an Assessment with EightShapes?</h2>
            <p class="escom-long-form-text__lead">
                Every design system can function better, offer more refined features, and improve how it works. EightShapes' experience with over 30 design systems offers nuance and sensitivity for the cost and benefit of choices you'll face. 
            </p>
            <div class="escom-long-form-text--two-column-at-768">
                <ul>
                    <li>Learn what's working and not working</li>
                    <li>Celebrate areas of high performance</li>
                    <li>Identify critical challenges ahead</li>
                    <li>Understand areas needing improvement</li>
                </ul>
                <ul>
                    <li>Trigger discussions of team and community</li>
                    <li>Improve operational efficiency</li>
                    <li>Fill gaps that improve quality</li>
                    <li>Foster alignment on next steps</li>
                </ul>
            </div>
        </div>
        {{
            escom.pull_quote(
                quote = "Was it worth it? Absolutely without question. It wasn't specific to one skill.  Instead, it spanned <strong>design, dev, QA, IA, doc</strong>. I don't care how many Medium articles we'd read. There's just a ton you know, and we got to pick your brain.",
                attribution = "Ryan Beaulieu, System Lead Developer, Fidelity"
            )
        }}
    {% endcall %}

    {# What You Get #}

    {% call esds.row(background="white", class="esds-row--tall-inset") %}
        <div class="escom-long-form-text">
            <h2>What You Get</h2>
            <p class="escom-long-form-text__lead">
                Combine outputs you refer to for months with outcomes you benefit from for years.
            </p>
        </div>
        {{ esds.tiles(
            container = "light",
            items = [
                {
                    heading: "Report Presentation",
                    description: "You'll receive a 70 to 100 slide presentation report that summarizes heuristic results and threads findings and recommendations through success and challenge themes."
                },
                {
                    heading: "Coaching Sessions (4)",
                    description: "We'll convene for up to four hour-long coaching sessions. You bring the topic—emerging work, established  solution, or process— and Nathan and other teammates critique."
                },
                {
                    heading: "Assessment Data",
                    description: "You'll receive raw interview notes and in-depth data per heuristic for performance, urgency (by Nathan and your team), themes, findings, and recommendations."
                }
            ]
        ) }}
        <div class="escom-long-form-text">
            <p>
                <strong>Interested in a workshop?</strong> Many clients pair an assessment with an <a href="workshops.html">onsite workshop</a> to present the report, dive deep on important topics, and engage a systems community in hands-on activities.
            </p>
            <p>
                The report and additional workshop materials integrate client stories, including heuristics with dissonant scores, quotes, recommendations, and other valuable content. Additionally, hands-on exercises integrate themed recommendations, such as card sorts and dot voting of potential next steps.
            </p>
        </div>
        <ul class="escom-image-grid escom-image-grid--two-column">
            <li class="escom-image-grid__item">
                <img src="/images/systems/assessment/HeuristicsBySubcategory.png" alt="Heuristics by Subcategory" class="escom-image-grid__image">
                <caption class="escom-image-grid__caption">Heuristic performance, by subcategory</caption>
            </li>
            <li class="escom-image-grid__item">
                <img src="/images/systems/assessment/HeuristicDisagreement.png" alt="Heuristic Disagreement" class="escom-image-grid__image">
                <caption class="escom-image-grid__caption">Heuristic disagreement across team members</caption>
            </li>
            <li class="escom-image-grid__item">
                <img src="/images/systems/assessment/Quote.png" alt="Quote" class="escom-image-grid__image">
                <caption class="escom-image-grid__caption">Quotes debunking myths and assumptions</caption>
            </li>
            <li class="escom-image-grid__item">
                <img src="/images/systems/assessment/Data.png" alt="Data" class="escom-image-grid__image">
                <caption class="escom-image-grid__caption">Raw data by heuristic, including performance, findings and recommendations</caption>
            </li>
        </ul>
    {% endcall %}

    {# How It Works #}

    {% call esds.row(background_only="light", class="esds-row--tall-inset") %}
        <div class="escom-long-form-text">
            <h2>How It Works</h2>
            <p class="escom-long-form-text__lead">
                Over six weeks or so, EightShapes will get to know your team, inspect your system, and present a detailed report in three phases:
            </p>
        </div>
        {{ esds.tiles(
            container = "white",
            items = [
                {
                    heading: "#1. Discover",
                    description: "Embed with the team to interview stakeholders, observe rituals, tour products, and gather system outputs."
                },
                {
                    heading: "#2. Analyze",
                    description: "Apply and score heuristics, generate findings and recommendations, and score for performance and urgency."
                },
                {
                    heading: "#3. Report",
                    description: "Distill strengths and challenges at either an onsite workshop day or up to two remote presentations."
                }
            ]
        ) }}
        <div class="escom-long-form-text">
            <p>
                Throughout, we'll seek to connect fluidly with your team, integrating in activities as appropriate to get a true sense of how things work. Ideally, we observe rituals like grooming, planning, critique, and showcasing work in reviews. Additionally, we'll take advantage of opportunities to discuss practices so that the assessment isn't in a black box revealed at project's end.
            </p>
        </div>
        {{
            escom.pull_quote(
                quote = 'You were less a removed dictator, more <strong>a sixth team member</strong>. Your insights helped us avoid costs and risks in our path. Even without deep knowledge of our company, you saw common mistakes that helped us learn.',
                attribution = '<a href="https://www.linkedin.com/in/gregpepin/">Greg Pepin</a>, Design System Lead, Fidelity'
            )
        }}
    {% endcall %}

    {# About the Heuristics #}

    {% call esds.row(background="dark", class="esds-row--tall-inset") %}
        <div class="escom-long-form-text">
            <h2>About the Heuristics</h2>
            <p class="escom-long-form-text__lead">
                The assessment is framed by <span class="escom-heuristics--highlight">~150</span> heuristics established over three years of design system consulting.
            </p>
            <p class="escom-long-form-text__lead">
                For example, "The organization recognizes the system as a long-term, portfolio or enterprise-level investment" is a heuristic in the <strong>Strategy</strong> &gt; <strong>Vision</strong> subcategory. Similarly, "The system offers well-defined color palettes primary, secondary, error and interactive text and supports special cases." is a heuristic in the <strong>Features</strong> &gt; <strong>Visual Language</strong> subcategory.
            </p>
            <p class="escom-heuristics__heuristic escom-long-form-text__lead">
               <strong>Strategy</strong> {{ esds.icon(name="crumb", class="escom-heuristics__crumb-icon", name="angle-right") }} 
               <strong>Vision</strong> {{ esds.icon(name="crumb", class="escom-heuristics__crumb-icon", name="angle-right" ) }}
                <br/>
               The organization recognizes the system as a long-term, portfolio or enterprise-level investment
            </p>
            <p>
                Heuristics cover many system considerations across six categories:
            </p>
            <div class="escom-long-form-text--two-column-at-768">
                <ul>
                    <li><strong>Strategy</strong>: Adoption, Alignment, Vision</li>
                    <li><strong>(Design) Features</strong>: Visual Style, Components, UX Patterns, Editorial, Tokens, Design Assets, Naming</li>
                    <li><strong>People</strong>: Core Team, Community</li>
                </ul>
                <ul>
                    <li><strong>Code</strong>: HTML, CSS, JS, Practices</li>
                    <li><strong>Doc</strong>: Components, Code Reference, System Site Architecture, Guidelines, Authoring</li>
                    <li><strong>Process</strong>: Communication, Contribution, Management, Onboarding, Releases</li>
                </ul>
            </div>
            <p>By assessing many systems, clients appreciate not just a look into their own performance, but also how they stack up against other industry leaders.</p>
        </div>

    {% endcall %}

    {# CTA #}

    {{ escom.cta(
        heading="Let's Get Started!", 
        deck="We’re ready to energize your design system efforts, whether you’re just getting started or rebooting to 2.0. Are you ready?", 
        button_text="Email Us",
        button_href="mailto:nathan@eightshapes.com"
    ) }}

{% endblock body %}
