{% set title_tag = "EightShapes > Systems > Assessment" %}
{% set body_classes = "escom-page-type--marketing" %}
{% extends 'templates/base.njk' %}
{% block body %}

    {# Breadcrumb #}

    {{ esds.breadcrumb(section_href="/design-systems.html", section="Design Systems") }}

    {# Title #}

    {{ escom.title_row(
        class="esds-row--very-tall-inset",
        logo=false, 
        heading="Design System<br/>Assessments",
        decks=[
            "Interested in checking the health of your design system? We’ll assess your system using proven heuristics to identify the most important challenges you face going forward."
        ]) }}

    {# Why #}

    {% call esds.row(background="light", class="esds-row--tall-inset") %}
        <div class="escom-long-form-text">
            <h2>Why an Assessment with EightShapes?</h2>
            <p class="escom-long-form-text__lead">
                Every design system can function better, offer more refined features, and improve how it works. EightShapes' experience with over design systems offers a nuanced view and sensitivity for the cost and benefit of choices you'll face. 
            </p>
            <div class="escom-long-form-text--two-column-at-768">
                <ul>
                    <li>Learn what's working and not working</li>
                    <li>Celebrate areas of high performance</li>
                    <li>Name and prioritize challenges ahead</li>
                    <li>Understand topics needing improvement</li>
                </ul>
                <ul>
                    <li>Trigger discussions of team and community</li>
                    <li>Increase operational efficiencies</li>
                    <li>Fill gaps that improve quality</li>
                    <li>Foster alignment on next steps</li>
                </ul>
            </div>
        </div>
        <div class="escom-pull-quote">
            <div class="escom-pull-quote__the-quote">
                You less a dictator, more of a sixth member of the team. Your insights helped us avoid costs and risks in our path. Even without the knowledge of our company, you saw common mistakes that helped us learn.
            </div>
            <div class="escom-pull-quote__attribution">
                <a href="https://www.linkedin.com/in/gregpepin/">Greg Pepin</a>, Design System Lead, Fidelity
            </div>
        </div>
    {% endcall %}

    {# What You Get #}

    {% call esds.row(background="white", class="esds-row--tall-inset") %}
        <div class="escom-long-form-text">
            <h2>What You Get</h2>
            <p class="escom-long-form-text__lead">
                Combine outputs you refer to for months with outcomes you benefit from for years.
            </p>
        </div>
        {{ esds.tiles(
            container = "light",
            class= "esds-tiles--secondary esds-tiles--2-column",
            items = [
                {
                    heading: "Assessment Report",
                    description: "You'll receive a 70 to 100 slide presentation report that summarizes heuristic results and threads findings and recommendations through success and challenge themes."
                },
                {
                    heading: "Assessment Data",
                    description: "You'll receive raw interview notes and in-depth heuristics scored for performance, urgency (by Nathan and your team), findings, recommendations, and theme categories."
                }
            ]
        ) }}
        {{ esds.tiles(
            container = "light",
            class= "esds-tiles--secondary esds-tiles--2-column",
            items = [
                {
                    heading: "Coaching Critiques",
                    description: "We'll convene for up to four hour-long coaching sessions. You bring the topic—emerging work, established  solution, or process— and Nathan and other teammates critique."
                },
                {
                    heading: "Workshop (Optional)",
                    description: 'When relevant, you can conclude an assessment with an <a href="workshops.html">onsite workshop</a> to present the report, dive deep on important topics, and engage your community in hands-on activities.'
                }
            ]
        ) }}
    {% endcall %}

    {# CTA #}

    {{ escom.cta(
        heading="Let's Get Started!", 
        deck="We’re ready to energize your design system efforts, whether you’re just getting started or rebooting to 2.0. Are you ready?", 
        button_text="Email Us"
    ) }}

{% endblock body %}
