{% set title_tag = "EightShapes > Systems > Workshops" %}
{% set body_classes = "escom-page-type--marketing" %}
{% extends 'templates/base.njk' %}
{% block body %}

    {# Breadcrumb #}

    {{ esds.breadcrumb(section_href="/design-systems.html", section="Design Systems") }}

    {# Title #}

    {{ escom.title_row(
        class="esds-row--very-tall-inset",
        background_image="/images/systems/workshops-hero.png",
        logo=false, 
        heading="Scalable Design Systems Workshop",
        decks=[
            "Looking to start or invigorate a design system? We’ll workshop with your team(s) to teach principles and methods so that you get the most out of your system."
        ]) }}

    {# Why #}

    {% call esds.row(background="light", class="esds-row--tall-inset") %}
        <div class="escom-long-form-text">
            <h2>Why EightShapes for a Workshop?</h2>
            <p class="escom-long-form-text__lead">
                EightShapes’ experience and enthusiasm will inspire and challenge your teams. Sessions will engage participants in hands-on activities, spark new ideas and moderate challenging conversations so your team can:
            </p>
            <div class="escom-long-form-text--two-column-at-768">
                <ul>
                    <li>Learn about design systems</li>
                    <li>Kickoff or energize a program</li>
                    <li>Define a system and what it offers</li>
                    <li>Dive into topics like color and space</li>
                </ul>
                <ul>
                    <li>Name a team &amp; energize a community</li>
                    <li>Decide how contributions flow in</li>
                    <li>Plan how other teams adopt over time</li>
                    <li>Identify measurable outcomes</li>
                </ul>
            </div>
        </div>
        <div class="escom-pull-quote">
            <div class="escom-pull-quote__the-quote">
                Even as an experienced design systems pro, I picked up <strong>new techniques and concepts</strong> that I never knew about. Listening to Nathan and discussions as a class helped me get some perspective on issues I was facing at work.
            </div>
            <div class="escom-pull-quote__source">
                 <a href="https://publication.design.systems/what-i-learned-about-leading-a-design-system-in-2017-46b85e9d7eab">"What I learned about leading a design system in 2017"</a>
            </div>
            <div class="escom-pull-quote__attribution">
                <a href="https://medium.com/@jeffcrossman">Jeff Crossman</a>, Design System Lead, JPMorgan Chase & Co.
            </div>
        </div>
    {% endcall %}

    {# What We Cover #}

    {% call esds.row(background="white", class="esds-row--tall-inset") %}
        <div class="escom-long-form-text">
            <h2>What We Cover</h2>
            <p class="escom-long-form-text__lead">
                During one or two days together, we’ll combine lecture and hands-on activities. If the default agenda suits your needs, excellent! Otherwise, we’ll customize an agenda of topics and hands-on activities to suit your needs.
            </p>
        </div>

            {{ escom.tabs(tabs=[
                    {
                        label: 'Default Agenda',
                        content: tab_standard_agenda,
                        active: true
                    },
                    {
                        label: 'Custom Agendas',
                        content: tab_custom_agenda
                    },
                    {
                        label: 'Available Topics',
                        content: tab_available_topics
                    }
                ]) }}

            {% call escom.tab_pane(label='Standard Agenda', active=true) %}
                <div class="escom-long-form-text">
                    <p>
                        For public venues and organizations learning fundamentals, we’ll follow this standard agenda:
                    </p>
                </div>
                {{ escom.timeline(
                    items = [
                        {
                            time: "8:30AM",
                            heading: "Arrival"
                        },
                        {
                            time: "9:00AM - 10:45AM",
                            heading: "Plan",
                            content_right: [
                                esds.list(
                                    items = [
                                        {
                                            title: "Welcome & Agenda"
                                        },
                                        {
                                            title: "Defining Design Systems",
                                            href: "http://bit.ly/8s-define-design-systems",
                                            pill: "Activity",
                                            description: "What should our system be?"
                                        },
                                        {
                                            title: "Starting a Design System",
                                            href: "8s-starting-a-system",
                                            description: "How do we get to an initial release and go from there?"
                                        },
                                        {
                                            title: "Designing a Systems Team",
                                            href: "http://bit.ly/8s-designing-systems-team",
                                            pill: "Activity",
                                            description: "Who are right people to make the system?"
                                        }
                                    ]
                                )
                            ]
                        },
                        {
                            time: "11:00AM – 12:30pm",
                            heading: "Design & Build",
                            content_right: [
                                esds.list(
                                    items = [
                                        {
                                            title: "Tokens",
                                            href: "http://bit.ly/8s-tokens-in-design-systems",
                                            description: "How do we share a visual langauge across products and platforms?"
                                        },
                                        {
                                            title: "Color",
                                            href: "http://bit.ly/8s-color-in-design-systems",
                                            description: "How do we offer an accessible, flexible, and themable color system?"
                                        },
                                        {
                                            title: "Inventories and Scoping",
                                            href: "http://bit.ly/8s-component-cut-up",
                                            pill: "Activity",
                                            description: "What UI components does our system need?"
                                        },
                                        {
                                            title: "Buttons",
                                            href: "http://bit.ly/8s-buttons-in-design-systems",
                                            description: "How do we design for myriad variation, states, and more?"
                                        },
                                        {
                                            title: "Component Quality",
                                            href: "http://bit.ly/8s-component-quality",
                                            description: "How do others trust that our library is built with quality?"
                                        }
                                    ]
                                )
                            ]
                        },
                        {
                            time: "12:30pm – 1:30pm",
                            heading: "Lunch"
                        },
                        {
                            time: "1:30pm – 3:00pm",
                            heading: "Documenting",
                            content_right: [
                                esds.list(
                                    items = [
                                        {
                                            title: "Cards & Composibility",
                                            href: "http://bit.ly/8s-cards-composability",
                                            description: "How do we decompose style, structure, and behavior?"
                                        },
                                        {
                                            title: "Documenting Components",
                                            href: "http://bit.ly/8s-documenting-components",
                                            description: "Who is it for and what content do they need?"
                                        },
                                        {
                                            title: "Component Examples",
                                            href: "http://bit.ly/8s-component-examples",
                                            pill: "Activity",
                                            description: "How do we select and arrange examples across all features?"
                                        },
                                        {
                                            title: "Design Guidelines",
                                            href: "http://bit.ly/8s-component-design-guidelines",
                                            pill: "Activity",
                                            description: "How do guide style, behavior, editorial, accessibility and use?"
                                        },
                                        {
                                            title: "Editing Component Documentation",
                                            pill: "Activity",
                                            description: "How do we write and iterate high-quality doc?"
                                        }
                                    ]
                                )
                            ]
                        },
                        {
                            time: "3:30PM – 5:00pm",
                            heading: "Practicing",
                            content_right: [
                                esds.list(
                                    items = [
                                        {
                                            title: "Adopting Design Systems",
                                            href: "http://bit.ly/8s-adopting-systems",
                                            description: "Who uses our system and how do we monitor their progress?"
                                        },
                                        {
                                            title: "How Do I...? Processes",
                                            href: "http://bit.ly/8s-system-practice-cards",
                                            pill: "Activity",
                                            description: "What workflows are needed for the team, users, and contributors?"
                                        },
                                        {
                                            title: "Contributing",
                                            href: "http://bit.ly/8s-contributions-to-systems",
                                            description: "How do we know what goes in and what is the process to get it done?"
                                        },
                                        {
                                            title: "Measuring Success",
                                            href: "http://bit.ly/8s-measure-system-success",
                                            pill: "Activity",
                                            description: "What are our objectives, and how do we track if we get there?"
                                        }
                                    ]
                                )
                            ]
                        },
                        {
                            time: "5:00pm",
                            heading: "End of Day"
                        }
                    ]
                ) }}
            {% endcall %}

            {% call escom.tab_pane(label='Custom Agendas') %}
                <div class="escom-long-form-text">
                    <p>
                        Most in-house teams choose to customize their agenda to tailor topics to their  needs. This may result in a workshop lengthened to two days or shortened to a half day.
                    </p>

                    <h3>Example 1: Evening Talk, then Half–Day Workshop</h3>

                    <p>
                        One client paired a sponsored talk for a local meetup with a customized half-day in-house workshop. Their objectives were to align multiple system efforts and better serve system customers and contributors. As a result, they omitted most topics of design, code and documentation.
                    </p>
                </div>
                {{ escom.timeline(
                    items = [
                        {
                            time: "9:30am",
                            heading: "Arrival"
                        },
                        {
                            time: "10:00 – 11:45am",
                            heading: "Planning",
                            content_right: [
                                esds.list(
                                    items = [
                                        {
                                            title: "Defining Design Systems",
                                            href: "http://bit.ly/8s-define-design-systems",
                                            description: "What should our system be?"
                                        },
                                        {
                                            title: "Consolidating Systems",
                                            href: "http://bit.ly/8s-consolidating-systems",
                                            description: "How do we compare and rationalize multiple design systems?"
                                        },
                                        {
                                            title: "Measuring Success",
                                            href: "http://bit.ly/8s-measure-system-success",
                                            pill: "Activity",
                                            description: "What are our objectives, and how do we track if we get there?"
                                        },
                                        {
                                            title: "Tokens",
                                            href: "http://bit.ly/8s-tokens-in-design-systems",
                                            description: "How do we share a visual langauge across products and platforms?"
                                        }
                                    ]
                                )
                            ]
                        },
                        {
                            time: "11:45pm – 12:30pm",
                            heading: "Lunch"
                        },
                        {
                            time: "12:30pm – 2:00pm",
                            heading: "Practicing",
                            content_right: [
                                esds.list(
                                    items = [
                                        {
                                            title: "Designing a Systems Team",
                                            href: "http://bit.ly/8s-designing-systems-team",
                                            description: "How can we form a vocabulary for team members, users, and contributors?"
                                        },
                                        {
                                            title: "How Do I...? Processes",
                                            href: "http://bit.ly/8s-system-practice-cards",
                                            pill: "Activity",
                                            description: "What are the main activities and processes used to operate a systems team?"
                                        },
                                        {
                                            title: "Adopting Design Systems",
                                            href: "http://bit.ly/8s-adopting-systems",
                                            description: "Who uses our system, and how do we monitor their work?"
                                        },
                                        {
                                            title: "Contributing",
                                            href: "http://bit.ly/8s-contributions-to-systems",
                                            description: "How do we know what goes in, and what is the process to get it done?"
                                        }
                                    ]
                                )
                            ]
                        },
                        {
                            time: "2:00pm",
                            heading: "End of Day"
                        }
                    ]
                ) }}
                <div class="escom-long-form-text">
                    <h3>Example 2: Customized Full-Day Workshop</h3>
                    <p>Another client was well experienced but needed deep dives. In particular, they had two systemes: one four-year old, another emerging from other groups.</p>
                    <p>Their workshop customized of existing topics and added new material based on top-level findings. Following planning sessions, stakeholder interviews, and system tours, the workshop's agenda was:</p>
                </div>
                {{ escom.timeline(
                    items = [
                        {
                            time: "8:00am",
                            heading: "Arrival"
                        },
                        {
                            time: "8:30am – 10:00am",
                            heading: "System Definition & Rationalizing Features"
                        },
                        {
                            time: "10:15am – 11:00am",
                            heading: "System Teams, Roles & Community Collaboration"
                        },
                        {
                            time: "11:15am – 12:00pm",
                            heading: "Design: Tokens, Space & Size"
                        },
                        {
                            time: "12:00pm – 1:00pm",
                            heading: "Lunch"
                        },
                        {
                            time: "1:00pm – 2:15pm",
                            heading: "Documenting Component Examples and Guidelines"
                        },
                        {
                            time: "2:30pm – 3:45pm",
                            heading: "Contributions Across Teams, Groups, and Lines of Business"
                        },
                        {
                            time: "4:00pm – 5:00pm",
                            heading: "Measuring Success and Next Steps"
                        },
                        {
                            time: "5:00pm",
                            heading: "End of Day"
                        }
                    ]
                ) }}                
            {% endcall %}

            {% call escom.tab_pane(label='Available Topics') %}
                <div class="escom-long-form-text">
                    <p class="escom-long-form-text__lead">
                        When customizing a workshop, we’ll select topics and activities that fit your needs. Topics already available out-of-the-box include:
                    </p>
                </div>
                <div class="escom-layout escom-layout--two-column">
                    <div class="escom-layout__column escom-long-form-text">
                        <h4>Strategy</h4>
                        <ul>
                            <li>Defining Design Systems</li>
                            <li>Starting a Design System</li>
                            <li>Measuring Success</li>
                            <li>Roadmapping</li>
                            <li>Running a System Planning Cycle</li>
                            <li>UI Inventories</li>
                            <li>Roadshow Presentations</li>
                            <li>Adoption Models and Monitoring</li>
                            <li>Intermediaries</li>
                            <li>Consolidation of Multiple Systems</li>
                        </ul>
                        <h4>Design</h4>
                        <ul>
                            <li>Color</li>
                            <li>Space</li>
                            <li>Size</li>
                            <li>Borders</li>
                            <li>Tokens</li>
                            <li>Buttons</li>
                            <li>Cards</li>
                            <li>Classification</li>
                            <li>UX Patterns</li>
                        </ul>
                    </div>
                    <div class="escom-layout__column escom-long-form-text">
                        <h4>People and Community</h4>
                        <ul>
                            <li>Designing a Systems Team</li>
                            <li>Central and Federated Team Models</li>
                            <li>Design System Leaders and Managers</li>
                            <li>Specialized Segment Leads</li>
                            <li>Contributions</li>
                        </ul>
                        <h4>Process and Workflows</h4>
                        <ul>
                            <li>Identifying Processes and Procedures</li>
                            <li>Designing System Features, Step-by-Step</li>
                            <li>Release Outputs and Cadence</li>
                            <li>Versioning and Breaking Changes</li>
                            <li>Dependencies</li>
                            <li>Assuring Quality</li>
                        </ul>
                        <h4>Documentation</h4>
                        <ul>
                            <li>Documentation Audience & Structure</li>
                            <li>Component Intros</li>
                            <li>Component Examples</li>
                            <li>Component Design Guidelines</li>
                            <li>Component Code Reference</li>
                            <li>Editorial Workflow</li>
                            <li>Components for Documenting Components</li>
                        </ul>
                    </div>
                    <div class="escom-layout__column escom-long-form-text">
                        
                    </div>
                </div>
            {% endcall %}

    {% endcall %}

    {# How We Prepare #}

    {% call esds.row(background="light", class="esds-row--tall-inset") %}
        <div class="escom-long-form-text">
            <h2>Prepping for the Day</h2>
            <p class="escom-long-form-text__lead">
                Once you're signed up, we’ll meet at least three times to plan the event. For workshops requiring customization or additional consulting, we'll add activities as needed — interviews, more tours, etc — so that we can present material most effectively for your audience.
            </p>
        </div>
        {{ esds.tiles(
            container = "white",
            class= "esds-tiles--secondary",
            items = [
                {
                    subheading: "Meeting 1 (60 min)",
                    heading: "Draft Agenda & Logistics",
                    description: "During a first call, we review topics and activities, identify attendees and custom materials, and propose day and time."
                },
                {
                    subheading: "Meeting 2 (90 min)",
                    heading: "System & Product Tours",
                    description: "During a second call, we immerse in your existing system design, code and doc and also tour the products to which it applies."
                },
                {
                    subheading: "Meeting 3 (60 min)",
                    heading: "Finalize Agenda",
                    description: "In the final call, we confirm the day's agenda, any customized materials and discussion prompts, and finalize logistics."
                }
            ]
        ) }}
    {% endcall %}

    {# Who Do You Invite #}

    {% call esds.row(background_image="/images/systems/workshop-participants.png", class="esds-row--tall-inset") %}
        <div class="esds-container--dark-photograph">
            <div class="escom-long-form-text">
                <h2>Who Should You Invite?</h2>
                <p class="escom-long-form-text__lead">The workshop format is suitable for up to 100 participants and covers content relevant to many disciplines beyond just designers and engineers.</p>
                <p></p>
            </div>
        </div>
        {{ esds.tiles(
            class = "esds-tiles--2-column esds-tiles--translucent-white esds-tiles--long-form-max-width",
            container = "white",
            translucent = true,
            items = [
                {
                    heading: "Essential Participants",
                    list: [
                        "Teams making system(s)",
                        "UX and visual designers",
                        "Front-end engineers",
                        "Design and engineering leaders",
                        "Design ops management"
                    ]
                },
                {
                    heading: "Additional Invites",
                    list: [
                        "Product managers",
                        "Accessibility specialists",
                        "Content strategists",
                        "Researchers",
                        "Executive sponsors"
                    ]
                }
            ]
        ) }}
    {% endcall %}

    {# Our Clients #}

    {% call esds.row(background="black", class="esds-row--tall-inset") %}
        <div class="escom-long-form-text">
            <h2>Past Workshop Clients</h2>
            <p class="escom-long-form-text__lead">
                EightShapes has conducted design systems-oriented workshops at public events and for in-house teams across industries since 2007.
            </p>
        </div>
        {{ escom.table(
            class="escom-table--long-form-width",
            headers=[
            {
                key: 'year',
                label: 'Year',
                column_class: 'escom-table__responsive-row-header'
            },
            {
                key: 'in_house_events',
                label: 'Private Events'
            },
            {
                key: 'public_venues',
                label: 'Public Venues'
            }],
            rows=workshops,
            suppress_responsive_headers=['year']
        ) }}
    {% endcall %}

    {# CTA #}

    {{ escom.cta(
        heading="Let's Get Started!", 
        deck="We’re ready to energize your design system efforts, whether you’re just getting started or rebooting to 2.0. Are you ready?", 
        button_text="Email Us"
    ) }}

{% endblock body %}
