{% extends 'templates/base.njk' %}
{% block body %}

    {# Breadcrumb #}

    {{ esds.breadcrumb(href="/design-systems.html", text="Design Systems") }}

    {# Title #}

    {{ escom.title_row(
        class="esds-row--very-very-tall-inset",
        background_image="/images/systems/workshops-hero.png",
        logo=false, 
        heading="System Workshops",
        decks=[
            "Looking to start or reinvigorate a design system? We’ll workshop with your group to teach individuals and align teams pursuing design systems."
        ]) }}

    {# What We Cover #}

    {% call esds.row(background="white", class="esds-row--tall-inset") %}
        <div class="escom-promo-text">
            <h2>What We Cover</h2>
            <p>
                During one or two days together, we’ll combine lecture and hands-on activities. If the standard, out-of-the-box agenda suits your needs, excellent! Otherwise, we’ll tailor topics and hands-on activities to your needs.
            </p>
        </div>

        <div class="escom-tabs">
            <div class="escom-tabs__tabs">
                <div class="escom-tabs__cell">
                    <button class="escom-tabs__button escom-tabs__button--is-active" data-target="tab-standard-agenda">
                        Standard Agenda
                    </button>
                </div>

                <div class="escom-tabs__cell">
                    <button class="escom-tabs__button" data-target="tab-custom-agendas">
                        Custom Agendas
                    </button>
                </div>

                <div class="escom-tabs__cell">
                    <button class="escom-tabs__button" data-target="tab-all-topics-and-activities">
                        All Topics & Activities
                    </button>
                </div>
            </div>

            <div id="tab-standard-agenda" class="escom-tabs__content escom-tabs__content--is-active">
                <div class="escom-promo-text">
                    <p>
                        For public venues and organizations looking for learning fundamentals, we’ll follow a standard agenda that hits all the important topics.
                    </p>
                </div>

                {{ escom.timeline(
                    items = [
                        {
                            time: "8:30AM - 9:00AM",
                            heading: "Arrival & Setup"
                        },
                        {
                            time: "9:00AM - 10:45AM",
                            heading: "Segment 1: Planning a System",
                            list: [
                                "Define your design system, including relationships across systems",
                                "Explore your library’s scope of visual style, UI components and more",
                                "Plan a path from nothing (or a previous version) to launch a new system",
                                "Identify, prioritize and prepare products that’ll adopt the system"
                            ]
                        },
                        {
                            time: "11:00AM – 12:30pm",
                            heading: "Segment 2: Starting a System",
                            list: [
                                "Create a new visual language, from conceptual reference designs to a Sketch sticker sheet",
                                "Discover a UI component inventory by deconstructing existing product experiences",
                                "Organize your library into topics, sections, and assets everyone understands"
                            ]
                        },
                        {
                            time: "12:30pm – 1:30pm",
                            heading: "Lunch (provided by you)"
                        },
                        {
                            time: "1:30pm – 3:00pm",
                            heading: "Segment 3: Making the System",
                            list: [
                                "Form a predictable process for designing, building, and documenting a library",
                                "Deliver on promises of quality and scale via a rigorous system QA practice",
                                "Establish an information architecture strategy for documenting design and code assets",
                                "Design effective component doc, from conventional displays to custom guidance"
                            ]
                        },
                        {
                            time: "3:30pm – 5:00pm",
                            heading: "Segment 4: Practicing Systems",
                            list: [
                                "Form a shared vocabulary for your system’s roles: team members, users, and contributors",
                                "Identify the regular activities and processes to operate a systems team",
                                "Strategize on how to coordinate with and support adopting products",
                                "Build an inclusive and participatory community of contributors and experts"
                            ]
                        }
                    ]
                ) }}
            </div>

            <div id="tab-custom-agendas" class="escom-tabs__content">
                <div class="escom-promo-text">
                    <p>
                        Most in-house teams choose to customize their agenda to tailor topics to their current needs. This may result in a workshop lengthened to two days or shortened a half day (usually paired with a sponsored talk for a larger group).
                    </p>

                    <h3>Example 1: Half Day for Organization with Multiple Systems</h3>

                    <p>
                        In one instance, a company paired an sponsored talk to the local community with a customized half-day in-house workshop. They chose to focus on aligning multiple in-house system efforts around a future strategy along topics covering how to practice systems. As a result, they omitted topics of system design, code and documentation.
                    </p>
                </div>

                {{ escom.timeline(
                    items = [
                        {
                            time: "9:30am – 10:00am",
                            heading: "Arrival & Setup"
                        },
                        {
                            time: "10:00 – 11:45am",
                            heading: "Planning Systems"
                        },
                        {
                            time: "11:45pm – 12:30pm",
                            heading: "Lunch (provided by you)"
                        },
                        {
                            time: "12:30pm – 2:00pm",
                            heading: "Practicing Systems",
                            list: [
                                "Form a shared vocabulary for your system’s roles: team members, users, and contributors",
                                "Identify the regular activities and processes to operate a systems team",
                                "Strategize on how to coordinate with and support adopting products",
                                "Build an inclusive and participatory community of contributors and experts"
                            ]
                        }
                    ]
                ) }}
            </div>

            <div id="tab-all-topics-and-activities" class="escom-tabs__content">
                <div class="escom-long-form-text">
                    <p>
                        When customizing a workshop, we’ll discuss your interests and select a range of topics and activities that fit your needs. Those include:
                    </p>
                </div>
                {{ escom.link_list(
                                    items = [
                                        {
                                            title: "Defining Design Systems",
                                            description: "The Scope, Output, and Participants"
                                        },
                                        {
                                            title: "A Design System isn’t a Project. It’s a Product, Serving Products",
                                            href: "#",
                                            description: "Shifting Focus from Design and Development to Managing and Marketing a System"
                                        },
                                        {
                                            title: "Systems of Systems",
                                            description: "Relating Libraries in a Multi-System Enterprise"
                                        },
                                        {
                                            title: "Starting a Design System",
                                            href: "#",
                                            description: "From Pitching a Strategy to Launching 1.0 and Beyond"
                                        },
                                        {
                                            title: "And You Thought Buttons Were Easy?",
                                            href: "#",
                                            description: "A Story for Selling a System that Scales"
                                        },
                                        {
                                            title: "Principles of Designing Systems",
                                            href: "#",
                                            description: "Core Beliefs to Guide System Strategy and Tactics"
                                        },
                                        {
                                            title: "Measuring Design System Success",
                                            href: "#",
                                            description: "Use OKRs to Set Goals & Track Progress"
                                        },
                                        {
                                            pill: "Activity",
                                            title: "Picking Parts, Products & People",
                                            href: "#",
                                            description: "A Team Activity to Start a Design System"
                                        },
                                        {
                                            title: "Roadmaps for Design Systems",
                                            href: "#",
                                            description: "Communicate What You’ll Do Next That Teams Can Depend On"
                                        },
                                        {
                                            title: "Balancing Platforms in a Design System",
                                            href: "#"
                                        },
                                        {
                                            title: "Adopting Design Systems",
                                            href: "#",
                                            description: "A Playbook for Working with Product Teams & Managers"
                                        },
                                        {
                                            title: "Promoting a Design System Across Your Products",
                                            href: "#",
                                            description: "Published on AListApart"
                                        },
                                        {
                                            pill: "Activity",
                                            title: "Creating a Visual Language via Reference Designs",
                                            href: "#",
                                            description: "Page Concepts Comparing Before & After, with a System Twist"
                                        },
                                        {
                                            title: "Color in Design Systems",
                                            href: "#",
                                            description: "16 Tips for Setting Up a System That Endures"
                                        },
                                        {
                                            title: "Buttons in Design Systems",
                                            href: "#",
                                            description: "12 Tips for Setting Up a System That Endures"
                                        },
                                        {
                                            title: "Space in Design Systems",
                                            href: "#",
                                            description: "From Basics to Expanded Concepts to Apply Space with Intent"
                                        },
                                        {
                                            title: "Patterns ≠ Components",
                                            href: "#",
                                            description: "Our Community, not Companies, Should Build Pattern Libraries"
                                        },
                                        {
                                            pill: "Activity",
                                            title: "The Component Cut-Up Workshop",
                                            href: "#",
                                            description: "Kickoff a Design Library Effort by Engaging the Whole Team"
                                        },
                                        {
                                            title: "On Classification in Design Systems",
                                            href: "#",
                                            description: "Recent Trends in Naming Things in Design Libraries"
                                        },
                                        {
                                            title: "Light & Dark Color Systems",
                                            href: "#",
                                            description: "Model Decisions Across Backgrounds, Borders, Text, and More"
                                        },
                                        {
                                            title: "Tokens in Design Systems",
                                            href: "#",
                                            description: "10 Tips to Architect & Implement Design Decisions for Everyone"
                                        },
                                        {
                                            title: "Right-Sizing the Rectangles",
                                            href: "#",
                                            description: "Grappling with Hierarchy for a More Effective Design System"
                                        },
                                        {
                                            title: "Component QA in Design Systems",
                                            href: "#",
                                            description: "Establish a process to deliver on the quality you promise"
                                        },
                                        {
                                            title: "Design System Doc Components",
                                            href: "#",
                                            description: "The Top 8 Reusable Components to Document a Library"
                                        },
                                        {
                                            title: "Contributions to Design Systems",
                                            href: "#",
                                            description: "Opening a Library to a Community’s Code, Design, and More"
                                        },
                                        {
                                            title: "Designing a Systems Team",
                                            href: "#",
                                            description: "Models and Lessons Learned to Scale a Team for an Enterprise"
                                        },
                                        {
                                            title: "Design System Leader(s) & Manager(s)",
                                            href: "#",
                                            description: "A Job Description for Those That Drive a System"
                                        },
                                        {
                                            title: "Team Models for Scaling a Design System",
                                            href: "#",
                                            description: "Evolving Past Overlords to Centralize or Federate Design Decision-Making Across Platforms"
                                        }
                                    ]
                                ) }}
            </div>
        </div>
    {% endcall %}

    {# How We Prepare #}

    {% call esds.row(background="light", class="esds-row--tall-inset") %}
        <div class="escom-promo-text">
            <h2>Prepping for the Event</h2>
            <p>
                Once we sign an agreement, we’ll meet with you at least three times over one to two weeks to plan the event.
            </p>
        </div>
        {{ esds.tiles(
            container = "white",
            class= "esds-tiles--secondary",
            items = [
                {
                    subheading: "Meeting 1 (60 min)",
                    heading: "Draft Agenda & Logistics",
                    description: "During our first call, we'll review available topics and activities, discuss who should attend why, and talk space & timing."
                },
                {
                    subheading: "Meeting 2 (90 min)",
                    heading: "System & Product Tour",
                    description: "During a second call, we'll immerse ourselves in the existing design, code and docs of your system(s) and tour the products it targets."
                },
                {
                    subheading: "Meeting 3 (60 min)",
                    heading: "Finalize Agenda",
                    description: "We'll review a proposed agenda and any customized materials and finalize logistics."
                }
            ]
        ) }}
    {% endcall %}

    {# Who Do You Invite #}

    {% call esds.row(background_image="/images/systems/workshop-participants.png", class="esds-row--tall-inset") %}
        <div class="esds-container--dark-photograph">
            <div class="escom-promo-text">
                <h2>Who Should You Invite?</h2>
                <p>The workshop format is suitable for up to 100 participants and covers content relevant to many disciplines beyond just designers and engineers.</p>
                <p></p>
            </div>
        </div>
        {{ esds.tiles(
            class = "esds-tiles--2-column",
            container = "white",
            items = [
                {
                    heading: "Core Participants",
                    description: "System workshops work best with:",
                    list: [
                        "Assigned staff already making system(s)",
                        "UX and visual designers",
                        "Front-end engineers",
                        "Design and engineering leaders"
                    ]
                },
                {
                    heading: "Optional Participants",
                    description: "Expand the workshop to include:",
                    list: [
                        "Product managers",
                        "Project managers",
                        "Content strategists",
                        "Researchers",
                        "Executive sponsors"
                    ]
                }
            ]
        ) }}
    {% endcall %}

    {# Why #}

    {% call esds.row(background="black", class="esds-row--tall-inset") %}
        <div class="escom-promo-text">
            <h2>Why a Workshop with EightShapes?</h2>
            <p>
                With EightShapes’ seasoned experience and enthusiasm, you’ll inspire your teams and spark systems work. Your team can use a workshop to:
            </p>
            <ul>
                <li>Kickoff or energize in-house systems efforts</li>
                <li>Define your system and what it offers</li>
                <li>Frame how to form a system team and energize a community</li>
                <li>Plan how to create and adopt a system</li>
                <li>Refine how to design and code features like color, buttons, and space</li>
                <li>Develop a shared vocabulary for dispersed teams</li>
                <li>Achieve outcomes and teach via with engaging hands-on activities</li>
            </ul>
        </div>
    {% endcall %}

    {# Our Clients #}

    {% call esds.row(background="dark", class="esds-row--tall-inset") %}
        <div class="escom-promo-text">
            <h2>Our Clients</h2>
            <p>
                EightShapes has conducted workshops at public events and for in-house teams across industries since 2007.
            </p>
        </div>
        {{ escom.table(
            class="escom-table--long-form-width",
            headers=[
            {
                key: 'year',
                label: 'Year',
                column_class: 'escom-table__responsive-row-header'
            },
            {
                key: 'in_house_events',
                label: 'In-House Events'
            },
            {
                key: 'public_venues',
                label: 'Public Venues'
            }],
            rows=workshops,
            suppress_responsive_headers=['year']
        ) }}
    {% endcall %}

    {# CTA #}

    {{ escom.cta(
        heading="Let's Get Started!", 
        deck="We’re ready to energize your design system efforts, whether you’re just getting started or rebooting to 2.0. Are you ready?", 
        button_text="Email Us"
    ) }}

{% endblock body %}
