{% macro tabs(class, tabs) %}
    <script type="text/javascript">
        {% include '../_components/tabs/tabs.js' %}
    </script>
    <div class="escom-tabs{{ ' ' + class if class }}">
        <div class="escom-tabs__tabs">
            {% for tab in tabs %}
                {% set tab_key = tab.label | lower | replace(r/[^a-z0-9]+/g, '-') %}
                <div class="escom-tabs__tab">
                    <button class="escom-tabs__button{{ ' escom-tabs__button--is-active' if tab.active }}" data-target="tab-{{ tab_key }}">
                        {{ tab.label }}
                    </button>
                </div>
            {% endfor %}
        </div>

{#         {% for tab in tabs %}
            {% set tab_key = tab.label | lower | replace(r/[^a-z0-9]+/g, '-') %}
            <div id="tab-{{ tab_key }}" class="escom-tabs__content {{ ' escom-tabs__content--is-active' if tab.active }}">
                {{ tab.content | safe }}
            </div>
        {% endfor %} #}
    </div>
{% endmacro %}

{% macro tab_pane(class, label, active) %}
    {% set tab_key = label | lower | replace(r/[^a-z0-9]+/g, '-') %}
    <div id="tab-{{ tab_key }}" class="escom-tabs__content {{ ' escom-tabs__content--is-active' if active }}">
        {{ caller() }}
    </div>
{% endmacro %}
