{% extends 'templates/legacy/default.njk' %}
{% block content %}
  {{ legacy_components.header_section() }}
  {% block bio_content %}

  {% endblock %}
  {{ legacy_components.footer() }}
{% endblock %}
