{% import 'esds-library/components/esds.njk' as esds %}
{% import 'components/escom.njk' as escom with context %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <!-- # head.html -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Barlow:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="/styles/case_studies.css" />
    <link rel="stylesheet" href="/styles/dependencies/esds.css"> <!-- copied from esds-library dependency -->
    <link rel="stylesheet" href="/styles/escom.css">
    <!-- / head.html -->
  </head>
  <body class="cs-page">
    {{ esds.breadcrumb(href="/") }}
    {% block body %}{% endblock %}
    {% call esds.container(class="esds-container--dark") %}
      {{ escom.site_footer() }}
    {% endcall %}
    <!-- # case-studies-scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/scripts/legacy/case-studies.js"></script>
    <!-- / case-studies-scripts -->

    {% include "includes/_google_analytics.html" %}
  </body>
</html>
