.escom-layout {
    margin: 0 auto;
    max-width: $esds-font-line-length-long-form;
    
    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.escom-layout__column {
    width: 100%;
}
