.escom-long-form-text {

    margin: 0 auto $esds-space-generic-2-x;

    * {
        margin: 0;
    }

    h1 {
        @include esds-text-crop();
        @include esds-level-1-heading();

        &:not(:last-child) {
            margin: $esds-space-stack-3-x;
        }
    }

    * + h1 {
        margin-top: $esds-space-generic-4-x;
    }

    h2 {
        @include esds-text-crop();
        @include esds-level-2-heading();

        &:not(:last-child) {
            margin: $esds-space-stack-2-x;
        }

    }

    .escom-page-type--marketing & {
        max-width: $esds-font-line-length-long-form;

        h2,
        h3 {
            text-align: center;
        }
    }

    .esds-container--white .escom-page-type--marketing &,
    .esds-container--light .escom-page-type--marketing & {
        h2 {
            color: $esds-text-color-brand;
        }
    }

    * + h2:not(:first-child) {
        margin-top: $esds-space-generic-3-x;
    }

    h3 {
        @include esds-text-crop();
        @include esds-level-3-heading();

        &:not(:last-child) {
            margin: $esds-space-stack-2-x;
        }
    }

    * + h3:not(:first-child) {
        margin-top: $esds-space-generic-3-x;
    }

    h4 {
        @include esds-text-crop();
        @include esds-level-4-heading();
        font-weight: $esds-font-weight-bold;

        &:not(:last-child) {
            margin: $esds-space-stack-2-x;
        }
    }

    * + h4:not(:first-child) {
        margin-top: $esds-space-generic-2-x;
    }

    p {
        @include esds-body-text-m();
        margin: 0;

        &:not(:last-child) {
            margin: $esds-space-stack-1-x;
        }

        &.escom-long-form-text__lead {
            @include esds-body-text-lead();

            &:not(:last-child) {
                margin: $esds-space-stack-2-x;
            }
        }

        &.escom-long-form-text__p--l {
            @include esds-body-text-l();

            &:not(:last-child) {
                margin: $esds-space-stack-2-x;
            }
        }

        &.escom-long-form-text__p--s {
            @include esds-body-text-s();

            &:not(:last-child) {
                margin: $esds-space-stack-half-x;
            }
        }
    }

    a {
        @include esds-link();
    }

    ul,
    ol {
        @include esds-text-crop();
        @include esds-body-text-m();
        padding-left: 20px;

        &:not(:last-child) {
            margin: $esds-space-stack-2-x;
        }
    }

    li {
        @include esds-body-text-m();
        margin: $esds-space-stack-three-quarter-x;
        padding: 0;
    }
}

.escom-long-form-text--two-column-at-768 {
    @media screen and (min-width: $esds-breakpoints-width-768) {
        display: grid;
        grid-gap: $esds-space-generic-2-x;
        grid-template-columns: 1fr 1fr;

        & ul:nth-last-child(2) {
            margin: 0;
        }
    }
}
