.escom-table {
    @include esds-text-color('primary');
    border-collapse: collapse;
    display: block;
    width: 100%;

    @media screen and (min-width: $esds-breakpoints-width-500) {
        display: table;
        font-size: $esds-font-size-body-m-default;
    }

    &.escom-table--long-form-width {
        margin: 0 auto;
        max-width: $esds-font-line-length-long-form;
    }
}

.escom-table__head {
    display: none;

    @media screen and (min-width: $esds-breakpoints-width-500) {
        display: table-header-group;
    }
}

.escom-table__body  {
    display: block;

    @media screen and (min-width: $esds-breakpoints-width-500) {
        display: table-row-group;
    }
}

.escom-table__row {
    display: block;

    @media screen and (min-width: $esds-breakpoints-width-500) {
        display: table-row;
    }
}

.escom-table__header-cell,
.escom-table__cell {
    border-bottom: 1px solid $esds-color-neutral-25;
    display: block;
    text-align: left;

    @media screen and (min-width: $esds-breakpoints-width-500) {
        display: table-cell;
        font-size: $esds-font-size-heading-eyebrow-default;
        padding: $esds-space-inset-squish-2-x;
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }
}

.escom-table__header-cell {
    @include esds-eyebrow-heading();
    @include esds-text-color('secondary');
    vertical-align: bottom;
}

.escom-table__cell {
    @include esds-body-text-m();
    @include esds-text-color('primary');
    vertical-align: top;

    &:before {
        @include esds-eyebrow-heading;
        content: attr(data-escom-header);
        display: block;

        @media screen and (min-width: $esds-breakpoints-width-500) {
            display: none;
        }
    }

    .escom-table__row:last-child & {
        border-bottom: 0;
    }
}

.escom-table__responsive-row-header {
    @include esds-level-3-heading;
    margin: $esds-space-stack-half-x;

    @media screen and (min-width: $esds-breakpoints-width-500) {
        font-size: $esds-font-size-body-m-default;
    }
}
