.background-charcoal {
	background-color: $color-gray-15;
	h1, h2, p {
		color: white;
	}
	a {
		color: $color-orange;
	}
}

.background-orange {
	background-color: $color-orange;
	h1, h2, p {
		color: white;
	}
}

.strikethrough {
	text-decoration: line-through;
}

p.duration {
	color: $color-gray-53;
	font-weight: $font-weight-bold;
	margin-top: 8px;
}

.line-of-business-introduction {
	h1 {
		font-size: 36px;
		margin-bottom: 16px;
		text-transform: uppercase;
		font-weight: 700;
		text-align: center;
	}

	p.lead {
		text-align: left;
	}
	@media screen and (min-width: 767px) {
		h1 {
			font-size: 48px;
			margin: 0 auto 32px;
			width: 80%;
		}
	}
	@media screen and (min-width: 1000px) {
		h1 {
			font-size: 64px;
			margin-bottom: 48px;
		}
	}
}

