{% macro pull_quote(
    class=false,
    quote = "",
    source_label = false,
    source_href = false,
    attribution = false,
    quote_background = false
) %}

{% if quote_background %}
    {% set class = class + " escom-pull-quote--" + quote_background %}
{% endif %}

        <div class="escom-pull-quote{% if class %} {{ class }}{% endif %}">
            <div class="escom-pull-quote__the-quote">
                {{ quote }}
            </div>
            {% if source_label %}
            <div class="escom-pull-quote__source">
                {% if source_href %}
                <a href="{{ source_href }}">
                {% endif %}
                {{ source_label }}
                {% if source_href %}
                </a>
                {% endif %}
            </div>
            {% endif %}
            {% if attribution %}
            <div class="escom-pull-quote__attribution">
                {{ attribution | safe }}
            </div>
            {% endif %}
        </div>

{% endmacro %}