//ESDS Token overrides
///Possible body medium responsive font size changes.
$esds-font-size-body-m-at-480: 1.05*16px;
$esds-font-size-body-m-at-768: 1.1*16px;
$esds-font-size-body-m-at-1000: 1.2*16px;
