{% macro article_figure(
    image_path = false,
    image_number = 1,
    image_alt = false,
    image_filetype = "png",
    caption = "",
    class = false
    ) %}

    <figure class="escom-article-figure{% if class %} {{ class }}{% endif %}">
        <div class="escom-article-figure__image-container">
            <img class="escom-article-figure__image" src="/images/articles/{{ image_path }}/{{ image_number }}.{{ image_filetype }}" alt="{{ image_alt }}">
        </div>
        <figcaption class="escom-article-figure__caption">{{ caption | safe }}</figcaption>
    </figure>

{% endmacro %}
