.escom-article-figure {
    margin: $esds-space-stack-2-x;
    padding: 0;
}

.escom-article-figure--wide {
    max-width: 970px;
}

.escom-article-figure__image-container {
    text-align: center;
}

.escom-article-figure__image {
    margin: $esds-space-stack-1-x;
    max-width: 100%;
}

.escom-article-figure__caption {
    @include esds-body-text-s();
    @include esds-text-color('secondary');
    padding-left: $esds-space-generic-2-x;
    padding-right: $esds-space-generic-2-x;
    text-align: center;

    a {
        @include esds-text-color('link');
    }
}

.escom-article-figure--break-bleed {
    margin-left: -100px;
    margin-right: -100px;
}

.escom-article-figure--full-width {
    margin-left: -200px;
    margin-right: -200px;
}
