{% set show_site_header = show_site_header | default(true) %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="keywords" content="{{ meta_keywords | default(global.meta_keywords) }}">
        <meta name="description" content="{{ meta_description | default(global.meta_description) }}">
        <meta name="HandheldFriendly" content="True">
        <meta name="format-detection" content="telephone=no">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0">
        <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
        <meta http-equiv="cleartype" content="on">

        <title>{{ title_tag | default(global.title_tag) }}</title>

        <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles/escom.css">
    </head>
    <body class="{{ body_classes }}">

        {% if show_site_header %}
        {# Site Header #}
        <a class="header" href="/">
            <div class="header-logo">
                {% include '../_icons/eightshapes-logo.svg' %}
            </div>
        </a>
        {% endif %}

        {# Page content is injected below #}
        {{ content | safe }}


        {# Site Footer #}
        <div class="footer">
            <div class="footer-inner">
                <div class="footer-logo">
                    {% include '../_icons/eightshapes-logo.svg' %}
                </div>
                <div class="footer-flex-wrap">
                    <div class="footer-tools">
                        <h5>Play</h5>
                        <div class="footer-tool-links">
                            <a class="tool-link" href="https://contrast-grid.eightshapes.com">
                                <h3>EightShapes Contrast Grid</h3>
                                <p>Check many, many color values for accessible contrast</p>
                            </a>
                            <a class="tool-link" href="https://text-crop.eightshapes.com">
                                <h3>EightShapes Text Crop</h3>
                                <p>Remove pesky space above and below text due to line height.</p>
                            </a>
                        </div>
                    </div>
                    <div class="footer-address">
                        <h5>Contact</h5>
                        <p>
                            12805 Misty Creek Ln<br/>
                            Fairfax VA 22033
                            <br/>
                            <br/>
                            (703) 296-8831<br/>
                            <a href="mailto:info@eightshapes.com">info@eightshapes.com</a>
                        </p>

                        <p class="secondary-text">
                            &copy;2022 EightShapes LLC.
                            <br/>
                            All rights reserved.
                        </p>
                    </div>
                    <div class="footer-social">
                        <div class="footer-social-section">
                            <h5>Connect</h5>
                            <a href="https://twitter.com/eightshapes">Twitter</a><br/>
                            <a href="https://www.linkedin.com/company/eightshapes-llc">LinkedIn</a><br/>
                        </div>

                        <div class="footer-social-section">
                            <h5>Read</h5>
                            <a href="https://medium.com/eightshapes-llc/tagged/discovery">Discovery</a><br/>
                            <a href="https://medium.com/eightshapes-llc/tagged/design">Design</a><br/>
                            <a href="https://medium.com/@nathanacurtis/lists">Design Systems</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "_google_analytics.html" %}
    </body>
</html>
