// Code snippet scss theming variables, uncomment to use
// $esds-code-snippet-background-color: $esds-color-neutral-95 !default;
$esds-code-snippet-border: transparent !default;
$esds-code-snippet-border-radius: 0 !default;
// $esds-code-snippet-font-family: $esds-font-family-sans-serif !default;
$esds-code-snippet-font-size: $esds-font-size-body-l-default !default;
// $esds-code-snippet-font-style: normal !default;
$esds-code-snippet-font-weight: $esds-font-weight-bold !default;
// $esds-code-snippet-line-height: $esds-font-line-height-normal !default;
// $esds-code-snippet-space-inset: $esds-space-inset-1-x !default;
// $esds-code-snippet-space-stack: $esds-space-stack-1-x !default;
// $esds-code-snippet-text-color: $esds-text-color-primary-on-white !default;
//
// $esds-code-snippet-source-background-color: transparent !default;
// $esds-code-snippet-source-font-family: 'Courier New', monospace !default;
// $esds-code-snippet-source-tag-color: $esds-color-teal-37 !default;
// $esds-code-snippet-source-selector-color: $esds-color-teal-27 !default;
// $esds-code-snippet-source-attribute-value-color: $esds-color-orange-82 !default;
// $esds-code-snippet-source-punctuation-color: $esds-color-neutral-25 !default;
// $esds-code-snippet-source-comment-color: $esds-color-neutral-53 !default;
// $esds-code-snippet-source-max-height-default: 200px !default;
// $esds-code-snippet-source-max-height-tall: 400px !default;
//
// $esds-code-snippet-copy-code-button-offset: $esds-space-inset-half-x !default;
//
// $esds-code-snippet-copied-tooltip-background-color: $esds-background-color-white !default;
// $esds-code-snippet-copied-tooltip-border-radius: $esds-border-radius-default !default;
// $esds-code-snippet-copied-tooltip-distance-from-button: 100% !default;
// $esds-code-snippet-copied-tooltip-distance-from-button-starting: 90% !default;
// $esds-code-snippet-copied-tooltip-box-shadow-color: rgba(0, 0, 0, .8) !default;
// $esds-code-snippet-copied-tooltip-font-family: $esds-font-family-sans-serif !default;
// $esds-code-snippet-copied-tooltip-font-size: $esds-font-size-body-s-default !default;
// $esds-code-snippet-copied-tooltip-shadow: 0 2px 3px $esds-code-snippet-copied-tooltip-box-shadow-color !default;
// $esds-code-snippet-copied-tooltip-inset-space: $esds-space-inset-half-x !default;
//
// $esds-code-snippet-filename-font-family: $esds-font-family-sans-serif !default;
// $esds-code-snippet-filename-font-size: $esds-code-snippet-font-size !default;
// $esds-code-snippet-filename-offset: $esds-space-inset-half-x !default;
//
// $esds-code-snippet-toolbar-inset-space: $esds-space-inset-half-x !default;
// $esds-code-snippet-toolbar-background: transparent !default;
