.escom-logo-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -$esds-space-generic-quarter-x;

    @supports (grid-column-gap: 0) {  
        display: grid;
        grid-row-gap: $esds-space-generic-1-x;
        grid-template-columns: repeat(3, 1fr);
        margin: 0;

        @media screen and (min-width: $esds-breakpoints-width-768) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media screen and (min-width: $esds-breakpoints-width-1200) {
            grid-template-columns: repeat(6, 1fr);
        }
    }
}

.logo-grid__image {
    display: block;
    margin: 0 $esds-space-generic-quarter-x $esds-space-generic-half-x;
    max-width: 100%;
    width: calc(33.333% - #{$esds-space-generic-half-x});

    @supports (grid-column-gap: 0) {
        width: auto;
    }

    @media screen and (min-width: $esds-breakpoints-width-768) {
        width: calc(25% - #{$esds-space-generic-half-x});

        @supports (grid-column-gap: 0) {
            width: auto;
        }
    }

    @media screen and (min-width: $esds-breakpoints-width-1200) {
        width: calc(16.666% - #{$esds-space-generic-half-x});

        @supports (grid-column-gap: 0) {
            width: auto;
        }
    }
}
