{% macro footer_systems_link_list (
    category_id = "Visual Style"
    ) %}
    {% set systems_articles = systemsarticles %}

<h4 class="escom-footer-systems__header">{{ category_id }}</h4>
<ul class="escom-footer-systems__list">
    {% for article in systems_articles %}
        {% if article.category === category_id %}
    <li class="escom-footer-systems__list-item"><a  class="escom-footer-systems__list-item-link" href="/articles/{{ article.id }}.html">{{ article.title_abbreviation }}</a></li>
        {% endif %}
    {% endfor %}
</ul>

{% endmacro %}

{% macro footer_systems (
    class = false
    ) %}

<div class="esds-row esds-container--light esds-row--tall-inset">
    <div class="esds-row__inner escom-footer-systems__row">
        <h2 class="escom-footer-systems__title">The @components blog</h2>
        <h4 class="escom-footer-systems__deck">The complete collection of EightShapes writing on design systems</h4>
        <div class="escom-footer-systems__columnset">
            <div class="escom-footer-systems__column">
                {% call footer_systems_link_list(category_id="Visual Style") %}{% endcall %}
                {% call footer_systems_link_list(category_id="Documentation") %}{% endcall %}
            </div>
            <div class="escom-footer-systems__column">
                {% call footer_systems_link_list(category_id="UI Components") %}{% endcall %}
                {% call footer_systems_link_list(category_id="Releases") %}{% endcall %}
            </div>
            <div class="escom-footer-systems__column">
                {% call footer_systems_link_list(category_id="Strategy") %}{% endcall %}
                {% call footer_systems_link_list(category_id="Systems of Systems") %}{% endcall %}
                {% call footer_systems_link_list(category_id="Workshop Activities") %}{% endcall %}
            </div>
            <div class="escom-footer-systems__column">
                {% call footer_systems_link_list(category_id="People") %}{% endcall %}
                {% call footer_systems_link_list(category_id="Process") %}{% endcall %}
            </div>
        </div>
    </div>
</div>

{% endmacro %}