$esds-color-white: #ffffff;
$esds-color-black: #000000;
$esds-color-orange-41: #d24b00;
$esds-color-orange-45: #e85200;
$esds-color-orange-74: #eeac8d;
$esds-color-orange-98: #fbe5d9;
$esds-color-neutral-15: #262626;
$esds-color-neutral-25: #404040;
$esds-color-neutral-42: #6b6b6b;
$esds-color-neutral-55: #8c8c8c;
$esds-color-neutral-70: #b3b1b1;
$esds-color-neutral-80: #cccaca;
$esds-color-neutral-90: #e6e3e3;
$esds-color-neutral-95: #f3f1f1;
$esds-color-neutral-05: #0d0d0d;
$esds-color-teal-19: #005663;
$esds-color-teal-22: #006170;
$esds-color-teal-28: #007a8d;
$esds-color-teal-45: #43aab5;
$esds-color-teal-66: #81c8d0;
$esds-color-teal-80: #b4dfe3;
$esds-color-teal-94: #d6ecef;
$esds-color-red-36: #b90000;
$esds-color-red-64: #ff464b;
$esds-color-red-90: #eedfdf;
$esds-color-green-54: #1e8915;
$esds-color-green-68: #26ad1b;
$esds-color-green-95: #e9f3e8;
$esds-color-yellow-88: #e1b800;
$esds-color-yellow-98: #f9f0d3;
$esds-color-brand: #e85200;
$esds-color-background-light-primary: #ffffff;
$esds-color-background-light-secondary: #f3f1f1;
$esds-color-background-dark-primary: #262626;
$esds-color-background-dark-secondary: #0d0d0d;
$esds-color-text-primary-on-light: #0d0d0d;
$esds-color-text-primary-on-dark: #ffffff;
$esds-color-text-secondary-on-light: #6b6b6b;
$esds-color-text-secondary-on-dark: #8c8c8c;
$esds-color-text-link-on-light: #005663;
$esds-color-text-link-on-dark: #43aab5;
$esds-color-text-disabled-on-light: #b3b1b1;
$esds-color-text-disabled-on-dark: #6b6b6b;
$esds-color-icon-secondary-on-light: #6b6b6b;
$esds-color-icon-secondary-on-dark: #8c8c8c;

$esds-font-family-sans-serif: "Barlow Semi Condensed", sans-serif;
$esds-font-family-monospace: "Roboto Mono", monospace;

$body-lead: 28.8px;
$body-large: 22.6px;
$body-medium: 19.2px;
$body-small: 16px;
$body-very-small: 13px;

$line-height: 1.2;

$esds-font-weight-regular: 300;
$esds-font-weight-semi-bold: 500;

$esds-border-radius-control: 4px;
$esds-border-radius-default: 8px;

$esds-size-icon-s: 16px;
$esds-size-icon-m: 20px;
$esds-size-icon-l: 24px;
$esds-transition-interactive-hover-speed: 0.2s;

$content-max-width: 776px;

$tablet-width: 767px;
$desktop-width: 1023px;

$space-inset-row-mobile: 48px 32px;
$space-inset-row-tablet: 64px;
$space-inset-row-desktop: 72px 96px;

$hover-transition-timing: 0.3s;

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: $esds-font-family-sans-serif;
  font-weight: $esds-font-weight-regular;
  background: $esds-color-background-light-primary;
  color: $esds-color-text-primary-on-light;
  line-height: $line-height;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: $esds-color-text-link-on-light;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@mixin typography($mobile, $tablet, $desktop, $margin, $weight:$esds-font-weight-regular,$letter-spacing: 0) {
  font-size: $mobile;
  font-weight: $weight;
  letter-spacing: $letter-spacing;
  margin: $margin;

  @media screen and (min-width: $tablet-width) {
    font-size: $tablet;
  }

  @media screen and (min-width: $desktop-width) {
    font-size: $desktop;
  }
}

h1               { @include typography(45px,56px,56px,0 0 16px,$esds-font-weight-semi-bold,-1px); }
h2               { @include typography(28px,32px,40px,0 0 16px,$esds-font-weight-semi-bold,-1px); }
h3               { @include typography(24px,28px,32px,0 0 8px,$esds-font-weight-semi-bold,-1px); }
p.lead           { @include typography(24px,24px,28px,0 0 16px); }
h4               { @include typography(20px,20px,24px,0 0 8px,$esds-font-weight-semi-bold); }
body             { @include typography(20px,20px,24px,0 0 16px); }
p                { @include typography(20px,20px,24px,0 0 16px); }
li               { @include typography(20px,20px,24px,0); }
h5               { @include typography(20px,20px,20px,0 0 8px,$esds-font-weight-semi-bold); }
p.small          { @include typography(18px,18px,20px,0 0 16px); }
.eyebrow--large  { @include typography(17px,20px,22px,0 0 16px,$esds-font-weight-semi-bold); }
.eyebrow--medium { @include typography(14px,14px,18px,0 0 16px,$esds-font-weight-semi-bold); }
.eyebrow--small  { @include typography(12px,12px,15px,0 0 16px,$esds-font-weight-semi-bold); }

.eyebrow--medium,
.eyebrow--large,
.eyebrow--small {
  color: $esds-color-text-secondary-on-dark;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.secondary-text {
  color: $esds-color-text-secondary-on-light;
}

.reverse {
  background: $esds-color-background-dark-primary;
  color: $esds-color-text-primary-on-dark;

  .secondary-text,
  .eyebrow--small,
  .eyebrow--medium,
  .eyebrow--large {
    color: $esds-color-text-secondary-on-dark;
  }

  a:not(.button) {
    color: $esds-color-text-link-on-dark;
  }

  svg {
    fill: $esds-color-text-primary-on-dark;
  }
}

.row {
  padding: $space-inset-row-mobile;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: $tablet-width) {
    padding: $space-inset-row-tablet;
  }

  @media screen and (min-width: $desktop-width) {
    padding: $space-inset-row-desktop;
  }
}

.row-inner {
  margin: 0 auto;
  max-width: $content-max-width;

  *:last-child {
    margin-bottom: 0;
  }
}

.row.reverse.brand {
  background: $esds-color-brand;
}

.row.reverse.secondary {
  background: $esds-color-background-dark-secondary;
}

.row.feature {
  p:last-of-type {
    margin-bottom: 0;
  }
}

.row.secondary {
  background: $esds-color-background-light-secondary;
}

.row.row--design-systems-header {
  background-image: url("/images/systems/systems-hero.png");
}

.row.row--user-experience-design-header {
  background-image: url("/images/user-experience-header.png");
}

.row.row--information-architecture-header {
  background-image: url("/images/information-architecture-header.png");
}

// Homepage header
.home-closing {
  background: $esds-color-background-dark-secondary;

  p {
    color: white;
  }

  a {
    color: #f77647;
    // text-decoration: underline;
  }
  
  a:hover {
    color: #f77647;

  }
}

.site-header {
  background: $esds-color-background-dark-primary;
  @media screen and (min-width: $desktop-width) {
    display: flex;
    overflow: hidden;
    width: 100vw;
  }
}

.header {
  align-items: center;
  background: $esds-color-brand;
  display: flex;
  height: 100px;
  justify-content: center;

  &-logo svg {
    fill: $esds-color-text-primary-on-dark;
    height: 30px;
    @media screen and (min-width: $tablet-width) {
      height: 40px;
    }
  }
}

.footer-section {

  // Sections container
  &s {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &_logo,
  &_tools,
  &_connect,
  &_read,
  &_contact {
    margin-bottom: 32px;
    width: 100%;
  }

  &_logo svg {
    height: 30px;
  }

  @media screen and (min-width: $tablet-width) {
    &_tools {
      flex: 0 0 100%;
      width: 100%;
    }

    &_contact {
      flex: 1 1 40%;
      order: 2;
      margin-bottom: 0;
    }

    &_connect {
      flex: 1 1 20%;
      order: 3;
      margin-bottom: 0;
    }

    &_read {
      flex: 1 1 20%;
      order: 4;
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $desktop-width) {
    &_tools {
      flex: 1 1 100%;
      width: auto;
    }
  }
}

.footer-tools_link {
  background: $esds-color-background-dark-secondary;
  border-radius: 8px;
  display: block;
  margin: 0 0 16px;
  padding: 16px;
  text-decoration: none;
  transition: background $hover-transition-timing;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    background: $esds-color-teal-22;
    text-decoration: none;

    p {
      color: $esds-color-text-primary-on-dark;
    }
  }

  .footer-tools_link-heading {
    color: $esds-color-text-primary-on-dark;
    margin: 0 0 2px;
  }

  p {
    color: $esds-color-text-secondary-on-dark;
    margin: 0;
    transition: color $hover-transition-timing;
  }
}

@media screen and (min-width: $desktop-width) {
  .footer-tools {
    display: flex;
    justify-content: space-between;
  }

  .footer-tools_link {
    flex: 1 1 33%;
    margin: 0 16px 0 0;
    width: 100%;
  }
}

.button {
  background: transparent;
  border: solid 1px $esds-color-white;
  border-radius: 8px;
  color: $esds-color-white;
  display: inline-block;
  font-size: $body-large;
  font-weight: $esds-font-weight-regular;
  padding: 8px 24px;
  position: relative;
  transition: background $hover-transition-timing,
    color $hover-transition-timing, border-color $hover-transition-timing;

  &:hover {
    background: $esds-color-white;
    color: $esds-color-brand;
    text-decoration: none;
  }

  &:active {
    opacity: 1;
  }

  &:focus {
    background: $esds-color-white;
    color: $esds-color-brand;
    opacity: 1;
    outline: none;

    &::after {
      border: dashed 1px $esds-color-white;
      border-radius: 10px;
      bottom: -3px;
      content: "";
      left: -3px;
      position: absolute;
      right: -3px;
      top: -3px;
    }
  }
}

// Client List
.client-list {
  column-count: 2;
  padding: 0;

  li {
    display: inline-block;
    list-style: none;
    margin-bottom: 12px;
    position: relative;
    width: 100%;
  }

  @media screen and (min-width: $tablet-width) {
    column-count: 3;

    li {
      margin-bottom: 16px;
    }
  }
}

// Bio Header
.bio-header {

  padding-bottom: 0;
  padding-right: 0;
  padding-top: 32px;

  .bio-header_inner {
    position: relative;
  }

  .bio-header_text {
    height: 290px;
    position: relative;
    z-index: 10;
  }

  .bio-header_title {
    margin: 0;
  }

  .bio-header_since {
    max-width: 120px;
  }

  .bio-header_image {
    bottom: 0;
    display: block;
    height: 229px;
    position: absolute;
    right: 16px;
  }

  @media screen and (min-width: 550px) {
    padding-top: 0;

    .bio-header_text {
      height: 270px;
      padding-top: 90px;
    }

    .bio-header_since {
      max-width: none;
    }

    .bio-header_image {
      height: 240px;
    }
  }

  @media screen and (min-width: $tablet-width) {
    padding-right: 64px;

    .bio-header_text {
      padding-top: 84px;
    }

    .bio-header_image {
      height: 260px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    padding-right: 96px;
    
    .bio-header_text {
      height: 300px;
      padding-top: 100px;
    }

    .bio-header_image {
      height: 290px;
    }
  }
}

// Anchor nav
.bio-anchor-nav {
  margin-top: 16px;

  @media screen and (min-width: $desktop-width) {
    display: none;
  }
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.thumbnail {
  display: block;
  flex: 1 1 30%;
  margin: 16px 32px 16px 0;

  @media screen and (min-width: $tablet-width) {
    flex-basis: 25%;
  }

  &:hover {
    text-decoration: none;
  }

  &_image {
    display: block;
    margin: 0;
    width: 100%;
    object-fit: cover;
  }

  &_image-wrap {
    background: white;
    border-radius: 16px;
    display: flex;
    height: 140px;
    justify-content: center;
    margin-bottom: 8px;
    overflow: hidden; 

    @media screen and (min-width: $tablet-width) {
      height: 190px;
      max-width: none;
    }

    @media screen and (min-width: $desktop-width) {
      height: 220px;
    }
  }

  &_name {
    margin-bottom: 0;
  }

  &_spacer {
    flex: 1 1 30%;
    height: 0;
    margin: 0 32px 48px 0;
  }
}

.bio-section {
  &-row {
    display: block;
    @media screen and (min-width: $tablet-width) {
      display: flex;
    }
  }

  margin: 0 0 16px;

  @media screen and (min-width: $tablet-width) {
    flex: 1 1 50%;
    margin: 0 0 32px;

    .dot-divider {
      display: none;
    }
  }

  ul {
    margin: 0 0 24px;
    padding: 0;
    li {
      list-style: none;
      margin: 0 0 8px;
    }
  }
}

.content-tiles {

  &__tile {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;

    &__tile {
      flex: 1 1 30%;
      margin-right: 32px;
    }
  }
}

// Dot Divider
.dot-divider {
  align-items: center;
  display: flex;
  height: 16px;
  justify-content: center;
  margin: 16px 0;
  width: 100%;

  @media screen and (min-width: $tablet-width) {
    margin: 16px 0 32px;
  }
}

.dot-divider-inner {
  align-items: center;
  display: flex;
  height: 4px;
  justify-content: space-between;
  width: 44px;

  b {
    background: $esds-color-neutral-70;
    border-radius: 4px;
    display: block;
    height: 4px;
    width: 4px;
  }
}

// 2-up split content
.two-up-flex-wrap {
  > * {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 400px) {
    display: flex;
    flex-wrap: wrap;

    & > * {
      flex: 1 1 calc(50% - 16px);
      margin: 0 16px 0 0;

      &:last-child,
      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }

  @media screen and (min-width: $tablet-width) {
    & > * {
      flex: 1 1 calc(50% - 32px);
      margin: 0 32px 0 0;
    }
  }
}


// Services Carousel
.home-hero {
  h2,
  p {
    color: $esds-color-text-primary-on-dark;
  }

  @media screen and (min-width: $desktop-width) {
    display: flex;
    margin: 0 auto;
    width: $content-max-width;
  }
}

.home-hero-controls {
  padding: 48px 32px 36px;

  @media screen and (min-width: $tablet-width) {
    padding: 96px 64px;
  }

  @media screen and (min-width: $desktop-width) {
    flex: 0 0 434px;
    padding: 130px 84px;
    padding-left: 0;
  }

  button {
    background: none;
    border: 0;
    color: $esds-color-text-secondary-on-dark;
    cursor: pointer;
    font-family: $esds-font-family-sans-serif;
    font-size: 33px;
    font-weight: $esds-font-weight-regular;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
    transition: color $hover-transition-timing;

    &:hover {
      color: $esds-color-text-primary-on-dark;
    }

    &:focus {
      outline: none;

      &::after {
        border: dashed 1px $esds-color-text-secondary-on-dark;
        border-radius: 4px;
        bottom: -3px;
        content: "";
        left: -3px;
        position: absolute;
        right: -3px;
        top: -3px;
      }
    }

    &.selected {
      color: $esds-color-text-primary-on-dark;
    }
  }
}

.home-hero-selected-icon {
  left: -24px;
  position: absolute;
  top: 2px; // vertical alignment of icon and text;
  visibility: hidden;

  svg {
    fill: $esds-color-text-primary-on-dark;
  }

  .selected & {
    visibility: visible;
  }
}

.home-hero-logo {
  margin: 0 0 32px;
  text-align: center;

  svg {
    fill: $esds-color-text-primary-on-dark;
    width: 246px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 48px;
    text-align: left;
  }
}

.home-hero-services-list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;

  li {
    margin: 0 0 24px;
  }

  @media screen and (min-width: $desktop-width) {
    display: block;
  }
}

.home-hero-card {
  align-items: center;
  aspect-ratio: 1 / 1;
  background: $esds-color-background-light-primary;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  max-width: 400px;
  padding: 32px;
  position: relative;
  width: 100%;
  z-index: 10;

  &:hover {
    text-decoration: none;
  }

  h2,
  .home-hero-card-link-text,
  p {
    color: $esds-color-text-primary-on-dark;
  }

  @media screen and (min-width: $desktop-width) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.home-hero-card-link-text {
  font-size: $body-medium;

  .home-hero-card:hover & {
    text-decoration: underline;
  }
}

p.home-hero-tagline {
  display: block;
  margin: auto;
  width: 310px;

  @media screen and (min-width: $tablet-width) {
    width: 340px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 48px;
    width: 100%;
  }
}

.home-hero-slides {
  position: relative;

  @media screen and (min-width: $desktop-width) {
    flex: 0 0 50vw;
    max-width: 700px; // Enable to prevent full-bleed right on the homepage carousel background images
    width: 50vw;
  }
}

.home-hero-slide {
  align-items: center;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  padding: 48px;
  position: relative;

  @media screen and (min-width: $desktop-width) {
    align-items: center;
    aspect-ratio: initial;
    bottom: 0;
    left: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity $hover-transition-timing,
      visibility $hover-transition-timing 0s;
    visibility: hidden;
  }
}

.home-hero-slide.selected {
  opacity: 1;
  visibility: visible;
}

.home-hero-image-wrap {
  bottom: 0;
  left: 0;
  max-width: none;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.home-hero-image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.home-hero-card.teal {
  background-color: rgba($esds-color-teal-28, 0.95);

  .button:hover {
    color: $esds-color-teal-28;
  }
}

.home-hero-card.brand {
  background-color: rgba($esds-color-brand, 0.95);

  .button:hover {
    color: $esds-color-brand;
  }
}

.home-hero-card.secondary {
  background-color: rgba($esds-color-background-light-secondary, 0.95);

  h2,
  p,
  .home-hero-card-link-text {
    color: $esds-color-text-primary-on-light;
  }

  .button {
    color: $esds-color-text-primary-on-light;
    border-color: $esds-color-text-primary-on-light;
  }
  .button:hover {
    color: $esds-color-text-primary-on-dark;
    border-color: $esds-color-text-primary-on-dark;
    background-color: $esds-color-background-dark-primary;
  }
}

.home-hero-card.reverse {
  background-color: $esds-color-background-dark-primary;
}

