.casestudies {
  background: $color-white;
  
  h2 {
    color: $color-orange;
    margin: 0 0 16px;
    text-align: center;
    
    @media screen and (min-width: 768px) {
      margin: 0 0 32px;
    }
  }

  .cases {
    max-width: 1200px;
    margin: 0 auto 16px;
    @include clearfix;
    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
    }
  }
}

.casestudy {
  background-color: $color-blue;
  display: block;

  background-image: url('../images/components/casestudies/cs-title--aact.jpg');
  background-position: center center;
  background-color: $color-white;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  margin: 0;
  position: relative;
  
  &:before {
    content: "";
    background: rgba($color-link, 0);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    position: absolute;
    // opacity: .0;
    transition: background 0.5s;
  }

  &:hover:before {
    background: rgba($color-link, .5);
  }

  .title {
    display: block;
    position: absolute;
    bottom: 16px;
    left: 16px;
  }

  .title-carat {
    display: inline;
    fill: $color-white;
    height: 24px;
    width: 24px;
    position: relative;
    top: 4px;
  }

  a:hover {
    text-decoration: none;
  }

  h3, h4 {
    color: $color-white;
    margin: 0;
    font-weight: $font-weight-normal;
  }

  h4 {
    font-weight: $font-weight-light;
  }

  @media screen and (min-width: 560px) {
    position: relative;
    display: block;
    float: left;
    width: 49.7%;
    height: 100px;

    &.casestudy-doublewide {
      width: 99.4%;
    }
  }

  @media screen and (min-width: 768px) {
    height: 170px;

    .title {
      bottom: 32px;
      left: 32px;
    }
  }

  @media screen and (min-width: 1000px) {
    width: 33.2%;
    
    &.casestudy-doublewide {
      width: 66.4%;
    }
  }

  @media screen and (min-width: 1200px) {
    height: 250px;
  }

}
