{% macro timeline(
    class=false,
    col_1_heading=false,
    col_2_heading=false,

    items=[
        {
            time: "[Timeline time]",
            heading: "[Timeline 1 heading]",
            content_right: false,
            content_bottom: false
        }
    ]
) %}
    <ul class="escom-timeline{% if class %} {{ class }}{% endif %}">
        {% if col_1_heading %}
        <li class="escom-timeline__item escom-timeline__item--header">
            <div class="escom-timeline__row-text">
                <span class="escom-timeline__item-heading">
                    {{ col_1_heading }}
                </span>
                <span class="escom-timeline__item-heading">
                    {{ col_2_heading }}
                </span>
            </div>
        </li>
        {% endif %}
        {% for item in items %}
        <li class="escom-timeline__item">
            <div class="escom-timeline__content-left-right">
                <h3 class="escom-timeline__heading">
                    {{ item.heading }}
                    {% if item.time %}
                    <p class="escom-timeline__time">
                        {{ item.time }}
                    </p>
                    {% endif %}
                </h3>
                {% if item.content_right %}
                <div class="escom-timeline__content-right">
                    {% for content in item.content_right %}
                        {{ content }}
                    {% endfor %}
                </div>
                {% endif %}
            </h3>
            <div class="escom-timeline__content-bottom">
                {{ item.content_bottom }}
            </div>
        </li>
        {% endfor %}
    </ul>
{% endmacro %}
