.escom-timeline {
    list-style: none;
    margin: 0 auto $esds-space-generic-4-x;
    max-width: $esds-font-line-length-long-form;
    padding-left: $esds-space-generic-half-x;

    @media screen and (min-width: $esds-breakpoints-width-768) {
        padding-left: $esds-space-generic-2-x;
    }
}

.escom-timeline__item {
    border-left: 3px solid $esds-color-neutral-42;
    padding-bottom: $esds-space-generic-1-x;
    padding-left: $esds-space-generic-2-x;
    position: relative;

    .escom-timeline--no-timeline & {
        border-left: 0;
        margin-left: -$esds-space-generic-half-x;
        padding-left: 0;
    }

    &:last-child {
        border-left-color: transparent;
        padding-bottom: 0;
    }

    &::after {
        background-color: $esds-color-white;
        border: 3px solid $esds-color-neutral-42;
        border-radius: 50%;
        content: '';
        display: block;
        height: 21px;
        left: -12px;
        position: absolute;
        top: 0;
        width: 21px;

        .escom-timeline--no-timeline & {
            display: none;
        }
    }
}

.escom-timeline__item--header {
    border-left: 0;
    display: none;
    margin: $esds-space-stack-1-x;

    @media screen and (min-width: $esds-breakpoints-width-768) {
        display: block;
    }

    &::after {
        display: none;
    }
}

.escom-timeline__time {
    @include esds-font-reset();
    @include esds-eyebrow-heading();
    margin: 0;
}

.escom-timeline__heading {
    @include esds-font-reset();
    color: $esds-text-color-brand;
    font-size: $esds-font-size-heading-level-3-default;
    line-height: $esds-font-line-height-normal;
    margin: $esds-space-stack-1-x;

    &:first-child {
        margin-top: -6px;
    }
}

.escom-timeline__content-left-right {
    display: grid;

    @media screen and (min-width: $esds-breakpoints-width-768) {
        grid-gap: $esds-space-generic-2-x;
        grid-template-columns: 20% 80%;
    }

    .escom-timeline--years-only & {
        @media screen and (min-width: $esds-breakpoints-width-768) {
            grid-template-columns: 10% 90%;
        }
    }
}

.escom-timeline__content-right,
.escom-timeline__content-bottom {
    display: block;
}
