$wwd-min-height-2up: 315px;
$wwd-min-height-3up-sm: 390px;
$wwd-min-height-3up-lg: 370px;

.whatwedo {
  
  h2, h3, p, li {
    color: $esds-text-color-primary-on-dark;    
  }
  
  h3 {
    font-size: $esds-font-size-heading-level-3-default;
    font-weight: $esds-font-weight-regular;
    text-transform: uppercase;
  }
  
  h3, li {
    margin: $esds-space-stack-1-x;
  }
  
  p {
    margin: $esds-space-stack-1-x;
    font-weight: $esds-font-weight-light;
  }
  
  p {
    font-size: 18px;
    @media screen and (min-width: 768px) {
      font-size: 20px;
    }
  }

  li {
    font-size: 18px;
    font-weight: $esds-font-weight-light
    ;
    &:last-child {
      margin-bottom: 0;
    }
    @media screen and (min-width: 768px) {
      font-size: 20px;
    }
    @media screen and (min-width: 768px) {
//      font-size: 24px;
    }
  }
  
  .block {
    display: inline-block;
    vertical-align: bottom;
    position: relative;  
  }
  
  ul {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 36px);
    padding: 0;
    margin: 0;
    list-style: none;
  }
  ul + ul {
    margin-left: 64px;
  }
  
  .cta {
    a {
      color: $esds-text-color-primary-on-dark;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .title-carat {
      display: inline;
      fill: $esds-text-color-primary-on-dark;
      height: 24px;
      width: 24px;
      position: relative;
      top: 6px;
    }

    @media screen and (min-width: $esds-breakpoints-width-768) {      
      text-transform: uppercase;
      position: absolute;
      font-weight: $esds-font-weight-bold;
      bottom: $esds-space-generic-2-x;
      width: 100%;

      a {
        color: $esds-text-color-primary-on-white;
        background-color: $esds-background-color-white;
        padding: 16px;
        width: calc(100% - 64px);
        display: block;
        border-radius: 4px;
        text-align: center;
        
        .title-carat {
          display: none;
        }

    	  &:hover {
    	  	background-color: rgba(255,255,255,0.9);
    	  	text-decoration: none;
    	  }
      }
    }
  }
  
  .pseudo-row {
    position: relative;
  }
  
  .productdesign-block {
    padding: $esds-space-inset-2-x;
    background: $esds-color-neutral-25;
    width: 100%;
  
    @media screen and (min-width: $esds-breakpoints-width-1200) {
      padding: $esds-space-inset-2-x;
      width: 40%;
      margin: 0 0 0 30%;
      min-height: $wwd-min-height-3up-sm;
    }
    @media screen and (min-width:  1400px) {
      min-height: $wwd-min-height-3up-lg;
    }
  }
  .discovery-block {
    padding: $esds-space-inset-2-x;
    background: $esds-background-color-brand;
    width: 100%;
  
    @media screen and (min-width: 768px) {      
      width: 50%;
      min-height: $wwd-min-height-2up;
    }
    @media screen and (min-width:  1200px) {
      position: absolute;
      width: 30%;
      left: 0;
      top: 0;
      min-height: $wwd-min-height-3up-sm;
    }
    @media screen and (min-width:  1400px) {
      min-height: $wwd-min-height-3up-lg;
    }
  }

  .systems-block {
    background: $esds-background-color-black;
    padding: $esds-space-inset-2-x;
    width: 100%;

    @media screen and (min-width: 768px) {
      width: 50%;
      min-height: $wwd-min-height-2up;
    }
  
    @media screen and (min-width:  1200px) {
      position: absolute;
      width: 30%;
      right: 0;
      top: 0;
      min-height: $wwd-min-height-3up-sm;
    }
    @media screen and (min-width:  1400px) {
      min-height: $wwd-min-height-3up-lg;
    }
  }
  
}
