{% macro whatwedo(args) %}
  <div class="whatwedo">
    <div class="pseudo-row">
      <div class="productdesign-block block">
          <h3>Design</h3>
          <p>We provide end-to-end user experience design, structuring projects to be collaborative, intense, and sensitive to constraints.</p>
          <ul>
            <li>UX Strategy</li>
            <li>UX Design</li>
            <li>Information Architecture</li>
            <li>Visual Design</li>
          </ul>
          <ul>
            <li>Prototyping</li>
            <li>Content</li>
            <li>Research</li>
            <li>HTML &amp; CSS</li>
          </ul>
      </div><div class="discovery-block block">
          <h3>Discovery</h3>
          <p>We align your team around a shared product vision through design principles, customer insights, prototyped concepts.</p>
          <div class="cta"><a href="product-discovery.html">Learn More{{ icon({icon_name: 'angle-right', class: 'title-carat'})}}</a></div>
      </div><div class="systems-block block">
          <h3>Systems</h3>
          <p>We guide you to start, build, spread and sustain design systems so your teams can make innovative, beautiful experiences together.</p>
          <div class="cta"><a href="design-systems.html">Learn More {{ icon({icon_name: 'angle-right', class: 'title-carat'})}}</a></div>
      </div>
    </div>
  </div>
{% endmacro %}
