.workshops-display {

	background-image: url("../images/workshop-cutup.png");
	background-position: center center;
	background-size: cover;

	h2 {
		text-align: center;
		color: white;
	}

	p.lead {
		color: white;
	}

	.workshops {
		margin: 0 -16px;
	}

	.workshop-item-container {
		position: relative;
		@media screen and (min-width: 768px) {
			width: 49%;
			padding: 0 16px 32px;
			display: inline-block;
			vertical-align: top;
		}
		@media screen and (min-width: 1200px) {
			width: 33%;
		}
	}

	.workshop-item {
		background-color: white;
		list-style: none;
		margin: 0;
		padding: 12px 16px 8px;
		display: block;

		h3 {
			color: $color-black;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: $font-weight-normal;
		}

		p {
			display: none;
		}

		@media screen and (min-width: 768px) {
			min-height: 245px;
			padding: 32px;
			h3 {
				font-size: 20px;
				margin-bottom: 8px;
			}
			p {
				display: block;
			}
		}
		@media screen and (min-width: 850px) {
			min-height: 225px;
		}
		@media screen and (min-width: 900px) {
			min-height: 205px;
		}
		@media screen and (min-width: 1000px) {
			min-height: 180px;
		}
		@media screen and (min-width: 1200px) {
			min-height: 225px;
		}
		@media screen and (min-width: 1400px) {
			min-height: 185px;
		}
	}

	a.workshop-item {
		position: relative;
		h3 {
			color: $color-orange;
		}
		.workshop__details-arrow-icon {
			fill: $color-orange;
			height: 24px;
			width: 24px;
			display: inline-block;
			vertical-align: middle;
			position: relative;
			top: -3px;
			left: -6px;
		}

		&:hover {
			text-decoration: none;
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba($color-link, 0);
			z-index: 10;
			transition: background .5s;
		}
		&:hover:before {
			background: rgba($color-link, .1);
		}
	}
}
