.escom-feature-row {
    margin: $esds-space-stack-2-x;
}

.escom-feature-row__inner {
    margin: 0 auto;
    max-width: 940px;
}

.escom-feature-row__heading {
    @include esds-text-crop();
    @include esds-level-2-heading();
    margin: $esds-space-stack-2-x;
    text-align: center;
}

.escom-feature-row__heading--brand {

    .esds-container--white &,
    .esds-container--light &,
    .esds-container--dark &,
    .esds-container--black & {
        color: $esds-text-color-brand;
    }
}

.escom-feature-row__deck {
    @include esds-body-text-l();
    margin: $esds-space-stack-2-x;

    &:last-child {
        margin: 0;
    }
}
