{% macro casestudies(args) %}
  <div class="casestudies">
    <h2>Our Work</h2>
    <div class="row">
      <div class="casestudy col-md-8" style="background-image: url('images/components/casestudies/cs-title--marriott.jpg');">
        <a href="#" class="title">
          <h3>Marriott</h3>
          <h4>Responsive <span>Design {{ icon({icon_name: 'angle-right', class: 'title-carat'})}}</span></h4>
        </a>
      </div>
      <div class="casestudy col-md-4" style="background-image: url('images/components/casestudies/cs-title--sonatype.jpg');">
        <a href="#" class="title">
          <h3>Sonotype</h3>
          <h4>Product <span>Design {{ icon({icon_name: 'angle-right', class: 'title-carat'})}}</span></h4>
        </a>
      </div>
    </div>
    <div class="row">
        <div class="casestudy col-md-4" style="background-image: url('images/components/casestudies/cs-title--ncarb.jpg');">
          <a href="#" class="title">
            <h3>NCARB</h3>
            <h4>Product  <span>Design {{ icon({icon_name: 'angle-right', class: 'title-carat'})}}</span></h4>
          </a>
        </div>
        <div class="casestudy col-md-4" style="background-image: url('images/components/casestudies/cs-title--fireeye.jpg');">
          <a href="#" class="title">
            <h3>FireEye</h3>
            <h4>Responsive  <span>Design {{ icon({icon_name: 'angle-right', class: 'title-carat'})}}</span></h4>
          </a>
        </div>
        <div class="casestudy col-md-4" style="background-image: url('images/components/casestudies/cs-title--aact.jpg');">
          <a href="#" class="title">
            <h3>AACT</h3>
            <h4>Design <span>Strategy {{ icon({icon_name: 'angle-right', class: 'title-carat'})}}</span></h4>
          </a>
        </div>
    </div>
  </div>
{% endmacro %}
