{% macro casestudies(args) %}
  <div class="casestudies">
    <h2>Our Work</h2>
    <div class="row">
      <a class="casestudy col-md-8" style="background-image: url('images/components/casestudies/cs-title--marriott.jpg');" href="case-studies/marriott.html" >
        <div class="title">
          <h3>Marriott</h3>
          <h4>Responsive <span>Design {{ icon({icon_name: 'angle-right', class: 'title-carat'})}}</span></h4>
        </div>
      </a>
      <a class="casestudy col-md-4" style="background-image: url('images/components/casestudies/cs-title--sonatype.jpg');" href="case-studies/sonatype.html">
        <div class="title">
          <h3>Sonatype</h3>
          <h4>Product <span>Design {{ icon({icon_name: 'angle-right', class: 'title-carat'})}}</span></h4>
        </div>
      </a>
    </div>
    <div class="row">
        <a class="casestudy col-md-4" style="background-image: url('images/components/casestudies/cs-title--ncarb.jpg');" href="case-studies/ncarb.html">
          <div class="title">
            <h3>NCARB</h3>
            <h4>Product  <span>Design {{ icon({icon_name: 'angle-right', class: 'title-carat'})}}</span></h4>
          </div>
        </a>
        <a class="casestudy col-md-4" style="background-image: url('images/components/casestudies/cs-title--fireeye.jpg');" href="case-studies/fireeye.html">
          <div class="title">
            <h3>FireEye</h3>
            <h4>Responsive  <span>Design {{ icon({icon_name: 'angle-right', class: 'title-carat'})}}</span></h4>
          </div>
        </a>
        <a class="casestudy col-md-4" style="background-image: url('images/components/casestudies/cs-title--aact.jpg');" href="case-studies/aact.html">
          <div class="title">
            <h3>AACT</h3>
            <h4>Design <span>Strategy {{ icon({icon_name: 'angle-right', class: 'title-carat'})}}</span></h4>
          </div>
        </a>
    </div>
  </div>
{% endmacro %}
