{% macro footer(args) %}
  <div class="footer container-fluid">
    <div class="container-fluid-inner">
      {{ icon({icon_name: 'eightshapes-logo', class: 'footer__logo'})}}
      <div class="footer__address">
        12805 Misty Creek Lane<br/>
        Fairfax, VA 22033<br/>
        <strong>p:</strong> <a href="tel:7032968831">703.296.8831</a><br/>
        <strong>e:</strong> <a href="mailto:info@eightshapes.com">info@eightshapes.com</a>
      </div>
      <div class="footer__social">
        <ul class="footer__social-list">
          <li>
            <a href="https://twitter.com/eightshapes">
              {{icon({icon_name: 'twitter', class: 'footer__social-icon'})}}@eightshapes
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/eightshapes-llc">
              {{icon({icon_name: 'linkedin', class: 'footer__social-icon'})}}EightShapes
            </a>
          </li>
          <li>
            <a href="https://medium.com/eightshapes-llc">
              {{icon({icon_name: 'medium', class: 'footer__social-icon'})}}@eightshapes
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endmacro %}
