{% macro header(args) %}
  <div class="header">
    {{ eightshapes_logo({class: 'header__logo'}) }}
    <ul class="header__anchor-nav">
      <li class="header__anchor-nav-item"><a class="header__anchor-nav-link" href="#our-work">Our Work</a></li>
      <li class="header__anchor-nav-item"><a class="header__anchor-nav-link" href="#services">Services</a></li>
      <li class="header__anchor-nav-item"><a class="header__anchor-nav-link" href="#who-we-are">Who We Are</a></li>
      <li class="header__anchor-nav-item"><a class="header__anchor-nav-link" href="#contributions">Contributions</a></li>
    </ul>
    <p class="header__copy">
      EightShapes designs web-based products and systems that make for beautiful, usable,cohesive experiences.
    </p>
  </div>
{% endmacro %}
