{% macro header(args) %}
  <div class="container-fluid header">
    <div class="container-fluid-inner">
    {{ eightshapes_logo({class: 'header__logo'}) }}
    <p class="header__copy lead">
      EightShapes designs web-based products and systems that make for beautiful, usable, cohesive experiences.
    </p>
    <ul class="header__anchor-nav">
      <li class="header__anchor-nav-item"><a class="header__anchor-nav-link" href="#our-work">Our Work</a></li>
      <li class="header__anchor-nav-item"><a class="header__anchor-nav-link" href="#services">What We Do</a></li>
      <li class="header__anchor-nav-item"><a class="header__anchor-nav-link" href="#who-we-are">Who We Are</a></li>
      <li class="header__anchor-nav-item"><a class="header__anchor-nav-link" href="#contributions">Contributions</a></li>
    </ul>
  </div>
   </div>
{% endmacro %}

{% macro header_slim(args) %}
  <div class="header__slim {{args.class}}">
    <a href="/">{{ eightshapes_logo({class: 'header__logo'}) }}</a>
  </div>
{% endmacro %}

{% macro header_section(args) %}
  <div class="header__section">
    <a class="header__crumb-link" href="/" title="EightShapes Home">
      {{ eightshapes_logo({class: 'header__logo-subpage'}) }}
    </a>
  </div>
{% endmacro %}

{% macro header_workshop(args) %}
  {% if args.back_href == undefined %}
    {% set args = args|updateobj('back_href', '/design-systems.html') %}
  {% endif %}
  {% if args.section == undefined %}
    {% set args = args|updateobj('section', 'Design Systems') %}
  {% endif %}
  <div class="header__workshop {{args.class}}">
    <a class="header__crumb-link" href="/" title="EightShapes Home">
      {{ eightshapes_logo({class: 'header__logo-subpage'}) }}
      {{ icon({icon_name: 'angle-right', class: 'header__crumb-arrow-icon'}) }}
    </a>
    <a class="header__crumb-link" href="{{ args.back_href }}" title="{{ args.section }}">
      <span class="header__section-title">{{ args.section }}</span>
    </a>
  </div>
{% endmacro %}
