{% macro whatwedo(args) %}
  <div class="whatwedo">
    <h2>What We Do</h2>
    <div class="pseudo-row">
      <div class="productdesign-block block">
          <h3>Design</h3>
          <p>We provide end-to-end user experience design services, and structure our projects to be collaborative, intense, and sensitive to constraints.</p>
          <ul>
            <li>UX Strategy</li>
            <li>UX Design</li>
            <li>Information Architecture</li>
            <li>Visual Design</li>
          </ul>
          <ul>
            <li>Prototyping</li>
            <li>Content</li>
            <li>Research</li>
            <li>HTML &amp; CSS</li>
          </ul>
      </div><div class="discovery-block block">
          <h3>Discovery</h3>
          <p>EightShapes aligns your team around a shared product vision through design principles, customer insights, prototyped concepts.</p>
          <div class="cta"><a href="#">Learn More</a></div>
      </div><div class="systems-block block">
          <h3>Systems</h3>
          <p>EightShapes guides your investment in design systems as living products so teams can make innovative, beautiful experiences together.</p>
          <div class="cta"><a href="#">Learn More</a></div>
      </div>
    </div>
  </div>
{% endmacro %}
