{% macro whatwedo(args) %}
  <div class="whatwedo">
    <h2>What We Do</h2>
    <div class="row">
      <div class="productdesign col-md-4">
          <h3>Full Service Product Design</h3>
          <p>Text</p>
          <div class="cta"><a href="#">Learn More</a></div>
      </div>
      <div class="discovery col-md-4">
          <h3>Discovery</h3>
          <p>Text</p>
          <ul>
            <li>thing</li>
            <li>thing</li>
            <li>thing</li>
            <li>thing</li>
          </ul>
          <ul>
            <li>thing</li>
            <li>thing</li>
            <li>thing</li>
            <li>thing</li>
          </ul>
      </div>
      <div class="systems col-md-4">
          <h3>Systems</h3>
          <p>Text</p>
          <div class="cta"><a href="#">Learn More</a></div>
      </div>
    </div>
  </div>
{% endmacro %}
