{% macro casestudies(args) %}
  <div id="our-work" class="container-fluid casestudies">
    <div class="fluid-inner">
      <h2>Our Work</h2>
      <div class="cases">
        <a href="case-studies/marriott.html" >
          <div class="casestudy casestudy-doublewide" style="background-image: url('images/components/casestudies/cs-title--marriott.jpg');">
            <div class="title">
              <h3>Marriott</h3>
              <h4>Responsive <span>Design {{ icon({icon_name: 'angle-right', class: 'title-carat'})}}</span></h4>
            </div>
          </div>
        </a>
        <a href="case-studies/sonatype.html">
          <div class="casestudy" style="background-image: url('images/components/casestudies/cs-title--sonatype.jpg');">
            <div class="title">
              <h3>Sonatype</h3>
              <h4>Product <span>Design {{ icon({icon_name: 'angle-right', class: 'title-carat'})}}</span></h4>
            </div>
          </div>
        </a>
        <a href="case-studies/ncarb.html">
          <div class="casestudy" style="background-image: url('images/components/casestudies/cs-title--ncarb.jpg');">
            <div class="title">
              <h3>NCARB</h3>
              <h4>Product  <span>Design {{ icon({icon_name: 'angle-right', class: 'title-carat'})}}</span></h4>
            </div>
          </div>
        </a>
        <a href="case-studies/fireeye.html">
          <div class="casestudy" style="background-image: url('images/components/casestudies/cs-title--fireeye.jpg');">
            <div class="title">
              <h3>FireEye</h3>
              <h4>Responsive  <span>Design {{ icon({icon_name: 'angle-right', class: 'title-carat'})}}</span></h4>
            </div>
          </div>
        </a>
        <a href="case-studies/aact.html">
          <div class="casestudy" style="background-image: url('images/components/casestudies/cs-title--aact.jpg');">
            <div class="title">
              <h3>AACT</h3>
              <h4>Design <span>Strategy {{ icon({icon_name: 'angle-right', class: 'title-carat'})}}</span></h4>
            </div>
          </div>
        </a>
      </div>
      <div class="client-brands">
        <img class="client-brands__image" src="images/client_brands/brands-1.png"/>
        <img class="client-brands__image" src="images/client_brands/brands-2.png"/>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro client_brands(args) %}
{% endmacro %}

{% macro content_card_double(args) %}
  <div class="col-sm-12 col-md-12 col-lg-6">
    <a href="{{args.href}}" class="content-card content-card--double" style="background-image: url({{args.background_image}})">
      <span class="content-card__content">
        <h4 class="content-card__pre-heading">{{args.pre_heading}}</h4>
        <h3 class="content-card__heading">{{args.heading}}</h3>
      </span>
    </a>
  </div>
{% endmacro %}

{% macro content_card(args) %}
  <div class="col-sm-6 col-md-4 col-lg-3">
    <a href="{{args.href}}" class="content-card {{args.class}}">
      {%- if args.background_image -%}
        <div class="content-card__background-image-wrap">
          <img src="{{args.background_image}}" class="content-card__background-image">
        </div>
      {%- endif -%}
      <span class="content-card__content">
        {%- if args.pre_heading -%}
          <h4 class="content-card__pre-heading">{{args.pre_heading}}</h4>
        {%- endif -%}
        {%- if args.date -%}
          <h4 class="content-card__date">{{args.date}}</h4>
        {%- endif -%}
          <h3 class="content-card__heading">{{args.heading}}</h3>
        {%- if args.copy -%}
          <p class="content-card__copy">{{args.copy}}</p>
        {%- endif -%}
        {%- if args.cta -%}
          <span href="{{args.cta_link}}" class="content-card__cta">{{args.cta}}</span>
        {%- endif -%}
      </span>
    </a>
  </div>
{% endmacro %}

{% macro eightshapes_logo(args) %}
  {% set class = args.class + " eightshapes-logo" %}
  {{ icon({icon_name: 'eightshapes-logo', class: class}) }}
{% endmacro %}

{% macro footer(args) %}
  <div class="footer container-fluid">
    <div class="container-fluid-inner">
      {{ icon({icon_name: 'eightshapes-logo', class: 'footer__logo'})}}
      <div class="footer__address">
        12805 Misty Creek Lane<br/>
        Fairfax, VA 22033<br/>
        <strong>p:</strong> <a href="tel:7032968831">703.296.8831</a><br/>
        <strong>e:</strong> <a href="mailto:info@eightshapes.com">info@eightshapes.com</a>
      </div>
      <div class="footer__social">
        <ul class="footer__social-list">
          <li>
            <a href="https://twitter.com/eightshapes">
              {{icon({icon_name: 'twitter', class: 'footer__social-icon'})}}@eightshapes
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/eightshapes-llc">
              {{icon({icon_name: 'linkedin', class: 'footer__social-icon'})}}EightShapes
            </a>
          </li>
          <li>
            <a href="https://medium.com/eightshapes-llc">
              {{icon({icon_name: 'medium', class: 'footer__social-icon'})}}@eightshapes
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro header(args) %}
  <div class="container-fluid header">
    <div class="container-fluid-inner">
    {{ eightshapes_logo({class: 'header__logo'}) }}
    <p class="header__copy lead">
      EightShapes designs web-based products and systems that make for beautiful, usable, cohesive experiences.
    </p>
    <ul class="header__anchor-nav">
      <li class="header__anchor-nav-item"><a class="header__anchor-nav-link" href="#our-work">Our Work</a></li>
      <li class="header__anchor-nav-item"><a class="header__anchor-nav-link" href="#services">What We Do</a></li>
      <li class="header__anchor-nav-item"><a class="header__anchor-nav-link" href="#who-we-are">Who We Are</a></li>
      <li class="header__anchor-nav-item"><a class="header__anchor-nav-link" href="#contributions">Contributions</a></li>
    </ul>
  </div>
   </div>
{% endmacro %}

{% macro header_slim(args) %}
  <div class="header__slim {{args.class}}">
    <a class="header__back-link" href="/">{{ icon({icon_name: 'angle-left', class: 'header__back-link-icon'}) }}</a>
    <a href="/">{{ eightshapes_logo({class: 'header__logo'}) }}</a>
  </div>
{% endmacro %}

{% macro header_bio(args) %}
  <div class="header__bio {{args.class}}">
    <a class="header__back-link" href="/">{{ icon({icon_name: 'angle-left', class: 'header__back-link-icon'}) }}</a>
    <a href="/">{{ eightshapes_logo({class: 'header__logo'}) }}</a>
  </div>
{% endmacro %}

{% macro header_workshop(args) %}
  {% if args.back_href == undefined %}
    {% set args = args|updateobj('back_href', '/design-systems.html') %}
  {% endif %}
  <div class="header__bio {{args.class}}">
    <a class="header__back-link" href="{{ args.back_href }}">{{ icon({icon_name: 'angle-left', class: 'header__back-link-icon'}) }}</a>
    <a href="/">{{ eightshapes_logo({class: 'header__logo'}) }}</a> Workshops
  </div>
{% endmacro %}

{% macro bio_hero(args) %}
  {% set profiles = [
      {
        name: "Nathan Curtis",
        title: "Founder and Principal",
        start_year: "2006",
        medium: "https://medium.com/@nathanacurtis",
        twitter: "https://twitter.com/nathanacurtis",
        linkedin: "https://www.linkedin.com/in/nathancurtis",
        eightshapes_com: "nathan-curtis.html",
        image: "images/components/bio_hero/bio-nathan-curtis.jpg"
      },
      {
        name: "Dan Brown",
        title: "Founder and Principal",
        start_year: "2006",
        medium: "https://medium.com/@brownorama",
        twitter: "https://twitter.com/brownorama",
        linkedin: "https://www.linkedin.com/in/danmbrown",
        eightshapes_com: "dan-brown.html",
        image: "images/components/bio_hero/bio-dan-brown.jpg"
      },
      {
        name: "Chris Detzi",
        title: "Senior Director, User Experience",
        start_year: "2007",
        medium: "https://medium.com/@detzi",
        twitter: "https://twitter.com/detzi",
        linkedin: "https://www.linkedin.com/in/chrisdetzi",
        eightshapes_com: "chris-detzi.html",
        image: "images/components/bio_hero/bio-chris-detzi.jpg"
      },
      {
        name: "James Melzer",
        title: "Director, User Experience",
        start_year: "2009",
        medium: "https://medium.com/@jamesmelzer",
        twitter: "https://twitter.com/jamesmelzer",
        linkedin: "https://www.linkedin.com/in/jamesmelzer",
        eightshapes_com: "james-melzer.html",
        image: "images/components/bio_hero/bio-james-melzer.jpg"
      },
      {
        name: "Kevin Powell",
        title: "Senior Front End Developer",
        start_year: "2014",
        medium: "https://medium.com/@kevinmpowell",
        twitter: "https://twitter.com/kevinmpowell",
        linkedin: "https://www.linkedin.com/in/kevinmpowell",
        eightshapes_com: "kevin-powell.html",
        image: "images/components/bio_hero/bio-kevin-powell.jpg"
      }
    ]
  %}
  {% set next_index = args.index + 1 %}
  {% set prev_index = args.index - 1 %}

  {% if next_index == profiles.length %}
    {% set next_index = 0 %}
  {% endif %}

  {% if prev_index < 0 %}
    {% set prev_index = (profiles.length - 1) %}
  {% endif %}

  {% set profile = profiles[args.index] %}

  <div class="hero">
    <div class="hero__content">
      <div class="hero__image-wrap">
        <img src="{{ profile.image }}" alt="{{ profile.name }}" class="hero__image">
        <div class="hero__navigation">
          <a href="{{ profiles[prev_index].eightshapes_com }}" class="hero__prev-bio">{{ icon({icon_name: 'angle-left', class: 'hero__nav-icon'}) }}</a>
          <a href="{{ profiles[next_index].eightshapes_com }}" class="hero__next-bio">{{ icon({icon_name: 'angle-right', class: 'hero__nav-icon'}) }}</a>
        </div>
      </div>
      <div class="hero__copy">
        <h1 class="hero__heading">{{ profile.name }}</h1>
        <span class="hero__title">{{ profile.title }}</span>
        <span class="hero__tenure">EightShapes since <span class="hero__tenure-value">{{ profile.start_year }}</span></span>
        <ul class="hero__social">
          <li class="hero__social-item"><a href="{{ profile.medium }}" class="hero__social-link"><span class="visually-hidden">Medium</span>{{icon({icon_name: 'medium', class: 'hero__social-icon'})}}</a></li>
          <li class="hero__social-item"><a href="{{ profile.twitter }}" class="hero__social-link"><span class="visually-hidden">Twitter</span>{{icon({icon_name: 'twitter', class: 'hero__social-icon'})}}</a></li>
          <li class="hero__social-item"><a href="{{ profile.linkedin }}" class="hero__social-link"><span class="visually-hidden">LinkedIn</span>{{icon({icon_name: 'linkedin', class: 'hero__social-icon'})}}</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro workshop_hero(args) %}
  <div class="hero hero__workshop-detail">
    
  </div>
{% endmacro %}
{% macro icon(args) %}
  {%- if args.icon_name == undefined -%}
      {% set args = args|updateobj('icon_name', 'twitter') %}
  {%- endif -%}
  <svg class="icon-{{args.icon_name}} {{args.class}}">
    <use xlink:href="svg/sprite.svg#{{args.icon_name}}"></use>
  </svg>
{% endmacro %}

{% macro page_cta(args) %}
  {% if args == undefined %}
    {% set args = 
    	{
	    	header: 'Ready?', 
	    	lead: 'About to kickstart a system? Need a partner to build it? Ready to spread or sustain it?'
    	} 
    %}
  {% endif %}

  <div class="container-fluid xups background-orange">
    <div class="container-fluid-inner">
      <div class="page-cta">
        <h2>{{ args.header }} </h2>
        <p class="lead">{{ args.lead }}</p>
        <p><a class="page-cta__button" href="mailto:info@eightshapes.com">Let's talk</a></p>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro tabs(args) %}

{% endmacro %}
{% macro whatwedo(args) %}
  <div class="whatwedo">
    <h2>What We Do</h2>
    <div class="pseudo-row">
      <div class="productdesign-block block">
          <h3>Design</h3>
          <p>We provide end-to-end user experience design, structuring projects to be collaborative, intense, and sensitive to constraints.</p>
          <ul>
            <li>UX Strategy</li>
            <li>UX Design</li>
            <li>Information Architecture</li>
            <li>Visual Design</li>
          </ul>
          <ul>
            <li>Prototyping</li>
            <li>Content</li>
            <li>Research</li>
            <li>HTML &amp; CSS</li>
          </ul>
      </div><div class="discovery-block block">
          <h3>Discovery</h3>
          <p>We align your team around a shared product vision through design principles, customer insights, prototyped concepts.</p>
          <div class="cta"><a href="product-discovery.html">Learn More{{ icon({icon_name: 'angle-right', class: 'title-carat'})}}</a></div>
      </div><div class="systems-block block">
          <h3>Systems</h3>
          <p>We guide you to start, build, spread and sustain design systems so your teams can make innovative, beautiful experiences together.</p>
          <div class="cta"><a href="design-systems.html">Learn More {{ icon({icon_name: 'angle-right', class: 'title-carat'})}}</a></div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro xups(args) %}

	{# Default: First 2 then 4 Across #}
  {% if args.ups_across == undefined %}
    {% set args = args|updateobj('ups_across', '4') %}
  {% endif %}
  {% if args.up_responsiveness == undefined %}
    {% set args = args|updateobj('up_responsiveness', 'col-md-6 col-lg-3') %}
  {% endif %}
  {% if args.background == undefined %}
    {% set args = args|updateobj('background', 'background-gray') %}
  {% endif %}
  {% if args.context == undefined %}
    {% set args = args|updateobj('context', '') %}
  {% endif %}
  {% if args.type == undefined %}
    {% set args = args|updateobj('type', 'biophotos') %}
  {% endif %}

  <div {% if args.id %} id="who-we-are" {% endif %} class="container-fluid xups {{ args.background }}">
    <div class="container-fluid-inner {{ args.context }}">
      <h2>{{ args.h2 }}</h2>
      <p class="lead">{{ args.lead }}</p>
      <div class="ups {{ args.type }}">
				{% for up in args.ups %}
        <div class="up">
	        <a href="{{ up.thumbnail }}.html">
            <div class="up__image-wrap">
  	        	<img src="images/bios/bio-thumb-{{ up.thumbnail }}.jpg" alt="{{ up.header }}">
            </div>
	          <h3>{{ up.header }}</h3>
	          <p>{{ up.paragraph }}</p>
	        </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endmacro %}
