{% macro title_row(
    class=false,
    background_image="",
    logo=true,
    heading="[Title]",
    decks=["[Empty Deck Paragraph]"]
) %}

    {% set title_row_class = "esds-row esds-row--tall-inset esds-container--dark escom_title_row " + class %}

    {% call esds.row(
        background_image=background_image,
        class=title_row_class
    )%}

        {% if logo %}
            <div class="escom-title-row__logo-container">
                {{ esds.icon(name="eightshapes-logo", class="escom-title-row__logo") }}
            </div>
        {% endif %}
        <div class="escom-promo-text">
            <h1>{{heading}}</h1>
            {% if decks %}
                {% for deck in decks %}
                <p>{{ deck | safe }}</p>
                {% endfor %}
            {% endif %}
        </div>

    {% endcall %}
{% endmacro %}
