{% macro title_row(
    class=false,
    background_image="",
    background="dark",
    logo=true,
    heading=false,
    decks=["[Empty Deck Paragraph]"],
    nav_items=[]
) %}

    {% set title_row_class = "esds-row esds-row--tall-inset esds-container--" + background + " escom_title_row " + class %}
    {% call esds.row(background_image=background_image, class=title_row_class)%}
        {% if logo %}
            <div class="escom-title-row__logo-container">
                {{ esds.icon(name="eightshapes-logo", class="escom-title-row__logo") }}
            </div>
        {% endif %}
        {% if heading %}
            <div class="escom-promo-text">
                <h1>{{heading}}</h1>
            </div>
        {% endif %}
        {% if decks %}
            {% for deck in decks %}
            <p class="escom-title-row__lead">{{ deck | safe }}</p>
            {% endfor %}
        {% endif %}
        {% if nav_items.length > 0 %}
            <ul class="escom-title-row__navigation">
                {% for nav_item in nav_items %}
                    <li class="escom-title-row__navigation-item">
                        <a href="{{ nav_item.href}}" class="escom-title-row__navigation-link"> {{ nav_item.label }} </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endcall %}
{% endmacro %}
