.escom-title-row__logo-container {
    text-align: center;
}

.escom-title-row__title {
    @include esds-text-crop();
    @include esds-level-1-heading();
    margin: $esds-space-stack-3-x;
    text-align: center;
}

.escom-title-row__lead {
    @include esds-responsive-font-size($type: 'body-lead');
    @include esds-text-crop();
    @include esds-text-color('primary');
    font-weight: $esds-font-weight-light;
    margin: 0 auto $esds-space-generic-2-x;
    max-width: $esds-font-line-length-long-form;

    &:last-child {
        margin-bottom: 0;
    }

    .escom-title-row--centered-deck & {
        text-align: center;
    }
}

.escom-title-row__logo {
    fill: $esds-color-white;
    height: 30px;
    margin: $esds-space-stack-2-x;
    width: 200px;

    @media screen and (min-width: $esds-breakpoints-width-768) {
        height: 40px;
    }

    @media screen and (min-width: $esds-breakpoints-width-768) {
        height: 80px;
        width: 320px;
    }
}

.escom-title-row__page-anchor {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
    max-width: $esds-font-line-length-long-form;
    padding: 0;
}

.escom-title-row__page-anchor-link {
    color: $esds-text-color-link-on-brand;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        text-decoration: underline;
    }
}
