@media (min-width: 60em) {
  /* line 7, ../../sass/layouts/l-grid-demo.scss */
  .grid-demo .l-large-at-l {
    width: 74.46809%;
    float: left;
    margin-right: 2.12766%;
  }
}
/* line 12, ../../sass/layouts/l-grid-demo.scss */
.grid-demo .l-assemble-to-l {
  background-color: transparent;
}
@media (min-width: 37.5em) {
  /* line 12, ../../sass/layouts/l-grid-demo.scss */
  .grid-demo .l-assemble-to-l {
    width: 100%;
    float: left;
    margin-right: 2.12766%;
    margin-bottom: 1rem;
  }
}
@media (min-width: 60em) {
  /* line 12, ../../sass/layouts/l-grid-demo.scss */
  .grid-demo .l-assemble-to-l {
    float: left;
    margin-right: 2.12766%;
    float: none;
    width: auto;
    margin-right: auto;
    background-color: transparent;
    margin-bottom: 0;
  }
}
@media (min-width: 37.5em) {
  /* line 25, ../../sass/layouts/l-grid-demo.scss */
  .grid-demo .l-small-at-l {
    width: 31.91489%;
    float: left;
    margin-right: 2.12766%;
  }
}
@media (min-width: 60em) {
  /* line 25, ../../sass/layouts/l-grid-demo.scss */
  .grid-demo .l-small-at-l {
    width: 23.40426%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 37.5em) {
  /* line 33, ../../sass/layouts/l-grid-demo.scss */
  .grid-demo .l-full-at-l {
    width: 65.95745%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 60em) {
  /* line 33, ../../sass/layouts/l-grid-demo.scss */
  .grid-demo .l-full-at-l {
    float: left;
    margin-right: 2.12766%;
    width: 100%;
    float: left;
    margin-right: 2.12766%;
  }
}
/* line 43, ../../sass/layouts/l-grid-demo.scss */
.grid-demo .l-disappear-to-m {
  display: none;
}
@media (min-width: 60em) {
  /* line 43, ../../sass/layouts/l-grid-demo.scss */
  .grid-demo .l-disappear-to-m {
    display: block;
  }
}
@media (min-width: 60em) {
  /* line 49, ../../sass/layouts/l-grid-demo.scss */
  .grid-demo .l-explode-to-m {
    width: 48.93617%;
    float: right;
    margin-right: 0;
  }
}
/* line 56, ../../sass/layouts/l-grid-demo.scss */
.grid-demo .l-lock {
  max-width: 600px;
  margin: 0 auto 1rem;
}
/* line 61, ../../sass/layouts/l-grid-demo.scss */
.grid-demo .demo-highlight-column {
  padding: 0;
}
/* line 67, ../../sass/layouts/l-grid-demo.scss */
.grid-demo .l-overflow.overflow-parfait.image .l-container {
  max-width: 70em;
}
/* line 71, ../../sass/layouts/l-grid-demo.scss */
.grid-demo .l-overflow.overflow-apron {
  max-width: 68em;
}
/* line 75, ../../sass/layouts/l-grid-demo.scss */
.grid-demo ul.bullets {
  list-style-type: disc;
  padding-left: 30px;
  margin: 0;
}
@media (min-width: 48em) {
  /* line 75, ../../sass/layouts/l-grid-demo.scss */
  .grid-demo ul.bullets {
    width: 50%;
    float: left;
  }
}
/* line 84, ../../sass/layouts/l-grid-demo.scss */
.grid-demo ul.bullets li {
  margin: 0 0 0.5em 0;
}
