.escom-site-footer {
    font-family: $esds-font-family-sans-serif;
    font-size: $esds-font-size-body-m-default;
    font-weight: $esds-font-weight-regular;
    line-height: $esds-font-line-height-tight;
    margin: 0 auto;
}

.escom-site-footer__row {

    @media screen and (min-width: $esds-breakpoints-width-768) {
        display: flex;
    }
}

.escom-site-footer__column {
    margin: $esds-space-stack-1-x;
    width: 100%;


    @media screen and (min-width: $esds-breakpoints-width-768) {
        &.escom-site-footer__column--offset {
            padding-top: $esds-space-generic-1-x + 43px;
        }
    }
}

.escom-site-footer__logo {
    fill: $esds-color-white;
    height: 40px;
    margin: $esds-space-stack-1-x;
    width: 180px;
}

.escom-site-footer__link,
.escom-site-footer__social-link {
    @include esds-text-color('link');
    display: block;
    text-decoration: none;
}

.escom-site-footer__social-link {
    display: inline;
    margin: 0 $esds-space-generic-1-x 0 0;
}

.escom-site-footer__icon {
    fill: $esds-color-white;
    height: 40px;
    padding-right: $esds-space-generic-quarter-x;
    vertical-align: middle;
    width: 40px;
}

.escom-site-footer__social-name {
    display: none;
}

.escom-site-footer__icon--twitter {
    fill: $esds-color-white;
}

.escom-site-footer__icon--linkedin {
    fill: $esds-color-white;
}

.escom-site-footer__icon--medium {
    fill: $esds-color-white;
}
