.escom-site-footer {
    margin: 0 auto;
    max-width: $esds-font-line-length-long-form + 64px;
}

.escom-site-footer__row {
    display: grid;
    grid-column-gap: 16px;
    grid-template-columns: 1fr;

    @media screen and (min-width: $esds-breakpoints-width-768) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.escom-site-footer__column {
    margin: $esds-space-stack-1-x;
    width: 100%;

    &.escom-site-footer__column--offset {
        padding-top: $esds-space-generic-1-x + 43px;
    }
}

.escom-site-footer__logo {
    fill: $esds-color-white;
    height: 40px;
    margin: $esds-space-stack-1-x;
    width: 180px;
}

.escom-site-footer__link,
.escom-site-footer__social-link {
    @include esds-text-color('link');
    display: block;
    text-decoration: none;
}

.escom-site-footer__social-link {
    display: inline;
    margin: 0 $esds-space-generic-1-x 0 0;
}

.escom-site-footer__icon {
    fill: $esds-color-white;
    height: 40px;
    padding-right: $esds-space-generic-quarter-x;
    vertical-align: middle;
    width: 40px;
}

.escom-site-footer__social-name {
    display: none;
}

.escom-site-footer__icon--twitter {
    fill: $escom-color-blue-twitter;
}

.escom-site-footer__icon--linkedin {
    fill: $escom-color-blue-linkedin;
}

.escom-site-footer__icon--medium {
    fill: $escom-color-gray-medium;
}
