{% macro site_footer(
  ) %}

    {% call esds.row(background="dark", class="escom-site-footer") %}
    
        <div class="escom-site-footer__row">
            <div class="escom-site-footer__column">
                {{ esds.icon(name="eightshapes-logo", class="escom-site-footer__logo") }}
                <div class"escom-site-footer__address-row">12805 Misty Creek Lane</div> 
                <div class"escom-site-footer__address-row">Fairfax, VA 22033</div>
            </div>
            <div class="escom-site-footer__column escom-site-footer__column--offset">
                <a class="escom-site-footer__link" tel="703.296.8831"> (703) 296-8831</a>
                <a class="escom-site-footer__link" href="mailto:info@eightshapes.com">info@eightshapes.com</a>
            </div>
            <div class="escom-site-footer__column escom-site-footer__column--offset">
                <a class="escom-site-footer__social-link" href="https://twitter.com/eightshapes">
                    {{ esds.icon(name="twitter", class="escom-site-footer__icon escom-site-footer__icon--twitter") }} 
                    <span class="escom-site-footer__social-name">@eightshapes</span>
                </a>
                <a class="escom-site-footer__social-link" href="https://www.linkedin.com/company/eightshapes-llc">
                    {{ esds.icon(name="linkedin", class="escom-site-footer__icon escom-site-footer__icon--linkedin") }} 
                    <span class="escom-site-footer__social-name">@EightShapes</span>
                </a>
                <a class="escom-site-footer__social-link" href="https://medium.com/eightshapes-llc">
                    {{ esds.icon(name="medium", class="escom-site-footer__icon escom-site-footer__icon--medium") }} 
                    <span class="escom-site-footer__social-name">@eightshapes</span>
                </a>
            </div>
        </div>

    {% endcall %}

{% endmacro %}
