.escom-heuristics__heuristic {
    border: $esds-border-default;
    margin: $esds-space-stack-4-x;
    padding: $esds-space-inset-2-x;
}

.escom-heuristics__crumb-icon {
    display: inline-block;
    fill: $esds-color-white;
    height: 16px;
    vertical-align: middle;
    width: 16px;
}

.escom-heuristics--highlight {
    background-color: rgba(255, 255, 255, .2);
}
