{% macro link_list(
    class=false,
    items=[
        {
            title: "[link 1 title]",
            href: "[link 1 href]",
            description: "[link 1 description]"
        }
    ]
) %}

<ul class="escom-link-list{% if class %} {{ class }}{% endif %}">
    {% for item in items %}
    {% if item.heading %}
    <li class="escom-link-list__item escom-link-list__item--heading">
        {{ item.heading }}
    </li>
    {% else %}
    <li class="escom-link-list__item{{ ' escom-link-list__item--grid' if item.image}}">
        {% if item.image %}
        <div class="escom-link-list__image-cell">
            {% if item.href %}
            <a class="escom-link-list__image-link" href="{{ item.href }}">
            {% endif %}
                <img class="escom-link-list__image" alt="{{ item.title }}" src="{{ item.image }}"/>
            {% if item.href %}
            </a>
            {% endif %}
        </div>
        {% endif %}
        <dl class="escom-link-list__group">
            {% if item.eyebrow %}
            <dt class="escom-link-list__eyebrow">
                {{ item.eyebrow }}
            </dt>
            {% endif %}
            <dt class="escom-link-list__title">
                {% if item.href %}
                <a class="escom-link-list__link" href="{{ item.href }}">
                {% endif %}
                    {{ item.title | markdown }}
                {% if item.href %}
                </a>
                {% endif %}
                {% if item.pill %}
                {{ pill(class="escom-pill--brand", label=item.pill) }}
                {% endif %}
            </dt>
            {% if item.description %}
            <dd class="escom-link-list__description">
                {{ item.description }}
            </dd>
            {% endif %}
        </dl>
    </li>
    {% endif %}
    {% endfor %}
</ul>

{% endmacro %}
