{% macro link_list(
    class=false,
    items=[
        {
            title: "[link 1 title]",
            href: "[link 1 href]",
            description: "[link 1 description]"
        }
    ]
) %}

<ul class="escom-link-list{% if class %} {{ class }}{% endif %}">
    {% for item in items %}
    <li class="escom-link-list__item">
        <dl class="escom-link-list__group">
            {% if item.eyebrow %}
            <dt class="escom-link-list__eyebrow">
                {{ item.eyebrow }}
            </dt>
            {% endif %}
            <dt class="escom-link-list__title">
                {% if item.href %}
                    <a class="escom-link-list__link" href="{{ item.href }}">
                {% endif %}
                {{ item.title }}
                {% if item.href %}
                    </a>
                {% endif %}
                {% if item.pill %}
                    {{ pill(class="escom-pill--brand", label=item.pill) }}
                {% endif %}
            </dt>
            {% if item.description %}
            <dd class="escom-link-list__description">
                {{ item.description }}
            </dd>
            {% endif %}
        </dl>
    </li>
    {% endfor %}
</ul>

{% endmacro %}
