{% set title_tag = "EightShapes > Chris Detzi" %}
{% set body_classes = "escom-page-type--marketing" %}
{% extends 'templates/base.njk' %}
{% block body %}
    {{ esds.breadcrumb(href="/") }}
    
    {% call esds.row(background_only="dark") %}
        {{ escom.hero_profile(profile_index=2) }}
        <div class="esds-container--dark">
            <div class="escom-long-form-text">
                <p class="escom-long-form-text__lead">
                    Chris leads a wide range of design and research programs at Eightshapes, delivering results for clients across numerous industries. He balances strategic consultation with high quality execution and delivery.   
                </p>
            </div>
        </div>
    {% endcall %}

    {% call esds.row(background_only="white") %}
        <div class="escom-long-form-text">
                <p>
                    He’s at ease working directly with an organization’s senior most staff or right alongside designers, developers, and management teams. Throughout his career, Chris has:
                </p>
                <ul>
                    <li><b>Built and integrated</b> in-house design teams into product development workflows </li>
                    <li><b>Led cross-functional</b> project teams to complete complex design and development projects </li>
                    <li><b>Directed</b> large, multi-faceted <b>design programs</b> both in-house and as consultant</li>
                </ul>
                 <p>
                    Prior to joining EightShapes, Chris worked at Sprint Communications, where he lead many large-scale customer facing and internal redesign programs, including several web self-service applications and customer care systems used by customers and support teams.
                </p>
                <p>
                    These experiences, along with Chris’ collaborative and diplomatic style, led him to facilitate the workshop Diffcult Conversations in Creative Environments with <a href="/dan-brown.html"> Dan Brown</a> at the 2009 IA Summit.
                </p>               

        </div>
        {{ escom.tabs(tabs=[
            {
                label: 'Projects',
                active: true
            },
            {
                label: 'Writing',
                content: writing_tab_content
            }
        ]) }}
        {% call escom.tab_pane(label='projects', active=true) %}
            {{ escom.timeline(
                class = "escom-timeline--years-only",
                items = [
                    {
                        heading: "2018",
                        content_right: [
                            esds.list(
                                class = "esds-list--large",
                                items = [
                                    {
                                        description: "Design Lead and Information Architect",
                                        title: "**Virtru** Control Center Application Design"
                                    },
                                    {
                                        description: "System Lead of blended eightshapes/client team",
                                        title: "**NetApp** LUCI Design System"
                                    }
                                ]
                            )
                        ]
                    },                        {
                        heading: "2017",
                        content_right: [
                            esds.list(
                                class = "esds-list--large",
                                items = [
                                    {
                                        description: "Design Lead",
                                        title: "**NetApp** Dashboard Design"
                                    },
                                    {
                                        description: "System Lead of blended eightshapes/client team",
                                        title: "**Universal Service** Indigo Design System"
                                    },
                                    {
                                        description: "Information Architect",
                                        title: "**NetApp** Software Trials Redesign"
                                    }
                                ]
                            )
                        ]
                    },
                    {
                        heading: "2016",
                        content_right: [
                            esds.list(
                                class = "esds-list--large",
                                items = [
                                    {
                                        description: "Design Lead of blended eighthapes/client team",
                                        title: "**Netapp.com** Site Redesign"
                                    },
                                    {
                                        description: "Design Lead, Information Architect",
                                        title: "**RingCentral** eCommerce Design"
                                    },
                                    {
                                        description: "Design Lead, Information Architect",
                                        title: "**NetApp** eCommerce Concesign"
                                    }
                                ]
                            )
                        ]
                    },
                    {
                        heading: "2015",
                        content_right: [
                            esds.list(
                                class = "esds-list--large",
                                items = [
                                    {
                                        description: "Information Architect",
                                        title: "**ACN** Digital Product Strategy"
                                    },
                                    {
                                        description: "Information Architect",
                                        title: "**NetApp** Universal Information Architecture"
                                    },
                                    {
                                        description: "Design Lead",
                                        title: "**Yahoo!** Hiring Portal Design"
                                    }
                                ]
                            )
                        ]
                    },
                    {
                        heading: "2014",
                        content_right: [
                            esds.list(
                                class = "esds-list--large",
                                items = [
                                    {
                                        description: "Design Lead, Program Director",
                                        title: "**Yahoo!** Corporate Tools* and web sites design"
                                    },
                                    {
                                        description: "System Lead",
                                        title: "**Yahoo!** Corporate Sites Design System"
                                    }
                                ]
                            )
                        ]
                    },                       
                    {
                        heading: "2013",
                        content_right: [
                            esds.list(
                                class = "esds-list--large",
                                items = [
                                    {
                                        description: "Design Lead",
                                        title: "**Yahoo!** Company Intranet Redesign (Backyard)"
                                    },
                                    {
                                        description: "System Lead",
                                        title: "**Yahoo!** Goals Tracking Application Design"
                                    }
                                ]
                            )
                        ]
                    }
                ]
            ) }}
        {% endcall %}
        {% call escom.tab_pane(label='writing') %}
            {{ escom.timeline(
                class = "escom-timeline--years-only",
                items = [
                    {
                        heading: "2015",
                        content_right: [
                            esds.list(
                                class = "esds-list--large",
                                items = [
                                   {
                                    eyebrow: "MEDIUM, DECEMBER 2015",
                                    title: "From Design Vision to Reality in 5 Steps",
                                    href: "https://medium.com/eightshapes-llc/from-design-vision-to-reality-in-5-steps-535124a0a96d#.l5unqcn6i"
                                    },
                                    {
                                        eyebrow: "MEDIUM, DECEMBER 2015",
                                        title: "Facilitating Successful Design Reviews",
                                        href: "https://medium.com/eightshapes-llc/facilitating-successful-design-reviews-e6b6898d0dac#.2phi5uspm"
                                    }
                                ]
                            )
                        ]
                    },
                    {
                        heading: "2012",
                        content_right: [
                            esds.list(
                                class = "esds-list--large",
                                items = [
                                    {
                                        eyebrow: "UX Magazine",
                                        title: "From Content Audit to Design Insight",
                                        href: "http://uxmag.com/articles/from-content-audit-to-design-insight"
                                    }
                                ]
                            )
                        ]
                    },
                    {
                        heading: "2009",
                        content_right: [
                            esds.list(
                                class = "esds-list--large",
                                items = [
                                    {
                                        eyebrow: "BOXES AND ARROWS",
                                        title: "The Content Conundrum",
                                        href: "http://boxesandarrows.com/the-content-conundrum/"
                                    },
                                    {
                                        eyebrow: "MEDIUM, 2009",
                                        title: "Design Discovery Wolves",
                                        href: "https://medium.com/eightshapes-llc/design-discovery-wolves-8b0150dbfe7d#.2sbnalnfc"
                                    }
                                ]
                            )
                        ]
                    }           
                ]) }}
        {% endcall %}
    {% endcall %}
{% endblock body %}
