{% extends 'templates/base.njk' %}
{% block body %}
    {{ esds.breadcrumb(href=profiles[2].eightshapes_com) }}
    
    {{ escom.hero(bio=profiles[2]) }}

    {% call esds.row(background="white", class="esds-row--tall-inset esds-row--narrow-inner") %}
        <div class="escom-layout__content--narrow">
            <div class="escom-long-form-text">
                <p class="escom-long-form-text__p--l">
                    Chris is an accomplished design leader with over 15 years of experience. He’s successfully lead many large-scale web and intranet design projects at Eightshapes and throughout his career. Chris brings a strategic perspective to every project but couples that with an eye for tactical design and execution. He is also an award winning Information Architect.
                </p>
            </div>
        </div>
    {% endcall %}

    {% call esds.row(background="white", class="esds-row--narrow-inner") %}
        <div class="escom-layout__content--narrow">
            {{ escom.link_list(
                class = "escom-link-list--large",
                items = [
                    {
                        heading: "Writing"
                    },
                    {
                        eyebrow: "MEDIUM, DECEMBER 2015",
                        title: "From Design Vision to Reality in 5 Steps",
                        href: "https://medium.com/eightshapes-llc/from-design-vision-to-reality-in-5-steps-535124a0a96d#.l5unqcn6i"
                    },
                    {
                        eyebrow: "MEDIUM, DECEMBER 2015",
                        title: "Facilitating Successful Design Reviews",
                        href: "https://medium.com/eightshapes-llc/facilitating-successful-design-reviews-e6b6898d0dac#.2phi5uspm"
                    },
                    {
                        eyebrow: "UX MAGAZINE, MARCH 2012",
                        title: "From Content Audit to Design Insight",
                        href: "http://uxmag.com/articles/from-content-audit-to-design-insight"
                    },
                    {
                        eyebrow: "BOXES AND ARROWS, AUGUST 2009",
                        title: "The Content Conundrum",
                        href: "http://boxesandarrows.com/the-content-conundrum/"
                    },
                    {
                        eyebrow: "MEDIUM, 2009",
                        title: "Design Discovery Wolves",
                        href: "https://medium.com/eightshapes-llc/design-discovery-wolves-8b0150dbfe7d#.2sbnalnfc"
                    }
                ]
            ) }}
        </div>
    {% endcall %}
{% endblock body %}
