{% extends 'templates/base.njk' %}
{% block body %}
    {{ esds.breadcrumb(href="/") }}
    
    {{ escom.hero_profile(bio=profiles[2]) }}

    {% call esds.row(background="white", class="esds-row--tall-inset esds-row--narrow-inner esds-row--no-inset-bottom") %}
        <div class="escom-layout__content--narrow">
            <div class="escom-long-form-text">
                <p class="escom-long-form-text__p--l">
                    Chris leads a wide range of design and research programs at Eightshapes, delivering results for clients across numerous industries. He balances strategic consultation with high quality execution and delivery.   
                </p>
                <p class="escom-long-form-text__p--l">
                    He’s at ease working directly with an organization’s senior most staff or right alongside designers, developers, and management teams. Throughout his career, Chris has:
                <ul>
                    <li style="margin-bottom:12px"> <b>Built and integrated</b> in-house design teams into product development workflows </li>
                    <li style="margin-bottom:12px"> <b>Led cross-functional</b> project teams to complete complex design and development projects </li>
                    <li> <b>Directed</b> large, multi-faceted <b>design programs</b> both in-house and as consultant</li>
                </ul>
                 <p class="escom-long-form-text__p--l">
                    Prior to joining EightShapes, Chris worked at Sprint Communications, where he lead many large-scale customer facing and internal redesign programs, including several web self-service applications and customer care systems used by customers and support teams.
                </p>
                <p class="escom-long-form-text__p--l">
                    These experiences, along with Chris’ collaborative and diplomatic style, led him to facilitate the workshop Diffcult Conversations in Creative Environments with <a href="/dan-brown.html"> Dan Brown</a> at the 2009 IA Summit.
                </p>               

            </div>
            <p>--</p>
            <!-- Select Quotes from Linked In -->
            <style>
            .bq1 p { color: ##888888; font-size: 18px; font-weight: 300;}
            p.after { margin-left: 40px;}
            </style>
            <blockquote class="bq1" cite="http://www.hongkiat.com/blog/top-css-editors-reviewed/">
                <p>Chris is a strategic thinker who designs with the big picture in mind. He sees important connections and always asks the right questions. Chris's leadership and creative direction was vital to helping the team scale and manage the variety of different projects.</p>
            </blockquote>
            <p class="after">- <a href="https://www.linkedin.com/in/chrisdetzi/">Brynna Donn, Director at Yahoo!</a></p>
            <p>--</p>
            <blockquote class="bq1" cite="http://www.hongkiat.com/blog/top-css-editors-reviewed/">
                <p>Chris understands the big picture, sets clear expectations and motivates his team to care about the project. He’s a confident decision maker, yet a calming presence that can handle conflict resolution.......and Chris’ projects are always successful.</p>
            </blockquote>
            <p class="after">- <a href="https://www.linkedin.com/in/chrisdetzi/">Debbie LeNard, Content Strategist</a></p>
            </div>
    {% endcall %}
    {% call esds.row(background="white", class="esds-row--narrow-inner") %}
        <div class="escom-layout__content--narrow">
                       {{ escom.tabs(tabs=[
                    {
                        label: 'Projects',
                        active: true
                    },
                    {
                        label: 'Writing',
                        content: webinars_tab_content
                    }
                ]) }}
            {% call escom.tab_pane(label='projects', active=true) %}
                {{ escom.timeline(
                    items = [
{
                            heading: "2018",
                            topics: [
                                escom.link_list(
                                    class = "escom-link-list--large",
                                    items = [
                                        {
                                            eyebrow: "Design Lead and Information Architect",
                                            title: "**Virtru** Control Center Application Design"
                                        },
                                        {
                                            eyebrow: "System Lead of blended eightshapes/client team",
                                            title: "**NetApp** LUCI Design System",
                                            href: "http://luci.netapp.com"
                                        }
                                    ]
                                )
                            ]
                        },                        {
                            heading: "2017",
                            topics: [
                                escom.link_list(
                                    class = "escom-link-list--large",
                                    items = [
                                        {
                                            eyebrow: "Design Lead",
                                            title: "**NetApp** Dashboard Design"
                                        },
                                        {
                                            eyebrow: "System Lead of blended eightshapes/client team",
                                            title: "**Universal Service** Indigo Design System",
                                            href: "https:indigo.universalservice.org"
                                        },
                                        {
                                            eyebrow: "Information Architect",
                                            title: "**NetApp** Software Trials Redesign"
                                        }
                                    ]
                                )
                            ]
                        },
                        {
                            heading: "2016",
                            topics: [
                                escom.link_list(
                                    class = "escom-link-list--large",
                                    items = [
                                        {
                                            eyebrow: "Design Lead of blended eighthapes/client team",
                                            title: "**Netapp.com** Site Redesign"
                                        },
                                        {
                                            eyebrow: "Design Lead, Information Architect",
                                            title: "**RingCentral** eCommerce Design"
                                        },
                                        {
                                            eyebrow: "Design Lead, Information Architect",
                                            title: "**NetApp** eCommerce Concesign"
                                        }
                                    ]
                                )
                            ]
                        },
                        {
                            heading: "2015",
                            topics: [
                                escom.link_list(
                                    class = "escom-link-list--large",
                                    items = [
                                        {
                                            eyebrow: "Information Architect",
                                            title: "**ACN** Digital Product Strategy"
                                        },
                                        {
                                            eyebrow: "Information Architect",
                                            title: "**NetApp** Universal Information Architecture"
                                        },
                                        {
                                            eyebrow: "Design Lead",
                                            title: "**Yahoo!** Hiring Portal Design"
                                        }
                                    ]
                                )
                            ]
                        },
                        {
                            heading: "2014",
                            topics: [
                                escom.link_list(
                                    class = "escom-link-list--large",
                                    items = [
                                        {
                                            eyebrow: "Design Lead, Program Director",
                                            title: "**Yahoo!** Corporate Tools* and web sites design"
                                        },
                                        {
                                            eyebrow: "System Lead",
                                            title: "**Yahoo!** Corporate Sites Design System"
                                        }
                                    ]
                                )
                            ]
                        },                       
                        {
                            heading: "2013",
                            topics: [
                                escom.link_list(
                                    class = "escom-link-list--large",
                                    items = [
                                        {
                                            eyebrow: "Design Lead",
                                            title: "**Yahoo!** Company Intranet Redesign (Backyard)"
                                        },
                                        {
                                            eyebrow: "System Lead",
                                            title: "**Yahoo!** Goals Tracking Application Design"
                                        }
                                    ]
                                )
                            ]
                        }
                    ]
                ) }}
            {% endcall %}
            {% call escom.tab_pane(label='writing') %}
                {{ escom.timeline(
                    items = [
                        {
                            heading: "2015",
                            topics: [
                                escom.link_list(
                                    class = "escom-link-list--large",
                                    items = [
                                       {
                                        eyebrow: "MEDIUM, DECEMBER 2015",
                                        title: "From Design Vision to Reality in 5 Steps",
                                        href: "https://medium.com/eightshapes-llc/from-design-vision-to-reality-in-5-steps-535124a0a96d#.l5unqcn6i"
                                        },
                                        {
                                            eyebrow: "MEDIUM, DECEMBER 2015",
                                            title: "Facilitating Successful Design Reviews",
                                            href: "https://medium.com/eightshapes-llc/facilitating-successful-design-reviews-e6b6898d0dac#.2phi5uspm"
                                        }
                                    ]
                                )
                            ]
                        },
                        {
                            heading: "2012",
                            topics: [
                                escom.link_list(
                                    class = "escom-link-list--large",
                                    items = [
                                        {
                                            eyebrow: "UX Magazine",
                                            title: "From Content Audit to Design Insight",
                                            href: "http://uxmag.com/articles/from-content-audit-to-design-insight"
                                        }
                                    ]
                                )
                            ]
                        },
                        {
                            heading: "2009",
                            topics: [
                                escom.link_list(
                                    class = "escom-link-list--large",
                                    items = [
                                        {
                                            eyebrow: "BOXES AND ARROWS",
                                            title: "The Content Conundrum",
                                            href: "http://boxesandarrows.com/the-content-conundrum/"
                                        },
                                        {
                                            eyebrow: "MEDIUM, 2009",
                                            title: "Design Discovery Wolves",
                                            href: "https://medium.com/eightshapes-llc/design-discovery-wolves-8b0150dbfe7d#.2sbnalnfc"
                                        }
                                    ]
                                )
                            ]
                        }           
                    ]) }}
            {% endcall %}
        </div>
    {% endcall %}
{% endblock body %}
