{% extends 'templates/legacy/bio.njk' %}

{% block bio_content %}
  {{ legacy_components.bio_hero({ index: 1}) }}
  <div class="container-fluid">
    <div class="container-fluid-inner content__long-form">
      <p class="lead bio__lead">
        Since 1994, Dan’s focused on <a href="/product-discovery.html">digital product discovery and definition</a>, user research, information architecture, content strategy and interaction design for content-heavy sites, complex web applications, and digital products. He’s worked on teams large and small to perfect collaboration and productivity. In 2006, Dan co-founded EightShapes with Nathan Curtis to serve clients in healthcare, education, not-for-profit and high-tech.
      </p>
      <form action="#">
        <div class="content-tabs">
          <div class="content-tabs__tab">
            <input class="content-tabs__tab-input" type="radio" id="appearances" name="tabcontent" checked="checked">
            <label class="content-tabs__tab-label" for="appearances">Appearances</label>
            <div class="content-tabs__panel">
              <div class="content__long-form content-tabs__tab-content">
                <h3>2016</h3>
                <ul>
                  <li>
                    <p class="pre-heading">January 20, 2016 / O'Reilly Design Conference, San Francisco</p>
                    <a href="http://conferences.oreilly.com/design/ux-interaction-iot-us/public/schedule/detail/45380">
                      <h4 class="heading">Crafting the Discovery Phase: First Steps in Effective UX Projects</h4>
                    </a>
                  </li>
                </ul>
                <h3>2015</h3>
                <ul>
                  <li>
                    <p class="pre-heading">Oct 2015 / Midwest UX, Pittsburgh</p>
                    <a href="http://midwestux2015.sched.org/event/4CCY/crafting-the-discovery-phase-first-steps-in-effective-ux-projects">
                      <h4 class="heading">Crafting the Discovery Phase: First Steps in Effective UX Projects</h4>
                    </a>
                  </li>
                  <li>
                    <p class="pre-heading">Oct 2015 / UXDC, Washington, DC</p>
                    <a href="http://user-centered.org/uxdc/slides/craftingdiscovery.brown.talk-distro.pdf">
                      <h4 class="heading">The Four Essential Activities of Design Discovery</h4>
                    </a>
                  </li>
                  <li>
                    <p class="pre-heading">May 2015 / 18F Speaker Series, Washington, DC</p>
                    <a href="https://18f.gsa.gov/2015/05/27/dan-brown-conflict-in-design/">
                      <h4 class="heading">Stop Fighting, Start Designing</h4>
                    </a>
                  </li>
                  <li>
                    <p class="pre-heading">Apr 2015 / IA Summit 2015, Minneapolis</p>
                    <a href="http://www.iasummit.org/node/450">
                      <h4 class="heading">Crafting the Discovery Phase: First Steps in Effective UX Projects</h4>
                    </a>
                  </li>
				</ul>
				<h3>2014</h3>
                <ul>
                  <li>
                    <p class="pre-heading">Mar 2014 / IA Summit 2014, San Diego</p>
                      <h4 class="heading">Collaboration Workshop</h4>
                  </li>
				  <li>
					<p class="pre-heading">Feb 2014 / Interaction 14, Amsterdam</p>
                    <a href="https://vimeo.com/86763622">
                      <h4 class="heading">Stop Fighting, Start Designing</h4>
                    </a>
                  </li>
                    
                </ul>
              </div>
            </div>
          </div>          
          <div class="content-tabs__tab">
            <input class="content-tabs__tab-input" type="radio" id="books" name="tabcontent">
            <label class="content-tabs__tab-label" for="books">Books</label>
            <div class="content-tabs__panel">
              <div class="content__long-form content-tabs__tab-content">
                <ul>
                  <li>
                    <p class="pre-heading">2016 (Forthcoming) / A Book Apart</p>
                      <h4 class="heading">Practical Design Discovery</h4>
                  </li>
                  <li>
                    <p class="pre-heading">2013 / New Riders</p>
                    <a href="http://designingtogetherbook.com">
                      <h4 class="heading">Designing Together: The Collaboration and Conflict Management Handbook for Creative Professionals</h4>
                    </a>
                  </li>
                  <li>
                    <p class="pre-heading">2011 / New Riders</p>
                    <a href="http://amzn.to/1Re6tnk">
                      <h4 class="heading">Communicating Design: Developing Web Site Documentation for Design and Planning</h4>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="content-tabs__tab">
            <input class="content-tabs__tab-input" type="radio" id="webinars" name="tabcontent">
            <label class="content-tabs__tab-label" for="webinars">Webinars</label>
            <div class="content-tabs__panel">
              <div class="content__long-form content-tabs__tab-content">
                <ul>
                  <li>
                    <p class="pre-heading">Dec 2015 / O'Reilly</p>
                    <a href="http://www.oreilly.com/pub/e/3605">
                      <h4 class="heading">Collaborative Design Discovery: Four Essential Techniques for Successful Product Definition</h4>
                    </a>
                  </li>
                  <li>
                    <p class="pre-heading">UIE</p>
                    <a href="http://aycl.uie.com/virtual_seminars/the_secrets_of_great_ux_documentation">
                      <h4 class="heading">The Secrets of Great UX Documentation</h4>
                    </a>
                  </li>
                  <li>
                    <p class="pre-heading">UIE</p>
                    <a href="http://aycl.uie.com/virtual_seminars/plays_well_with_others">
                      <h4 class="heading">Plays Well With Others: Survival Skills for Design Teams</h4>
                    </a>
                  </li>
                  <li>
                    <p class="pre-heading">UIE</p>
                    <a href="http://aycl.uie.com/virtual_seminars/make_collaboration_happen_even_with_stubborn_people">
                      <h4 class="heading">Make Collaboration Happen, Even with Stubborn People</h4>
                    </a>
                  </li>
                  <li>
                    <p class="pre-heading">UIE</p>
                    <a href="http://aycl.uie.com/virtual_seminars/5_simple_principles_to_improve_your_information_architecture">
                      <h4 class="heading">Five Simple Principles to Improve Your Information Architecture</h4>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
         <div class="content-tabs__tab">
            <input class="content-tabs__tab-input" type="radio" id="podcasts" name="tabcontent">
            <label class="content-tabs__tab-label" for="podcasts">Podcasts</label>
            <div class="content-tabs__panel">
              <div class="content__long-form content-tabs__tab-content">
                <ul>
                  <li>
                    <p class="pre-heading">Oct 2013 / The Big Web Show with Jeffrey Zeldman</p>
                    <a href="http://www.muleradio.net/thebigwebshow/100/">
                      <h4 class="heading">Works Well With Others</h4>
                    </a>
                  </li>
                  <li>
                    <p class="pre-heading">Dec 2013 / UX Radio</p>
                    <a href="http://ux-radio.com/2013/12/dan-brown/">
                      <h4 class="heading">Surviving Design Projects</h4>
                    </a>
                  </li>
                  <li>
                    <p class="pre-heading">Nov 2015 / O'Reilly</p>
                    <a href="https://www.oreilly.com/ideas/dan-brown-on-mindsets-managing-designers-and-mastering-impostor-syndrome">
                      <h4 class="heading">Mindsets, Managing Designers, and Mastering Imposter Syndrome</h4>
                    </a>
                  </li>
                  <li>
                    <p class="pre-heading">Apr 2015 / Modev</p>
                    <a href="http://go.modev.com/blog/modev-presents-dan-brown">
                      <h4 class="heading">Modev Presents: Dan Brown</h4>
                    </a>
                  </li>
                  <li>
                    <p class="pre-heading">May 2014 / UX Discovery Session</p>
                    <a href="http://uxdiscoverysession.com/2014/05/11/ds029-dan-brown-eightshapes/">
                      <h4 class="heading">Dan Brown of EightShapes</h4>
                    </a>
                  </li>
                  <li>
                    <p class="pre-heading">Aug 2013 / UIE Book Corner</p>
                    <a href="https://www.uie.com/brainsparks/2013/08/27/uie-book-corner-dan-browns-designing-together/">
                      <h4 class="heading">Dan Brown's Designing Together</h4>
                    </a>
                  </li>
                  <li>
                    <p class="pre-heading">Dec 2013 / Project Management Podcast</p>
                    <a href="http://www.projectmanagement.com/blog/Drunken-PM/7217/">
                      <h4 class="heading">Designing Together - Podcast Interview with Dan Brown</h4>
                    </a>
                  </li>
                  <li>
                    <p class="pre-heading">Nov 2014 / DPM Radio Interview</p>
                    <a href="https://soundcloud.com/dpm-radio/interview-dan-brown">
                      <h4 class="heading">Interview</h4>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="content-tabs__tab">
            <input class="content-tabs__tab-input" type="radio" id="posters" name="tabcontent">
            <label class="content-tabs__tab-label" for="posters">Games</label>
            <div class="content-tabs__panel">
              <div class="content__long-form content-tabs__tab-content">
                <ul>
                  <li>
                    <p class="pre-heading">2013</p>
                    <a href="https://www.thegamecrafter.com/games/surviving-design-projects-v2">
                      <h4 class="heading">Surviving Design Projects: Solving Design Projects' Most Difficult Situations, with Cards</h4>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
{% endblock %}
