{% set title_tag = "EightShapes > Design Discovery" %}
{% set body_classes = "escom-page-type--marketing" %}
{% extends 'templates/base.njk' %}

{% block body %}

    {{ esds.breadcrumb(href="/") }}

    {{ escom.title_row(
        logo=false,
        inset_class="esds-row--very-tall-inset",
        heading="Design Discovery",
        decks=["Even the most efficient product teams must take a moment to ask themselves, “But are we designing the right thing?“","Discovery answers this question, but it’s not as easy as that."])
    }}

    {% call esds.row(background="white", class="esds-row--tall-inset") %}
        <div class="escom-long-form-text">
            <h2>What You Get</h2>
            <p class="escom-long-form-text__lead">
                Discovery begins the design process. Whether you're designing something new or for improving what you already have, discovery’s outcome supports a crucial decision: how should we move forward? <strong>Our aim is to make the next steps as clear and direct as possible</strong>, therefore our discovery projects yield a prototype and a plan.
            </p>
        </div>
        {{ esds.tiles(
            class="esds-tiles--2-column",
            container="light",
            items = [
                {
                    heading: "Concept Prototype (the “What”)",
                    description: "Capturing the overall design direction, the concept prototype shows the crucial parts of the user experience."
                },
                {
                    heading: "Design Plan (the “How”)",
                    description: "Establishing the design direction and how to execute it."
                }
            ]
        ) }}
        <div class="escom-long-form-text">
            <h3>Getting to Green Light</h3>
            <p>Discovery concludes with a crucial inflection, the decision about how to proceed. Your team’s green light may require aligning around a direction, getting executive buy-in, securing funding, or all of the above. We work with you to determine the criteria for a green light, and to produce a prototype that meets those criteria.</p>
        </div>
    {% endcall %}

    {% call esds.row(background="light", class="esds-row--tall-inset") %}
        <div class="escom-long-form-text">
            <h2>What We Do</h2>
            <p class="escom-long-form-text__lead">
                Our discovery engagements include two phases. In the first phase we <strong>gather</strong> and <strong>analyze</strong> information about your design problem. In the second, we <strong>explore</strong> possibilities and <strong>focus</strong> on a solution.
            </p>
        </div>

        {{ esds.tiles(
            class="esds-tiles--2-column esds-tiles--secondary",
            container="white",
            items = [
                {
                    heading: "Phase 1: Assess & Define",
                    description: "Articulate the problem, constraints, and user needs.",
                    property: "Often includes: User research, Competitive audit, Content review, Prioritization workshop, Information architecture, Application mapping, Vision and requirements"
                },
                {
                    heading: "Phase 2: Prototype & Plan",
                    description: "Establish the design direction and how to execute it.",
                    property: "Often includes: Design workshop, Design reviews, Initial prototype, Testing concepts, Creating a plan"
                }
            ]
        ) }}
    {% endcall %}

    {% call esds.row(background="dark", class="esds-row--tall-inset") %}
        <div class="escom-long-form-text">
            <h2>Typical Discovery Engagement</h2>
            <p class="escom-long-form-text__lead">Discovery entails four kinds of activities: gathering information relevant to the design problem; analyzing information to put the data into context; exploring possible design directions; focusing solution ideas into an executable plan. Each activity can take a day or a few weeks, depending on what works best for your team.</p>
            <h3>Transitioning to Detailed Design</h3>
            <p>Discovery gives us the direction and the plan. Detailed design gives us the specifics. With your team aligned around a direction, we switch to an <strong>iterative approach</strong> for fleshing out the details.</p>
        </div>
    {% endcall %}

    {% call esds.row(background="black", class="esds-row--tall-inset") %}
        <div class="escom-long-form-text">
            <h2>How We Work</h2>
            <p class="escom-long-form-text__lead">
                We’re methodical yet adaptable, thoughtful yet efficient. We work well with your front-line designers as well as executive leadership. Our aim is to leave the team in better shape than when we found it, with an actionable plan and even more confidence in their design direction. At EightShapes, we:
            </p>
            <div class="escom-long-form-text--two-column-at-768">
            <ul>
                <li>Relish difficult design problems</li>
                <li>Produce practical outcomes</li>
                <li>Give you a single point of contact</li>
                <li>Communicate frequently with you</li>
                <li>Support and simplify your involvement</li>
            </ul>
            <ul>
                <li>Cooperate with other organizational units</li>
                <li>Adapt to the rhythm of your team...</li>
                <li>...and challenge the team to work more effectively</li>
                <li>Maintain discipline in project management...</li>
                <li>...yet take changes in stride</li>
            </ul>
            </div>
        </div>
    {% endcall %}

    {% call esds.row(class="esds-row--tall-inset esds-container--dark-photograph") %}
        <div class="escom-long-form-text">
            <h2>Discovery Training Workshop</h2>
            <p class="escom-long-form-text__lead">Crafting the Discovery Phase gives design teams the tools necessary for planning and executing discovery efforts.</p>
        </div>
        <div class="escom-cta__action">
            {{ esds.button(text="Learn More", class="esds-button--large escom-cta__action-button", element="a", href="/discovery/crafting-discovery") }}
        </div>
    {% endcall %}

    {% call esds.row(background="black", class="esds-row--tall-inset") %}
        {% call escom.fifty_fifty(image="/images/discovery/practical-design-discovery-book.jpg", class="esds-container--dark") %}
            <div class="escom-long-form-text">
                <h3>Practical Design Discovery:<br/>The Book</h3>
                <p>
                    A handbook for planning discovery projects, Practical Design Discovery provides a framework for helping teams understand the why and how of discovery. It uses this framework to clarify the role of different activities and outputs, walking readers through planning a discovery phase.
                </p>
                <p><a href="https://abookapart.com/products/practical-design-discovery">Learn More</a></p>
            </div>
        {% endcall %}
        {% call escom.fifty_fifty(image="/images/discovery/medium-discovery-channel.jpg", class="esds-container--dark") %}
            <div class="escom-long-form-text">
                <h3>Design Discovery<br/>on Medium.com</h3>
                <p>
                    This collection of articles on discovery includes deep-dives on specific techniques like testing with prototypes, on essential skills like facilitation, and on the underlying philosophy of creativity. New to discovery? Start with <a href="https://medium.com/eightshapes-llc/beyond-utility-re-discovering-product-discovery-5ae210a1399e">this introduction</a>.
                </p>
                <p><a href="https://medium.com/eightshapes-llc/tagged/discovery">Learn More</a></p>
            </div>
        {% endcall %}
    {% endcall %}

    {{ escom.cta(heading="Ready?", deck="Does your product need a vision? Does your UX need a concept? Does your team need design direction?", button_text="Email Us", button_href="mailto:info@eightshapes.com") }}

{% endblock %}
