{% set title_tag = "EightShapes > Design Systems" %}
{% set body_classes = "escom-page-type--marketing" %}
{% extends 'templates/base.njk' %}

{% block body %}

    {{ esds.breadcrumb() }}

    {{ escom.title_row(
        background_image="/images/systems/systems-hero.png",
        heading="Design Systems", 
        logo=false,
        inset_class="esds-row--very-tall-inset",
        decks=[
            "Improve experience <strong>cohesion</strong> and quicken <strong>speed-to-market</strong> with a design system that serves your teams.",
            "It’s not <i>just</i> a style guide. Modern organizations invest in systems so they can deliver innovative and beautiful products, together. <a href='mailto:nathan@eightshapes.com' class='esds-link'>EightShapes can guide you</a>."
        ]
    ) }}

    {# What We Do #}

    {% call esds.row(background="light", class="esds-row--tall-inset") %}

        <div class="escom-long-form-text">
            <h2>What We Do</h2>
            <p class="escom-long-form-text__lead">
            With over 11 years of design systems experience with organizations large and small, EightShapes engages with clients for:
            </p>
        </div>

        {{ esds.tiles(
            class="esds-tiles--secondary esds-tiles--2-column",
            container="white",
            items = [
                {
                    heading: "Strategy",
                    description: "Discover and set a system strategy of objectives, scope, customers, and people involved.",
                    property: "1—2 months"
                },
                {
                    heading: "Design, Code, & Doc",
                    description: "Blend EightShapes with your team(s) to make a library, form community, and nurture adoption.",
                    property: "3—6 months"
                },
                {
                    heading: "Workshops & Talks",
                    description: "Gather a group to learn about systems, conduct hands-on activities, and guide a program.",
                    property: "1—2 days",
                    href: "/systems/workshops.html"
                },
                {
                    heading: "Assessments",
                    description: "Conduct a health check of how you're making, using, and forming community around your system.",
                    property: "1 month",
                    href: "/systems/assessment.html"
                }
            ]
        ) }}
    {% endcall %}

    {# How We Team With You #}

    {% call esds.row(background="dark", class="esds-row--tall-inset") %}
    
        <div class="escom-long-form-text">
            <h2>How We Team With You</h2>
            <p class="escom-long-form-text__lead">When <a href="https://medium.com/eightshapes-llc/designing-a-systems-team-d22f27a2d81d">designing the systems team</a>, we have the most success by blending EightShapes with your team to plan and build a system as a squad together.</p>
            <p>A seasoned EightShapes systems lead always pairs with the in-house systems lead(s) to drive efforts. Additionally, EightShapes veterans can expand your capacity for design, development, and more. </p>
        </div>
        <div class="escom-long-form-text">
            <h3>Example Team: Design, Code &amp; Doc Project</h3>
            <p><img src="/images/systems/Teams.png" alt="EightShapes and In-House staffing of designers, engineers, and product managers." style="width: 100%"></p>
        </div>
    {% endcall %}

    {# Clients #}

    {% call esds.row(background="black", class="esds-row--tall-inset") %}
        <div class="escom-long-form-text">
            <h2>Past Design System Clients</h2>
            <p class="escom-long-form-text__lead">
                Since 2006, we've helped clients formulate strategies, create visual languages, design, build and document libraries, and operate across releases.
            </p>
        </div>

        <div class="escom-logo-grid">
            <img src="/images/client_brands/logos/Google.png" alt="Google" class="logo-grid__image">
            <img src="/images/client_brands/logos/Target.png" alt="Target" class="logo-grid__image">
            <img src="/images/client_brands/logos/REI.png" alt="REI" class="logo-grid__image">
            <img src="/images/client_brands/logos/Marriott.png" alt="Marriott" class="logo-grid__image">
            <img src="/images/client_brands/logos/Morningstar.png" alt="Morningstar" class="logo-grid__image">
            <img src="/images/client_brands/logos/Fidelity.png" alt="Fidelity" class="logo-grid__image">
            <img src="/images/client_brands/logos/CapitalOne.png" alt="Capital One" class="logo-grid__image">
            <img src="/images/client_brands/logos/Cisco.png" alt="Cisco" class="logo-grid__image">
            <img src="/images/client_brands/logos/DiscoveryEducation.png" alt="Discovery Education" class="logo-grid__image">
            <img src="/images/client_brands/logos/eBay.png" alt="eBay" class="logo-grid__image">
            <img src="/images/client_brands/logos/NetApp.png" alt="NetApp" class="logo-grid__image">
            <img src="/images/client_brands/logos/Yahoo.png" alt="Yahoo" class="logo-grid__image">
            <img src="/images/client_brands/logos/Hudl.png" alt="Hudl" class="logo-grid__image">
            <img src="/images/client_brands/logos/3M.png" alt="3M" class="logo-grid__image">
            <img src="/images/client_brands/logos/Wikia.png" alt="Wikia" class="logo-grid__image">
            <img src="/images/client_brands/logos/Sprint.png" alt="Sprint" class="logo-grid__image">
            <img src="/images/client_brands/logos/NationalGeographic.png" alt="National Geographic" class="logo-grid__image">
            <img src="/images/client_brands/logos/Sun.png" alt="Sun Microsystems" class="logo-grid__image">
        </div>
    {% endcall %}

    {# Recent Systems #}

    {% call esds.row(background="light", class="esds-row--tall-inset") %}
        <div class="escom-long-form-text">
            <h2>Recent Systems</h2>
        </div>
        <div class="escom-card-grid">
            {{ esds.card(
                container="white",
                date="2017—18",
                thumbnail_image="/images/systems/casestudies/Morningstar.png",
                title="Morningstar",
                description="MDS, components and charts for digital products.",
                href="http://designsystem.morningstar.com",
                cta="View the Library",
                width="auto"
            ) }}
            {{ esds.card(
                container="white",
                date="2017",
                thumbnail_image="/images/systems/casestudies/LUCI.png",
                title="NetApp",
                description="LUCI, for NetApp digital marketing and products.",
                href="http://luci.netapp.com",
                cta="View the Library",
                width="auto"
            ) }}
            {{ esds.card(
                container="white",
                date="2016–17",
                thumbnail_image="/images/systems/casestudies/Comet.png",
                title="Discovery Education",
                description="Comet, for educational digital apps and sites.",
                href="http://comet.discoveryeducation.com",
                cta="View the Library",
                width="auto"
            ) }}
            {{ esds.card(
                container="white",
                date="2017",
                thumbnail_image="/images/systems/casestudies/Indigo.png",
                title="Indigo Design System",
                description="A system for the Universal Service Administrative Co.",
                href="indigo.universalservice.org",
                cta="View the Library",
                width="auto"
            ) }}
            {{ esds.card(
                container="white",
                date="2018",
                thumbnail_image="/images/systems/casestudies/REI.png",
                title="REI",
                description="Cedar, a web-based system for rei.com apps and properties.",
                width="auto"
            ) }}        
        </div>
    {% endcall %}

    {# How We Help #}

    {% call esds.row(background="white", class="esds-row--tall-inset") %}
        <div class="escom-long-form-text">
            <h2>Areas of Expertise</h2>
            <p class="escom-long-form-text__lead">
                Visit EightShapes' <a href="https://medium.com/eightshapes-llc/tagged/design-systems">Medium.com Systems channel</a> to see how lift your system's design, code, documentation, processes, and strategy. Like these articles? Let us consult with you to provide deeper advice nuanced to your organization.
            </p>
            <h3>Strategy</h3>
        </div>
        <div class="escom-card-grid">
            {{ esds.card(
                container="light",
                type="Medium",
                date="October 2017",
                title="Defining Design Systems",
                description="Getting to the root of what your system needs to be",
                href="https://medium.com/eightshapes-llc/defining-design-systems-6dd4b03e0ff6",
                thumbnail_image="/images/components/content_card/DefiningDesignSystems.png",
                width="auto"
            ) }}

            {{ esds.card(
                container="light",
                type="Medium",
                date="August 2017",
                title="Starting a Design System",
                description="From pitching a strategy to launching 1.0.0 and beyond",
                href="https://medium.com/eightshapes-llc/starting-a-design-system-6b909a578325",
                thumbnail_image="/images/components/content_card/StartingaDesignSystem.png",
                width="auto"
            ) }}

            {{ esds.card(
                container="light",
                type="Medium",
                date="April 2017",
                title="Designing a Systems Team",
                description="Models to scale a design systems team to serve the enterprise",
                href="https://medium.com/eightshapes-llc/designing-a-systems-team-d22f27a2d81d",
                thumbnail_image="/images/components/content_card/DesigningaSystemsTeam.png",
                width="auto"
            ) }}
        </div>
        <div class="escom-long-form-text">
            <h3>Visual Style and Component Design</h3>
        </div>
        <div class="escom-card-grid">
            {{ esds.card(
                container="light",
                type="Medium",
                date="April 2016",
                title="Color",
                description="Exploring palettes, theming, tints and shades, and accessibility",
                href="https://medium.com/@nathanacurtis/color-in-design-systems-a1c80f65fa3#.l23xnagaz",
                thumbnail_image="/images/components/content_card/Color.png",
                width="auto"
            ) }}

            {{ esds.card(
                container="light",
                type="Medium",
                date="September 2016",
                title="Space",
                description="From basics to expanded concepts that apply space with intent",
                href="https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62#.fwng4aef7",
                thumbnail_image="/images/components/content_card/Space.png",
                width="auto"
            ) }}

            {{ esds.card(
                container="light",
                type="Medium",
                date="April 2016",
                title="Buttons",
                description="12 tips for setting up a button system that endures",
                href="https://medium.com/eightshapes-llc/buttons-in-design-systems-eac3acf7e23#.ej345veis",
                thumbnail_image="/images/components/content_card/Buttons.png",
                width="auto"
            ) }}
        </div>
        <div class="escom-long-form-text">
            <h3>Documentation</h3>
        </div>
        <div class="escom-card-grid">
            {{ esds.card(
                container="light",
                type="Medium",
                date="April 2016",
                title="Documenting Components",
                description="Serve a system’s audiences with well-architected content",
                href="https://medium.com/eightshapes-llc/documenting-components-9fe59b80c015",
                thumbnail_image="/images/components/content_card/DocumentingComponents.png",
                width="auto"
            ) }}

            {{ esds.card(
                container="light",
                type="Medium",
                date="March 2018",
                title="Component Examples",
                description="Showcase your component’s quality, depth and versatility",
                href="https://medium.com/eightshapes-llc/component-examples-9c4b3bb3b308",
                thumbnail_image="/images/components/content_card/ComponentExamples.png",
                width="auto"
            ) }}

            {{ esds.card(
                container="light",
                type="Medium",
                date="June 2018",
                title="Design Guidelines",
                description="Write words and add pictures to empower designers",
                href="https://medium.com/eightshapes-llc/component-design-guidelines-eca706100e7c",
                thumbnail_image="/images/components/content_card/ComponentDesignGuidelines.png",
                width="auto"
            ) }}
        </div>
        <div class="escom-long-form-text">
            <h3>People, Teams and Community</h3>
        </div>
        <div class="escom-card-grid">
            {{ esds.card(
                container="light",
                type="Medium",
                date="October 2015",
                title="Team Models for Scale",
                description="Evolving past overlords to centralize and federate design",
                href="https://medium.com/eightshapes-llc/team-models-for-scaling-a-design-system-2cf9d03be6a0",
                thumbnail_image="/images/components/content_card/TeamModels.png",
                width="auto"
            ) }}

            {{ esds.card(
                container="light",
                type="Medium",
                date="April 2017",
                title="Designing a Systems Team",
                description="Models to scale a design systems team to serve the enterprise",
                href="https://medium.com/eightshapes-llc/designing-a-systems-team-d22f27a2d81d",
                thumbnail_image="/images/components/content_card/DesigningaSystemsTeam.png",
                width="auto"
            ) }}

            {{ esds.card(
                container="light",
                type="Medium",
                date="March 2017",
                title="Contributions",
                description="Opening a library to a community’s code, design, and more",
                href="https://medium.com/eightshapes-llc/contributions-to-design-systems-89261a9363d8",
                thumbnail_image="/images/components/content_card/Contributions.png",
                width="auto"
            ) }}
        </div>
        <div class="escom-long-form-text">
            <h3>Process &amp; Operations</h3>
        </div>
        <div class="escom-card-grid">
            {{ esds.card(
                container="light",
                type="Medium",
                date="August 2018",
                title="Releases, Across Versions",
                description="Deliver versioned code, design, and doc to adopters over time.",
                href="http://bit.ly/8s-releases",
                thumbnail_image="/images/components/content_card/Releases.png",
                width="auto"
            ) }}

            {{ esds.card(
                container="light",
                type="Medium",
                date="October 2017",
                title="Practicing Design Systems",
                description="Address “How Do I…?” questions to define processes",
                href="https://medium.com/eightshapes-llc/defining-design-systems-6dd4b03e0ff6",
                thumbnail_image="/images/components/content_card/PracticingDesignSystems.png",
                width="auto"
            ) }}

            {{ esds.card(
                container="light",
                type="Medium",
                date="September 2017",
                title="Features, Step-by-Step",
                description="A workflow to discover, design, code and document a system",
                href="https://medium.com/eightshapes-llc/system-features-step-by-step-e69c90982630",
                thumbnail_image="/images/components/content_card/DesignSystemFeaturesStepbyStep.png",
                width="auto"
            ) }}
        </div>
    {% endcall %}

    {{ escom.cta(heading="Ready?", deck="Want to kickstart a system? Need a partner to help? Ready to lift your system?", button_text="Email Us", href="mailto:info@eightshapes.com") }}

{% endblock %}
