{% set title_tag = "EightShapes" %}
{% set body_classes = "escom-page-type--marketing" %}
{% extends 'templates/base.njk' %}

{% block body %}
    {{ escom.title_row(
        class="escom-title-row--centered-deck esds-row--very-tall-inset",
        logo=true,
        background="brand",
        decks=[
            "EightShapes designs web-based products and systems that make for beautiful, usable, cohesive experiences."
        ],
        page_anchors=[
          {    
            href: "#our-work",
            label: "Our Work"
          },
          {
            href: "#services",
            label: "What We Do"
          },
          {
            href: "#who-we-are",
            label: "Who We Are"
          },
          {
            href: "#contributions",
            label: "Contributions"
          }
        ]
 
    ) }}

  <!-- What We Do -->
  {% call esds.row(background="white", class="esds-row--tall-inset") %}
    <div class="escom-long-form-text">
      <h2 id="services">What We Do</h2>
    </div>
    {{ esds.tiles(
        container="light",
        items = [
            {
                heading: "Discovery",
                description: "Align around a shared product vision through design principles, customer insights, prototyped concepts.",
                property: "Includes brainstorming, workshops, prototyping, planning, and usability research",
                href: "/design-discovery.html"
            },
            {
                heading: "Design & Front End Dev",
                description: "Deliver end-to-end UX, visual design, and front-end style guides so your team can build an experience.",
                property: "Includes UX design, information architecture, visual design, front-end dev, and research"
            },
            {
                heading: "Systems",
                description: "Design, code, and document systems so your teams can make innovative, beautiful experiences together.",
                property: "Includes strategy, design, code, doc, coaching, assessments, and workshops",
                href: "/design-systems.html"
            }
        ]
    ) }}
  {% endcall %}

  <!-- Our Work -->
  {% call esds.row(background_only="dark", class="esds-row--tall-inset") %}
    <div class="esds-container--dark">
        <div class="escom-long-form-text">
            <h2 id="our-work">Our Work</h2>
        </div>
    </div>
    {% call escom.card_grid() %}
        {{ esds.card(
            container="white",
            type="Case Study",
            title="Sonatype Product Design",
            href="/case-studies/sonatype.html",
            thumbnail_image="/images/casestudies/case-study-thumbnail-sonatype.png",
            width="auto"
        ) }}

        {{ esds.card(
            container="white",
            type="Case Study",
            title="NCARB Product Design",
            href="/case-studies/ncarb.html",
            thumbnail_image="/images/casestudies/case-study-thumbnail-ncarb.png",
            width="auto"
        ) }}

        {{ esds.card(
            container="white",
            type="Case Study",
            title="AACT Design Strategy",
            href="/case-studies/aact.html",
            thumbnail_image="/images/casestudies/case-study-thumbnail-aact.png",
            width="auto"
        ) }}

        {{ esds.card(
            container="white",
            date="Design System",
            thumbnail_image="/images/systems/casestudies/Morningstar.png",
            title="Morningstar, MDS",
            description="Style, UI components and charts for digital products.",
            href="http://designsystem.morningstar.com",
            width="auto"
        ) }}

        {{ esds.card(
            container="white",
            date="Design System",
            thumbnail_image="/images/systems/casestudies/REI.png",
            title="REI's Cedar",
            description="A web-based system for rei.com apps and properties.",
            width="auto"
        ) }}       

        {{ esds.card(
            container="white",
            date="Design System",
            thumbnail_image="/images/systems/casestudies/Comet.png",
            title="Discovery Ed Comet",
            description="A system for educational digital apps and sites.",
            href="http://comet.discoveryeducation.com",
            width="auto"
        ) }}
    {% endcall %}
  {% endcall %}

{# Clients #}

{% call esds.row(background="black", class="esds-row--tall-inset") %}
    <div class="escom-long-form-text">
        <h2>Our Clients</h2>
        <p class="escom-long-form-text__lead">Since 2006, EightShapes has served large enterprises, small startups, non-profit associations, and federal government clients.</p>
    </div>
    <div class="escom-logo-grid">
        <img src="/images/client_brands/logos/Google.png" alt="Google" class="logo-grid__image">
        <img src="/images/client_brands/logos/Target.png" alt="Target" class="logo-grid__image">
        <img src="/images/client_brands/logos/REI.png" alt="REI" class="logo-grid__image">
        <img src="/images/client_brands/logos/Marriott.png" alt="Marriott" class="logo-grid__image">
        <img src="/images/client_brands/logos/Morningstar.png" alt="Morningstar" class="logo-grid__image">
        <img src="/images/client_brands/logos/Fidelity.png" alt="Fidelity" class="logo-grid__image">
        <img src="/images/client_brands/logos/CapitalOne.png" alt="Capital One" class="logo-grid__image">
        <img src="/images/client_brands/logos/Cisco.png" alt="Cisco" class="logo-grid__image">
        <img src="/images/client_brands/logos/DiscoveryEducation.png" alt="Discovery Education" class="logo-grid__image">
        <img src="/images/client_brands/logos/eBay.png" alt="eBay" class="logo-grid__image">
        <img src="/images/client_brands/logos/NetApp.png" alt="NetApp" class="logo-grid__image">
        <img src="/images/client_brands/logos/Yahoo.png" alt="Yahoo" class="logo-grid__image">
        <img src="/images/client_brands/logos/Hudl.png" alt="Hudl" class="logo-grid__image">
        <img src="/images/client_brands/logos/3M.png" alt="3M" class="logo-grid__image">
        <img src="/images/client_brands/logos/Wikia.png" alt="Wikia" class="logo-grid__image">
        <img src="/images/client_brands/logos/Sprint.png" alt="Sprint" class="logo-grid__image">
        <img src="/images/client_brands/logos/NationalGeographic.png" alt="National Geographic" class="logo-grid__image">
        <img src="/images/client_brands/logos/Sun.png" alt="Sun Microsystems" class="logo-grid__image">
    </div>
{% endcall %}
  
  <!-- People -->
  {% call esds.row(background="light", class="esds-row--tall-inset") %}
    <div class="escom-long-form-text">
      <h2 id="who-we-are">Who We Are</h2>
      <p class="escom-long-form-text__lead">
        Tenacious in solving complex design problems, we believe successful projects depend on transparency, discipline, cooperation, and Post-Its.
      </p>
    </div>
    {{ escom.bio_thumbnails() }}
  {% endcall %}

  
  <!-- Page CTA -->
  {{ escom.cta(heading="Ready?", deck="Crafting a strategy? Working on a UX design? Starting a design system?", button_text="Email Us", button_href="mailto:info@eightshapes.com") }}
{% endblock %}
