{% set title_tag = "EightShapes > James Melzer" %}
{% set body_classes = "escom-page-type--marketing" %}
{% extends 'templates/base.njk' %}
{% block body %}
    {{ esds.breadcrumb(href="/") }}
    

    {% call esds.row(background_only="dark") %}
        {{ escom.hero_profile(profile_index=3) }}
        <div class="esds-container--dark">
            <div class="escom-long-form-text">
                <p class="escom-long-form-text__p--l">
                    As a UX designer and team lead, James connects business leaders, designers and developers to design the best solutions. James’ 18 years of experience includes large-scale information architecture, search, responsive design, and creating living style guides for design teams. 
                </p>
            </div>
        </div>
    {% endcall %}
    {% call esds.row(background="white", class="esds-row--tall-inset") %}
        <div class="escom-long-form-text">
                <p>
                    James has led accounts and projects with diverse clients in industry, education, government, and civil society, on projects such as:
                </p>
                <ul>
                    <li><strong>Led a design system team</strong> that helped a financial institution realize its efficiency and quality goals.</li>
                    <li><strong>Built and governed a design system</strong> to achieve brand cohesiveness across dozens of vendor and in-house teams with over a hundred native apps.</li>
                    <li><strong>Facilitated c-suite ideation</strong> toward an app's MVP, then led the team to realize the concept via prototypes. </li>
                    <li><strong>Led the research and design team</strong> to overhaul the federal government's assistance for victims of identity theft.</li>
                </ul>
                <p>
                    James designed navigation schemes for several of the world's largest companies and organizations. He relishes thorny information architecture problems, leveraging years of experience and a Master’s Degree in Library/Information Science from the University of Maryland. 
                </p>
        </div>

        {{ escom.tabs(tabs=[
            {
                label: 'Past Projects',
                active: true
            },
            {
                label: 'Writing',
                content: writing_tab_content
            },
            {
                label: 'Posters',
                content: posters_tab_content
            }
        ]) }}
        {% call escom.tab_pane(label='past_projects', active=true) %}
            {{ escom.timeline (
                class = "escom-timeline--years-only",
                items = [
                    {
                        heading: "2018",
                        content_right: [
                            esds.list(
                                class = "esds-list--large",
                                items = [
                                    {
                                        description: "System Lead of blended 8S/client team",
                                        title: "**Software firm** design system"
                                    },
                                    {
                                        description: "System Lead of 8S team",
                                        title: "**Pharmaceutical firm** design system"
                                    },
                                    {
                                        description: "System Lead of blended 8S/client team",
                                        title: "**Financial firm** design system"
                                    },                                    {
                                        description: "System Lead of blended 8S/client team",
                                        title: "**Non-profit** design system"
                                    }
                                ]
                            )
                        ]
                    },
                    {
                        heading: "2017",
                        content_right: [
                            esds.list(
                                class = "esds-list--large",
                                items = [
                                    {
                                        description: "System Lead of blended 8S/client team",
                                        title: "**Discovery Education** design system"
                                    },
                                    {
                                        description: "Information Architect",
                                        title: "**Wells Fargo** navigation scheme"
                                    },
                                    {
                                        description: "System Lead & Design Lead",
                                        title: "**World Bank** design system &amp; product design (2)"
                                    }
                                ]
                            )
                        ]
                    },
                    {
                        heading: "2016",
                        content_right: [
                            esds.list(
                                class = "esds-list--large",
                                items = [
                                    {
                                        description: "System Lead of blended 8S/client team",
                                        title: "**Discovery Education**    design system"
                                    },
                                    {
                                        description: "Information Architect",
                                        title: "**NetApp** navigation scheme"
                                    },
                                    {
                                        description: "Information Architect",
                                        title: "**World Bank** navigation scheme"
                                    }
                                    
                                ]
                            )
                        ]
                    },
                    {
                    heading: "2015",
                        content_right: [
                            esds.list(
                                class = "esds-list--large",
                                items = [
                                    {
                                        description: "Design Lead",
                                        title: "**HealthMine** product design"
                                    },
                                    {
                                        description: "Design Lead of blended 8S/Vendor team",
                                        title: "**Identitytheft.gov** product design"
                                    },
                                    {
                                        description: "Design Lead",
                                        title: "**Marriott** navigation scheme"
                                    },
                                    {
                                        description: "Design Lead",
                                        title: "**The Ritz-Carlton** responsive refresh"
                                    }
                                ]
                            )
                        ]
                    },
                    {
                    heading: "2014",
                        content_right: [
                            esds.list(
                                class = "esds-list--large",
                                items = [
                                    {
                                        description: "System Lead of a blended 8S/client team & Design Lead",
                                        title: "**Cisco** apps design system &amp; product design (8)"
                                    },
                                    {
                                        description: "System Lead of Blended 8S/client team & Information Architect",
                                        title: "**Marriott** design system &amp; product design (2)",
                                        description: "System Lead of Blended 8S/client team & Information Architect"
                                    }
                                ]
                            )
                        ]
                    },
                    {
                    heading: "2013",
                        content_right: [
                            esds.list(
                                class = "esds-list--large",
                                items = [
                                    {
                                        description: "System Lead of a blended 8S/client team,  Design Lead, & Information Architect",
                                        title: "**Cisco** apps design system, product design (10), &amp; Site Search"
                                    },
                                    {
                                        description: "System Lead of Blended 8S/client team",
                                        title: "**Marriott** design system"
                                    },
                                    {
                                        description: "Design Lead",
                                        title: "**NetApp** navigation scheme"
                                    }
                                ]
                            )
                        ]
                    },
                    {
                    heading: "2012",
                        content_right: [
                            esds.list(
                                class = "esds-list--large",
                                items = [
                                    {
                                        description: "System Lead of a blended 8S/client team,  Design Lead, & Information Architect",
                                        title: "**Cisco** apps design system, component library, product design (10), &amp; Site Search"
                                    }
                                ]
                            )
                        ]
                    }
                ]
            )
            }}
        {% endcall %}

        {% call escom.tab_pane(label='writing') %}
            {{ esds.list(
                class = "esds-list--large",
                items = [
                    {
                        eyebrow: "MEDIUM, OCTOBER 2014",
                        title: "Responsive Behaviors, a Working Vocabulary",
                        href: "https://medium.com/eightshapes-llc/working-vocabulary-responsive-grid-behaviors-984b3b5deaab"
                    }
                ]
            ) }}
        {% endcall %}
        {% call escom.tab_pane(label='posters') %}
            {{ escom.link_list(
                class = "escom-link-list--large",
                items = [
                    {
                        eyebrow: "2013 INFORMATION ARCHITECTURE SUMMIT",
                        title: "Communicating Responsive Web Design: The Breakpoint Matrix",
                        href: "http://jamesmelzer.com/breakpoint-matrix.html",
                        image: "images/components/content_card/poster-iasummit2013.jpg"
                    },
                    {
                        eyebrow: "2012 INFORMATION ARCHITECTURE SUMMIT",
                        title: "Transforming My Toolkit: A One-Year Journey from Wireframes to HTML Prototypes [PDF]",
                        href: "http://jamesmelzer.com/poster.transforming-my-toolkit.ia-summit-2012.v2.pdf",
                        image: "images/components/content_card/poster-iasummit2012.jpg"
                    },
                    {
                        eyebrow: "2010 INFORMATION ARCHITECTURE SUMMIT",
                        title: "Applying Mental Models Outside UX [PDF]",
                        href: "http://jamesmelzer.com/iasummit.MentalModels.v3.pdf",
                        image: "images/components/content_card/poster-iasummit2010.jpg"
                    }
                ]
            ) }}
        {% endcall %}
    {% endcall %}
{% endblock body %}
