{% extends 'templates/base.njk' %}
{% block body %}
    {{ esds.breadcrumb(href="/") }}
    
    {{ escom.hero(bio=profiles[3]) }}

    {% call esds.row(background="white", class="esds-row--tall-inset esds-row--narrow-inner esds-row--no-inset-bottom") %}
        <div class="escom-layout__content--narrow">
            <div class="escom-long-form-text">
                <p class="escom-long-form-text__p--l">
                    As a UX designer and team lead, James connects business leaders, designers and developers to design the best solutions. James’ 15 years of experience includes large-scale information architecture, search, responsive design, and creating living style guides for design teams. His previous clients include startups, Fortune 500 enterprises, non-profits, government agencies, and a university. James earned a Master’s Degree in Library/Information Science from the University of Maryland.
                </p>
            </div>
        </div>
    {% endcall %}

    {% call esds.row(background="white", class="esds-row--narrow-inner") %}
        <div class="escom-layout__content--narrow">
            {{ escom.link_list(
                class = "escom-link-list--large",
                items = [
                    {
                        heading: "Writing"
                    },
                    {
                        eyebrow: "MEDIUM, OCTOBER 2014",
                        title: "Responsive Behaviors, a Working Vocabulary",
                        href: "https://medium.com/eightshapes-llc/working-vocabulary-responsive-grid-behaviors-984b3b5deaab"
                    },
                    {
                        heading: "Posters"
                    },
                    {
                        eyebrow: "2013 INFORMATION ARCHITECTURE SUMMIT",
                        title: "Communicating Responsive Web Design: The Breakpoint Matrix",
                        href: "http://jamesmelzer.com/breakpoint-matrix.html",
                        image: "images/components/content_card/poster-iasummit2013.jpg"
                    },
                    {
                        eyebrow: "2012 INFORMATION ARCHITECTURE SUMMIT",
                        title: "Transforming My Toolkit: A One-Year Journey from Wireframes to HTML Prototypes [PDF]",
                        href: "http://jamesmelzer.com/poster.transforming-my-toolkit.ia-summit-2012.v2.pdf",
                        image: "images/components/content_card/poster-iasummit2012.jpg"
                    },
                    {
                        eyebrow: "2010 INFORMATION ARCHITECTURE SUMMIT",
                        title: "Applying Mental Models Outside UX [PDF]",
                        href: "http://jamesmelzer.com/iasummit.MentalModels.v3.pdf",
                        image: "images/components/content_card/poster-iasummit2010.jpg"
                    }
                ]
            ) }}
        </div>
    {% endcall %}
{% endblock body %}
