{% set title_tag = "EightShapes > Kevin Powell" %}
{% extends 'templates/base.njk' %}
{% block body %}
    {{ esds.breadcrumb(href="/") }}
    
    {{ escom.hero_profile(bio=profiles[4]) }}

    {% call esds.row(background="white", class="esds-row--tall-inset esds-row--narrow-inner") %}
        <div class="escom-layout__content--narrow">
            <div class="escom-long-form-text">
                <p class="escom-long-form-text__p--l">
                    Kevin is an interaction designer with a passion for rendering modern designs through the latest production techniques. Kevin consults with in-house dev teams to implement design systems and fine-tune their prototyping and production environments. His presentations on User Experience and CSS precompilers garnered enough views in 2013 to place him in the top 5% of most-viewed presentations on slideshare.net.
                </p>
            </div>
            {{ escom.link_list(
                class = "escom-link-list--large",
                items = [
                    {
                        heading: "Writing"
                    },
                    {
                        eyebrow: "Medium, March 2018",
                        title: "Cropping Away Negative Impacts of Line Height",
                        href: "https://medium.com/eightshapes-llc/cropping-away-negative-impacts-of-line-height-84d744e016ce"
                    }
                ]
            ) }}
            {{ escom.link_list(
                class = "escom-link-list--large",
                items = [
                    {
                        heading: "Tools"
                    },
                    {
                        eyebrow: "2017–2018 • Github",
                        title: "EightShapes Design System Tools",
                        href: "https://github.com/EightShapes/esds-build"
                    },
                    {
                        eyebrow: "2017",
                        title: "EightShapes Contrast Grid",
                        href: "https://contrast-grid.eightshapes.com/"
                    },
                    {
                        eyebrow: "2017",
                        title: "EightShapes Text Crop",
                        href: "https://text-crop.eightshapes.com/"
                    }
                ]
            ) }}
        </div>
    {% endcall %}
{% endblock body %}
