{% set title_tag = "EightShapes > Nathan Curtis" %}
{% set body_classes = "escom-page-type--marketing" %}
{% extends 'templates/base.njk' %}
{% block body %}
    {{ esds.breadcrumb(href="/") }}
    
    {% call esds.row(background_only="dark") %}
        {{ escom.hero_profile(profile_index=0) }}
        <div class="esds-container--dark">
            <div class="escom-long-form-text">
                <p class="escom-long-form-text__p--l">
                    Nathan co-founded EightShapes with <a href="dan-brown.html">Dan Brown</a> in 2006. He's passionate about information architecture, UX, front-end dev, and leads <a href="/design-systems.html">design systems</a> consulting at EightShapes. He wrote <a href="https://www.amazon.com/Modular-Web-Design-Components-Documentation/dp/0321601351">Modular Web Design</a> in 2009, blogs frequently on <a href="https://medium.com/@nathanacurtis">Medium.com</a> today, and speaks regularly at events worldwide.
                </p>
            </div>
        </div>
    {% endcall %}
    {% call esds.row(background="white", class="esds-row--tall-inset") %}
        <div class="escom-long-form-text">
            <p>
                Nathan has worked with design systems teams at Google, REI, Fidelity, Marriott, Cisco, Capital One, Yahoo, Sprint, Sun Microsystems, Morningstar, Target, NetApp, USAC, Key Bank, Liberty Mutual, IDEXX, Discovery Education, Carmax, Citi, Hudl, Automattic, Wells Fargo, and Wikia.
            </p>
            
        </div>
        {{ escom.tabs(tabs=[
                {
                    label: 'Appearances',
                    active: true
                },
                {
                    label: 'Webinars',
                    content: webinars_tab_content
                },
                {
                    label: 'Podcasts',
                    content: podcasts_tab_content
                },
                {
                    label: 'Posters',
                    content: posters_tab_content
                }
            ]) }}
            {% call escom.tab_pane(label='appearances', active=true) %}
                {{ escom.timeline(
                    class = "escom-timeline--years-only",
                    items = [
                        {
                            heading: "2019",
                            content_right: [
                                esds.list(
                                    class = "esds-list--large",
                                    items = [
                                        {
                                            description: "May, 2019 • Workshop+Talk",
                                            title: "UXLX, Lisbon, Portugal",
                                            href: "https://www.ux-lx.com/"
                                        },
                                        {
                                            description: "April, 2019 • Symposia Moderator",
                                            title: "AIGA Design Conference, Pasadena, CA",
                                            href: "https://designconference.aiga.org"
                                        },
                                        {
                                            description: "February, 2019 • Workshop+Talk",
                                            title: "UXI Live, Tel Aviv, Israel",
                                            href: "https://uxilive.co.il/2019/"
                                        }
                                    ]
                                )
                            ]
                        },
                        {
                            heading: "2018",
                            content_right: [
                                esds.list(
                                    class = "esds-list--large",
                                    items = [
                                        {
                                            description: "December, 2018 • Workshop",
                                            title: "Clarity Conference, New York",
                                            href: "http://clarityconf.com"
                                        },
                                        {
                                            description: "November, 2018 • Workshop+Talk",
                                            title: "UI23, Boston, MA",
                                            href: "https://ui.uie.com/Workshops/nathan-curtis"
                                        },
                                        {
                                            description: "November, 2018 • Workshop",
                                            title: "Invision Design Better, Munich, Germany",
                                            href: "https://designsystemsnov2018.splashthat.com/"
                                        },
                                        {
                                            description: "August, 2018 • Talk",
                                            title: "RefreshDC, Washington, DC"
                                        },
                                        {
                                            description: "August, 2018 • Workshop",
                                            title: "Invision Design Better, Denver, CO",
                                            href: "https://designsystemsaug2018.splashthat.com/"
                                        },
                                        {
                                            description: "July, 2018 • Talk",
                                            title: "UX Meetup, Paris, France",
                                            href: "https://www.meetup.com/Meetups-Backelite-Paris/events/252226564/"
                                        },
                                        {
                                            description: "June, 2018 • Workshop",
                                            title: "Enterprise UX, San Francisco, CA",
                                            href: "https://rosenfeldmedia.com/eux2018/sessions/scalable-design-systems/"
                                        },
                                        {
                                            description: "May, 2018 • Workshop",
                                            title: "Invision Design Better, New York, NY",
                                            href: "https://designsystemsmay2018.splashthat.com/"
                                        },
                                        {
                                            description: "March, 2018 • Workshop+Talk",
                                            title: "DS Conference, Helsinki, Finland",
                                            href: "https://dsconference.com/dsconf-conference-day/"
                                        },
                                        {
                                            description: "February, 2018 • Workshop+Talk",
                                            title: "Webstock 2018, Wellington, New Zealand",
                                            href: "https://www.webstock.org.nz/18/speakers/nathan-curtis/"
                                        },
                                        {
                                            description: "January, 2018 • Workshop",
                                            title: "Chicago Design Systems Meetup",
                                            href: "https://ti.to/eightshapes/chicago-jan-2018-design-systems-Workshop"
                                        }
                                    ]
                                )
                            ]
                        },
                        {
                            heading: "2017",
                            content_right: [
                                esds.list(
                                    class = "esds-list--large",
                                    items = [
                                        {
                                            description: "November, 2017 • Workshop",
                                            title: "Clarity Conference, San Francisco, CA",
                                            href: "https://www.clarityconf.com/scalable-design-systems/"
                                        },
                                        {
                                            description: "November, 2017 • Workshop+Talk",
                                            title: "UI22, Boston, MA",
                                            href: "https://ui22.uie.com/"
                                        },
                                        {
                                            description: "August, 2017 • Talk",
                                            title: "Carmax Speaker Series, Richmond, VA",
                                            href: "https://www.eventbrite.com/e/beyond-the-toolkit-with-nathan-curtis-tickets-36606807948#"
                                        },
                                        {
                                            description: "June, 2017 • Talk",
                                            title: "SmashingConf, New York, NY",
                                            href: "https://smashingconf.com/ny-2017/speakers/nathan-curtis"
                                        },
                                        {
                                            description: "June, 2017 • Workshop",
                                            title: "EnterpriseUX, San Francisco, CA",
                                            href: "http://2017.enterpriseux.net/"
                                        },
                                        {
                                            description: "April, 2017 • Workshop+Talk",
                                            title: "SmashingConf, San Francisco, CA",
                                            href: "https://smashingconf.com/Workshops/nathan-curtis"
                                        },
                                        {
                                            description: "February, 2017 • Talk",
                                            title: "RefreshDC, Washington, DC",
                                            href: "https://nvite.com/refreshdc/wvyp9e"
                                        },
                                        {
                                            description: "January, 2017 • Workshop+Talk",
                                            title: "Charlotte UX, Charlotte, NC",
                                            href: "https://ti.to/eightshapes/charlotte-nc-jan-2017-design-systems-Workshop"
                                        },
                                        {
                                            description: "January, 2017 • Talk",
                                            title: "NOVAUX, Mclean, VA",
                                            href: "https://www.meetup.com/nova-ux/events/235272224/"
                                        }
                                    ]
                                )
                            ]
                        },
                        {
                            heading: "2016",
                            content_right: [
                                esds.list(
                                    class = "esds-list--large",
                                    items = [
                                        {
                                            description: "November 16, 2016 • Talk",
                                            title: "Go Digital 2016, Iceland",
                                            href: "https://2016.godigital.is/"
                                        },
                                        {
                                            description: "November 1-2, 2016 • Workshop+Talk",
                                            title: "UI21, Boston, MA",
                                            href: "https://ui21.uie.com/"
                                        },
                                        {
                                            description: "SEPTEMBER 14-15, 2016 • Workshop+Talk",
                                            title: "IXDA Oslo, Norway",
                                            href: "http://ixda.no/"
                                        },
                                        {
                                            description: "SEPTEMBER 12-13, 2016 • Workshop+Talk",
                                            title: "SmashingConf, Freiburg, Germany",
                                            href: "http://smashingconf.com/freiburg-2016/"
                                        },
                                        {
                                            description: "JUNE 8-10, 2016 • Workshop+Talk",
                                            title: "Enterprise UX, San Antonio, TX",
                                            href: "http://www.enterpriseux.net/"
                                        },
                                        {
                                            description: "MAY 24-27, 2016 • Workshops",
                                            title: "UXLX, Lisbon, Portugal",
                                            href: "https://www.ux-lx.com/speakers/nathan_curtis.html"
                                        },
                                        {
                                            description: "MARCH 2016 • Talk",
                                            title: "Clarity, a Style Guides Conference, San Francisco, CA",
                                            href: "http://clarityconf.com/"
                                        }
                                    ]
                                )
                            ]
                        },
                        {
                            heading: "2015",
                            content_right: [
                                esds.list(
                                    class = "esds-list--large",
                                    items = [
                                        {
                                            description: "DEC 2015 • Talk",
                                            title: "NOVAUX, McLean, VA",
                                            href: "http://www.meetup.com/nova-ux/events/225377048/"
                                        },
                                        {
                                            description: "NOV 2015 • Workshop+Talk",
                                            title: "UI20, Boston, MA",
                                            href: "https://ui20.uie.com/Workshops/building-scalable-design-systems-and-style-guides"
                                        },
                                        {
                                            description: "OCT 2015 • Talk",
                                            title: "UXDC 15, Washington, DC",
                                            href: "http://uxdcconference.org/"
                                        }
                                    ]
                                )
                            ]
                        }
                    ]
                ) }}
            {% endcall %}

            {% call escom.tab_pane(label='Webinars') %}
                {{ esds.list(
                    class = "esds-list--large",
                    items = [
                        {
                            eyebrow: "2015 • UIE",
                            title: "Design Systems: From Project Done to Product Sustained",
                            href: "https://aycl.uie.com/virtual_seminars/deeper_dive_design_systems"
                        },
                        {
                            eyebrow: "2015 • A LIST APART",
                            title: "Pattern Language: Responsive Style Guides",
                            href: "http://alistapart.com/event/responsive-style-guides"
                        },
                        {
                            eyebrow: "2015 • UIE",
                            title: "Cohesive Design Systems for Enterprise",
                            href: "https://aycl.uie.com/virtual_seminars/design_systems"
                        },
                        {
                            eyebrow: "2013 • UIE",
                            title: "Sketching for Understanding",
                            href: "https://aycl.uie.com/virtual_seminars/vs96_sketching_understanding"
                        },
                        {
                            eyebrow: "2012 • UIE",
                            title: "Fearless Prototyping for Skeptics",
                            href: "https://aycl.uie.com/virtual_seminars/fearless_prototyping_for_skeptics"
                        },
                        {
                            eyebrow: "2012 • UIE",
                            title: "Start Full Screen: Organize, Communicate, & Annotate HTML Prototypes",
                            href: "https://aycl.uie.com/virtual_seminars/start_full_screen"
                        },
                        {
                            eyebrow: "2011 • UIE",
                            title: "From PDFs to HTML Prototypes",
                            href: "https://aycl.uie.com/virtual_seminars/from_pdfs_to_html_prototypes"
                        }
                    ]
                ) }}
            {% endcall %}

            {% call escom.tab_pane(label='Podcasts') %}
                {{ esds.list(
                    class = "esds-list--large",
                    items = [
                        {
                            eyebrow: "2017 • The Rosenfeld Review Podcast",
                            title: "Scaling Design Systems",
                            href: "https://soundcloud.com/rosenfeld-media/rmpod-curtis"
                        },
                        {
                            eyebrow: "2017 • NON BREAKING SPACE SHOW",
                            title: "Deep Foundations of Design Systems",
                            href: "https://goodstuff.fm/nbsp/130"
                        },
                        {
                            eyebrow: "2015 • STYLE GUIDES WITH BRAD FROST & ANNA DEBENHAM",
                            title: "On Style Guides",
                            href: "http://styleguides.io/podcast/nathan-curtis/"
                        },
                        {
                            eyebrow: "2015 • UIE",
                            title: "Building Scalable Design Systems and Style Guides",
                            href: "https://www.uie.com/brainsparks/2015/09/09/nathan-curtis-building-scalable-design-systems-and-style-guides/"
                        },
                        {
                            eyebrow: "2013 • UIE",
                            title: "Sketching for Understanding",
                            href: "https://www.uie.com/brainsparks/2013/04/09/nathan-curtis-sketching-for-understanding/"
                        },
                        {
                            eyebrow: "2012 • UIE",
                            title: "Prototyping with HTML and CSS",
                            href: "https://www.uie.com/brainsparks/2012/08/30/nathan-curtis-prototyping-with-html-and-css/"
                        },
                        {
                            eyebrow: "2010 • UIE",
                            title: "Reusable Components and Libraries",
                            href: "https://www.uie.com/brainsparks/2010/09/16/spoolcast-reusable-components-libraries-with-nathan-curtis/"
                        }
                    ]
                ) }}
            {% endcall %}

            {% call escom.tab_pane(label='Posters') %}
                {{ esds.list(
                    class = "esds-list--large",
                    items = [
                        {
                            eyebrow: "2010",
                            title: "Creating a UX Design Library",
                            href: "http://eightshapesunify.s3.amazonaws.com/CreatingAUXDesignLibrary.Final.pdf"
                        },
                        {
                            eyebrow: "2009 • IA SUMMIT",
                            title: "Reduce, Reuse, and Recycle",
                            href: "http://unify.eightshapes.com/concepts/reduce-reuse-recycle/"
                        },
                        {
                            eyebrow: "2008 • IA SUMMIT",
                            title: "Instant Deliverable Mix",
                            href: "http://www.nathancurtis.com/2008/04/02/instant-deliverable-mix-2008-ia-summit-poster/"
                        }
                    ]
                ) }}
            {% endcall %}
        </div>
    </div>
    {% endcall %}

    {% call esds.row(background_only="brand", class="esds-row--tall-inset") %}
        {% call escom.fifty_fifty(image="/images/modular-web-design-cover-photo.jpg", class="esds-container--light") %}
            <div class="escom-long-form-text">
                <h3>Modular Web Design:<br/>The Book</h3>
                <p>
                    Published in 2009, it's a handbook for decomposing design into reusable components and forming a practice to manage it as a library. Written to support design tools of the age, the modular concepts within still apply to teams designing, coding, documenting, and using design systems today.
                </p>
                <p><a href="https://www.amazon.com/Modular-Web-Design-Components-Documentation/dp/0321601351">Learn More</a></p>
            </div>
        {% endcall %}
    {% endcall %}

{% endblock body %}
