{% set title_tag = "EightShapes > Nathan Curtis" %}
{% extends 'templates/base.njk' %}
{% block body %}
    {{ esds.breadcrumb(href="/") }}
    
    {{ escom.hero_profile(bio=profiles[0]) }}

    {% call esds.row(background="dark", class="esds-row--narrow-inner") %}
        <div class="escom-layout__content--narrow">
            <div class="escom-long-form-text">
                <p class="escom-long-form-text__p--l">
                    Nathan co-founded EightShapes in 2006 and is passionate about interaction design, information architecture, and front-end development. He specializes in design systems consulting for teams large and small, regularly writing about and speaking at events worldwide. Nathan conceived of EightShapes Unify (for UX documentation) and EightShapes Blocks (for HTML/CSS prototyping), toolkits downloaded by over 50,000 designers worldwide.
                </p>
                <p>
                    Nathan has worked with teams designing systems for Google, REI, Fidelity, Marriott, Cisco, Capital One, Yahoo, Sprint, Sun Microsystems, Morningstar, Target, NetApp, USAC, Key Bank, Liberty Mutual, IDEXX, Discovery Education, Carmax, Citi, Hudl, Automattic, Fitbit, Wells Fargo, Wikia, and many more.
                </p>
            </div>
    {% endcall %}
    {% call esds.row(background="white", class="esds-row--narrow-inner") %}
            {{ escom.tabs(tabs=[
                    {
                        label: 'Appearances',
                        active: true
                    },
                    {
                        label: 'Webinars',
                        content: webinars_tab_content
                    },
                    {
                        label: 'Podcasts',
                        content: podcasts_tab_content
                    },
                    {
                        label: 'Posters',
                        content: posters_tab_content
                    }
                ]) }}
            {% call escom.tab_pane(label='appearances', active=true) %}
            {# 
                {{ escom.timeline(
                    items = [
                        {
                            heading: "2019",
                            content_right: [
                                esds.list(
                                    class = "escom-link-list--large",
                                    items = [
                                        {
                                            eyebrow: "February, 2019 • WORKSHOP",
                                            title: "UXI Live, Tel Aviv, Israel",
                                            href: "https://uxilive.co.il/2019/"
                                        }
                                    ]
                                )
                            ]
                        },
                        {
                            heading: "2018",
                            content_right: [
                                esds.list(
                                    class = "escom-link-list--large",
                                    items = [
                                        {
                                            eyebrow: "December, 2018 • WORKSHOP",
                                            title: "Clarity Conference, New York, NY",
                                            href: ""
                                        },
                                        {
                                            eyebrow: "November, 2018 • WORKSHOP",
                                            title: "UI23, Boston, MA",
                                            href: ""
                                        },
                                        {
                                            eyebrow: "November, 2018 • WORKSHOP",
                                            title: "Invision Design Better, Munich, Germany",
                                            href: ""
                                        },
                                        {
                                            eyebrow: "August, 2018 • TALK",
                                            title: "RefreshDC, Washington, DC",
                                            href: ""
                                        },
                                        {
                                            eyebrow: "August, 2018 • WORKSHOP",
                                            title: "Invision Design Better, Denver, CO",
                                            href: ""
                                        },
                                        {
                                            eyebrow: "July, 2018 • TALK",
                                            title: "UX Meetup, Paris, France",
                                            href: ""
                                        },
                                        {
                                            eyebrow: "June, 2018 • WORKSHOP",
                                            title: "Enterprise UX, San Francisco, CA",
                                            href: ""
                                        },
                                        {
                                            eyebrow: "May, 2018 • WORKSHOP",
                                            title: "Invision Design Better, New York, NY",
                                            href: ""
                                        },
                                        {
                                            eyebrow: "March, 2018 • WORKSHOP",
                                            title: "DS Conference, Helsinki, Finland",
                                            href: ""
                                        },
                                        {
                                            eyebrow: "February, 2018 • WORKSHOP",
                                            title: "Webstock 2018, Wellington, New Zealand",
                                            href: "https://www.webstock.org.nz/18/speakers/nathan-curtis/"
                                        },
                                        {
                                            eyebrow: "January, 2018 • WORKSHOP",
                                            title: "Chicago Design Systems Meetup",
                                            href: "https://ti.to/eightshapes/chicago-jan-2018-design-systems-workshop"
                                        }
                                    ]
                                )
                            ]
                        },
                        {
                            heading: "2017",
                            content_right: [
                                esds.list(
                                    class = "escom-link-list--large",
                                    items = [
                                        {
                                            eyebrow: "November, 2017 • WORKSHOP",
                                            title: "Clarity Conference, San Francisco, CA",
                                            href: "https://www.clarityconf.com/scalable-design-systems/"
                                        },
                                        {
                                            eyebrow: "November, 2017 • WORKSHOP",
                                            title: "UI22, Boston, MA",
                                            href: "https://ui22.uie.com/"
                                        },
                                        {
                                            eyebrow: "August, 2017 • TALK",
                                            title: "Carmax Speaker Series, Richmond, VA",
                                            href: "https://www.eventbrite.com/e/beyond-the-toolkit-with-nathan-curtis-tickets-36606807948#"
                                        },
                                        {
                                            eyebrow: "June, 2017 • TALK",
                                            title: "SmashingConf, New York, NY",
                                            href: "https://smashingconf.com/ny-2017/speakers/nathan-curtis"
                                        },
                                        {
                                            eyebrow: "June, 2017 • WORKSHOP",
                                            title: "EnterpriseUX, San Francisco, CA",
                                            href: "http://2017.enterpriseux.net/"
                                        },
                                        {
                                            eyebrow: "April, 2017 • TALK",
                                            title: "SmashingConf, San Francisco, CA",
                                            href: "https://smashingconf.com/workshops/nathan-curtis"
                                        },
                                        {
                                            eyebrow: "February, 2017 • TALK",
                                            title: "RefreshDC, Washington, DC",
                                            href: "https://nvite.com/refreshdc/wvyp9e"
                                        },
                                        {
                                            eyebrow: "January, 2017 • WORKSHOP",
                                            title: "Charlotte UX, Charlotte, NC",
                                            href: "https://ti.to/eightshapes/charlotte-nc-jan-2017-design-systems-workshop"
                                        },
                                        {
                                            eyebrow: "January, 2017 • TALK",
                                            title: "NOVAUX, Mclean, VA",
                                            href: "https://www.meetup.com/nova-ux/events/235272224/"
                                        }
                                    ]
                                )
                            ]
                        },
                        {
                            heading: "2016",
                            content_right: [
                                esds.list(
                                    class = "escom-link-list--large",
                                    items = [
                                        {
                                            eyebrow: "November 16, 2016 • TALK",
                                            title: "Go Digital 2016, Iceland",
                                            href: "https://2016.godigital.is/"
                                        },
                                        {
                                            eyebrow: "November 1-2, 2016 • WORKSHOP",
                                            title: "UI21, Boston, MA",
                                            href: "https://ui21.uie.com/"
                                        },
                                        {
                                            eyebrow: "SEPTEMBER 14-15, 2016 • WORKSHOP",
                                            title: "IXDA Oslo, Norway",
                                            href: "http://ixda.no/"
                                        },
                                        {
                                            eyebrow: "SEPTEMBER 12-13, 2016 • WORKSHOP",
                                            title: "SmashingConf, Freiburg, Germany",
                                            href: "http://smashingconf.com/freiburg-2016/"
                                        },
                                        {
                                            eyebrow: "JUNE 8-10, 2016 • WORKSHOP",
                                            title: "Enterprise UX, San Antonio, TX",
                                            href: "http://www.enterpriseux.net/"
                                        },
                                        {
                                            eyebrow: "MAY 24-27, 2016 • WORKSHOPS",
                                            title: "UXLX, Lisbon, Portugal",
                                            href: "https://www.ux-lx.com/speakers/nathan_curtis.html"
                                        },
                                        {
                                            eyebrow: "MARCH 2016 • TALK",
                                            title: "Clarity, a Style Guides Conference, San Francisco, CA",
                                            href: "http://clarityconf.com/"
                                        }
                                    ]
                                )
                            ]
                        },
                        {
                            heading: "2015",
                            content_right: [
                                esds.list(
                                    class = "escom-link-list--large",
                                    items = [
                                        {
                                            eyebrow: "DEC 2015 • TALK",
                                            title: "NOVAUX, McLean, VA",
                                            href: "http://www.meetup.com/nova-ux/events/225377048/"
                                        },
                                        {
                                            eyebrow: "NOV 2015 • WORKSHOP",
                                            title: "UI20, Boston, MA",
                                            href: "https://ui20.uie.com/workshops/building-scalable-design-systems-and-style-guides"
                                        },
                                        {
                                            eyebrow: "OCT 2015 • TALK",
                                            title: "UXDC 15, Washington, DC",
                                            href: "http://uxdcconference.org/"
                                        }
                                    ]
                                )
                            ]
                        }
                    ]
                ) }}
             #}
            {% endcall %}

            {% call escom.tab_pane(label='Webinars') %}
                {{ escom.link_list(
                    class = "escom-link-list--large",
                    items = [
                        {
                            eyebrow: "DEC 2015 / UIE",
                            title: "Design Systems: From Project Done to Product Sustained",
                            href: "https://aycl.uie.com/virtual_seminars/deeper_dive_design_systems"
                        },
                        {
                            eyebrow: "JUN 2015 / A LIST APART",
                            title: "Pattern Language: Responsive Style Guides",
                            href: "http://alistapart.com/event/responsive-style-guides"
                        },
                        {
                            eyebrow: "JAN 2015 / UIE",
                            title: "Cohesive Design Systems for Enterprise",
                            href: "https://aycl.uie.com/virtual_seminars/design_systems"
                        },
                        {
                            eyebrow: "2013 / UIE",
                            title: "Sketching for Understanding",
                            href: "https://aycl.uie.com/virtual_seminars/vs96_sketching_understanding"
                        },
                        {
                            eyebrow: "2012 / UIE",
                            title: "Fearless Prototyping for Skeptics",
                            href: "https://aycl.uie.com/virtual_seminars/fearless_prototyping_for_skeptics"
                        },
                        {
                            eyebrow: "2012 / UIE",
                            title: "Start Full Screen: Organize, Communicate, & Annotate HTML Prototypes",
                            href: "https://aycl.uie.com/virtual_seminars/start_full_screen"
                        },
                        {
                            eyebrow: "2011 / UIE",
                            title: "From PDFs to HTML Prototypes",
                            href: "https://aycl.uie.com/virtual_seminars/from_pdfs_to_html_prototypes"
                        }
                    ]
                ) }}
            {% endcall %}

            {% call escom.tab_pane(label='Podcasts') %}
                {{ escom.link_list(
                    class = "escom-link-list--large",
                    items = [
                        {
                            eyebrow: "AUGUST 2017 / NON BREAKING SPACE SHOW",
                            title: "Deep Foundations of Design Systems",
                            href: "https://goodstuff.fm/nbsp/130"
                        },
                        {
                            eyebrow: "MAY 2015 / STYLE GUIDES WITH BRAD FROST & ANNA DEBENHAM",
                            title: "On Style Guides",
                            href: "http://styleguides.io/podcast/nathan-curtis/"
                        },
                        {
                            eyebrow: "SEPT 2015 / UIE",
                            title: "Building Scalable Design Systems and Style Guides",
                            href: "https://www.uie.com/brainsparks/2015/09/09/nathan-curtis-building-scalable-design-systems-and-style-guides/"
                        },
                        {
                            eyebrow: "APR 2013 / UIE",
                            title: "Sketching for Understanding",
                            href: "https://www.uie.com/brainsparks/2013/04/09/nathan-curtis-sketching-for-understanding/"
                        },
                        {
                            eyebrow: "AUG 2012 / UIE",
                            title: "Prototyping with HTML and CSS",
                            href: "https://www.uie.com/brainsparks/2012/08/30/nathan-curtis-prototyping-with-html-and-css/"
                        },
                        {
                            eyebrow: "SEPT 2010 / UIE",
                            title: "Reusable Components and Libraries",
                            href: "https://www.uie.com/brainsparks/2010/09/16/spoolcast-reusable-components-libraries-with-nathan-curtis/"
                        }
                    ]
                ) }}
            {% endcall %}

            {% call escom.tab_pane(label='Posters') %}
                {{ escom.link_list(
                    class = "escom-link-list--large",
                    items = [
                        {
                            eyebrow: "2010",
                            title: "Creating a UX Design Library",
                            href: "http://eightshapesunify.s3.amazonaws.com/CreatingAUXDesignLibrary.Final.pdf"
                        },
                        {
                            eyebrow: "2009 / IA SUMMIT",
                            title: "Reduce, Reuse, and Recycle",
                            href: "http://unify.eightshapes.com/concepts/reduce-reuse-recycle/"
                        },
                        {
                            eyebrow: "2008 / IA SUMMIT",
                            title: "Instant Deliverable Mix",
                            href: "http://www.nathancurtis.com/2008/04/02/instant-deliverable-mix-2008-ia-summit-poster/"
                        }
                    ]
                ) }}
            {% endcall %}
        </div>
    </div>
    {% endcall %}

{% endblock body %}
