{% extends 'templates/base.njk' %}

{% block body %}

    {{ esds.breadcrumb(href="/") }}

    {{ escom.title_row(
        logo=false, 
        heading="Product Discovery", 
        decks=["“But are we designing the right thing?” We help teams answer this question by aligning them around a shared product vision through design priorities, user needs, and prototyped concepts."]) 
    }}

    {% call escom.fifty_fifty(image="/images/product-discovery-photo.jpg") %}
        <div class="escom-long-form-text">
            <h2>What We Deliver</h2>
            <p class="escom-long-form-text__p--l">
                Collaborating with your team, EightShapes defines the product’s experience grounded in user research and expressed through a prototype.
            </p>
            {{ escom.link_list(
                items = [
                    {
                        title: "Application Design",
                        description: "Define the overall experience and structure of your product."
                    },
                    {
                        title: "User Research",
                        description: "Capture insights about users and the implications for the product."
                    },
                    {
                        title: "UI Prototypes",
                        description: "Envision how users interact with your product."
                    }
                ]
            ) }}
        </div>
    {% endcall %}

    {% call esds.row(background="light", class="esds-row--tall-inset") %}
        <div class="escom-promo-text">
            <h2>What We Do</h2>
            <p>
                Drawing on time-tested design techniques, EightShapes runs a discovery phase that emphasizes exploration, iteration, and validation.
            </p>
        </div>

        {{ esds.tiles(
            class="esds-tiles--2-column esds-tiles--secondary",
            container="dark",
            items = [
                {
                    heading: "1 Frame the Problem",
                    description: "Solutions depend on understanding the problem. We work together to understand the constraints, parameters, and objectives that define the problem space."
                },
                {
                    heading: "2 Gather Insights",
                    description: "Design concepts propose solutions that might solve the problem. Converting a problem statement into testable hypotheses is a crucial step in driving design and research activities."
                },
                {
                    heading: "3 Prototype Ideas",
                    description: "After brainstorming and iterating in low-fidelity sketches, we work together to develop a prototype that represents the concept and allows us to test our hypotheses."
                },
                {
                    heading: "4 Test Solutions",
                    description: "Running the prototype in front of the target audience gives answers to the hypotheses but also provides insights about the users."
                }
            ]
        ) }}
    {% endcall %}

    {% call esds.row(background="white", class="esds-row--tall-inset") %}
        <div class="escom-promo-text">
            <h2>Brainstorming &amp; Ideation Techniques</h2>
        </div>

        {{ esds.tiles(
            class="esds-tiles--secondary",
            container="light",
            items = [
                {
                    heading: "Sketching Workshop",
                    description: "Bring the whole team together for a few hours to sketch ideas, which fuels the creative process, and sheds light on diverse concerns and requirements."
                },
                {
                    heading: "Affinity Mapping",
                    description: "To identify priorities and surface assumptions, participants answer a key question then work together to group and prioritize their insights."
                },
                {
                    heading: "Application Modeling",
                    description: "Drawing a map of the entire application gives us a holistic view of the product, helping to plan detailed design phases."
                }
            ]
        ) }}
    {% endcall %}

    {% call esds.row(background="light", class="esds-row--tall-inset") %}
        <div class="escom-promo-text">
            <h2>Research &amp; Testing Techniques</h2>
            <p>
                Discovery depends on research to inform and validate the product vision. These are some of the lightweight techniques we use to inject user insights into design.
            </p>
        </div>

        {{ esds.tiles(
            class="esds-tiles--secondary",
            container="white",
            items = [
                {
                    heading: "Usability Testing",
                    description: "Testing your product prioritizes fixes to the UI and clarifies what's important to users."
                },
                {
                    heading: "Navigation Testing",
                    description: "Card sorts and “treejack” tests provide insights about labeling, structure, and priorities."
                },
                {
                    heading: "First-Click Testing",
                    description: "Asking users to click on a mock-up to complete a task offers insights about UI effectiveness."
                }
            ]
        ) }}
    {% endcall %}

    {% call escom.fifty_fifty(image="/images/discovery/practical-design-discovery-book.jpg", class="esds-container--dark") %}
        <div class="escom-promo-text">
            <h3>Practical Design Discovery:<br/>The Book</h3>
            <p>
                A handbook for planning discovery projects, Practical Design Discovery provides a framework for helping teams understand the why and how of discovery. It uses this framework to clarify the role of different activities and outputs, walking readers through planning a discovery phase.
            </p>
            <p><a href="https://abookapart.com/products/practical-design-discovery">Learn More</a></p>
        </div>
    {% endcall %}

    {% call esds.row(background_image="/images/workshop-cutup.png", class="esds-row--tall-inset esds-container--dark-photograph") %}
        <div class="escom-promo-text">
            <h2>Discovery Training Workshop</h2>
            <p>Crafting the Discovery Phase gives design teams the tools necessary for planning and executing discovery efforts. Geared toward designers and product managers, the workshop is appropriate for both mature teams and those just getting off the ground.</p>
        </div>
    {% endcall %}

    {% call esds.row(background="white", class="esds-row--tall-inset") %}
        <div class="escom-promo-text">
            <h2>How We’ve Contributed</h2>
            <p>
                EightShapes has contributed three books, a documentation templating system, and a prototyping framework, not to mention countless workshops and articles.
            </p>
        </div>

        <div class="escom-card-grid">
            {{ esds.card(
                container="dark",
                type="Medium",
                title="Behind the Wheel with Product and UX",
                href="https://medium.com/eightshapes-llc/behind-the-wheel-with-product-and-ux-287dba3e6d64#.nyun4u4qd",
                cta="Read More",
                width="auto"
            ) }}

            {{ esds.card(
                container="brand",
                type="Medium",
                title="13 Principles of Effective Design Teams",
                description="Roles, tools, objectives, and project plans are crucial to team effectiveness",
                href="https://medium.com/eightshapes-llc/13-principles-of-effective-design-teams-1d0815deefd6#.hm4e1wpw7",
                cta="Read More",
                width="auto"
            ) }}

            {{ esds.card(
                container="light",
                type="Book",
                title="Communicating Design",
                description="Developing Website Documentation for Design and Planning",
                href="http://www.amazon.com/Communicating-Design-Developing-Documentation-Planning/dp/0321712463",
                cta="Read More",
                width="auto"
            ) }}

            {{ esds.card(
                container="black",
                type="Webinar",
                title="Collaborative Design Discovery",
                description="Essential techniques for successful product definition",
                href="http://www.oreilly.com/pub/e/3605",
                cta="Watch",
                width="auto"
            ) }}

            {{ esds.card(
                container="brand",
                type="Medium",
                title="From Design Vision to Reality in 5 Steps",
                href="https://medium.com/@detzi/from-design-vision-to-reality-in-5-steps-535124a0a96d#.m4j0w38zd",
                cta="Read More",
                width="auto"
            ) }}

            {{ esds.card(
                container="light",
                type="2016 Information Architecture Summit",
                date="May 8, 2016",
                title="Behind the Wheel with Product and IA",
                description="Everything information architects want to know about product managers but are afraid to ask.",
                href="http://2016.iasummit.org/schedule/1291/behind-wheel-product-and-ia",
                cta="Learn More",
                width="auto"
            ) }}

            {{ esds.card(
                container="dark",
                type="Medium",
                title="Re-Discovering Product Discovery",
                description="Just as we can’t offer a solution without understanding the problem, so too we can’t understand a problem until we try to solve it.",
                href="https://medium.com/eightshapes-llc/beyond-utility-re-discovering-product-discovery-5ae210a1399e#.iwpp5obw8",
                cta="Read More",
                width="auto"
            ) }}
        </div>
    {% endcall %}

    {{ escom.cta(heading="Ready?", deck="Does your product need a vision? Does your UX need a concept? Does your team need design direction?", button_text="Email Us", href="mailto:info@eightshapes.com") }}

{% endblock %}
