{% extends 'templates/legacy/default.njk' %}
{% block content %}
  {{ legacy_components.header_workshop({ 'back_href': '/product-discovery.html', 'section': 'Product Discovery' }) }}
  {{ legacy_components.workshop_hero({ 'title': 'Experience Visioning and Definition', 'background': '', 'duration':'1 - 2 days', 'participants': 'Up to 8' }) }}
  <div class="container-fluid">
    <div class="container-fluid-inner content__long-form">
      <p class="lead">Whether you have a mature product or one just hatching, this visioning workshop will help align your team around a vision for the user experience.</p>
      <h3>What You Do</h3>
      <ul class="bulleted-list">
		<li>Work with an experienced facilitator to bring out your team’s best ideas</li>
		<li>Articulate and agree upon an understanding of the target audience</li>
		<li>Extract design principles to guide design efforts</li>
		<li>Prioritize features that meet user needs</li>
		<li>Sketch ideas for new aspects of your product</li>
		<li>Learn facilitation and design techniques to bring to other projects</li>
      </ul>
      <h3>What You Get</h3>
      <ul class="bulleted-list">
		<li>Definition of the design problem</li>
		<li>Design principles</li>
		<li>Site/application structure and/or navigation model</li>
		<li>Inventory of screens</li>
      </ul>
      <h3>How We Customize</h3>
      <ul class="bulleted-list">
		<li>The current state of your product plans</li>
		<li>The size of your team</li>
		<li>Your experience with design techniques</li>
      </ul>
    </div>
  </div>
  <!-- Page CTA -->
  {{ legacy_components.page_cta({header:'Ready?', lead: 'Every product needs a clear vision. Let us help you define it.'}) }}

  {{ legacy_components.footer() }}
{% endblock %}
