{% extends 'default.layout.html' %}
{% block content %}
  {{ components.header_workshop({ 'back_href': '/product-discovery.html', 'section': 'Product Discovery' }) }}
  {{ components.workshop_hero({ 'title': 'User Analysis', 'background': '', 'duration':'1/2 day - 1 day', 'participants': 'Up to 8' }) }}
  <div class="container-fluid">
    <div class="container-fluid-inner content__long-form">
      <p class="lead">Sitting on a pile of user research? Get your team together for collaborative user analysis, building insights and personas together as a team.</p>
      <h3>What You Do</h3>
      <ul class="bulleted-list">
		<li>Build personas of your target audience</li>
		<li>Examine the user journey, mapping product features to your </li>
		<li>Use group collaboration techniques to prioritize features relative to user needs</li>
		<li>Articulate essential user needs</li>
      </ul>
      <h3>What You Get</h3>
      <ul class="bulleted-list">
		<li>User personas or profiles: Descriptions of audience segments that include definition of objectives and needs</li>
		<li>User journey map: Diagram depicting the range of activities and behaviors your product must support</li>
		<li>Suggested next steps for future research</li>
      </ul>
      <h3>How We Customize</h3>
      <ul class="bulleted-list">
		<li>The kind of research you have</li>
		<li>The varying levels of expertise on your team</li>
		<li>The desired outcome</li>
      </ul>
    </div>
  </div>
  <!-- Page CTA -->
  {{ components.page_cta({header:'Ready?', lead: 'Not sure what to do with user research findings? We can help you turn data into action.'}) }}

  {{ components.footer() }}
{% endblock %}
