{% extends 'templates/legacy/default.njk' %}
{% block content %}
  {{ legacy_components.header_workshop() }}
  {{ legacy_components.workshop_hero({ 'title': 'System Roadmapping', 'background': 'hero__workshop-roadmapping', 'duration':'Up to 1/2 day', 'participants': 'Up to 10' }) }}
  <div class="container-fluid">
    <div class="container-fluid-inner content__long-form">
      <p class="lead">We’ll get your system team's head out of the weeds to plan across releases, discuss challenges and opportunities, and align on what it takes to sustain the system.</p>
      <h3>What You Do</h3>
      <ul class="bulleted-list">
        <li>Discuss alignment with parallel product initiatives</li>
        <li>Identify new tasks that augment your backlog, if it exists</li>
        <li>Scrutinize team velocity, capacity, and dependability</li>
        <li>Arrange work into planned increments</li>
        <li>Summarize themes and areas of focus in a milestone-based roadmap</li>
      </ul>
      <h3>What You Get</h3>
      <ul class="bulleted-list">
        <li>A roadmap of activity to set expectations and secure funding</li>
        <li>Prioritized tasks to fill up your backlog</li>
        <li>Open questions to explore with partner products and collaborators</li>
      </ul>
      <h3>How We Customize</h3>
      <ul class="bulleted-list">
        <li>Prep Post Its with known tasks to save time</li>
        <li>Analyze your system, emerging design(s), and existing product(s) to identify areas to discuss</li>
      </ul>
    </div>
  </div>
  <!-- Page CTA -->
  {{ legacy_components.page_cta({header:'Ready?', lead: 'About to embark on a design system, or need to dive deeper to discuss products and players?'}) }}

  {{ legacy_components.footer() }}
{% endblock %}
