{% extends 'templates/legacy/default.njk' %}
{% block content %}
  {{ legacy_components.header_workshop() }}
  {{ legacy_components.workshop_hero({ 'title': 'Plan Parts, Products, & People', 'background': 'hero__workshop-planning-systems', 'duration':'1/4 day' }) }}
  <div class="container-fluid">
    <div class="container-fluid-inner content__long-form">
      <p class="lead">Most see a system as parts: visual style, UI components, editorial, research, code, and more. But to create a scalable system, you also plan for the people and products involved. We’ll lead exercises and provoke discussion to kickstart your system efforts.</p>
      <h3>What You Do</h3>
      <ul class="bulleted-list">
        <li>Expose what parts each participant values</li>
        <li>Identify and prioritize products</li>
        <li>Explore how to organize the system</li>
        <li>Compare and aggregate inputs using worksheets</li>
        <li>Uncover lack of alignment, personal biases, and trends</li>
      </ul>
      <h3>What You Get</h3>
      <ul class="bulleted-list">
        <li>Focused priorities on what to do first versus pursue later</li>
        <li>Insight on who’d best contribute and participate</li>
        <li>A sense of tiered importance of each product</li>
        <li>Ideas of flagship products to normalize first</li>
        <li>Followup conversations needed to align teams and execs</li>
      </ul>
      <h3>How We Customize</h3>
      <ul class="bulleted-list">
        <li>Integrate examples of your design into lecture slides to spur discussion</li>
        <li>Refactor worksheet choices biased towards your system’s needs</li>
      </ul>
    </div>
  </div>
  <!-- Page CTA -->
  {{ legacy_components.page_cta({header:'Ready?', lead: 'About to embark on a design system, or need to dive deeper to discuss products and players?'}) }}

  {{ legacy_components.footer() }}
{% endblock %}
