{% extends 'templates/default.njk' %}
{% block content %}
  {{ components.header_workshop({ 'back_href': '/product-discovery.html', 'section': 'Product Discovery' }) }}
  {{ components.workshop_hero({ 'title': 'Design Studio for Digital Products', 'background': '', 'duration':'1/2 day - 2 days', 'participants': 'Up to 24' }) }}
  <div class="container-fluid">
    <div class="container-fluid-inner content__long-form">
      <p class="lead">If your team needs some fresh perspectives, let us facilitate a design studio to translate a product vision into concrete designs.</p>
      <h3>What You Do</h3>
      <ul class="bulleted-list">
		<li>Participate in a time-testing brainstorming technique</li>
		<li>Explore a variety of design directions</li>
		<li>Articulate important features and UI elements</li>
		<li>Give stakeholders a chance to weigh in on the design process</li>
		<li>Unite your team around a shared design direction</li>
		<li>Discuss and inventory the important findings</li>
      </ul>
      <h3>What You Get</h3>
      <ul class="bulleted-list">
		<li>A range of concepts for the user experience</li>
		<li>A better understanding of the design challenges</li>
		<li>A collection of features and ideas vetted by the participants</li>
      </ul>
      <h3>How We Customize</h3>
      <ul class="bulleted-list">
		<li>The varying levels of expertise on your team</li>
		<li>The available amount of time</li>
		<li>The number of participants</li>
      </ul>
    </div>
  </div>
  <!-- Page CTA -->
  {{ components.page_cta({header:'Ready?', lead: 'If your product needs direction, we can stop the analysis paralysis.'}) }}

  {{ components.footer() }}
{% endblock %}
