{% extends 'templates/legacy/default.njk' %}
{% block content %}
  {{ legacy_components.header_workshop() }}
  {{ legacy_components.workshop_hero({ 'background': 'hero__workshop-component-cut-up', 'title': 'Cut Up a Component Inventory' }) }}
  <div class="container-fluid">
    <div class="container-fluid-inner content__long-form">
      <p class="lead">Save time and guarantee buy-in with this session to inventory an experience. If your team is starting a library or large scale redesign, deconstruct your experience into reusable components you can plan and build with.</p>
      <h3>What You Do</h3>
      <ul class="bulleted-list">
        <li>Use scissors, pens, papers, and Post-It flags and notes</li>
        <li>Cut up screenshots to identify each component</li>
        <li>Name, prioritize, and group each component you find</li>
        <li>Work as small groups and then compare results</li>
      </ul>
      <h3>What You Get</h3>
      <ul class="bulleted-list">
        <li>An organized library inventory, discovered together </li>
        <li>Priorities of which components matter</li>
        <li>An energized team anxious for you to build the library!</li>
      </ul>
      <h3>How We Customize</h3>
      <ul class="bulleted-list">
        <li>Integrate examples of your design into slides to spur discussion</li>
        <li>Prep and print screenshots of your UX, across platforms</li>
        <li>Vary team composition to group individuals strategically</li>
      </ul>
      <h3>Background</h3>
      <p>The workshop was described in detail in the 2009 book <a href="www.amazon.com/Modular-Web-Design-Components-Documentation/dp/0321601351">Modular Web Design</a>, now reprinted in a <a href="https://medium.com/eightshapes-llc/the-component-cut-up-workshop-1378ae110517#.e083jtk5y">medium.com Component Cut Up</a> article.</p>
      <h3>Past Experience</h3>
      <p>Eightshapes has conducted this workshop since 2008 at locations around the world, including conferences such as:</p>
      <ul class="list__two-column">
        <li>
          <p class="pre-heading">San Antonio, TX 2016</p>
          <h4 class="heading"><a href="http://www.enterpriseux.net/">Enterprise UX</a></h4>
        </li>
        <li>
          <p class="pre-heading">Lisbon, Portugal 2016</p>
          <h4 class="heading"><a href="https://www.ux-lx.com/speakers/nathan_curtis.html">UXLX</a></h4>
        </li>
        <li>
          <p class="pre-heading">Boston, MA 2015</p>
          <h4 class="heading"><a href="https://www.uie.com/">UIE</a>'s <a href="https://ui20.uie.com/">UI20</a></h4>
        </li>
        <li>
          <p class="pre-heading">Boston, MA 2010</p>
          <h4 class="heading"><a href="https://www.uie.com/">UIE</a>'s UI15</h4>
        </li>
        <li>
          <p class="pre-heading">Banff, CA 2009</p>
          <h4 class="heading">CanUX</h4>
        </li>
        <li>
          <p class="pre-heading">Newport Beach, CA 2009</p>
          <h4 class="heading"><a href="https://www.uie.com/">UIE</a>'s Web App Summit</h4>
        </li>
        <li>
          <p class="pre-heading">Toronto, CA 2009</p>
          <h4 class="heading"><a href="http://iainstitute.org/">IAI</a>'s IDEA</h4>
        </li>
        <li>
          <p class="pre-heading">Memphis, TN 2009</p>
          <h4 class="heading"><a href="iasummit.org">IA Summit</a></h4>
        </li>
        <li>
          <p class="pre-heading">Chicago, IL 2008</p>
          <h4 class="heading"><a href="https://www.nngroup.com/">NNGroup</a>'s Usability Week</h4>
        </li>
        <li>
          <p class="pre-heading">Amsterdam, 2008</p>
          <h4 class="heading"><a href="https://www.nngroup.com/">NNGroup</a>'s Usability Week</h4>
        </li>
      </ul>
      <p>Additionally, EightShapes has conducted the workshop in-house at clients including AutoTrader, Blue Cross Blue Shield, Cisco, Comcast, eBay, George Washington University,Marriott, NetApp, Sprint, US Bank, Wells Fargo, and Yahoo.</p>
    </div>
  </div>
  <!-- Page CTA -->
  {{ legacy_components.page_cta({header:'Ready?', lead: 'Interested in creating a system inventory quickly, together with our help?'}) }}

  {{ legacy_components.footer() }}
{% endblock %}
