{% set title = post.title | default("post Title") %}
{% set title_tag = 'EightShapes > @components > '  + post.title %}
{% set title_image_path = post.id | default(false) %}
{% set deck = post.deck | default(false) %}
{% set date_published = post.date_published | default(false) %}
{% set read_duration = post.read_duration | default(false) %}
{% set masthead = post.masthead | default(false) %}

{% extends "templates/base.njk" %}

{% block head_elements %}
<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:700&display=swap" rel="stylesheet">
<!-— facebook open graph tags -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.eightshapes.com/articles/{{ post.id }}.html" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ deck }}" />
{% if masthead %}
<meta property="og:image" content="https://eightshapes.com//images/articles/{{ title_image_path }}/masthead.png" />
{% endif %}
 
<!-— twitter card tags additive with the og: tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:domain" value="eightshapes.com" />
<meta name="twitter:title" value="{{ title }}" />
<meta name="twitter:description" value="{{ deck }}" />
{% if masthead %}
<meta name="twitter:image" content="https://eightshapes.com//images/articles/{{ title_image_path }}/masthead.png" />
{% endif %}
<meta name="twitter:url" value="https://www.eightshapes.com/articles/{{ post.id }}.html" />

{% endblock %}

{% block body %}
    {{ esds.breadcrumb(section_href="/components/", section="@components") }}

    <div class="esds-row esds-container--white esds-row--tall-inset esds-row--article-max-width escom-article">
        <div class="esds-row__inner">
            <div class="escom-article__author-row">
                <div class="escom-article__author-avatar"
                    style="background-image: url('/images/bios/bio-thumb-{{ people[post.author_id].name | lower | replace(' ', '-') }}.png')">
                </div>
                <div class="escom-article__author-text">
                    <p class="escom-article__author">
                        <a href="{{ people[post.author_id].href }}">{{ people[post.author_id].name }}</a>
                    </p>
                    <p class="escom-article__author-role">
                        {{ people[post.author_id].role }}
                    </p>
                    <p>
                        <span class="escom-article__published-date">
                            Originally published {{ date_published }} •
                        </span>
                        <span class="escom-article__read-duration">
                            {{ read_duration }}min
                        </span>
                    </p>
                </div>
            </div>
            <div class="escom-article__title-row{% if not masthead %} escom-article__title-row--no-masthead-next{% endif %}">
                <h1 class="escom-article__title">{{ title }}</h1>
                {% if deck %}
                <h2 class="escom-article__deck">{{ deck }}</h2>
                {% endif %}
            </div>

    {% if masthead %}
        </div>
    </div>    
    <div class="esds-row esds-container--dark esds-row--no-inset escom-article">
        <div class="esds-row__inner">
            <img src="/images/articles/{{ title_image_path }}/masthead.png" alt="Masthead" class="escom-article__masthead" >
        </div>
    </div>
    <div class="esds-row esds-container--white esds-row--tall-inset esds-row--article-max-width escom-article">
        <div class="esds-row__inner">
    {% endif %}

    {% block main_article %}
    {% endblock %}

        </div>
    </div>
    {{ escom.footer_systems() }}

    {{ escom.cta(
        heading="Need help with your system?", 
        deck="EightShapes can energize your efforts to coach, workshop, assess or partner with you to design, code, document and manage a system.", 
        button_text="Learn More",
        button_href="/design-systems.html",
        class="escom-cta--components-publication escom-page-type--marketing"
    ) }}

{% endblock %}
