{% set title = title | default("post Title") %}
{% set title_tag = 'EightShapes > @components > '  + title %}
{% set title_image_path = id | default(false) %}
{% set deck = deck | default(false) %}
{% set date_published = date_published | default(false) %}
{% set read_duration = read_duration | default(false) %}
{% set masthead = masthead | default(false) %}

{% extends "templates/base.njk" %}

{% block head_elements %}
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:700&display=swap" rel="stylesheet">
  <!-— facebook open graph tags -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.eightshapes.com{{ page.url }}" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ deck }}" />
  {% if masthead %}
  <meta property="og:image" content="https://eightshapes.com//images/articles/{{ title_image_path }}/masthead.png" />
  {% endif %}

  <!-— twitter card tags additive with the og: tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:domain" value="eightshapes.com" />
  <meta name="twitter:title" value="{{ title }}" />
  <meta name="twitter:description" value="{{ deck }}" />
  {% if masthead %}
  <meta name="twitter:image" content="https://eightshapes.com//images/articles/{{ title_image_path }}/masthead.png" />
  {% endif %}
  <meta name="twitter:url" value="https://www.eightshapes.com{{ page.url }}" />

  <!-- No Shadow DOM, so link directly to styles -->
  <link rel="stylesheet" href="/dependencies/esds-code-snippet.css"/>

  <!-- Separate webcomponents polyfill bundle for Edge, IE11, etc. -->
  <script type="text/javascript" src="/dependencies/custom-elements.min.js"></script>

  <!-- ESDS Doc components -->
  <!-- The ESM "vanilla" version of the component for FF, Safari, Chrome and Edge -->
  <script type="module" src="/dependencies/esds-code-snippet-web-component.js"></script>

  <!-- A babel-compiled version of the component for IE11 -->
  <script nomodule type="text/javascript" src="/dependencies/esds-code-snippet-legacy.js"></script>
{% endblock %}

{% block body %}
    {{ esds.breadcrumb(section_href="/components/", section="@components") }}

    <div class="esds-row esds-container--white esds-row--tall-inset esds-row--article-max-width escom-article">
        <div class="esds-row__inner">
            <div class="escom-article__author-row">
                <div class="escom-article__author-avatar"
                    style="background-image: url('/images/bios/bio-thumb-{{ people[author_id].name | lower | replace(' ', '-') }}.png')">
                </div>
                <div class="escom-article__author-text">
                    <p class="escom-article__author">
                        <a href="{{ people[author_id].href }}">{{ people[author_id].name }}</a>
                    </p>
                    <p class="escom-article__author-role">
                        {{ people[author_id].role }}
                    </p>
                    <p>
                        <span class="escom-article__published-date">
                            Originally published {{ date_published }} •
                        </span>
                        <span class="escom-article__read-duration">
                            {{ read_duration }}min
                        </span>
                    </p>
                </div>
            </div>
            <div class="escom-article__title-row{% if not masthead %} escom-article__title-row--no-masthead-next{% endif %}">
                <h1 class="escom-article__title">{{ title }}</h1>
                {% if deck %}
                <h2 class="escom-article__deck">{{ deck }}</h2>
                {% endif %}
            </div>

    {% if masthead %}
        </div>
    </div>
    <div class="esds-row esds-container--dark esds-row--no-inset escom-article">
        <div class="esds-row__inner">
            <img src="/images/articles/{{ title_image_path }}/masthead.png" alt="Masthead" class="escom-article__masthead" >
        </div>
    </div>
    <div class="esds-row esds-container--white esds-row--tall-inset esds-row--article-max-width escom-article">
        <div class="esds-row__inner">
    {% endif %}
    {% block main_article %}
    {% endblock %}
        </div>
    </div>
    {{ escom.footer_systems() }}

    {{ escom.cta(
        heading="Need help with your system?",
        deck="EightShapes can energize your efforts to coach, workshop, assess or partner with you to design, code, document and manage a system.",
        button_text="Learn More",
        button_href="/design-systems",
        class="escom-cta--components-publication escom-page-type--marketing"
    ) }}

{% endblock %}
