{% macro fifty_fifty(
    class=false,
    image=false
) %}
    <div class="escom-fifty-fifty esds-container--white{{ ' ' + class if class }}">
        <div class="escom-fifty-fifty__image" style="background-image: url({{ image }})"></div>
        <div class="escom-fifty-fifty__body">
            <div class="escom-fifty-fifty__content">
                {{ caller() }}
            </div>
        </div>
    </div>
{% endmacro %}
