.page-cta {
  p {
		text-align: center;
	}
	.page-cta__button {
	  font-weight: 700;
	  text-transform: uppercase;
	  width: 250px;
	  display: inline-block;
	  color: $color-black;
	  background-color: $color-white;
	  padding: $spacing-default/2;
	  border-radius: 4px;
	  text-align: center;

	  &:hover {
	  	background-color: $color-gray-95;
	  	text-decoration: none;
	  }
	}

	@media screen and (min-width: 1000px) {
		p.lead {
			max-width: 700px;
		}
	}
}

