.xups {
	.ups {
		display: flex;
	}

	.up {
		margin: 0 0 32px;

		@media screen and (min-width: 768px) {
			padding: 32px;
			min-height: 175px;
			h3 {
				margin-bottom: 8px;
			}
		}
	}

	.ups__bio-photos {

		.up {
			height: 56px;
			position: relative;
			margin: $esds-space-stack-2-x;
		}
		
		h3 {
			padding-top: 12px;
			margin-bottom: 2px;
			font-weight: 700;
			padding-left: 90px;
		}

		p {
			padding-left: 90px;
		}

		img {
			outline: none;
			border: none;
			display: block;
			width: 75px;
			position: absolute;
			top: 0;
			left: 0;
		}

		.up__image-wrap {
			position: absolute;
			left: 0;
			top: 0;
		}

		a h3 {
			color: $esds-text-color-link-on-light;
		}

		a {
			cursor: pointer;
		}

		.up__image-wrap {
			position: relative;
		
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: rgba($esds-text-color-link-on-dark-photograph, 0);
				z-index: 10;
				transition: background .5s;
			}
		}

		a:hover {
			text-decoration: none;

			.up__image-wrap:before {
				background: rgba($esds-text-color-link-on-dark-photograph, .5);
			}
		}

		a:hover h3 {
			text-decoration: underline;
		}

		@media screen and (min-width: 550px) {
			font-size: 0;

			.up {
				// padding-left: 105px;
				min-height: 75px;
				width: 50%;
				display: inline-block;
				height: auto;
			}

			// img {
			// 	width: 90px;
			// }
		}
		@media screen and (min-width: 768px) {
			text-align: center;

			h3, 
			p {
				padding-left: 0;
			}

			.up {
				width: 19%;
				text-align: center;
				padding: 0 8px;
				vertical-align: top;
				margin-bottom: 0;
			}
			h3 {
				font-size: 16px;
			}
			img {
				position: relative;
				width: auto;
			}
		}
		@media screen and (min-width: 1024px) {
			h3 {
				font-size: 20px;
			}
		}
	}

	.ups__logos {
		.ups__logo {
			width: 32%;
			@media screen and (min-width: 768px) {
				width: 24%;				
			}
			@media screen and (min-width: 1024px) {
				width: 16%;
				margin-bottom: 16px;				
			}
		}
	}
}
