{% macro bio_thumbnails() %}
    {% set bio_thumbnails = [
         {
           "name": "Nathan Curtis",
           "role": "Principal & Founder",  
           "image_path": "nathan-curtis"
         },
         {
           "name": "Dan Brown",
           "role": "Principal & Founder",
           "image_path": "dan-brown"
         },
         {
           "name": "Chris Detzi",
           "role": "Sr. Director, UX",
           "image_path": "chris-detzi"
         },
         {
           "name": "James Melzer",
           "role": "Director, UX",
           "image_path": "james-melzer"
         },
         {
           "name": "Kevin Powell",
           "role": "Sr. Front End Developer",
           "image_path": "kevin-powell"
         }
       ] %}
    <div class="escom-bio-thumbnails">
      {% for thumbnail in bio_thumbnails %}
          <a class="escom-bio-thumbnail" href="{{ thumbnail.image_path }}.html">
            <div class="escom-bio-thumbnail__image-wrap">
              <img class="escom-bio-thumbnail__image" src="images/bios/bio-thumb-{{ thumbnail.image_path }}.jpg" alt="{{ up.header }}">
            </div>
            <h3 class="escom-bio-thumbnail__name">{{ thumbnail.name }}</h3>
            <p class="escom-bio-thumbnail__role">{{ thumbnail.role }}</p>
          </a>
      {% endfor %}
    </div>
{% endmacro %}
