{% macro table(
    class="",
    headers=[{
                            key: 'header_1',
                            label: 'Header 1'
                        },
                        {
                            key: 'header_2',
                            label: 'Header 2'
                        },
                        {
                            key: 'header_3',
                            label: 'Header 3'
                        }
                    ],
                rows=[
                    {
                        header_1: 'Alpha',
                        header_2: 'Beta',
                        header_3: 'Gamma'
                    },
                    {
                        header_1: 'Delta',
                        header_2: 'Epsilon',
                        header_3: ['Zeta', 'Eta', 'Theta', 'Iota']
                    }
                ],
                suppress_responsive_headers=['header_2']) %}
    <table class="escom-table {{ class }}">
        <thead class="escom-table__head">
            <tr class="escom-table__row">
                {% for header in headers %}
                    <th class="escom-table__header-cell">{{ header.label }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody class="escom-table__body">
            {% for row in rows %}
                <tr class="escom-table__row">
                    {% for header in headers %}
                        <td class="escom-table__cell{{ ' ' + header.column_class if header.column_class }}" {% if not header.key in suppress_responsive_headers %} data-escom-header="{{ header.label }}" {% endif %}>
                            {% if row[header.key][0].length > 1 %}
                                {# This is an array of values #}
                                {{ row[header.key] | join('<br>') | safe }}
                            {% else %}
                                {# This is just a string #}
                                {{ row[header.key] }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}
