{% set title_tag = "EightShapes > Discovery > Crafting Discovery Workshop" %}
{% set body_classes = "escom-page-type--marketing" %}
{% extends 'templates/base.njk' %}
{% block body %}

    {# Breadcrumb #}

    {{ esds.breadcrumb(section_href="/design-discovery.html", section="Design Discovery") }}

    {# Title #}

    {{ escom.title_row(
        class="esds-row--very-tall-inset",
        logo=false, 
        heading="Discovery Training Workshop",
        decks=[
            "Looking to get your team up-to-speed on the discovery process? In this training workshop, we’ll give them the tools they need to plan their own discovery phases."
        ]) }}

    {# Why #}

    {% call esds.row(background="white", class="esds-row--tall-inset") %}
        <div class="escom-long-form-text">
            <h2>Why a Workshop?</h2>
            <p class="escom-long-form-text__lead">
                Discovery is messy, chaotic, and poorly defined. Is it just research? Or something more? Do all your teams do discovery in the same way? Should they?
            </p>
            <p>In this workshop we’ll take a step back from the day-to-day, looking across discovery efforts to understand what they have in common. We’ll look at what makes them more than research, and how to make them practical for any effort. We’ll establish a vocabulary for talking about how to do discovery. With this foundation, we’ll ask teams to map their process so everyone has a clear picture of what everyone else is doing.</p>
        </div>
    {% endcall %}

    {# What You Get #}

    {% call esds.row(background="light", class="esds-row--tall-inset") %}
        <div class="escom-long-form-text">
            <h2>What You Get</h2>
            <p class="escom-long-form-text__lead">
                With EightShapes’ experience and enthusiasm, you’ll inspire your teams and energine your discovery efforts. Your team will get:
            </p>
            <div class="escom-long-form-text--two-column-at-768">
                <ul>
                    <li>Framework for planning their discovery efforts</li>
                    <li>Common language for discussing discovery with their stakeholders</li>
                    <li>Practice creating problem statements</li>
                </ul>
                <ul>
                    <li>Customizable discovery project plan </li>
                    <li>Sample discovery documentation</li>
                    <li>Essential discovery habits and behaviors</li>
                </ul>
            </div>
        </div>
    {% endcall %}

    {# What We Cover #}

    {% call esds.row(background="white", class="esds-row--tall-inset") %}
        <div class="escom-long-form-text">
            <h2>What We Cover</h2>
            <p class="escom-long-form-text__lead">
                The first half of the workshop covers theory, the building blocks of what discovery is and why it’s important. The second half goes into the practicalities of determining a schedule and outputs for discovery.
            </p>
            <p class="escom-long-form-text__lead">
                Both halves include exercises throughout to reinforce the concepts and provide some experience with discovery techniques. We can customize the exercises to align with current projects or challenges facing your team.
            </p>
        </div>

        {{ escom.timeline(
            class = "escom-timeline--bold-items",
            items = [
                {
                    time: "9:00AM - 9:30AM",
                    heading: "Definition",
                    content_right: [
                        esds.list(
                            items = [
                                {
                                    title: "Working Definition",
                                    description: "How do you define discovery?"
                                },
                                {
                                    title: "How Discovery Helps",
                                    description: "Why do we do discovery anyway?"
                                },
                                {
                                    title: "What We Do in Discovery",
                                    pill: "Activity",
                                    description: "What are the main activities and outputs in discovery?"
                                },
                                {
                                    title: "Discovery and Design",
                                    description: "What’s the relationship between discovery and design?"
                                }
                            ]
                        )
                    ]
                },
                {
                    time: "9:30AM - 10:30AM",
                    heading: "Intentions",
                    content_right: [
                        esds.list(
                            items = [
                                {
                                    title: "Framing Problem vs. Setting Direction",
                                    description: "What are the two chief concerns of discovery?"
                                },
                                {
                                    title: "The Central Tension",
                                    description: "How do divergence and convergence factor into discovery?"
                                },
                                {
                                    title: "Creativity and Discovery",
                                    pill: "Activity",
                                    description: "How does what we know about creativity bear on discovery?"
                                },
                                {
                                    title: "The Discovery Activities Matrix",
                                    description: "What’s the right way to think of discovery activities?"
                                }
                            ]
                        )
                    ]
                },
                {
                    time: "9:30AM - 10:30AM",
                    heading: "Assertions",
                    content_right: [
                        esds.list(
                            items = [
                                {
                                    title: "Framing the Problem",
                                    pill: "Activity",
                                    description: "What are the essential assertions for framing the problem?"
                                },
                                {
                                    title: "Setting the Direction",
                                    description: "What are the essential assertions for setting the direction?"
                                },
                                {
                                    title: "Big Concepts",
                                    description: "What is the big idea behind your product? Should we care?"
                                },
                                {
                                    title: "Assigning Intention",
                                    description: "Do you know why you make the artifacts you make?"
                                }
                            ]
                        )
                    ]
                },
                {
                    time: "Noon – 1:00pm",
                    heading: "Lunch"
                },
                {
                    time: "1:00PM - 3:00PM",
                    heading: "Planning",
                    content_right: [
                        esds.list(
                            items = [
                                {
                                    title: "The Discovery Plan",
                                    pill: "Activity",
                                    description: "How would you structure a basic discovery phase?"
                                },
                                {
                                    title: "Working with Stakeholders",
                                    description: "How do you involve stakeholders in the discovery process?"
                                },
                                {
                                    title: "Dealing with the Unexpected",
                                    pill: "Activity",
                                    description: "How do you pivot to deal with unexpected challenges?"
                                }
                            ]
                        )
                    ]
                },
                {
                    time: "3:15PM - 4:45PM",
                    heading: "Documenting",
                    content_right: [
                        esds.list(
                            items = [
                                {
                                    title: "Documents for Thinking",
                                    description: "What artifacts can help you make sense of all the incoming information?"
                                },
                                {
                                    title: "Documents for Communicating",
                                    description: "What artifacts can help you draw stakeholders into the process?"
                                },
                                {
                                    title: "Meaningful Outputs",
                                    pill: "Activity",
                                    description: "What are the three essential components of a final discovery document?"
                                }
                            ]
                        )
                    ]
                }
            ]
        ) }}

    {% endcall %}

    {# How We Prepare #}

    {% call esds.row(background="light", class="esds-row--tall-inset") %}
        <div class="escom-long-form-text">
            <h2>Prepping for the Day</h2>
            <p class="escom-long-form-text__lead">
                In advance of the workshop, we’ll meet a few times to determine the right balance of topics for your team.
            </p>
            <p>
                You have the option of customizing the workshop (for a fee), which involves tuning content to suit your team’s circumstances, and injecting real-world examples from your work into the exercises.
            </p>
        </div>
    {% endcall %}

    {# Who Do You Invite #}

    {% call esds.row(background_only="dark", class="esds-row--tall-inset") %}
        <div class="esds-container--dark">
            <div class="escom-long-form-text">
                <h2>Who Should You Invite?</h2>
                <p class="escom-long-form-text__lead">The workshop format is suitable for up to 100 participants and covers content relevant to many disciplines beyond just designers and engineers.</p>
                <p></p>
            </div>
            
        </div>
        {{ esds.tiles(
            class = "esds-tiles--2-column esds-tiles--long-form-max-width",
            container = "white",
            translucent = true,
            items = [
                {
                    heading: "Essential Participants",
                    list: [
                        "Designers and Design Leaders",
                        "Researchers",
                        "Developers",
                        "Product Managers and Product Owners"
                    ]
                },
                {
                    heading: "Additional Invites",
                    list: [
                        "Executive Sponsors",
                        "Marketing and Sales",
                        "Market Research",
                        "Customer Support"
                    ]
                }
            ]
        ) }}
    {% endcall %}

    {# CTA #}

    {{ escom.cta(
        heading="Let's Get Started!", 
        button_text="Email Us"
    ) }}

{% endblock body %}
