.hero {
  width: 100%;
  background-color: $color-gray-20;
  position: relative;
}

.hero__workshop {
  padding: 80px 40px;
  margin-bottom: 0;
  background-position: center center;
  background-size: cover; 
  position: relative;
  background-color: $color-gray-30;

  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-gray-12;
    opacity: 0.65;
    z-index: 1;
  }
}

.hero__bio {
  background-color: $color-gray-12;
}

.hero__workshop-component-cut-up {
  background-image: url('../images/workshops/hero-component-cutup.png');
}

.hero__workshop-planning-systems {
  background-image: url('../images/workshops/hero-planning-parts-people-products.jpg');
}

.hero__workshop-roadmapping {
  background-image: url('../images/workshops/hero-roadmapping.png');
  background-position: top center;
}

.hero__title {
  font-weight: $font-weight-bold;
  font-size: 24px;
  color: white;
  text-align: center;
  position: relative;
  z-index: 2;
}

.hero__subhead {
  font-size: $font-size-default;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  color: #aaa;
  text-align: center;
  position: relative;
  z-index: 2;
}

.hero__bio-copy {
  position: absolute;
  color: $color-white;
  top: 35%;
  left: 50%;
  right: 12px;
  z-index: 10;
  text-align: left;

  .hero__title {
    text-align: left;
    font-size: 20px;
  }

  .hero__subhead {
    text-align: left;
    font-size: 11px;
  }
}

.hero__attributes {
  background-color: $color-gray-12;
  margin: 0;
  padding: 4px 16px;
  font-size: 14px;
}

.hero__attributes dt {
  color: $color-gray-53;  
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  padding: 8px 0;
  width: 49%;
  white-space: nowrap;
}

.hero__attributes dd {
  color: white;  
  font-weight: $font-weight-bold;
  display: inline-block;
  margin: 0;
  padding: 8px 0;
  width: 49%;
  a {
    color: white;
  }
}

.hero__bio .hero__attributes {
  text-align: center;
  dt {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    svg {
      fill: $color-gray-53;
    }
  }
  dd {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    font-weight: $font-weight-light;
    margin-right: 16px;
  }
}

.hero__attribute-icon {
  fill: $color-gray-53;
  height: 24px;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
}

.hero-bio__image {
  display: block;
  position: static;
  max-width: none;
  width: 500px;
  margin-left: -60px;
  // background-position: 30% top;
  // background-size: cover;
  // background-repeat: no-repeat;
  // height: 200px;
}

.hero-bio__content {
  // color: $color-white;
  max-width: 1368px;
  margin: 0 auto;
  position: relative;
  z-index: 20;
  overflow: hidden;
  // padding: $spacing-row-vertical $spacing-default $spacing-default 200px;
}

.hero-bio__image-wrap {
  position: relative;
}

.hero-bio__navigation {
  bottom: 0;
  position: absolute;
  right: 0;
  z-index: 30;
}

.hero-bio__prev-bio,
.hero-bio__next-bio {
  background: rgba($color-black, .5);
  display: inline-block;
  height: 40px;
  text-align: center;
  width: 40px;
  transition: background .5s;

  &:hover {
    background: rgba($color-link, .5);
  }
}

.hero-bio__nav-icon {
  fill: $color-white;
  height: 25px;
  position: relative;
  top: 6px;
  width: 25px;
}

.hero-bio__social-icon {
  height: 24px;
  width: 24px;

  .hero-bio__social-link:hover & {
    fill: $color-white;
  }
}

p.lead.bio__lead {
  margin-bottom: 64px;
}

@media screen and (min-width: 400px) {
  .hero-bio__image {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 480px) {

  .hero__title {
    font-size: 32px;
  }

  .hero__bio-copy {
    left: 50%;
    .hero__title {
      font-size: 24px;
    }
  }
}

@media screen and (min-width: 650px) {
  .hero__bio-copy {
    .hero__title {
      font-size: 36px;
    }
    .hero__subhead {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 768px) {

  .hero__workshop {
    padding: 100px 40px;
  }

  .hero__title {
    font-size: 36px;
  }

  .hero__attributes {
    text-align: center;
  }

  .hero__attributes dt {
    width: auto;
    padding: 8px 4px 8px 12px;
  }
  .hero__attributes dd {
    width: auto;
    padding: 8px 12px 8px 4px;
  }

  .hero__bio-copy {
    top: 35%;

    .hero__title {
      font-size: 42px;
    }
    .hero__subhead {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 900px) {
  .hero__bio-copy {
    .hero__title {
      font-size: 48px;
    }
    .hero__subhead {
      font-size: 18px;
    }
  }
}

@media screen and (min-width: 1000px) {

  .hero__workshop {
    padding: 140px 40px;
  }

  .hero__title {
    font-size: 48px;
  }

  .hero-bio {
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .hero__bio-copy {
    top: 40%;
    .hero__title {
      font-size: 64px;
    }
  }

  .header__bio {
    background: $color-gray-15;
    padding-bottom: 26px;
    position: relative;
    width: 100%;
    z-index: 20;
  }

  .header__bio .header__back-link-icon {
    top: 36px;
  }

  .header__bio .eightshapes-logo {
    margin-top: 12px;
  }

  .hero-bio__title,
  .hero-bio__tenure {
    font-size: 24px;
  }

  .hero-bio__tenure {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__bio-copy {
    .hero__title {
      font-size: 72px;
    }
    .hero__subhead {
      font-size: 24px;
    }
  }
}