{# To add a new article, follow these steps

0. Establish a unique article ID, such as why-contributions-matter
1. Add the post to /data/systemposts.json
2. Add images to /images/articles/{article ID}

#}

{% set post = systemsposts["why-contributions-matter"] %}
{% extends 'templates/article_data.njk' %}

{% block main_article %}
  {% filter markdown %}


  {% endfilter %}
{% endblock %}
