{% macro agenda(
    class=false,
    col_1_heading=false,
    col_2_heading=false,
    items=[
        {
            time: "[agenda time]",
            heading: "[agenda 1 heading]",
            list: [
                "[agenda bullet 1]",
                "[agenda bullet 2]",
                "[agenda bullet 3]"
            ]
        }
    ]
) %}

<ul class="escom-agenda{% if class %} {{ class }}{% endif %}">
    {% if col_1_heading %}
    <li class="escom-agenda__item escom-agenda__item--header">
        <div class="escom-agenda__row-text">
            <div class="escom-agenda__cell-text">
                <span class="escom-agenda__item-heading">
                    {{ col_1_heading }}
                </span>
            </div>

            <div class="escom-agenda__cell-text">
                <span class="escom-agenda__item-heading">
                    {{ col_2_heading }}
                </span>
            </div>
        </div>
    </li>
    {% endif %}
    {% for item in items %}
    <li class="escom-agenda__item">
        {% if item.time %}
        <p class="escom-agenda__time">
            {{ item.time }}
        </p>
        {% endif %}
        {% if item.topics %}
        <div class="escom-agenda__row-text">
            <div class="escom-agenda__cell-text">
                <h3 class="escom-agenda__heading">
                    {{ item.heading }}
                </h3>
            </div>

            <div class="escom-agenda__cell-text">
                {% for topics in item.topics %}
                    {{ topics }}
                {% endfor %}
            </div>
        </div>
        {% else %}
        <h3 class="escom-agenda__heading">
            {{ item.heading }}
        </h3>
        {% endif %}
        {% if item.list %}
        <div class="escom-agenda__row-cards">
            <div class="escom-agenda__cell-cards escom-agenda__cell-cards--bullets">
                <ul class="escom-agenda__list">
                    {% for bullets in item.list %}
                    <li class="escom-agenda__list-item">
                        {{ bullets }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="escom-agenda__cell-cards escom-agenda__cell-cards--card-1">
                {% if item.card_1_heading %}
                <h4 class="escom-agenda__item-heading">
                    {{ item.card_1_heading }}
                </h4>
                {% endif %}
                {{ item.card_1 }}
            </div>
            <div class="escom-agenda__cell-cards escom-agenda__cell-cards--card-2">
                {% if item.card_2_heading %}
                <h4 class="escom-agenda__item-heading">
                    {{ item.card_2_heading }}
                </h4>
                {% endif %}
                {{ item.card_2 }}
            </div>
        </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% endmacro %}
