---
title_tag : EightShapes > @components
body_classes : escom-page-type--marketing
layout : base.njk
---
{% import './_includes/escom.njk' as escom with context %}
{% import '../node_modules/esds-library/components/esds.njk' as esds %}


{% macro section_contents (
    posts = false,
    category = "Visual Style",
    heading = false
    ) %}



<div class="escom-section-contents">
    <h4 class="escom-section-contents__header">{% if heading %}{{ heading}}{%else %}{{ category }}{% endif %}</h4>
    <ul class="escom-section-contents__list">
    {% if posts == false %}
        {% for post in collections[category] %}
            <li class="escom-section-contents__item">
                <h5 class="escom-section-contents__item-title">
                    <a  class="escom-section-contents__item-title-link" href="{{ post.url }}">
                        {{ post.data.title_abbreviation }}
                    </a>
                </h5>
                <p class="escom-section-contents__item-deck">
                    {{ post.data.deck }}
                </p>
            </li>
        {% endfor %}
    {% else %}
        {% for post_id, post_object in posts %}
            {% if post_object.category === category %}
            <li class="escom-section-contents__item">
                <h5 class="escom-section-contents__item-title">
                    <a  class="escom-section-contents__item-title-link" href="/articles/{{ post_object.id }}">
                        {{ post_object.title_abbreviation }}
                    </a>
                </h5>
                <p class="escom-section-contents__item-deck">
                    {{ post_object.deck }}
                </p>
            </li>
            {% endif %}
        {% endfor %}
    {% endif %} 
    </ul>
</div>

{% endmacro %}


{{ esds.breadcrumb() }}

{% call esds.row(background="white", class="esds-row--tall-inset") %}
    <div class="escom-long-form-text">
        <h2>@components</h2>
        <p class="escom-long-form-text__lead">
            The complete collection of EightShapes writings on design systems, here for free. Follow <a href="https://twitter.com/components">@components</a> on Twitter for updates and new articles.
        </p>
    </div>
    <div class="escom-section-contents__container">
        {% call section_contents(false, "visual style", "Visual Style") %}{% endcall %}
        {% call section_contents(systemsposts, "UI Components") %}{% endcall %}
        {% call section_contents(systemsposts, "Documentation") %}{% endcall %}
        {% call section_contents(systemsposts, "Releases") %}{% endcall %}
        {% call section_contents(systemsposts, "Strategy") %}{% endcall %}
        {% call section_contents(systemsposts, "Process") %}{% endcall %}
        {% call section_contents(systemsposts, "Contributions") %}{% endcall %}
        {% call section_contents(systemsposts, "People") %}{% endcall %}
        {% call section_contents(systemsposts, "Systems of Systems") %}{% endcall %}
        {% call section_contents(systemsposts, "Workshop Activities") %}{% endcall %}
    </div>

{% endcall %}

{{ escom.cta(
    heading="Need help with your system?",
    deck="EightShapes can energize your efforts to coach, workshop, assess or partner with you to design, code, document and manage a system.",
    button_text="Learn More",
    button_href="/design-systems",
    class="escom-cta--components-publication"
) }}