---
title_tag : EightShapes > Dan Brown
layout : base.njk
---

<div class="bio-header">
  <div class="bio-header-inner">
    <div class="bio-header-text">
      <h1>Dan Brown</h1>
      <h2>EightShapes Since 2006</h2>
    </div>
    <img src="/images/bios/bio-thumb-dan-brown.png" alt="Dan Brown Headshot">
  </div>
</div>