---
title_tag : EightShapes > Dan Brown
layout : base.njk
---

<div class="bio-header">
  <div class="bio-header-inner">
    <div class="bio-header-text">
      <h1>Dan Brown</h1>
      <h2>EightShapes Since 2006</h2>
    </div>
    <img src="/images/bios/bio-thumb-dan-brown.png" alt="Dan Brown Headshot">
  </div>
</div>

<div class="row reverse feature">
  <div class="row-inner">
    <p>
    Together with Nathan Curtis, Dan Brown founded EightShapes in 2006. Though specializing in information architecture, user research, and design discovery, Dan’s career has spanned most aspects of user experience design. Dan has written three books on the practice of user experience, writes articles on the messier side of design, speaks widely on discovery and collaboration, and occasionally creates decks of cards to help teams work on their issues.
    </p>
  </div>
</div>

<div class="row secondary">
  <div class="row-inner">
    <h3 id="experience">Experience</h3>
    <p>
Dan has lead design projects, consulted, and run workshops for:
    </p>
    <ul class="client-list bio-client-list">
<li>College of the South</li>
<li>AstraZeneca</li>
<li>Alcatel-Lucent</li>
<li>Career Key</li>
<li>Creative Market</li>
<li>Delta Dental of Virginia</li>
<li>LinkedIn</li>
<li>Marriott</li>
<li>RingCentral</li>
<li>StreetShares</li>
<li>Travelers Insurance</li>
<li>Department of Energy</li>
<li>Knowledge to Practice</li>
<li>Discovery</li>
<li>NetApp</li>
<li>Reveal News</li>
<li>Education Advisory Board</li>
<li>Houghton Mifflin Harcourt</li>
<li>Interfolio</li>
<li>PayPal</li>
<li>Sonatype</li>
<li>WebEx</li>
<li>World Bank</li>
<li>Netflix</li>
<li>National Council of Architecture Review Boards</li>
<li>Association of Social Work Boards</li>
<li>American Psychological Association</li>
<li>American Chemical Society</li>
<li>NCR</li>
<li>Riot Games</li>
<li>Cisco</li>
    </ul>
  </div>
</div>
