---
title_tag : EightShapes > Dan Brown
layout : base.njk
---

<div class="bio-header">
  <div class="bio-header-inner">
    <div class="bio-header-text">
      <h1>Dan Brown</h1>
      <h2>EightShapes Since 2006</h2>
    </div>
    <img src="/images/bios/bio-thumb-dan-brown.png" alt="Dan Brown Headshot">
  </div>
</div>

<div class="row reverse feature">
  <div class="row-inner">
    <p>
    Together with Nathan Curtis, Dan Brown founded EightShapes in 2006. Though specializing in <a href="/information-architecture/">information architecture</a>, <a href="/user-experience-design/">user research, and design discovery</a>, Dan’s career spans most aspects of UX design. Dan <a href="https://greenonions.com/books/home">wrote three books</a> on the practice of user experience, including <a href="https://greenonions.com/communicating-design-by-dan-brown-92fb8224512b">Communicating Design</a>, widely considered essential to the UX canon. He writes articles on the messier side of design, speaks widely on discovery and collaboration, and occasionally creates <a href="https://greenonions.com/games/home">decks of cards</a> to help teams work on their issues.
    </p>
  </div>
</div>

<div class="row secondary">
  <div class="row-inner">
    <h2 id="experience">Experience</h2>
    <p>
      Dan has lead design projects, consulted, and run workshops for:
    </p>
    <ul class="client-list bio-client-list">
       <li>Travelers Insurance</li>
      <li>Department of Energy</li>
     	<li>College of the South</li>
      <li>AstraZeneca</li>
      <li>Alcatel-Lucent</li>
      <li>Career Key</li>
      <li>Riot Games</li>
      <li>Creative Market</li>
      <li>Delta Dental of Virginia</li>
      <li>LinkedIn</li>
      <li>Marriott</li>
      <li>Association of Social Work Boards</li>
      <li>RingCentral</li>
      <li>StreetShares</li>
      <li>Knowledge to Practice</li>
      <li>Discovery</li>
      <li>NetApp</li>
      <li>Reveal News</li>
      <li>Education Advisory Board</li>
      <li>Houghton Mifflin Harcourt</li>
      <li>Interfolio</li>
      <li>PayPal</li>
      <li>Sonatype</li>
      <li>WebEx</li>
      <li>World Bank</li>
      <li>Netflix</li>
      <li>American Psychological Association</li>
      <li>American Chemical Society</li>
      <li>NCR</li>
      <li>Cisco</li>
      <li>National Council of Architecture Review Boards</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="row-inner">
    <h2 id="books">Books</h2>
    <div class="media-flex-wrap">
      <a href="https://www.amazon.com/Communicating-Design-Developing-Documentation-Planning/dp/0321712463" class="media-thumbnail">
        <img src="/images/communicating-design.jpg" role="presentation">
        Communicating Design
        <span class="secondary-text">2010</span>
      </a>
      <a href="https://www.amazon.com/Designing-Together-collaboration-management-professionals/dp/0321918630/ref=sr_1_2" class="media-thumbnail">
        <img src="/images/designing-together.jpg" role="presentation">
        Designing Together
        <span class="secondary-text">2013</span>
      </a>
      <a href="https://www.amazon.com/Practical-Design-Discovery-Dan-Brown/dp/1937557448/ref=sr_1_1" class="media-thumbnail">
        <img src="/images/practical-design-discovery.jpg" role="presentation">
        Practical Design Discovery
        <span class="secondary-text">2017</span>
      </a>
      <div class="media-thumbnail-spacer"></div>
    </div>

    <div class="dot-divider"><span class="dot-divider-inner"><b></b><b></b><b></b></span></div>

    <div class="two-up-flex-wrap">
      <div>
        <h2 id="Blog">Blog</h2>
        <p>
          Dan posts articles to Medium.com on topics like <a href="https://medium.com/@brownorama/list/information-architecture-06be11032702">information architecture</a>, <a href="https://medium.com/eightshapes-llc/tagged/discovery">discovery</a>, and <a href="https://medium.com/@brownorama/list/collaboration-245ddf11772c">collaboration</a>.
        </p>
      </div>
      <div>
        <h2 id="Podcast">Podcast</h2>
        <p>
          <a href="https://podcasts.apple.com/us/podcast/a-lens-a-day-conversations-about-information-architecture/id1586150744">Lenses on Information Architecture</a> is an ongoing interview series about the practice of information architecture.
        </p>
      </div>
    </div>

    <div class="dot-divider"><span class="dot-divider-inner"><b></b><b></b><b></b></span></div>

    <h2 id="games">Games</h2>
    <div class="media-flex-wrap">
      <a href="https://medium.com/eightshapes-llc/information-architecture-lenses-8a3929a106dd" class="media-thumbnail">
        <img src="/images/information-architecture-lenses.jpg" role="presentation">
        Information Architecture Lenses
      </a>
      <a href="https://greenonions.com/how-to-play-surviving-design-projects-5cbe8ac6acd1" class="media-thumbnail">
        <img src="/images/surviving-design-projects.jpg" role="presentation">
        Surviving Design Projects
      </a>
    </div>

      <div class="dot-divider"><span class="dot-divider-inner"><b></b><b></b><b></b></span></div>


      <div class="bio-section-row">
        <div class="bio-section">
          <h2 id="recent-talks-and-workshops">Recent Talks &amp; Workshops</h2>
<h4>2021</h4>
          <ul class="unstyled">
<li>Interact Global</li>
</ul>
<h4>2020</h4></li>
          <ul class="unstyled">
<li>UX Australia</li>
</ul>
<h4>2019</h4></li>
          <ul class="unstyled">
<li>UX New Zealand, Wellington</li>
<li>Confab, Minneapolis MN</li>
<li>Enterprise Experience, San Francisco</li>
<li>Pixel Up! Cape Town South Africa</li>
</ul>
<h4>2018</h4></li>
          <ul class="unstyled">
<li>Enterprise UX, San Francisco</li>
<li>Centre Center, Chattanooga</li>
<li>UXLX, Lisbon Portugal</li>
<li>IA Summit, Chicago IL</li>
<li>Convey UX, Seattle WA</li>
</ul>
<h4>2017</h4></li>
          <ul class="unstyled">
<li>Digital PM Summit, Las Vegas NV</li>
<li>EuroIA, Stockholm, Sweden</li>
<li>UX Cambridge</li>
<li>Interaction 17, New York NY</li>
</ul>
<h4>2016</h4></li>
          <ul class="unstyled">
<li>UI21, Boston, MA</li>
<li>Fluxible, Waterloo ON</li>
<li>IA Summit, Atlanta</li>
<li>O'Reilly Design Conference, San Francisco</li>
</ul>
<h4>2015</h4></li>
          <ul class="unstyled">
<li>Midwest UX, Pittsburgh</li>
<li>UXDC, Washington, DC</li>
<li>18F Speaker Series, Washington, DC</li>
<li>IA Summit, Minneapolis</li>
</ul>
<h4>2014</h4></li>
          <ul class="unstyled">
<li>IA Summit, San Diego</li>
<li>Interaction 14, Amsterdam</li>
</ul>
 

          <div class="dot-divider"><span class="dot-divider-inner"><b></b><b></b><b></b></span></div>
        </div>
        <div class="bio-section">
          <h2 id="other-appearances">Podcasts and Other Appearances</h2>
          
          <h4>2022</h4>

          <ul class="unstyled">
<li>Content Strategy Podcast</li>
</ul>

<h4>2021</h4>

          <ul class="unstyled">
<li>The Informed Life</li>
<li>Saving UX</li>
<li>Brave UX</li>
</ul>



<h4>2018</h4>

          <ul class="unstyled">
<li>Voice of Design - Episode 4: People Are the Problem</li>
<li>Rosenfeld Review Podcast - Facilitation for Designers: A Talk with Dan Brown</li>
</ul>

<h4>2017</h4>

          <ul class="unstyled">
<li>UX Podcast - Discovery with Dan Brown</li>
<li>Chicago Camps - Curiosity, Skepticism, and Humility: The Right Mindset for Design Discovery</li>
<li>User Defenders Podcast - Practical Design Discovery with Dan Brown</li>
<li>Non-Breaking Space Show - Dan Brown</li>
<li>Aurelius Podcast - Episode 5 with Dan Brown on Design Discovery</li>
<li>The Big Web Show With Jeffrey Zeldman - Practical Design Discovery with Dan Brown</li>
</ul>

<h4>2015</h4>

          <ul class="unstyled">
<li>O'Reilly - Mindsets, Managing Designers, and Mastering Imposter Syndrome</li>
<li>MODEV - Modev Presents: Dan Brown</li>
</ul>

<h4>2014</h4>

          <ul class="unstyled">
<li>DPM Radio Interview - Interview</li>
<li>UX Discovery Session - Dan Brown of EightShapes</li>
</ul>

<h4>2013</h4>

          <ul class="unstyled">
<li>Project Management Podcast - Designing Together - Podcast Interview with Dan Brown</li>
<li>UX Radio - Surviving Design Projects</li>
<li>The Big Web Show With Jeffrey Zeldman - Works Well With Others</li>
<li>UIE Book Corner - Dan Brown's Designing Together</li>
</ul>

          
        </div>
      </div>
  </div>
</div>
<div class="row reverse brand">
    <div class="row-inner">
        <h2>Ready?</h2>
        <p>
            Whether to set up office hours, a workshop, or explore a larger project, contact EightShapes to get started.
        </p>

        <a class="button" href="mailto:info@eightshapes.com">Email Us</a>
    </div>
</div>
