---
title_tag : EightShapes > Design Systems
layout : base.njk
---
<div class="row reverse row--design-systems-header">
    <div class="row-inner">
        <h1>
            Design Systems
        </h1>
        <p class="lead">
            Make cohesive experiences at scale to improve efficiency and lift quality while serving a community.
        </p>
        <p class="lead">
            EightShapes can guide you.
        </p>
    </div>
</div>

<div class="row">
    <div class="row-inner">
        <h2>Working with us</h2>
        <p>
            EightShapes customizes projects to suit client needs, budget, and ambition.
        </p>
        <div class="content-tiles">
            <div class="content-tiles__tile">
                <h3>Office hours</h3>
                <p>Improve architecture, operations and strategy via regular, topical coaching calls.</p>
            </div>
            <div class="content-tiles__tile">
                <h3>Workshops</h3>
                <p>Combine presentation, activities and discussion to start, redirect or optimize a design system.</p>
            </div>
            <div class="content-tiles__tile">
                <h3>Strategy and planning</h3>
                <p>Discovers needs, align stakeholders, and plan a future for your design system.</p>
            </div>
            <div class="content-tiles__tile">
                <h3>Embed</h3>
                <p>Add a leader and more to a design system team to deliver faster & better towards objectives.</p>
            </div>
            <div class="content-tiles__tile">
                <h3>Assessment</h3>
                <p>Inform your roadmap using heuristic-based analysis of what you makes and how it works.</p>
            </div>
            <div class="content-tiles__tile">
                <h3>Special projects</h3>
                <p>Focus on a complex challenge like refactoring tokens or improving contributions.</p>
            </div>
        </div>
    </div>
</div>

<div class="row secondary">
    <div class="row-inner">
        <h2>Our experts</h2>
        <p>We'll partner with a client’s design system team to learn, work and grow together. Depending on a project's scale, we'll scale our team size with additional partners also with deep design system experience.</p>

        <div class="thumbnails">

            <a href="/nathan-curtis" class="thumbnail">
                <div class="thumbnail_image-wrap">
                  <img class="thumbnail_image" src="/images/bios/bio-thumb-nathan-curtis.png" alt="Nathan Curtis">
                </div>
                <h4 class="thumbnail_name">Nathan Curtis</h4>
                <p class="secondary-text">System Lead and Architect</p>
            </a>

            <a href="/james-melzer" class="thumbnail">
                <div class="thumbnail_image-wrap">
                  <img class="thumbnail_image" src="/images/bios/bio-thumb-james-melzer.png" alt="James Melzer">
                </div>
                <h4 class="thumbnail_name">James Melzer</h4>
                <p class="secondary-text">System Lead and Architect</p>
            </a>
        </div>
    </div>
</div>

<div class="row reverse">
    <div class="row-inner">
        <h2>Our experience</h2>
        <p>
            Since 2006, EightShapes has helped 50+ clients across plan, create, launch, operate and assess design systems. Past clients include:</p>
        <ul class="client-list">
            <li>Morningstar</li>
            <li>REI</li>
            <li>Target</li>
            <li>Cisco</li>
            <li>Riot Games</li>
            <li>Twitter</li>
            <li>World Bank</li>
            <li>JDRF</li>
            <li>Paylocity</li>
            <li>Yahoo</li>
            <li>Atlassian</li>
            <li>Fidelity</li>
            <li>Sun Microsystems</li>
            <li>Autodesk</li>
            <li>Google</li>
            <li>eBay</li>
            <li>Cvent</li>
            <li>Amgen</li>
            <li>Northwestern Mutual</li>
            <li>Collibra</li>
            <li>Verizon</li>
            <li>Mariott</li>
            <li>Capital One</li>
            <li>Dropbox</li>
            <li>Netapp</li>
            <li>Salesforce</li>
            <li>Discovery Education</li>
            <li>Wells Fargo</li>
            <li>Key Bank</li>
            <li>Nationwide</li>
        </ul>
    </div>
</div>


<div class="row reverse brand">
    <div class="row-inner">
        <h2>Ready?</h2>
        <p>
            Whether to set up office hours, a workshop, or explore a larger project, contact EightShapes to get started.
        </p>

        <a class="button" href="mailto:info@eightshapes.com">Email Us</a>
    </div>
</div>