---
title_tag : EightShapes > Design Systems
layout : base.njk
---
<div class="page-header design-systems-page-header">
    <div class="page-header-inner">
        <h1>
            Design Systems
        </h1>
        <p>
            Make cohesive experiences at scale to improve efficiency and lift quality while serving a community.
        </p>
        <p>
            EightShapes can guide you.
        </p>
    </div>
</div>

<div class="page-content">
<div class="page-content-inner">

<h2>Working with us</h2>
<p>
    EightShapes customizes projects to suit client needs, budget, and ambition, combining activities like:
</p>
<ul>
    <li>
        <strong>Office hours,</strong> getting advice via regular critique sessions
    </li>
    <li>
        <strong>Workshops</strong> mixing lecture and activities to learn together
    </li>
    <li>
        <strong>Projects</strong> to plan and work through challenges with you
    </li>
    <li>
        <strong>Embedding</strong> on your team for longer periods
    </li>
</ul>
</div>
</div>

<div class="row secondary">
    <div class="row-inner">
        <h2>Our experts</h2>
        <p>Our partner with a client’s design system team to learn, work and grow together. Our full-time staff is extended by partners also with deep design system experience.</p>

        <div class="bio-thumbnails">
            <a href="/nathan-curtis" class="bio-thumbnail">
                <div class="bio-thumbnail-image-wrap">
                    <img src="/images/bios/bio-thumb-nathan-curtis.png" alt="Nathan Curtis">
                </div>
                <h3>Nathan Curtis</h3>
                <p>Lead &amp; Architect</p>
                <span class="bio-metadata">50+ systems since 2006</span>
            </a>

            <a href="/james-melzer" class="bio-thumbnail">
                <div class="bio-thumbnail-image-wrap">
                    <img src="/images/bios/bio-thumb-james-melzer.png" alt="James Melzer">
                </div>
                <h3>James Melzer</h3>
                <p>Lead &amp; Architect</p>
                <span class="bio-metadata">30+ systems since 2009</span>
            </a>
        </div>
    </div>
</div>

<div class="page-content">
<div class="page-content-inner">
<h2>Our experience</h2>
<p>
    Since 2006, EightShapes has helped 50+ clients across plan, create, launch, operate and assess design systems.
</p>

<p class="client-list-intro">Past clients include&hellip;</p>
<ul class="client-list">
    <li>
        Morningstar
    </li>
    <li>
        REI
    </li>
    <li>
        Target
    </li>
    <li>
        Cisco
    </li>
    <li>
        Riot Games
    </li>
    <li>
        Twitter
    </li>
    <li>
        World Bank
    </li>
    <li>
        JDRF
    </li>
    <li>
        Paylocity
    </li>
    <li>
        Yahoo
    </li>
    <li>
        Atlassian
    </li>
    <li>
        Fidelity
    </li>
    <li>
        Sun Microsystems
    </li>
    <li>
        Autodesk
    </li>
    <li>
        Google
    </li>
    <li>
        eBay
    </li>
    <li>
        Cvent
    </li>
    <li>
        Amgen
    </li>
    <li>
        Northwestern Mutual
    </li>
    <li>
        Collibra
    </li>
    <li>
        Verizon
    </li>
    <li>
        Mariott
    </li>
    <li>
        Capital One
    </li>
    <li>
        Dropbox
    </li>
    <li>
        Netapp
    </li>
    <li>
        Salesforce
    </li>
    <li>
        Discovery Education
    </li>
    <li>
        Wells Fargo
    </li>
    <li>
        Key Bank
    </li>
    <li>
        Nationwide
    </li>
</ul>
</div>
</div>


<div class="footer-cta">
    <div class="footer-cta-inner">
        <h2>Ready?</h2>
        <p>
            Whether to set up office hours, a workshop, or explore a larger project, contact EightShapes to get started.
        </p>

        <a class="button" href="mailto:info@eightshapes.com">Email Us</a>
    </div>
</div>