---
layout : base.njk
---

<div class="page-content">
  <div class="page-content-inner">
    <ul>
      <li><a href="/design-systems">Design Systems</a></li>
      <li><a href="/information-architecture">Information Architecture</a></li>
      <li><a href="/research-and-design">Research and Design</a></li>
      <li><a href="/nathan-curtis">Nathan Curtis</a></li>
      <li><a href="/components">@components</a></li>
    </ul>
  </div>
</div>