---
layout : base.njk
show_site_header: false
---
<div class="site-header">
  <div class="services-carousel">
    <div class="services-carousel-controls">
      <div class="services-carousel-logo">
      {% include './_icons/eightshapes-logo.svg' %}
      </div>
      <p class="services-carousel-tagline">
        We design digital products and systems that make for clear, usable, beautiful, and cohesive experiences.
      </p>
      <ul class="services-carousel-services-list">
        <li>
          <button class="selected" data-slide-id="information-architecture">
            <span class="services-carousel-selected-icon">{% include './_icons/angle-right.svg' %}</span>
            Information Architecture
          </button>
        </li>
        <li>
          <button data-slide-id="user-experience-design">
            <span class="services-carousel-selected-icon">{% include './_icons/angle-right.svg' %}</span>
            User Experience Design
          </button>
        </li>
        <li>
          <button data-slide-id="design-systems">
            <span class="services-carousel-selected-icon">{% include './_icons/angle-right.svg' %}</span>
            Design Systems
          </button>
        </li>
      </ul>
    </div>
    <div class="services-carousel-slides">

      <div id="information-architecture" class="services-carousel-slide information-architecture selected">
        <div class="services-carousel-image-wrap">
          <img src="/images/homepage/information_architecture.jpg" role="presentation" class="services-carousel-image"/>
        </div>
        <a href="/information-architecture" class="services-carousel-card teal">
          <div class="services-carousel-card-inner">
            <h2>Information Architecture</h2>
            <p>We’ve been organizing information for 25 years. We’ve categorized it all -- from storage devices to childrens books.</p>
            <span class="services-carousel-card-link-text">Learn more</span>
          </div>
        </a>
      </div>

      <div  id="user-experience-design" class="services-carousel-slide user-experience">
        <div class="services-carousel-image-wrap">
          <img src="/images/homepage/user_experience_design.jpg" role="presentation" class="services-carousel-image"/>
        </div>
        <a href="/user-experience-design" class="services-carousel-card secondary">
          <div class="services-carousel-card-inner">
            <h2>User Experience Design</h2>
            <p>Discover user needs and design end-to-end journeys that enable users and businesses to succeed.</p>
            <span class="services-carousel-card-link-text">Learn more</span>
          </div>
        </a>
      </div>

      <div id="design-systems" class="services-carousel-slide design-systems">
        <div class="services-carousel-image-wrap">
          <img src="/images/homepage/design_systems.jpg" role="presentation" class="services-carousel-image"/>
        </div>
        <a href="/design-systems" class="services-carousel-card brand">
          <div class="services-carousel-card-inner">
            <h2>Design Systems</h2>
            <p>Build a foundation of style and components to scale design and development across an enterprise.</p>
            <span class="services-carousel-card-link-text">Learn more</span>
          </div>
        </a>
      </div>


    </div>
  </div>
</div>

<div class="row reverse-secondary">
  <div class="row-inner">
    <h3>Our experience</h3>
    <p>
      EightShapes serves clients across many industries and domains:
    </p>
    <ul class="client-list homepage">
      <li>Marriott</li>
      <li>Salesforce</li>
      <li>Sonatype</li>
      <li>Cisco</li>
      <li>Atlassian</li>
      <li>Travelers Insurance</li>
      <li>Alcatel-Lucent</li>
      <li>National Council of Architecture Review Boards</li>
      <li>Twitter</li>
      <li>Ritz-Carlton</li>
      <li>NetApp</li>
      <li>Cvent</li>
      <li>Rally Health</li>
      <li>World Bank</li>
      <li>Verizon</li>
      <li>Juvenile Diabetes Research Foundation</li>
      <li>Morningstar</li>
      <li>Google</li>
      <li>Capital One</li>
      <li>Target</li>
      <li>AstraZeneca</li>
      <li>Houghton Mifflin Harcourt</li>
      <li>PayPal</li>
      <li>American Chemical Society</li>
    </ul>
  </div>
</div>

<div class="row secondary">
  <div class="row-inner">
    <h3>Who we are</h3>
    <p>
      Tenacious in solving complex problems, we believe successful projects depend on transparency, discipline, and cooperation.
    </p>
    <div class="bio-thumbnails">
        <a href="/dan-brown" class="bio-thumbnail">
            <div class="bio-thumbnail-image-wrap">
              <img src="/images/bios/bio-thumb-dan-brown.png" alt="Dan Brown">
            </div>
            <h4>Dan Brown</h4>
            <p>Founder</p>
        </a>

        <a href="/nathan-curtis" class="bio-thumbnail">
            <div class="bio-thumbnail-image-wrap">
              <img src="/images/bios/bio-thumb-nathan-curtis.png" alt="James Melzer">
            </div>
            <h4>Nathan Curtis</h4>
            <p>Founder</p>
        </a>

        <a href="/james-melzer" class="bio-thumbnail">
            <div class="bio-thumbnail-image-wrap">
              <img src="/images/bios/bio-thumb-james-melzer.png" alt="James Melzer">
            </div>
            <h4>James Melzer</h4>
            <p>Sr. Director, UX</p>
        </a>
        <div class="bio-thumbnail-spacer"></div>
    </div>
  </div>
</div>

<div class="row footer-cta">
    <div class="footer-cta-inner">
        <h2>Ready?</h2>
        <p>
            Whether to set up office hours, a workshop, or explore a larger project, contact EightShapes to get started.
        </p>

        <a class="button" href="mailto:info@eightshapes.com">Email Us</a>
    </div>
</div>

<script src="/scripts/homepage-carousel.js"></script>