---
title_tag : EightShapes, a UX and Design Systems Agency
layout : base.njk
show_site_header: false
---
<div class="home-closing row">
    <div class="home-closing-goodbye__inner row-inner">
        <div class="home-hero-logo">
        {% include './_icons/eightshapes-logo.svg' %}
        </div>
        <p>May 15, 2024</p>
        <p>Goodbye, EightShapes</p>
        <p>EightShapes opened in 2006 to bring high quality user experience and information architecture consulting to Washington, DC. It started as just us - Nathan Curtis and Dan Brown - but in two years grew to half a dozen designers and soon to sixteen. We served a range of industries including finance, high tech, non-profit, professional services, pharmaceutical, real estate, and associations across the US and in Europe too.</p>
        <p>We are proud of what EightShapes became. We helped people grow while delivering value. We created elegant and useful experiences. We consulted with hundreds of companies on projects involving user experience, product design and discovery, front end development, user research, and of course information architecture. We led or advised over 100 design system teams. We employed 27 people over our 18-year history and partnered with 57 more subcontractors.  </p>
        <p>Numbers alone do not tell the whole story. EightShapes became a well-known name in user experience and technology circles. We shared our knowledge with the community. We gave workshops and talks all over the world, wrote articles that defined the industry, published books, created indispensable tools, served on W3C working groups, and contributed to and produced podcasts. Even one of the first tools we made - EightShapes Unify for Adobe InDesign (!) - still gets shout-outs.</p>
        <p>To turn 18 is to hit a point of transition. Many leave home at 18 to continue their journey but begin new adventures. And so it is for those of us at EightShapes.</p>
        <p>We, <a href="https://www.linkedin.com/in/nathancurtis/">Nathan</a> and <a href="https://www.linkedin.com/in/danmbrown/">Dan</a>, are ready for a change. Our individual journeys will continue, but EightShapes will wind down this summer. In its place, we are each starting new companies that build on what we're doing while also pursuing new directions. Keep an eye on our LinkedIn profiles for news about our next moves.</p>
        <p>We are forever grateful to those we worked with and took a chance on us. Thank you team members for your hard work and unflagging commitment to quality -- especially James Melzer, with us until the end. Thank you clients who understood that a small team can do so much. Thank you design community for your interest in our work: your enthusiasm fuels our engines.</p>
        <p>EightShapes may be going quietly into the night, but individually we will continue to offer services, contribute to the field, and engage the community. We will find new homes for resources. But rest assured our writing will remain on <strong>Medium</strong>, the <strong>Contrast Grid</strong> on the web, Nathan and Kevin's <strong>Specs plug-in</strong> in Figma, and Dan's <strong>information architecture podcast</strong> on most platforms.</p>
        <p>One thing that hasn't changed: Our inboxes are always open. No matter what banner we carry, we always look forward to interacting with colleagues, clients, and our community.</p>
    </div>
</div>

<script src="/scripts/homepage-carousel.js"></script>