---
title_tag : EightShapes > Information Architecture
layout : base.njk
---
<div class="row reverse row--information-architecture-header">
    <div class="row-inner">
        <h1>
            Information Architecture
        </h1>
        <p class="lead">
            Every digital product, site, or app has an underlying structure – its information architecture – that frames the user experience. A sound structure is essential for usability and sustainability.
        </p>
    </div>
</div>

<div class="row">
<div class="row-inner">

<h2>Working with us</h2>
<p>
    Whether your product is outgrowing its navigation or you need to consolidate 10 different products into a single platform, EightShapes' engagements can suit your budget or scope. Our engagements include:
</p>
<ul>
    <li>
        <strong>Office Hours</strong> weekly meetings for information architecture advice and coaching
    </li>
    <li>
        <strong>Working Sessions</strong> group activities for challenging information architecture problems
    </li>
    <li>
        <strong>Projects</strong> providing a complete information architecture for a product
    </li>
    <li>
        <strong>Embedding</strong> seamless integration for ongoing information architecture support
    </li>
</ul>

</div>
</div>

<div class="row secondary">
    <div class="row-inner">
        <h2>Our experts</h2>
        <p>Collaborating closely with our clients' internal design teams, EightShapes drives the design process ensuring we all learn, produce, and have fun. Every project is lead by a full-time principal designer and is extended by experienced partners.</p>

        <div class="bio-thumbnails">
            <a href="/dan-brown" class="bio-thumbnail">
                <div class="bio-thumbnail-image-wrap">
                    <img src="/images/bios/bio-thumb-dan-brown.png" alt="Dan Brown">
                </div>
                <h4>Dan Brown</h4>
                <p class="secondary-text">Lead &amp; Principal Designer</p>
                <p class="secondary-text">EightShapes since 2006</p>
            </a>

            <a href="/james-melzer" class="bio-thumbnail">
                <div class="bio-thumbnail-image-wrap">
                    <img src="/images/bios/bio-thumb-james-melzer.png" alt="James Melzer">
                </div>
                <h4>James Melzer</h4>
                <p class="secondary-text">Lead &amp; Principal Designer</p>
                <p class="secondary-text">EightShapes since 2009</p>
            </a>
        </div>
    </div>
</div>

<div class="row">
<div class="row-inner">


<h2>
Our experience
</h2>
<p>
EightShapes – founded in 2006 by a pair of information architects – has engaged with organizations large and small to tackle the most complex IA problems. Past clients include&hellip;</p>
<ul class="client-list">
<li>Alcatel-Lucent</li>
<li>American Chemical Society</li>
<li>American Psychological Association</li>
<li>Association of Social Work Boards</li>
<li>AstraZeneca</li>
<li>Cisco</li>
<li>Delta Dental of Virginia</li>
<li>Discovery Communications</li>
<li>EAB</li>
<li>Energy Information Administration</li>
<li>Federal Deposit Insurance Corporation</li>
<li>Hershey</li>
<li>Houghton Mifflin Harcourt</li>
<li>Interfolio</li>
<li>Knowledge2Practice</li>
<li>Lockheed Martin</li>
<li>Marriott</li>
<li>National Council of Architect Review Boards</li>
<li>NetApp</li>
<li>Netflix</li>
<li>Salesforce</li>
<li>Sonatype</li>
<li>Sun Microsystems</li>
<li>World Bank</li>
<li>Yahoo</li>
</ul>
</div>
</div>

<div class="row secondary">
    <div class="row-inner">
<h2>Created by EightShapes</h2>
<p>
EightShapes' team members have been contributing to the information architecture community for 20 years.
</p>

<h3>Information Architecture Lenses</h3>
<p>
A <a href="https://medium.com/eightshapes-llc/information-architecture-lenses-8a3929a106dd">deck of 51 cards</a>, each with a distinct perspective for evaluating information architecture design work.
</p>

<h3>Conversations about Information Architecture</h3>
<p>
A <a href="https://podcasts.apple.com/us/podcast/a-lens-a-day-conversations-about-information-architecture/id1586150744">podcast with 50 information architects</a>, product designers, and user experience professionals about the practice of information architecture.
</p>
    
    
        </div>
    </div>
</div>




<div class="row reverse brand">
    <div class="row-inner">
        <h2>Ready?</h2>
        <p>
            Whether to set up office hours, a working session, or explore a larger project, contact EightShapes to get started.
        </p>

        <a class="button" href="mailto:info@eightshapes.com">Email Us</a>
    </div>
</div>