---
title_tag : EightShapes > James Melzer
layout : base.njk
---

<div class="bio-header">
  <div class="bio-header-inner">
    <div class="bio-header-text">
      <h1>James Melzer</h1>
      <h2>EightShapes Since 2009</h2>
    </div>
    <img src="/images/bios/bio-thumb-james-melzer.png" alt="James Melzer Headshot">
  </div>
</div>

<div class="row reverse">
  <div class="row-inner">
    <p>
      As a UX designer and team lead, James connects business leaders, designers and developers to design the best solutions. James’ 22 years of experience includes large-scale information architecture, search, and responsive design. He has consulted with dozens of clients to launch, merge, or reenvigorate design system programs.
    </p>
    <p>
    James has led accounts with diverse clients in industry, education, government, and civil society, on projects such as:
    </p>
    <ul>
      <li><strong>Led a design system team</strong> that helped a financial institution realize its efficiency and quality goals.</li>
      <li><strong>Built and governed a design system</strong> to achieve brand cohesiveness across dozens of vendor and in-house teams with over a hundred native apps.</li>
      <li><strong>Facilitated c-suite ideation</strong> toward an app's MVP, then led the team to realize the concept via prototypes. </li>
      <li><strong>Led the research and design team</strong> to overhaul the federal government's assistance for victims of identity theft.</li>
    </ul>
    <p>
    James relishes thorny information architecture problems, leveraging years of experience and a Master’s Degree in Library/Information Science from the University of Maryland.
    </p>
  </div>
</div>

<div class="row secondary">
  <div class="row-inner">
    <h3 id="experience">Experience</h3>
    <p>
    James has been leading design projects and consulting with design system teams across the industry since 2009, including:
    </p>
    <ul class="client-list bio-client-list">
      <li>Amgen</li>
      <li>Autodesk</li>
      <li>Cisco</li>
      <li>Cvent</li>
      <li>Collibra</li>
      <li>Discovery Education</li>
      <li>HealthMine</li>
      <li>International Monetary Fund</li>
      <li>JDRF</li>
      <li>Key Bank</li>
      <li>Marriott</li>
      <li>NetApp</li>
      <li>Rally Health</li>
      <li>RingCentral</li>
      <li>Riot Games</li>
      <li>Ritz-Carlton</li>
      <li>Salesforce</li>
      <li>USAC</li>
      <li>Wells Fargo</li>
      <li>World Bank</li>
    </ul>
  </div>
</div>
<div class="page-content">
  <div class="page-content-inner">
    <div class="bio-section-row">
      <div class="bio-section">
        <h3 id="books">Posters</h4>
          <a href="http://jamesmelzer.com/breakpoint-matrix.html" class="media-thumbnail">
            <img src="/images/components/content_card/poster-iasummit2013.jpg" alt="The Breakpoint Matrix">
            Communicating Responsive Web Design: The Breakpoint Matrix
            <span class="secondary-text">2013 Information Architecture Summit</span>
          </a>
          <a href="http://jamesmelzer.com/poster.transforming-my-toolkit.ia-summit-2012.v2.pdf" class="media-thumbnail">
            <img src="/images/components/content_card/poster-iasummit2012.jpg" alt="Wireframes to HTML Prototypes">
            Transforming My Toolkit: A One-Year Journey from Wireframes to HTML Prototypes
            <span class="secondary-text">2012 Information Architecture Summit</span>
          </a>
          <a href="http://jamesmelzer.com/iasummit.MentalModels.v3.pdf" class="media-thumbnail">
            <img src="/images/components/content_card/poster-iasummit2010.jpg" alt="Wireframes to HTML Prototypes">
            Applying Mental Models Outside UX
            <span class="secondary-text">2010 Information Architecture Summit</span>
          </a>
          <div class="dot-divider"><span class="dot-divider-inner"><b></b><b></b><b></b></span></div>
        </div>
      </div>
  </div>
</div>
<div class="footer-cta">
    <div class="footer-cta-inner">
        <h2>Ready?</h2>
        <p>
            Whether to set up office hours, a workshop, or explore a larger project, contact EightShapes to get started.
        </p>

        <a class="button" href="mailto:info@eightshapes.com">Email Us</a>
    </div>
</div>
