---
title_tag : EightShapes > Nathan Curtis
layout : base.njk
---

<div class="row bio-header">
  <div class="row-inner bio-header_inner">
    <div class="bio-header_text">
      <h1 class="bio-header_title">Nathan Curtis</h1>
      <h5 class="eyebrow--large bio-header_since">EightShapes Since 2006</h5>
    </div>
    <img class="bio-header_image" src="/images/bios/bio-thumb-nathan-curtis.png" alt="Nathan Curtis Headshot">
  </div>
</div>

<div class="row reverse secondary">
  <div class="row-inner">
    <p class="lead">
      Nathan co-founded EightShapes with <a href="/dan-brown/">Dan Brown</a> near Washington, DC in 2006. He's passionate about information architecture, user experience design, and front end development, and leads and consults with design systems teams to chart a strategic path and optimize operations. He wrote <a href="https://www.amazon.com/Modular-Web-Design-Components-Documentation/dp/0321601351">Modular Web Design</a> in 2009, <a href="/components/">blogs about design systems</a> regularly, and speaks at events worldwide.
    </p>
  </div>
</div>

<div class="row secondary">
  <div class="row-inner">
    <h2 id="experience">Experience</h2>
    <p>
    Nathan has been leading and consulting with design system teams across the industry since 2006, including:
    </p>
    <ul class="client-list bio-client-list">
      <li>Morningstar</li>
      <li>Sun Microsystems</li>
      <li>Cisco</li>
      <li>Google</li>
      <li>Verizon</li>
      <li>Fidelity</li>
      <li>Salesforce</li>
      <li>Cisco</li>
      <li>Wells Fargo</li>
      <li>Dropbox</li>
      <li>Discovery</li>
      <li>Twitter</li>
      <li>Atlassian</li>
      <li>Marriott</li>
      <li>Citi</li>
      <li>Automattic</li>
      <li>Capital One</li>
      <li>Nationwide</li>
      <li>eBay</li>
      <li>Vanguard</li>
      <li>Target</li>
      <li>Northwestern Mutual</li>
      <li>REI</li>
      <li>Yahoo</li>
      <li>Hudl</li>
      <li>Netapp</li>
      <li>Libery Mutual</li>
      <li>Key Bank</li>
      <li>Vanguard</li>
      <li>Paylocity</li>
      <li>Ancestry.com</li>
      <li>Software AG</li>
      <li>Credit Karma</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="row-inner">

    <div class="bio-section-row">
      <div class="bio-section">
        <h3 id="blog">Medium.com Blog</h3>
        <p>Since 2015, Nathan has blogged on Medium.com about design system topics that include:</p>
        <ul>
          <li><a href="https://medium.com/@nathanacurtis/list/visual-style-a70978d80056">Visual Style</a></li>
          <li><a href="https://medium.com/@nathanacurtis/list/ui-components-90c74982dd7e">UI Components</a></li>
          <li><a href="https://medium.com/@nathanacurtis/list/documentation-840a06090c66">Documentation</a></li>
          <li><a href="https://medium.com/@nathanacurtis/list/releases-a6203df2a767">Releases</a></li>
          <li><a href="https://medium.com/@nathanacurtis/list/planning-c9a34f4e0526">Planning</a></li>
          <li><a href="https://medium.com/@nathanacurtis/list/process-86df670f62c0">Process</a></li>
          <li><a href="https://medium.com/@nathanacurtis/list/people-teams-627847d004e3">People and Teams</a></li>
          <li><a href="https://medium.com/@nathanacurtis/list/systems-of-systems-c5c4edef3560">Systems of Systems</a></li>
        </ul>
        <div class="dot-divider"><span class="dot-divider-inner"><b></b><b></b><b></b></span></div>
      </div>
      <div class="bio-section">
        <h3 id="blog">EightShapes.com Blog</h3>
        <p>Most of these articles are also reprinted on eightshapes.com as the <a href="/components">@components publication</a>.</p>
      </div>
    </div>
    <div class="dot-divider"><span class="dot-divider-inner"><b></b><b></b><b></b></span></div>

    <div class="bio-section-row">
      <div class="bio-section">
        <h3 id="books">Books</h3>
        <div class="thumbnails">
          <a href="https://www.amazon.com/Modular-Web-Design-Components-Documentation/dp/0321601351" class="thumbnail">
            <div class="thumbnail_image-wrap"><img class="thumbnail_image" src="/images/modular-web-design-cover-photo.jpg" alt="Modular Web Design"/></div>
            <h4 class="thumbnail_name">Modular Web Design</h4>
            <span class="secondary-text">2009</span>
          </a>
          <a href="https://www.designbetter.co/design-systems-handbook" class="thumbnail">
            <div class="thumbnail_image-wrap"><img class="thumbnail_image" src="/images/design-systems-handbook.jpg" alt="Modular Web Design"/></div>
            <h4 class="thumbnail_name">Design Systems Handbook</h4>
            <span class="secondary-text">2017 (Editor)</span>
          </a>
        </div>
      </div>
    </div>
    <div class="dot-divider"><span class="dot-divider-inner"><b></b><b></b><b></b></span></div>

    <div class="bio-section-row">
      <div class="bio-section">
        <h3 id="recent-talks-and-workshops">Talks &amp; Workshops</h3>
        <h4>2023</h4>
        <ul>
          <li><a href="https://smashingconf.com/online-workshops">Smashing Online Workshops</a></li>
          <li><a href="https://webexpo.net/sessions/premium-workshop-architecting-design-systems/">WebExpo</a>, Prague, Czechia</li>
        </ul>

        <h4>2022</h4>
        <ul>
          <li><a href="https://smashingconf.com/freiburg-2022/">SmashingConf 2022</a>, Freiburg, Germany</li>
          <li><a href="https://smashingconf.com/online-workshops">Smashing Online Workshops</a> (2)</li>
          <li><a href="https://www.youtube.com/watch?v=NiDoqI_ZhvY">Figma's Schema</a>, New York, NY</li>
          <li><a href="https://www.clarityconf.com/session/operating-design-systems-22">Clarity Conference</a>, New Orleans, LA</li>
        </ul>

        <h4>2021</h4>
        <ul>
          <li>NOVAUX Meetup<span class="secondary-text">, Fairfax, VA</span></li>
          <li><a href="https://smashingconf.com/online-workshops">Smashing Online Workshops</a> (2)</li>
          <li><a href="https://www.clarityconf.com/session/operating-design-systems-2021-group-1">Clarity Conference</a></li>
          <li><a href="https://interaction21.ixda.org/program/workshop--nathan-curtis">IXD 2021</a></li>
        </ul>

        <h4>2020</h4>
        <ul>
          <li><a href="https://smashingconf.com/sf-2020/">SmashingConf</a>, San Francisco, CA</li>
          <li><a href="https://smashingconf.com/sf-2020/workshops/nathan-curtis-kevin-powell">Smashing Workshops</a></li>
          <li><a href="https://www.clarityconf.com/session/operating-design-systems-2020-group-1">Clarity Conference</a></li>
        </ul>

        <h4>2019</h4>
        <ul>
          <li><a href="http://dcux.org/">DCUX</a><span class="secondary-text">, Washington, DC</span></li>
          <li><a href="https://rosenfeldmedia.com/designopssummit2019/sessions/operating-design-systems-curating-a-product-serving-products/">DesignOps Summit</a><span class="secondary-text">, New York, NY</span></li>
          <li><a href="https://rosenfeldmedia.com/enterprise2019/sessions/scalable-design-systems/">Enterprise Experience</a><span class="secondary-text">, San Francisco, CA</span></li>
          <li><a href="https://www.ux-lx.com/">UXLX</a><span class="secondary-text">, Lisbon, Portugal</span></li>
          <li><a href="https://designconference.aiga.org/">AIGA Design</a><span class="secondary-text">, Pasadena, CA</span></li>
          <li><a href="https://uxilive.co.il/2019/">UXI Live</a><span class="secondary-text">, Tel Aviv, Israel</span></li>
        </ul>

        <h4>2018</h4>
        <ul>
          <li><a href="http://clarityconf.com/">Clarity Conference</a><span class="secondary-text">, New York</span></li>
          <li><a href="https://ui.uie.com/Workshops/nathan-curtis">UI23</a><span class="secondary-text">, Boston, MA</span></li>
          <li><a href="https://designsystemsnov2018.splashthat.com/">Invision Design Better</a><span class="secondary-text">, Munich, Germany</span></li>
          <li>RefreshDC<span class="secondary-text">, Washington, DC</span></li>
          <li><a href="https://designsystemsaug2018.splashthat.com/">Invision Design Better</a><span class="secondary-text">, Denver, CO</span></li>
          <li><a href="https://www.meetup.com/Meetups-Backelite-Paris/events/252226564/">UX Meetup</a><span class="secondary-text">, Paris, France</span></li>
          <li><a href="https://rosenfeldmedia.com/eux2018/sessions/scalable-design-systems/">Enterprise UX</a><span class="secondary-text">, San Francisco, CA</span></li>
          <li><a href="https://designsystemsmay2018.splashthat.com/">Invision Design Better</a><span class="secondary-text">, New York, NY</span></li>
          <li><a href="https://dsconference.com/dsconf-conference-day/">DS Conference</a><span class="secondary-text">, Helsinki, Finland</span></li>
          <li><a href="https://www.webstock.org.nz/18/speakers/nathan-curtis/">Webstock 2018</a><span class="secondary-text">, Wellington, New Zealand</span></li>
          <li><a href="https://ti.to/eightshapes/chicago-jan-2018-design-systems-Workshop">Chicago Design Systems Meetup</a></li>
        </ul>

        <h4>2017</h4>
        <ul>
          <li><a href="http://clarityconf.com/">Clarity Conference</a><span class="secondary-text">, San Francisco, CA</span></li>
          <li><a href="https://ui22.uie.com/">UI22</a><span class="secondary-text">, Boston, MA</span></li>
          <li><a href="https://www.eventbrite.com/e/beyond-the-toolkit-with-nathan-curtis-tickets-36606807948#">Carmax Speaker Series</a><span class="secondary-text">, Richmond, VA</span></li>
          <li><a href="https://smashingconf.com/ny-2017/speakers/nathan-curtis">SmashingConf</a><span class="secondary-text">, New York, NY</span></li>
          <li><a href="http://2017.enterpriseux.net/">EnterpriseUX</a><span class="secondary-text">, San Francisco, CA</span></li>
          <li><a href="https://smashingconf.com/Workshops/nathan-curtis">SmashingConf</a><span class="secondary-text">, San Francisco, CA</span></li>
          <li><a href="https://nvite.com/refreshdc/wvyp9e">RefreshDC</a><span class="secondary-text">, Washington, DC</span></li>
          <li><a href="https://ti.to/eightshapes/charlotte-nc-jan-2017-design-systems-Workshop">Charlotte UX</a><span class="secondary-text">, Charlotte, NC</span></li>
          <li><a href="https://www.meetup.com/nova-ux/events/235272224/">NOVAUX</a><span class="secondary-text">, Mclean, VA</span></li>
        </ul>

        <h4>2016</h4>
        <ul>
          <li><a href="https://2016.godigital.is/">Go Digital 2016</a><span class="secondary-text">, Iceland</span></li>
          <li><a href="https://ui21.uie.com/">UI21</a><span class="secondary-text">, Boston, MA</span></li>
          <li><a href="http://ixda.no/">IXDA Oslo</a><span class="secondary-text">, Norway</span></li>
          <li><a href="http://smashingconf.com/freiburg-2016/">SmashingConf</a><span class="secondary-text">, Frieburg, Germany</span></li>
          <li><a href="http://www.enterpriseux.net/">Enterprise UX</a><span class="secondary-text">, San Antonio, TX</span></li>
          <li><a href="https://www.ux-lx.com/speakers/nathan_curtis.html">UXLX</a><span class="secondary-text">, Lisbon, Portugal</span></li>
          <li><a href="http://clarityconf.com/">Clarity Conference</a><span class="secondary-text">, San Francisco, CA</span></li>
        </ul>

        <div class="dot-divider"><span class="dot-divider-inner"><b></b><b></b><b></b></span></div>
      </div>
      <div class="bio-section">
        <h3 id="other-appearances">Other Appearances</h3>
        <h4>2022</h4>
        <ul>
          <li>Design System Social Club</li>
        </ul>

        <h4>2020</h4>
        <ul>
          <li>Tiago Rosa's UX &amp; Product</li>
        </ul>

        <h4>2019</h4>
        <ul>
          <li><a href="https://soundcloud.com/rosenfeld-media/nathan-curtis-podcast/">The Rosenfeld Review</a></li>
          <li><a href="https://player.fm/series/trycatch/design-systems-with-nathan-curtis">Try/Catch</a></li>
        </ul>

        <h4>2017</h4>
        <ul>
          <li><a href="https://soundcloud.com/rosenfeld-media/rmpod-curtis">The Rosenfeld Review</a></li>
          <li><a href="https://goodstuff.fm/nbsp/130">The Non-Breaking Space Show</a></li>
        </ul>

        <h4>2015</h4>
        <ul>
          <li>Pattern Language: Responsive Style Guides</li>
          <li><a href="http://styleguides.io/podcast/nathan-curtis/">Style Guides with Brad Frost and Anna Debenham</a></li>
          <li><a href="https://www.uie.com/brainsparks/2015/09/09/nathan-curtis-building-scalable-design-systems-and-style-guides/">UIE</a></li>
        </ul>

        <h4>2013</h4>
        <ul>
          <li><a href="https://www.uie.com/brainsparks/2013/04/09/nathan-curtis-sketching-for-understanding/">UIE</a></li>
        </ul>

        <h4>2012</h4>
        <ul>
          <li><a href="https://www.uie.com/brainsparks/2012/08/30/nathan-curtis-prototyping-with-html-and-css/">UIE</a></li>
        </ul>

        <h4>2010</h4>
        <ul>
          <li><a href="https://www.uie.com/brainsparks/2010/09/16/spoolcast-reusable-components-libraries-with-nathan-curtis/">UIE</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row reverse brand">
    <div class="row-inner">
        <h2>Ready?</h2>
        <p>
            Whether to set up office hours, a workshop, or explore a larger project, contact EightShapes to get started.
        </p>

        <a class="button" href="mailto:info@eightshapes.com">Email Us</a>
    </div>
</div>