---
title_tag : EightShapes > Nathan Curtis
layout : base.njk
---

<div class="bio-header">
  <div class="bio-header-inner">
    <div class="bio-header-text">
      <h1>Nathan Curtis</h1>
      <h2>EightShapes Since 2006</h2>
    </div>
    <img src="/images/bios/bio-thumb-nathan-curtis.png" alt="Nathan Curtis Headshot">
  </div>
</div>

<div class="row reverse feature">
  <div class="row-inner">
    <p>
      Nathan co-founded EightShapes with Dan Brown in 2006. He's passionate about information architecture, user experience design, front end development, and leads and consults with design systems teams. He wrote <a href="#">Modular Web Design</a> in 2009, <a href="#">blogs about design systems</a> regularly, and speaks at events worldwide.
    </p>
    <p>
      <a href="#experience">Experience</a><br/>
      <a href="#books">Books</a><br/>
      <a href="#blog">Blog</a><br/>
      <a href="#recent-talks-and-workshops">Talks &amp; Workshops</a><br/>
      <a href="#other-appearances">Other Appearances</a>
    </p>
  </div>
</div>

<div class="row secondary">
  <div class="row-inner">
    <h3 id="experience">Experience</h4>
    <p>
    Nathan has been leading and consulting with design system teams across the industry since 2006, including:
    </p>
    <ul class="client-list bio-client-list">
      <li>Morningstar</li>
      <li>Google</li>
      <li>Verizon</li>
      <li>Fidelity</li>
      <li>Salesforce</li>
      <li>Cisco</li>
      <li>Wells Fargo</li>
      <li>Dropbox</li>
      <li>Citi</li>
      <li>Discovery</li>
      <li>Nationwide</li>
      <li>Automattic</li>
      <li>Atlassian</li>
      <li>Twitter</li>
      <li>Marriott</li>
      <li>Capital One</li>
      <li>Vanguard</li>
      <li>Target</li>
      <li>REI</li>
      <li>Yahoo</li>
      <li>Hudl</li>
      <li>Netapp</li>
      <li>Libery Mutual</li>
      <li>Key Bank</li>
    </ul>
  </div>
</div>

<div class="page-content">
  <div class="page-content-inner">
    <div class="bio-section-row">
      <div class="bio-section">
        <h3 id="books">Books</h4>
          <a href="#" class="media-thumbnail">
            <img src="/images/modular-web-design-cover-photo.jpg" alt="Modular Web Design">
            Modular Web Design
            <span class="secondary-text">2009</span>
          </a>
          <a href="#" class="media-thumbnail">
            <img src="/images/design-systems-handbook.jpg" alt="Modular Web Design">
            Design Systems Handbook
            <span class="secondary-text">2017 (Editor)</span>
          </a>
          <div class="dot-divider"><span class="dot-divider-inner"><b></b><b></b><b></b></span></div>
        </div>

        <div class="bio-section">
          <h3 id="blog">Blog</h4>
          <p>Since 2015, Nathan has blogged on Medium.com across design system topics that include:</p>
          <ul>
            <li><a href="#">Visual Style</a></li>
            <li><a href="#">UI Components</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Releases</a></li>
            <li><a href="#">Planning</a></li>
            <li><a href="#">Process</a></li>
            <li><a href="#">People and Teams</a></li>
            <li><a href="#">Systems of Systems</a></li>
          </ul>
          <p>Most of these articles are also reprinted on eightshapes.com as the <a href="/components">@components publication</a>.</p>
        </div>
      </div>
      <div class="dot-divider"><span class="dot-divider-inner"><b></b><b></b><b></b></span></div>


      <div class="bio-section-row">
        <div class="bio-section">
          <h3 id="recent-talks-and-workshops">Recent Talks &amp; Workshops</h3>
          <h4>2021</h4>
          <ul class="unstyled">
            <li><a href="#">NOVAUX Meetup<span class="secondary-text">, Fairfax, VA</span></a></li>
            <li><a href="#">Smashing Workshops</a></li>
            <li><a href="#">Clarity Conference</a></li>
          </ul>

          <h4>2020</h4>
          <ul class="unstyled">
            <li><a href="#">SmashingConf</a></li>
            <li><a href="#">Smashing Workshops</a></li>
            <li><a href="#">Clarity Conference</a></li>
          </ul>

          <h4>2019</h4>
          <ul class="unstyled">
            <li><a href="#">DCUX<span class="secondary-text">, Washington, DC</span></a></li>
            <li><a href="#">DesignOps Summit<span class="secondary-text">, New York, NY</span></a></li>
            <li><a href="#">Enterprise Experience<span class="secondary-text">, San Francisco, CA</span></a></li>
            <li><a href="#">UXLX<span class="secondary-text">, Lisbon, Portugal</span></a></li>
            <li><a href="#">AIGA Design<span class="secondary-text">, Pasadena, CA</span></a></li>
            <li><a href="#">UXI Live<span class="secondary-text">, Tel Aviv, Israel</span></a></li>
          </ul>

          <h4>2018</h4>
          <ul class="unstyled">
            <li><a href="#">Clarity Conference<span class="secondary-text">, New York</span></a></li>
            <li><a href="#">UI23<span class="secondary-text">, Boston, MA</span></a></li>
            <li><a href="#">Invision Design Better<span class="secondary-text">, Munich, Germany</span></a></li>
            <li><a href="#">RefreshDC<span class="secondary-text">, Washington, DC</span></a></li>
            <li><a href="#">Invision Design Better<span class="secondary-text">, Denver, CO</span></a></li>
            <li><a href="#">UX Meetup<span class="secondary-text">, Paris, France</span></a></li>
            <li><a href="#">Enterprise UX<span class="secondary-text">, San Francisco, CA</span></a></li>
            <li><a href="#">Invision Design Better<span class="secondary-text">, New York, NY</span></a></li>
            <li><a href="#">DS Conference<span class="secondary-text">, Helsinki, Finland</span></a></li>
            <li><a href="#">Webstock 2018<span class="secondary-text">, Wellington, New Zealand</span></a></li>
            <li><a href="#">Chicago Design Systems Meetup</a></li>
          </ul>

          <h4>2017</h4>
          <ul class="unstyled">
            <li><a href="#">Clarity Conference<span class="secondary-text">, San Francisco, CA</span></a></li>
            <li><a href="#">UI22<span class="secondary-text">, Boston, MA</span></a></li>
            <li><a href="#">Carmax Speaker Series<span class="secondary-text">, Richmond, VA</span></a></li>
            <li><a href="#">SmashingConf<span class="secondary-text">, New York, NY</span></a></li>
            <li><a href="#">EnterpriseUX<span class="secondary-text">, San Francisco, CA</span></a></li>
            <li><a href="#">SmashingConf<span class="secondary-text">, San Francisco, CA</span></a></li>
            <li><a href="#">RefreshDC<span class="secondary-text">, Washington, DC</span></a></li>
            <li><a href="#">Charlotte UX<span class="secondary-text">, Charlotte, NC</span></a></li>
            <li><a href="#">NOVAUX<span class="secondary-text">, Mclean, VA</span></a></li>
          </ul>

          <h4>2016</h4>
          <ul class="unstyled">
            <li><a href="#">Go Digital 2016<span class="secondary-text">, Iceland</span></a></li>
            <li><a href="#">UI21<span class="secondary-text">, Boston, MA</span></a></li>
            <li><a href="#">IXDA Oslo<span class="secondary-text">, Norway</span></a></li>
            <li><a href="#">SmashingConf<span class="secondary-text">, Frieburg, Germany</span></a></li>
            <li><a href="#">Enterprise UX<span class="secondary-text">, San Antonio, TX</span></a></li>
            <li><a href="#">UXLX<span class="secondary-text">, Lisbon, Portugal</span></a></li>
            <li><a href="#">Clarity Conference<span class="secondary-text">, San Francisco, CA</span></a></li>
          </ul>

          <div class="dot-divider"><span class="dot-divider-inner"><b></b><b></b><b></b></span></div>
        </div>
        <div class="bio-section">
          <h3 id="other-appearances">Other Appearances</h3>
          <h4>2022</h4>
          <ul class="unstyled">
            <li><a href="#">Design System Social Club</a></li>
          </ul>

          <h4>2020</h4>
          <ul class="unstyled">
            <li><a href="#">Tiago Rosa's UX &amp; Product</a></li>
          </ul>

          <h4>2019</h4>
          <ul class="unstyled">
            <li><a href="#">The Rosenfeld Review</a></li>
            <li><a href="#">Try/Catch</a></li>
          </ul>

          <h4>2017</h4>
          <ul class="unstyled">
            <li><a href="#">The Rosenfeld Review</a></li>
            <li><a href="#">The Non-Breaking Space Show</a></li>
          </ul>

          <h4>2015</h4>
          <ul class="unstyled">
            <li><a href="#">Pattern Language: Responsive Style Guides</a></li>
            <li><a href="#">Style Guides with Brad Frost and Anna Debenham</a></li>
            <li><a href="#">UIE</a></li>
          </ul>

          <h4>2013</h4>
          <ul class="unstyled">
            <li><a href="#">UIE</a></li>
          </ul>

          <h4>2012</h4>
          <ul class="unstyled">
            <li><a href="#">UIE</a></li>
          </ul>

          <h4>2010</h4>
          <ul class="unstyled">
            <li><a href="#">UIE</a></li>
          </ul>
        </div>
      </div>
  </div>
</div>
<div class="footer-cta">
    <div class="footer-cta-inner">
        <h2>Ready?</h2>
        <p>
            Whether to set up office hours, a workshop, or explore a larger project, contact EightShapes to get started.
        </p>

        <a class="button" href="mailto:info@eightshapes.com">Email Us</a>
    </div>
</div>