---
title_tag : EightShapes > User Experience Design
layout : base.njk
---
<div class="row reverse row--user-experience-design-header">
    <div class="row-inner">
        <h1>
            User Experience Design
        </h1>
        <p class="lead">
            World-class product design depends the delicate balance of several disciplines, including user research, interaction design, visual design, information architecture, and front-end development.
        </p>
    </div>
</div>

<div class="row">
<div class="row-inner">

<h2>Working with us</h2>
<p>
    Whatever the size of your product team EightShapes can support your need for user experience expertise. We engage with our clients through:
</p>
<ul>
    <li>
        <strong>Office Hours</strong> weekly sessions to discuss user experience methodology and design critique
    </li>
    <li>
        <strong>Working Sessions</strong> collaborative team activities to work through complex design problems
    </li>
    <li>
        <strong>Projects</strong> providing design services and support for a single product
    </li>
    <li>
        <strong>Embedding</strong> extended collaboration with your team to support a broad portfolio or provide ongoing UX services across multiple workstreams
    </li>
</ul>

<h2>Engagements to suit</h2>
<p>
EightShapes seamlessly integrates with teams of all shapes, sizes, and experience levels to tackle the stickiest problems and level-up the team's performance. To help your team, we provide:
</p>

<ul>
    <li>
        <strong>End-to-end product design</strong> EightShapes takes on the user experience design for a product, working side-by-side with your product manager
    </li>
    <li>
        <strong>Targeted skill-sets</strong> We boost your team with missing skill sets
    </li>
    <li>
        <strong>Discovery and research</strong> EightShapes drives the discovery process when the delivery team is strapped for time
    </li>
    <li>
        <strong>Leadership</strong> Our principal designers lift up an inexperienced or immature team with design leadership
    </li>
</ul>

<h2>
Our experience
</h2>
<p>
EightShapes has designed and built digital products for organizations large and small.
</p>

<p class="client-list-intro">Past clients include&hellip;</p>
<ul class="client-list">
<li>American Chemical Society</li>
<li>American Psychological Association</li>
<li>Association of Social Work Boards</li>
<li>AstraZeneca</li>
<li>Cisco</li>
<li>Delta Dental of Virginia</li>
<li>Discovery Communications</li>
<li>EAB</li>
<li>Houghton Mifflin Harcourt</li>
<li>Interfolio</li>
<li>Lockheed Martin</li>
<li>Marriott</li>
<li>National Council of Architect Review Boards</li>
<li>NetApp</li>
<li>Sonatype</li>
<li>World Bank</li>
<li>Yahoo</li>
</ul>
</div>
</div>


<div class="row reverse brand">
    <div class="row-inner">
        <h2>Ready?</h2>
        <p>
            Whether to set up office hours, a working session, or explore a larger project, contact EightShapes to get started.
        </p>

        <a class="button" href="mailto:info@eightshapes.com">Email Us</a>
    </div>
</div>