hr {
  background: $color-gray-95;
  border: 0;
  height: 1px;
  margin-bottom: $spacing-default;
  margin-top: $spacing-default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-light;
  margin: 0;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: 32px;
  text-align: center;
  margin: 0 auto 16px;

  @media screen and (min-width: 768px) {
    font-size: 36px;
    margin: 0 auto 32px;
  }
  @media screen and (min-width: 1000px) {
    font-size: $font-size-h2;
  }
}

h3 {
  font-size: 16px;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

p.lead {
  font-size: 20px;
  margin: 0 auto 16px;
  text-align: left;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    margin: 0 auto 32px;
    text-align: center;
    width: 80%;
  }
  @media screen and (min-width: 1000px) {
    font-size: 28px;
  }
}

img {
  max-width: 100%;
}

.homepage__heading {
  color: $color-orange;
}

p {
  color: $color-text-default;
  font-size: $font-size-default;
  margin: 0;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover {
    color: $color-link-hover;
    text-decoration: underline;
  }
}

.grid-block {
  &:after {
    color: $color-white;
    content: 'Grid';
    display: block;
    font-size: $font-size-lg;
    text-align: center;
    width: 100%;
  }
  background: $color-blue;
  height: 100px;
  margin-bottom: $grid-gutter-width;
  width: 100%;
}


