@media (max-width: 37.4em) {
  /* line 9, ../../sass/layouts/demos.scss */
  .grid-demo .l-outerframe {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  /* line 14, ../../sass/layouts/demos.scss */
  .grid-demo .l-offcanvas {
    width: 70%;
    left: -70%;
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
  }
  /* line 22, ../../sass/layouts/demos.scss */
  .grid-demo .l-offcanvas.active {
    left: 0;
  }
  /* line 26, ../../sass/layouts/demos.scss */
  .grid-demo .l-pageframe {
    position: relative;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  /* line 32, ../../sass/layouts/demos.scss */
  .grid-demo .l-pageframe.active {
    left: 70%;
  }
}
@media (min-width: 37.5em) {
  /* line 37, ../../sass/layouts/demos.scss */
  .grid-demo .l-offcanvas-toggle {
    display: none;
  }
}
/* line 41, ../../sass/layouts/demos.scss */
.grid-demo .l-offcanvas-toggle .open-offcanvas {
  padding: 3px 7px;
  border: 1px solid white;
  width: 125px;
}
/* line 45, ../../sass/layouts/demos.scss */
.grid-demo .l-offcanvas-toggle .open-offcanvas:before {
  content: "+ ";
}
/* line 51, ../../sass/layouts/demos.scss */
.grid-demo .l-pageframe.active .open-offcanvas:before {
  content: "- ";
}
@media (min-width: 60em) {
  /* line 57, ../../sass/layouts/demos.scss */
  .grid-demo .l-large-at-l {
    width: 74.46809%;
    float: left;
    margin-right: 2.12766%;
  }
}
/* line 62, ../../sass/layouts/demos.scss */
.grid-demo .l-assemble-to-l {
  background-color: transparent;
}
@media (min-width: 37.5em) {
  /* line 62, ../../sass/layouts/demos.scss */
  .grid-demo .l-assemble-to-l {
    width: 100%;
    float: left;
    margin-right: 2.12766%;
    margin-bottom: 1rem;
  }
}
@media (min-width: 60em) {
  /* line 62, ../../sass/layouts/demos.scss */
  .grid-demo .l-assemble-to-l {
    float: left;
    margin-right: 2.12766%;
    float: none;
    width: auto;
    margin-right: auto;
    background-color: transparent;
    margin-bottom: 0;
  }
}
@media (min-width: 37.5em) {
  /* line 75, ../../sass/layouts/demos.scss */
  .grid-demo .l-small-at-l {
    width: 31.91489%;
    float: left;
    margin-right: 2.12766%;
  }
}
@media (min-width: 60em) {
  /* line 75, ../../sass/layouts/demos.scss */
  .grid-demo .l-small-at-l {
    width: 23.40426%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 37.5em) {
  /* line 83, ../../sass/layouts/demos.scss */
  .grid-demo .l-full-at-l {
    width: 65.95745%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 60em) {
  /* line 83, ../../sass/layouts/demos.scss */
  .grid-demo .l-full-at-l {
    float: left;
    margin-right: 2.12766%;
    width: 100%;
    float: left;
    margin-right: 2.12766%;
  }
}
/* line 93, ../../sass/layouts/demos.scss */
.grid-demo .l-disappear-to-m {
  display: none;
}
@media (min-width: 60em) {
  /* line 93, ../../sass/layouts/demos.scss */
  .grid-demo .l-disappear-to-m {
    display: block;
  }
}
@media (min-width: 60em) {
  /* line 99, ../../sass/layouts/demos.scss */
  .grid-demo .l-explode-to-m {
    width: 48.93617%;
    float: right;
    margin-right: 0;
  }
}
/* line 106, ../../sass/layouts/demos.scss */
.grid-demo .l-lock {
  max-width: 600px;
  margin: 0 auto 1rem;
}
/* line 111, ../../sass/layouts/demos.scss */
.grid-demo .demo-highlight-column {
  padding: 0;
}
/* line 114, ../../sass/layouts/demos.scss */
.grid-demo .l-overflow {
  margin: 0 auto;
}
/* line 118, ../../sass/layouts/demos.scss */
.grid-demo .l-overflow.overflow-parfait.image .l-container {
  max-width: 64em;
}
/* line 122, ../../sass/layouts/demos.scss */
.grid-demo .l-overflow.overflow-apron {
  max-width: 62em;
}
/* line 125, ../../sass/layouts/demos.scss */
.grid-demo .l-overflow.overflow-apron.dark {
  max-width: 62em;
}
