
/* line 8, ../../sass/themes/t-component-demo.scss */
.grid-demo .make-table {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
/* line 15, ../../sass/themes/t-component-demo.scss */
.grid-demo .make-table li {
  float: left;
  padding: 5px;
  text-align: center;
  margin: 0 3px 3px 0;
  background: #777;
}
/* line 21, ../../sass/themes/t-component-demo.scss */
.grid-demo .make-table li a {
  color: white;
}
/* line 24, ../../sass/themes/t-component-demo.scss */
.grid-demo .make-table li:hover {
  background: #444;
}
/* line 27, ../../sass/themes/t-component-demo.scss */
.grid-demo .make-table li.active {
  background-color: #e76822;
}
/* line 32, ../../sass/themes/t-component-demo.scss */
.grid-demo .return-button a {
  display: inline-block;
  background: #e76822;
  border: 1px solid #cccccc;
  border-radius: 2px;
  color: white;
  padding: 12px 20px 8px;
  font-size: 20px;
  margin-bottom: 20px;
}
/* line 42, ../../sass/themes/t-component-demo.scss */
.grid-demo .vocab_all {
  display: none;
}
/* line 44, ../../sass/themes/t-component-demo.scss */
.grid-demo .vocab_all.active {
  display: block;
}
@media (max-width: 37.4em) {
  /* line 50, ../../sass/themes/t-component-demo.scss */
  .grid-demo .l-offcanvas {
    background: #d5d5d5;
  }
  /* line 53, ../../sass/themes/t-component-demo.scss */
  .grid-demo .l-pageframe {
    box-shadow: -3px 0 3px rgba(25, 25, 25, 0.5);
  }
}
/* line 58, ../../sass/themes/t-component-demo.scss */
.grid-demo .t-banner,
.grid-demo .t-banner-home {
  background-color: #e76822;
}

/* line 64, ../../sass/themes/t-component-demo.scss */
.grid-demo .footer {
  background-color: #323232;
}
/* line 68, ../../sass/themes/t-component-demo.scss */
.grid-demo h1 {
  color: #e76822;
  font-size: 48px;
  line-height: 1;
  margin-bottom: 16px;
  font-family: "ProximaNovaThin","ProximaNovaLight",Arial,"Helvetica Neue",Helvetica,sans-serif;
}
/* line 74, ../../sass/themes/t-component-demo.scss */
.grid-demo h2 {
  font-size: 32px;
  font-weight: normal;
  color: #e76822;
  margin-bottom: 0.25em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.33);
}
@media (min-width: 37.5em) {
  /* line 74, ../../sass/themes/t-component-demo.scss */
  .grid-demo h2 {
    font-size: 1.75em;
  }
}
/* line 84, ../../sass/themes/t-component-demo.scss */
.grid-demo h3 {
  color: #e76822;
  font-size: 18px;
  margin-bottom: 0.5em;
  line-height: 1.15;
}
/* line 90, ../../sass/themes/t-component-demo.scss */
.grid-demo p, .grid-demo li {
  color: #444;
  font-size: 18px;
  line-height: 1.5;
}
/* line 95, ../../sass/themes/t-component-demo.scss */
.grid-demo p {
  margin-bottom: 1em;
}
/* line 99, ../../sass/themes/t-component-demo.scss */
.grid-demo blockquote,
.grid-demo blockquote p {
  padding: 0 1em;
  color: #777;
  line-height: 1.1;
  margin-bottom: 0.5em;
}
/* line 105, ../../sass/themes/t-component-demo.scss */
.grid-demo p.intro {
  font-size: 24px;
  line-height: 1.5;
}
/* line 110, ../../sass/themes/t-component-demo.scss */
.grid-demo .page-title {
  margin: 0 auto;
  max-width: 62em;
  padding: 2em 10px 1em;
}
/* line 115, ../../sass/themes/t-component-demo.scss */
.grid-demo .demo-component-container {
  min-height: 90px;
  padding: 0 10px;
  position: relative;
  display: block;
  margin-bottom: 1rem;
}
@media (min-width: 37.5em) {
  /* line 115, ../../sass/themes/t-component-demo.scss */
  .grid-demo .demo-component-container {
    min-height: 200px;
  }
}
/* line 125, ../../sass/themes/t-component-demo.scss */
.grid-demo .demo-component-container.no-margin {
  margin-bottom: 0;
}
/* line 128, ../../sass/themes/t-component-demo.scss */
.grid-demo .demo-component-container .counter {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 7px 14px;
  border-left: 4px solid white;
  border-bottom: 4px solid white;
  border-bottom-left-radius: 12px;
  color: rgba(255, 255, 255, 0.75);
  font-weight: bold;
  font-size: 24px;
}
/* line 141, ../../sass/themes/t-component-demo.scss */
.grid-demo .sidebar-aside {
  padding: 15px 10px;
  position: relative;
  display: block;
  margin-bottom: 1rem;
  background: rgba(230, 230, 230, 0.75);
}
/* line 147, ../../sass/themes/t-component-demo.scss */
.grid-demo .sidebar-aside p {
  font-size: 14px;
}
/* line 152, ../../sass/themes/t-component-demo.scss */
.grid-demo .demo-a .demo-component-container,
.grid-demo .demo-b .demo-component-container {
  background: rgba(230, 230, 230, 0.75);
  padding: 15px 10px;
}
/* line 157, ../../sass/themes/t-component-demo.scss */
.grid-demo .demo-a .counter {
  background: #e76822;
}
/* line 160, ../../sass/themes/t-component-demo.scss */
.grid-demo .demo-b .counter {
  background: #79160d;
}
/* line 164, ../../sass/themes/t-component-demo.scss */
.grid-demo .bulleted {
  margin: 1em 0 1em 0.5em;
}
/* line 166, ../../sass/themes/t-component-demo.scss */
.grid-demo .bulleted li {
  margin: 0 0 0.25em 1em;
}
@media (min-width: 37.5em) {
  /* line 170, ../../sass/themes/t-component-demo.scss */
  .grid-demo .l-assemble-to-l {
    background-color: #999;
  }
}
/* line 175, ../../sass/themes/t-component-demo.scss */
.grid-demo .demo-highlight-column {
  background: #d5d5d5;
}
/* line 180, ../../sass/themes/t-component-demo.scss */
.grid-demo .l-overflow.overflow-parfait {
  background-color: #444;
}
/* line 184, ../../sass/themes/t-component-demo.scss */
.grid-demo .l-overflow.overflow-parfait.image {
  background: #ffd2ed;
}
@media (min-width: 37.5em) {
  /* line 184, ../../sass/themes/t-component-demo.scss */
  .grid-demo .l-overflow.overflow-parfait.image {
    background: url(../img/8302751072_50bae06f0b_b.jpg) no-repeat center center #ffd2ed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
/* line 195, ../../sass/themes/t-component-demo.scss */
.grid-demo .l-overflow.overflow-apron {
  background: white;
}
/* line 200, ../../sass/themes/t-component-demo.scss */
.grid-demo .l-overflow.overflow-apron.l-apron-top {
  padding-top: 1em;
}
@media (min-width: 60em) {
  /* line 200, ../../sass/themes/t-component-demo.scss */
  .grid-demo .l-overflow.overflow-apron.l-apron-top {
    padding-top: 3em;
  }
}
/* line 208, ../../sass/themes/t-component-demo.scss */
.grid-demo .l-overflow.overflow-apron.dark {
  background: #e76822;
}




//added after compilation:

.grid-demo .g-banner .container {
    max-width: 64em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}

.grid-demo .logo a {
    text-align: center;
    display:block;
    padding:10px;
}

.grid-demo .logo a img {
    min-width:150px;
    max-width:250px;
    width:25%;
}
.footer {

    }
.footer p {
    font-size:16px;
    max-width:68em;
    margin: 0 auto;
    padding: 10px 1em 20px;
    color:#ccc;
}
.footer a {
    font-size: 14px;
    color: white;
    opacity: 0.7;
}
.footer a:hover {
    opacity: 1;
}
.return_button {
    display: inline-block;
    padding: 3px 10px 1px;
    border: 1px solid #2970a6;
}
.return_button:hover {
    background-color:#D6E6F3;
}
strong {
    display:inline-block;
    font-weight:normal;
    color:#000;
    background-color: rgba(0,0,0,0.05);
    padding: 0 2px;
}