hr {
  background: $color-gray-95;
  border: 0;
  height: 1px;
  margin-bottom: $spacing-default;
  margin-top: $spacing-default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-light;
  margin: 0;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: 32px;
  text-align: center;
  margin: 0 auto 16px;

  @media screen and (min-width: 768px) {
    font-size: 36px;
    margin: 0 auto 32px;
  }
  @media screen and (min-width: 1000px) {
    font-size: $font-size-h2;
  }
}

h3 {
  font-size: 16px;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

p.lead, .content__long-form p.lead {
  font-size: 16px;
  margin: 0 auto 16px;
  text-align: left;
  max-width: 940px;

  @media screen and (min-width: 480px) {
    font-size: 20px;
  }
  @media screen and (min-width: 768px) {
    margin: 0 auto 32px;
  }
  @media screen and (min-width: 900px) {
    font-size: 24px;
  }
  @media screen and (min-width: 1000px) {
    font-size: 28px;
  }
}

img {
  border: none;
  max-width: 100%;
}

.homepage__heading {
  color: $color-orange;
}

p {
  color: $color-text-default;
  font-size: $font-size-default;
  margin: 0;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover {
    color: $color-link-hover;
    text-decoration: underline;
  }
}

.grid-block {
  &:after {
    color: $color-white;
    content: 'Grid';
    display: block;
    font-size: $font-size-lg;
    text-align: center;
    width: 100%;
  }
  background: $color-blue;
  height: 100px;
  margin-bottom: $grid-gutter-width;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0; 
}

.content__long-form {

  h2, h3, h4, li, p {
    padding: 0
  }

  h2 {
    font-size: 32px;
    font-weight: $font-weight-normal;
    margin: 0 auto 16px;
    padding-top: 32px;
    text-align: left;
    text-transform: none;
  }

  h3 {
    color: $color-orange;
    font-weight: $font-weight-normal;
    font-size: 22px;
    margin: 0 auto 16px;
    padding-top: 16px;
    text-transform: none;
    text-align: left;
  }

  ul {
    list-style: none;
    margin: 0 0 32px;
    padding: 0;
  }

  p, li {
    font-size: 18px;
    margin: 0 auto 16px;
    text-align: left;
  }

  p.lead {
    width: 100%;
  }

  ul.bulleted-list {
    list-style: disc outside none;
    padding-left: 24px;
  }

  .pre-heading {
    color: $color-gray-53;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 4px;
    text-transform: uppercase;
  }

  a .heading:hover {
    color: $color-blue;
    text-decoration: underline;
  }

  @media screen and (min-width: 768px) {

    h2 {
      font-size: 32px;
      margin: 0 auto 32px;
    }

    h3 {
      font-size: 26px;
      margin: 0 auto 32px;
      padding-top: 24px;
    }

    h3:last-child, h4:last-child {
      margin-bottom: 0;
    }
    
    p.lead {
      font-size: 24px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0 auto 32px;
    }

    ul.list__two-column {
      li {
        width: 48%;
        display: inline-block;
        vertical-align: top;
      }
    }

    p, li {
      padding: 0;
      font-size: 20px;
    }

    .heading {
      font-size: 24px;
      margin-bottom: 32px;
    }

    .heading + .heading {
      margin-top: -24px;
    }

    .pre-heading {
      font-size: 14px;
      margin-bottom: 8px;
    }

  }
}
.container-fluid-inner.content__long-form {
  @media screen and (min-width: 768px) {
    max-width: 700px;
  }
}

