{% macro case_study_title(
    class=false,
    project="Client Name",
    deck="Lead in blurb.",
    image="http://via.placeholder.com/1368x560"
  ) %}
    <div class="escom-case-study-title esds-container--dark{{ ' ' + class if class }}" style="background-image:url({{ image }});">
        <nav class="escom-case-study-title__nav">
            <a class="escom-case-study-title__link" href="/">{{ esds.icon(name="angle-left", class="esds-icon--large escom-case-study-title__icon-back") }}</a>
            <a class="escom-case-study-title__link" href="/">{{ esds.icon(name="eightshapes-logo", class="escom-case-study-title__icon-logo") }}</a>
        </nav>
        <div class="escom-case-study-title__body">
            <div class="escom-case-study-title__inner">
                <h1 class="escom-case-study-title__heading">
                    <div class="escom-case-study-title__project">
                        {{ project }}
                    </div>
                    <div>
                        {{ deck }}
                    </div>
                </h1>
            </div>
        </div>
    </div>
{% endmacro %}
