.escom-case-study-title {
    background-color: $esds-color-neutral-90;
    background-position: center;
    background-size: cover;
}

.escom-case-study-title__nav {
    padding: $esds-space-inset-1-x;
    padding-bottom: 0;
    position: relative;
    text-align: center;
}

.escom-case-study-title__link {
    display: inline-block;
    fill: $esds-color-white;
}

.escom-case-study-title__icon-back {
    left: $esds-space-generic-1-x;
    position: absolute;
    top: $esds-space-generic-1-x;
}

.escom-case-study-title__icon-logo {
    height: 24px;
    margin-top: $esds-space-generic-half-x;
    width: 100px;

    @media screen and (min-width: 480px) {
        height: 40px;
        width: 180px;
    }
}

.escom-case-study-title__body {
    padding: $esds-space-generic-4-x $esds-space-generic-1-x;

    @media screen and (min-width: 480px) {
        padding-top: $esds-space-generic-1-x;
    }
}

.escom-case-study-title__inner {
    margin: 0 auto;
    max-width: 700px;
}

.escom-case-study-title__heading {
    @include esds-level-1-heading();
    font-weight: $esds-font-weight-light;
    margin: 0;
}

.escom-case-study-title__project {
    @include esds-body-text-l();
    font-weight: $esds-font-weight-light;
}
