.escom-bar-quote {
    @include esds-body-text-m();

    border-left: 5px solid $esds-color-neutral-15;
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 400;
    margin: $esds-space-stack-2-x;
    max-width: $esds-font-line-length-long-form;
    padding: $esds-space-inset-1-x;
}
